.RadComboBox_Metro {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Metro .rcbInner {
    border-color: #e5e5e5;
    color: black;
    background-color: white; }
  .RadComboBox_Metro .rcbInput {
    color: black; }
  .RadComboBox_Metro .rcbEmptyMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadComboBox_Metro .rcbActionButton {
    border-color: #e5e5e5;
    color: black;
    background-color: #f9f9f9;
    border-left-width: 0;
    background-color: white; }
    .RadComboBox_Metro .rcbActionButton .rcbIcon {
      *background-image: url('../Metro/Common/radActionsSprite.png');
      *background-position: -2px -22px; }
  .RadComboBox_Metro .rcbHovered {
    border-color: #767676;
    color: black;
    background-color: white;
    border-color: #e5e5e5; }
    .RadComboBox_Metro .rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_Metro .rcbHovered .rcbActionButton {
      border-color: #e5e5e5;
      color: black;
      background-color: #e5e5e5; }
      .RadComboBox_Metro .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -22px -22px; }
  .RadComboBox_Metro .rcbFocused {
    border-color: #25a0da;
    color: black;
    background-color: white; }
    .RadComboBox_Metro .rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_Metro .rcbFocused .rcbActionButton {
      border-color: #25a0da;
      color: white;
      background-color: #25a0da; }
      .RadComboBox_Metro .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -42px -22px; }
  .RadComboBox_Metro .rcbDisabled .rcbInput {
    color: #767676; }
  .RadComboBox_Metro .rcbDisabled .rcbActionButton {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
    .RadComboBox_Metro .rcbDisabled .rcbActionButton .rcbIcon {
      background-position: -2px -22px; }
  .RadComboBox_Metro .rcbReadOnly {
    border-color: #e5e5e5;
    color: black;
    background-color: #f9f9f9;
    background-color: white; }
    .RadComboBox_Metro .rcbReadOnly .rcbInput {
      color: black; }
  .RadComboBox_Metro .rcbReadOnly.rcbHovered {
    border-color: #e5e5e5;
    color: black;
    background-color: #e5e5e5; }
    .RadComboBox_Metro .rcbReadOnly.rcbHovered .rcbInput {
      color: black; }
  .RadComboBox_Metro .rcbReadOnly.rcbFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadComboBox_Metro .rcbReadOnly.rcbFocused .rcbInput {
      color: white; }
  .RadComboBox_Metro .rcbReadOnly.rcbDisabled {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
    .RadComboBox_Metro .rcbReadOnly.rcbDisabled .rcbInput {
      color: #767676; }

.RadComboBoxDropDown_Metro {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadComboBoxDropDown_Metro .rcbHeader,
  .RadComboBoxDropDown_Metro .rcbFooter {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbHeader {
    border-bottom-color: #cdcdcd; }
  .RadComboBoxDropDown_Metro .rcbFooter {
    border-top-color: #cdcdcd; }
  .RadComboBoxDropDown_Metro .rcbHovered {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbDisabled {
    color: #767676; }
  .RadComboBoxDropDown_Metro .rcbLoading {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbItem em,
  .RadComboBoxDropDown_Metro .rcbHovered em {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbCheckAllItems {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbCheckAllItemsHovered {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbMoreResults {
    border-top-color: #e5e5e5;
    color: black;
    background-color: #e8e8e8; }
    .RadComboBoxDropDown_Metro .rcbMoreResults a {
      background-image: url('../Metro/Common/radActionsSprite.png');
      _background-image: url('../Metro/Common/radActionsSpriteIE6.png');
      background-position: -2.5px -25.5px; }
  .RadComboBoxDropDown_Metro .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }

.RadComboBox_Metro_rtl .rcbActionButton {
  border-left-width: 1px;
  border-right-width: 0; }
