.RadDropDownList_Metro {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_Metro .rddlInner {
    border-color: #e5e5e5;
    color: black;
    background-color: #f9f9f9; }
  .RadDropDownList_Metro .rddlEmptyMessage,
  .RadDropDownList_Metro .rddlDefaultMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadDropDownList_Metro .rddlIcon {
    *background-image: url('../Metro/Common/radActionsSprite.png');
    *background-position: -1px -20px; }
    .RadDropDownList_Metro .rddlIcon:before {
      color: #767676; }
  .RadDropDownList_Metro .rddlHovered {
    border-color: #e5e5e5;
    color: black;
    background-color: #e5e5e5; }
    .RadDropDownList_Metro .rddlHovered .rddlIcon {
      background-position: -1px -20px; }
  .RadDropDownList_Metro .rddlFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadDropDownList_Metro .rddlFocused .rddlIcon {
      background-position: -41px -20px; }
      .RadDropDownList_Metro .rddlFocused .rddlIcon:before {
        color: inherit; }
  .RadDropDownList_Metro .rddlDisabled {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
    .RadDropDownList_Metro .rddlDisabled .rddlIcon {
      background-position: -1px -20px;
      filter: alpha(opacity=50);
      opacity: .5; }

.rddlPopup_Metro {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .rddlPopup_Metro .rddlHeader,
  .rddlPopup_Metro rddlFooter {
    color: black;
    background-color: #e8e8e8; }
  .rddlPopup_Metro .rddlHeader {
    border-bottom-color: #cdcdcd; }
  .rddlPopup_Metro rddlFooter {
    border-top-color: #cdcdcd; }
  .rddlPopup_Metro .rddlItemHovered {
    color: black;
    background-color: #e8e8e8; }
  .rddlPopup_Metro .rddlItemSelected {
    color: white;
    background-color: #25a0da; }
  .rddlPopup_Metro .rddlItemDisabled {
    color: #767676; }
  .rddlPopup_Metro .rddlItemLoading {
    color: black;
    background-color: #e8e8e8; }
