.RadListBox_Metro {
  color: #767676;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
.RadListBox_Metro .rlbButton {
  color: #767676;
  border-color: #e5e5e5;
  background-color: #f9f9f9; }
  .RadListBox_Metro .rlbButton:hover {
    border-color: #e5e5e5;
    background-color: #e5e5e5; }
  .RadListBox_Metro .rlbButton:active {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
  .RadListBox_Metro .rlbButton.rlbDisabled {
    color: #767676;
    border-color: #e5e5e5;
    background-color: #f9f9f9; }
.RadListBox_Metro .rlbGroup {
  border-color: #e5e5e5;
  background-color: white; }
.RadListBox_Metro .rlbItem {
  color: black; }
  .RadListBox_Metro .rlbItem:hover, .RadListBox_Metro .rlbItem.rlbHovered {
    color: black;
    border-color: #e8e8e8;
    background-color: #e8e8e8; }
  .RadListBox_Metro .rlbItem:active, .RadListBox_Metro .rlbItem.rlbSelected {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
  .RadListBox_Metro .rlbItem.rlbDisabled {
    color: black; }
.RadListBox_Metro .rlbHighlight {
  color: black;
  background-color: #e8e8e8; }
.RadListBox_Metro .rlbCheckAllItems {
  background-color: #e8e8e8; }
.RadListBox_Metro .rlbTemplateContent {
  border-color: #e5e5e5;
  background-color: white; }
.RadListBox_Metro .rlbHeader,
.RadListBox_Metro .rlbFooter {
  border-color: #e5e5e5; }
.RadListBox_Metro .rlbHeader {
  font-weight: 700; }
.RadListBox_Metro .rlbGroup .rlbDropClueAbove {
  border-top-color: #e5e5e5; }
.RadListBox_Metro .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #e5e5e5; }
.RadListBox_Metro .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Metro .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Metro .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Metro .rlbGroup .rlbHovered.rlbDropClueBelow {
  border-color: #FFF; }
