.RadTreeView_Metro {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadTreeView_Metro a.rtIn {
    *color: black; }
  .RadTreeView_Metro .rtHover .rtIn {
    border-color: #e5e5e5;
    background-color: #e5e5e5; }
  .RadTreeView_Metro .rtSelected .rtIn {
    border-color: #249fd9;
    color: #ffffff;
    background-color: #249fd9; }
  .RadTreeView_Metro .rtEdit .rtIn {
    border-color: #000000;
    background: #ffffff; }
    .RadTreeView_Metro .rtEdit .rtIn input {
      color: black;
      font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Metro .rtChecked,
  .RadTreeView_Metro .rtUnchecked,
  .RadTreeView_Metro .rtIndeterminate {
    background-image: url('../Metro/Common/radFormToggleSprite.png');
    _background-image: url('../Metro/Common/radFormToggleSpriteIE6.png'); }
  .RadTreeView_Metro .rtLoadingIcon {
    background-image: url('../Metro/Common/loading_small.gif'); }
  .RadTreeView_Metro .rtSelected .rtLoadingBefore,
  .RadTreeView_Metro .rtSelected .rtLoadingAfter,
  .RadTreeView_Metro .rtSelected .rtLoadingBelow {
    color: #767676; }
  .RadTreeView_Metro .rtPlus,
  .RadTreeView_Metro .rtMinus {
    margin-left: -1.1em;
    color: #767676;
    font-family: Arial,Helvetica,sans-serif; }
    .RadTreeView_Metro .rtPlus:before,
    .RadTreeView_Metro .rtMinus:before {
      font-size: 0.7em;
      border: 0; }
      @media screen and (min-width: 0 \0) {
        .RadTreeView_Metro .rtPlus:before,
        .RadTreeView_Metro .rtMinus:before {
          font-size: 1.5em; } }
  .RadTreeView_Metro .rtPlus:before {
    content: "\25B6"; }
  .RadTreeView_Metro .rtMinus:before {
    content: "\25E2";
    color: #25a0da; }
  @media screen\9 {
    .RadTreeView_Metro .rtPlus,
    .RadTreeView_Metro .rtMinus {
      margin-left: -18px;
      background-image: url('../Metro/TreeView/PlusMinus.png'); } }
  .RadTreeView_Metro .rtLines .rtTop:before,
  .RadTreeView_Metro .rtLines .rtMid:before,
  .RadTreeView_Metro .rtLines .rtBot:before,
  .RadTreeView_Metro .rtLines .rtLI:before {
    border-color: #e5e5e5; }

.RadTreeView_Metro_disabled .rtIn,
.RadTreeView_Metro .rtDisabled .rtIn {
  color: #e5e5e5; }
