.RadSiteMap_Windows7 {
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Windows7 .rsmManyLevels .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Windows7 .rsmTwoLevels .rsmLink, .RadSiteMap_Windows7 .rsmThreeLevels .rsmLink, .RadSiteMap_Windows7 .rsmManyLevels .rsmLevel1 .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Windows7 .rsmOneLevel .rsmLink, .RadSiteMap_Windows7 .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Windows7 .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Windows7 .rsmManyLevels .rsmLevel2 .rsmLink {
    border: 0;
    border-radius: 3px;
    color: #1e395b; }
    .RadSiteMap_Windows7 .rsmOneLevel .rsmLink:hover, .RadSiteMap_Windows7 .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Windows7 .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Windows7 .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #1e395b;
      background-position: 0 -1000px;
      padding: 1px 4px;
      border-width: 1px;
      border-style: solid; }
  .RadSiteMap_Windows7 .rsmLink,
  .RadSiteMap_Windows7 .rsmTemplate {
    color: #1e395b; }
  .RadSiteMap_Windows7 .rsmLink {
    background-image: url('Common/radGradientListSprite.png'); }
