.RadMediaPlayer_Default {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #333333; }
  .RadMediaPlayer_Default .rmpToolbar {
    color: #333333;
    background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0.9) 0%, rgba(193, 193, 193, 0.9) 100%);
    border-color: #8a8a8a; }
  .RadMediaPlayer_Default div.rmpVolContrBar {
    background-image: linear-gradient(to bottom, rgba(193, 193, 193, 0.9) 0%, rgba(252, 252, 252, 0.9) 100%);
    border-color: #8a8a8a; }
  .RadMediaPlayer_Default.rmpSolidBgr .rmpToolbar {
    background-image: linear-gradient(to bottom, #fcfcfc 0%, #c1c1c1 100%); }
  .RadMediaPlayer_Default.rmpSolidBgr div.rmpVolContrBar {
    background-image: linear-gradient(to bottom, #c1c1c1 0%, #fcfcfc 100%); }
  .RadMediaPlayer_Default .rmpToolbar div.rslTrack {
    background-color: #e5e5e5;
    border-radius: 2px; }
  .RadMediaPlayer_Default div.rslHorizontal div.rslTrack {
    height: 6px !important;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #969696;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #d7d7d7 100%); }
  .RadMediaPlayer_Default div.rslVertical div.rslTrack {
    background-image: linear-gradient(to right, #f0f0f0 0%, #d7d7d7 100%); }
  .RadMediaPlayer_Default div.rmpSeekBar .rslSelectedregion {
    background-image: linear-gradient(to bottom, #b9b9b9 0%, #939393 100%);
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #e3e3e3;
    height: 5px; }
  .RadMediaPlayer_Default .rmpLoadProgressBar {
    background-color: #c5c5c5;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    *filter: alpha("opacity=80"); }
  .RadMediaPlayer_Default div.rmpToolbar a.rslDraghandle,
  .RadMediaPlayer_Default div.rslHorizontal a.rslDraghandle {
    background-image: linear-gradient(to bottom, #fbfbfb 0%, #dddddd 100%);
    background-position: 0 0;
    border: 1px solid transparent;
    border-color: #9b9b9b #8f8f8f #7f7f7f;
    border-radius: 2px; }
    .RadMediaPlayer_Default div.rmpToolbar a.rslDraghandle:hover, .RadMediaPlayer_Default div.rmpToolbar a.rslDraghandle:active,
    .RadMediaPlayer_Default div.rslHorizontal a.rslDraghandle:hover,
    .RadMediaPlayer_Default div.rslHorizontal a.rslDraghandle:active {
      background-image: linear-gradient(to bottom, #969696 0%, #818181 100%);
      background-position: 0 0; }
  .RadMediaPlayer_Default div.rslHorizontal a.rslDraghandle {
    width: 6px;
    height: 14px;
    margin-top: -5px; }
  .RadMediaPlayer_Default div.rslVertical a.rslDraghandle {
    height: 6px;
    width: 14px;
    margin-top: 0;
    margin-left: -5px; }
  .RadMediaPlayer_Default .rmpPlaylist {
    background: #eeeeee; }
    .RadMediaPlayer_Default .rmpPlaylist li a {
      background: #eeeeee;
      color: black; }
      .RadMediaPlayer_Default .rmpPlaylist li a:hover {
        background: #d9d9d9; }
    .RadMediaPlayer_Default .rmpPlaylist li.rmpActive a {
      background: #c5c5c5; }
    .RadMediaPlayer_Default .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #e6e6e6;
      vertical-align: top; }
      .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #d9d9d9; }
    .RadMediaPlayer_Default .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Default .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Default .rmpPlaylistVertical li,
  .RadMediaPlayer_Default .rmpPlaylistVerticalInside li {
    border-top: 1px solid white;
    border-bottom: 1px solid #c9c9c9; }
  .RadMediaPlayer_Default .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Default .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid white; }
  .RadMediaPlayer_Default .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Default .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid white; }
  .RadMediaPlayer_Default .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
    border-bottom: 1px solid #c9c9c9; }
  .RadMediaPlayer_Default .rmpPlaylistHorizontal li {
    border-left: 1px solid white;
    border-right: 1px solid #c9c9c9; }
    .RadMediaPlayer_Default .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Default .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Default .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9; }
  .RadMediaPlayer_Default .rmpBanner {
    border: 1px solid #e3e2e2; }
    .RadMediaPlayer_Default .rmpBanner .rmpActionButton {
      background: #e3e2e2; }
  .RadMediaPlayer_Default .rmpBigPlayButton,
  .RadMediaPlayer_Default .rmpBigPauseButton {
    background: rgba(238, 238, 238, 0.4); }
  .RadMediaPlayer_Default .rmpToolTip,
  .RadMediaPlayer_Default .rmpBigPlayIcon,
  .RadMediaPlayer_Default .rmpBigPauseIcon {
    background-image: url('../Default/MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Default .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Default .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Default .rmpToolTip {
    background-position: -123px -241px; }

.RadMediaPlayer_Default {
  font-size: 16px; }
  .RadMediaPlayer_Default .rmpPlaylist .rmpTitle {
    font-size: 0.75em; }
  .RadMediaPlayer_Default .rmpToolbar .rmpActionButton {
    color: #6c6c6c; }
    .RadMediaPlayer_Default .rmpToolbar .rmpActionButton:hover,
    .RadMediaPlayer_Default .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: black; }
  .RadMediaPlayer_Default .rmpSocialShareBox {
    background-color: #f2f2f2; }
  .RadMediaPlayer_Default .sshLinkItem {
    color: #333333;
    border-color: #8a8a8a;
    color: #333333;
    background-color: #e8e8e8;
    background-image: linear-gradient(#faf9f9 0%, #e8e8e8 100%); }
    .RadMediaPlayer_Default .sshLinkItem:active, .RadMediaPlayer_Default .sshLinkItem:hover {
      color: black;
      border-color: #515151;
      color: black;
      background-color: #e5e5e5; }
