.RadComboBox_Office2010Blue {
  color: #384e73;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Office2010Blue .rcbInputCell,
  .RadComboBox_Office2010Blue .rcbArrowCell {
    background-image: url('Common/radFormSprite.png');
    _background-image: url('Common/radFormSpriteIE6.png'); }
  .RadComboBox_Office2010Blue .rcbInputCellLeft {
    background-position: 0 0; }
  .RadComboBox_Office2010Blue .rcbInputCellRight {
    background-position: 100% 0; }
  .RadComboBox_Office2010Blue .rcbInput {
    color: #384e73;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Office2010Blue .rcbEmptyMessage {
    color: #8ba0bc;
    font-style: italic; }
  .RadComboBox_Office2010Blue .rcbArrowCellLeft {
    background-position: 0 -176px; }
  .RadComboBox_Office2010Blue .rcbArrowCellRight {
    background-position: -18px -176px; }
  .RadComboBox_Office2010Blue .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 0; }
  .RadComboBox_Office2010Blue .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% 0; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbInputCellLeft {
    background-position: 0 -22px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbInputCellRight {
    background-position: 100% -22px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbInput {
    color: black; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbArrowCellLeft {
    background-position: -36px -176px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbArrowCellRight {
    background-position: -54px -176px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -22px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -22px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbInputCellLeft {
    background-position: 0 -44px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbInputCellRight {
    background-position: 100% -44px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbInput {
    color: black; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbArrowCellLeft {
    background-position: -72px -176px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbArrowCellRight {
    background-position: -90px -176px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -44px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -44px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbInputCellLeft {
    background-position: 0 -66px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbInputCellRight {
    background-position: 100% -66px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbInput {
    color: #8ba0bc; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbArrowCellLeft {
    background-position: -108px -176px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbArrowCellRight {
    background-position: -126px -176px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -66px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -66px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -88px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -88px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbInput {
    color: #384e73; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbArrowCellLeft {
    background-position: -144px -176px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbArrowCellRight {
    background-position: -162px -176px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -88px; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -88px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -110px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -110px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbArrowCellLeft {
    background-position: -180px -176px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbArrowCellRight {
    background-position: -198px -176px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -110px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -110px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -132px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -132px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbArrowCellLeft {
    background-position: -216px -176px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbArrowCellRight {
    background-position: -234px -176px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -132px; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -132px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -154px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -154px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbInput {
    color: #8ba0bc; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbArrowCellLeft {
    background-position: -252px -176px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbArrowCellRight {
    background-position: -270px -176px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -154px; }
  .RadComboBox_Office2010Blue .rcbDisabled .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -154px; }

.RadComboBoxDropDown_Office2010Blue {
  border-color: #9babc2;
  color: #384e73;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Office2010Blue .rcbHeader,
  .RadComboBoxDropDown_Office2010Blue .rcbFooter {
    color: #384e73;
    background-color: #edeff2; }
  .RadComboBoxDropDown_Office2010Blue .rcbHeader {
    border-bottom-color: #9babc2; }
  .RadComboBoxDropDown_Office2010Blue .rcbFooter {
    border-top-color: #9babc2; }
  .RadComboBoxDropDown_Office2010Blue .rcbHovered {
    color: #384e73;
    background: #fae185; }
  .RadComboBoxDropDown_Office2010Blue .rcbDisabled {
    color: #8ba0bc;
    background-color: transparent; }
  .RadComboBoxDropDown_Office2010Blue .rcbLoading {
    color: #384e73;
    background: #fae185; }
  .RadComboBoxDropDown_Office2010Blue .rcbItem em,
  .RadComboBoxDropDown_Office2010Blue .rcbHovered em {
    color: #384e73;
    background: #fae185; }
  .RadComboBoxDropDown_Office2010Blue .rcbCheckAllItems {
    color: #384e73;
    background-color: #edeff2; }
  .RadComboBoxDropDown_Office2010Blue .rcbCheckAllItemsHovered {
    color: #384e73;
    background-color: #edeff2; }
  .RadComboBoxDropDown_Office2010Blue .rcbMoreResults {
    border-top-color: #9babc2;
    color: #384e73;
    background-color: #edeff2; }
    .RadComboBoxDropDown_Office2010Blue .rcbMoreResults a {
      background-image: url('Common/radFormSprite.png');
      _background-image: url('Common/radFormSpriteIE6.png');
      background-position: -308px -181px; }
  .RadComboBoxDropDown_Office2010Blue .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
