.RadMap_Office2010Blue {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Additional styles */
  /*Buttons*/
  /* Markers */
  /* Older IE Fix */ }
  .RadMap_Office2010Blue .k-header, .RadMap_Office2010Blue .k-widget, .RadMap_Office2010Blue .k-popup {
    color: #384e73; }
  .RadMap_Office2010Blue .k-widget, .RadMap_Office2010Blue .k-header {
    background-color: #ffffff;
    border-color: #8ca1bd; }
  .RadMap_Office2010Blue .k-header, .RadMap_Office2010Blue .k-button {
    background-color: #d8e0eb;
    background-image: none, linear-gradient(to bottom, #fbfcfd 0, #bccadd 100%); }
  .RadMap_Office2010Blue .k-button {
    border-color: #8ca1bd;
    color: #6671ad; }
  .RadMap_Office2010Blue.k-widget.k-tooltip {
    background-color: #ffe272;
    border-color: #ffce47;
    background-image: none, linear-gradient(to bottom, #ffe977 0, #ffdb6d 100%);
    color: #282828; }
  .RadMap_Office2010Blue .k-tooltip-button {
    background-color: #6671ad; }
  .RadMap_Office2010Blue .k-tooltip-button:hover {
    background-color: #ffc34f; }
  .RadMap_Office2010Blue .k-i-close:before {
    color: #fff; }
  .RadMap_Office2010Blue .k-callout-s {
    border-top-color: #ffdb6d; }
  .RadMap_Office2010Blue .k-button:hover, .RadMap_Office2010Blue div.k-navigator > .k-button:hover {
    border-color: #f3d64a;
    background-color: #fae185;
    background-image: none, linear-gradient(to bottom, #fcebad 0, #fdf2cb 100%);
    color: #6c6d6f; }
  .RadMap_Office2010Blue .k-button:active, .RadMap_Office2010Blue .k-button:focus, .RadMap_Office2010Blue div.k-navigator > .k-button:active, .RadMap_Office2010Blue div.k-navigator > .k-button:focus {
    border-color: #c28b31;
    background-color: #ffd86b;
    background-image: none, linear-gradient(to bottom, #ffe273 0, #fff07d 100%);
    color: #6c6d6f; }
  .RadMap_Office2010Blue div.k-navigator > .k-button .k-icon:before {
    color: #6671ad; }
  .RadMap_Office2010Blue div.k-navigator > .k-button:hover .k-icon:before, .RadMap_Office2010Blue div.k-navigator > .k-button:active .k-icon:before, .RadMap_Office2010Blue div.k-navigator > .k-button:focus .k-icon:before {
    color: #6c6d6f; }
  .RadMap_Office2010Blue .k-marker:before {
    color: #ffc34f; }
  @media \0screen\,screen\9 {
    .RadMap_Office2010Blue .k-icon {
      background-image: url('Common/radActionsSprite.png');
      _background-image: url('Common/radActionsSpriteIE6.png'); } }

