.RadRibbonBar_Office2010Blue {
  font: 11px "Segoe UI", Arial, sans-serif; }
  .RadRibbonBar_Office2010Blue .rrbContentWrapIn {
    border-color: #9fb2c7;
    background-color: #d8e4f2;
    background-image: url('RibbonBar/rrbGradients.png'); }

.RadRibbonBar_Office2010Blue a.rrbCollapsedGroup span.rrbButtonMid .rrbButtonIn {
  background-position: 0 -1px; }

.RadRibbonBar_Office2010Blue span.rrbDecoration span.rrbButtonMid .rrbButtonIn {
  background-image: none; }

.RadRibbonBar_Office2010Blue .rrbContentWrapIn {
  background-color: #d8e4f2; }

.RadRibbonBar_Office2010Blue .rrbButtonOut,
.RadRibbonBar_Office2010Blue .rrbButtonMid,
.RadRibbonBar_Office2010Blue .rrbButtonIn {
  border-color: transparent; }

.RadRibbonBar_Office2010Blue .rrbDecoration,
.RadRibbonBar_Office2010Blue .rrbDecoration .rrbButtonMid,
.RadRibbonBar_Office2010Blue .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_Office2010Blue .rrbCollapsedGroup .rrbButtonMid {
  background-color: #d8e4f2;
  border-color: #9fb2c7; }

.RadRibbonBar_Office2010Blue .rrbTabs {
  border-bottom-color: #9fb2c7; }
.RadRibbonBar_Office2010Blue .rrbApplicationTab .rrbTabLabel {
  border-color: #8ba0bc;
  color: #384e73;
  background-color: #e3e9f1; }
.RadRibbonBar_Office2010Blue .rrbHeaderBar {
  border-color: #9babc2;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Blue .rrbContextualTab .rrbContextualTabLabel {
  color: #ffffff;
  background-image: url('../Common/RibbonBar/rrbContextualTabSmoothTile.png');
  background-position: left 2px; }
.RadRibbonBar_Office2010Blue .rrbTab .rrbTabLabel {
  color: #1e395b;
  border-radius: 5px 5px 0 0; }
.RadRibbonBar_Office2010Blue .rrbHoveredTab .rrbTabLabel {
  border-color: #8ba0bc; }
.RadRibbonBar_Office2010Blue .rrbSelectedTab .rrbTabLabel {
  border-color: #8ba0bc;
  background: #ebf1f8; }
.RadRibbonBar_Office2010Blue .rrbMenu .rrbMenuLabel {
  color: #384e73;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Blue .rrbToolTip {
  border-color: #8ba0bc;
  border-radius: 3px;
  color: #384e73;
  background-color: #bdcbde;
  background-image: url('../Common/OrgChart/rocItemTileLight.png');
  _background-image: none; }
.RadRibbonBar_Office2010Blue .rrbToggleHandle {
  background-position: -2px -622px; }
.RadRibbonBar_Office2010Blue.rrbMinimized .rrbToggleHandle, .RadRibbonBar_Office2010Blue.rrbExtendedChromeMinimized .rrbToggleHandle {
  background-position: -2px -662px; }
.RadRibbonBar_Office2010Blue .rrbButtonArea {
  background-color: #f0f7fd;
  background-image: url('RibbonBar/rrbGradients.png'); }
.RadRibbonBar_Office2010Blue .rrbResizeHandle {
  background-position: -5px -885px; }
.RadRibbonBar_Office2010Blue .rrbGroupTitle {
  color: #384e73;
  background-color: #d8e4f2; }
.RadRibbonBar_Office2010Blue .rrbGroupLauncher {
  background-position: -6px -1926px; }
.RadRibbonBar_Office2010Blue .rrbButtonGroupIn {
  border-color: #9fb2c7;
  border-radius: 3px;
  background-color: #d8e4f2;
  background-image: url('RibbonBar/rrbGradients.png');
  background-position: 0 0; }
.RadRibbonBar_Office2010Blue .rrbButtonGroupHover .rrbButtonGroupIn {
  background-color: #d8e4f2; }
.RadRibbonBar_Office2010Blue .rrbCollapsedGroup .rrbGroupToggleIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbCollapsedGroup .rrbGroupIcon {
  border-color: #8ba0bc; }

.RadRibbonBar_Office2010Blue .rrbToggleHandle, .RadRibbonBar_Office2010Blue .rrbResizeHandle, .RadRibbonBar_Office2010Blue .rrbGroupLauncher, .RadRibbonBar_Office2010Blue .rrbCollapsedGroup .rrbGroupToggleIcon, .RadRibbonBar_Office2010Blue .rrbButtonOut .rrbIcon, .RadRibbonBar_Office2010Blue .rrbComboBox .rrbIcon,
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbIcon,
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbIcon,
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbIcon, .RadRibbonBar_Office2010Blue .rrbGalleryAction .rrbIcon, .rrbPopup_Office2010Blue .rrbMenuItem .rrbMIToggle .rrbIcon {
  background-image: url('Common/radActionsSprite.png'); }

.RadRibbonBar_Office2010Blue .rrbQatButton, .RadRibbonBar_Office2010Blue .rrbButtonOut, .RadRibbonBar_Office2010Blue .rrbSplitButton:hover .rrbButtonArrow {
  border-color: transparent;
  color: #384e73;
  background-image: url('Common/radGradientButtonSprite.png');
  background-position: 0 1000px;
  _background-image: none;
  background-repeat: repeat-x; }

.RadRibbonBar_Office2010Blue .rrbButtonStripPart, .RadRibbonBar_Office2010Blue .rrbComboBox .rrbActionButton,
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbActionButton, .RadRibbonBar_Office2010Blue .rrbDropDown .rrbDDInner, .RadRibbonBar_Office2010Blue .rrbColorPicker .rrbCPInner, .RadRibbonBar_Office2010Blue .rrbGalleryAction {
  background-image: url('Common/radGradientButtonSprite.png');
  _background-image: none;
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #8ba0bc;
  color: #384e73;
  background-color: #bfcddf;
  background-image: -webkit-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
  background-image: -moz-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
  background-image: -ms-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
  background-image: -o-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
  background-image: linear-gradient(top, #fafbfd 0%, #bfcddf 100%); }

.RadRibbonBar_Office2010Blue .rrbQatButton:hover, .RadRibbonBar_Office2010Blue .rrbButtonOut:hover, .RadRibbonBar_Office2010Blue .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_Office2010Blue .rrbSplitButton .rrbButtonArrow:hover,
.RadRibbonBar_Office2010Blue .rrbLargeButton .rrbSplitButton .rrbButtonTextHover + .rrbButtonArrow, .RadRibbonBar_Office2010Blue .rrbButtonStripPart:hover, .RadRibbonBar_Office2010Blue .rrbComboBox .rrbActionButton:hover,
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbActionButton:hover,
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbActionButton:hover,
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_Office2010Blue .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Office2010Blue .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Office2010Blue .rrbGalleryAction:hover, .RadRibbonBar_Office2010Blue .rrbGalleryItemHovered, .rrbSlide_Office2010Blue .rrbGalleryItemHovered {
  background-position: 0 -1000px\9;
  border-color: #f3d64a;
  color: #1e395b;
  background-color: #fcf5d9;
  background-image: -webkit-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -moz-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -ms-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -o-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%); }

.RadRibbonBar_Office2010Blue .rrbQatButton:active, .RadRibbonBar_Office2010Blue .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_Office2010Blue .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_Office2010Blue .rrbButtonOut.rrbToggled, .RadRibbonBar_Office2010Blue .rrbExpanded .rrbSplitButton .rrbButtonArrow,
.RadRibbonBar_Office2010Blue .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Office2010Blue .rrbButtonStripPart:active,
.RadRibbonBar_Office2010Blue .rrbButtonStripPart.rrbButtonClicked,
.RadRibbonBar_Office2010Blue .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_Office2010Blue .rrbComboBox .rrbActionButton:active,
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbActionButton:active,
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbActionButton:active,
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_Office2010Blue .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Office2010Blue .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Office2010Blue .rrbGalleryAction:active, .RadRibbonBar_Office2010Blue .rrbGalleryItemSelected, .rrbSlide_Office2010Blue .rrbGalleryItemSelected {
  background-position: 0 -2000px\9;
  border-color: #c28b31;
  color: #1e395b;
  background-color: #ffef7c;
  background-image: -webkit-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -moz-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -ms-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -o-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%); }

.RadRibbonBar_Office2010Blue .rrbMenu, .RadRibbonBar_Office2010Blue .rrbMenuGroupMid, .rrbDropDownSlide_Office2010Blue .rrbPopup, .rrbSlide_Office2010Blue .rrbPopup, .rrbPopup_Office2010Blue, .rrbPopup_Office2010Blue .rrbPopup {
  border-color: #9babc2;
  color: #384e73;
  background-color: white;
  border-color: #9fb2c7;
  background-color: #d8e4f2; }

.RadRibbonBar_Office2010Blue .rrbMenu .rrbMenuItem, .RadRibbonBar_Office2010Blue .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_Office2010Blue .rrbMenuItem .rrbMIInner,
.rrbPopup_Office2010Blue .rrbMenuItem .rrbMIToggle {
  color: #384e73;
  background-image: url('Common/radGradientListSprite.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  _background-image: none; }

.RadRibbonBar_Office2010Blue .rrbMenu .rrbMenuItem:hover,
.RadRibbonBar_Office2010Blue .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_Office2010Blue .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_Office2010Blue .rrbMIHovered > .rrbMIInner, .rrbPopup_Office2010Blue .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_Office2010Blue .rrbMIExpanded > .rrbMIInner {
  background-position: 0 -1000px\9;
  border-color: #f3d64a;
  color: #384e73;
  background-color: #fdf6d9;
  background-image: -webkit-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -moz-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -ms-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -o-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: linear-gradient(top, #fae185 0%, #fdf6d9 100%); }

.RadRibbonBar_Office2010Blue .rrbMenuGroupOut .rrbButtonOut.rrbExpanded,
.RadRibbonBar_Office2010Blue .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_Office2010Blue .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  background-position: 0 -2000px\9;
  border-color: #c28b31;
  color: #1e395b;
  background-color: #ffef7c;
  background-image: -webkit-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -moz-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -ms-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -o-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: linear-gradient(top, #ffd86b 0%, #ffef7c 100%); }

.RadRibbonBar_Office2010Blue .rrbButtonOut {
  border-radius: 3px; }
  .RadRibbonBar_Office2010Blue .rrbButtonOut .rrbIcon {
    background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbMenuGroupMid {
  box-shadow: 3px 2px 3px #888; }
.RadRibbonBar_Office2010Blue .rrbSplitButton:hover .rrbButtonArrow {
  border-color: #f3d64a;
  color: #1e395b;
  background-color: #fae185; }
.RadRibbonBar_Office2010Blue .rrbButtonStrip,
.RadRibbonBar_Office2010Blue .rrbButtonStrip:hover {
  background: none; }
.RadRibbonBar_Office2010Blue .rrbComboBox .rrbCBInner {
  border-color: #8e8e8e;
  background-color: white; }
.RadRibbonBar_Office2010Blue .rrbComboBox .rrbCBInput {
  color: #384e73; }
.RadRibbonBar_Office2010Blue .rrbComboBox .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2010Blue .rrbDropDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbNTBInner {
  border-color: #8e8e8e;
  background-color: white; }
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbNTBInput {
  color: #384e73; }
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -2px -402px; }
.RadRibbonBar_Office2010Blue .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbActionButton,
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2010Blue .rrbColorPicker .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Blue .rrbGallery {
  border-color: #8ba0bc;
  background-color: #ffffff; }
.RadRibbonBar_Office2010Blue .rrbGalleryActionUp .rrbIcon {
  background-position: -2px -2px; }
.RadRibbonBar_Office2010Blue .rrbGalleryActionDown .rrbIcon {
  background-position: -2px -22px; }
.RadRibbonBar_Office2010Blue .rrbGalleryActionExpand .rrbIcon {
  background-position: -2px -182px; }
.RadRibbonBar_Office2010Blue .rrbCategoryTitle {
  color: #384e73;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Blue .rrbGalleryItemInner {
  color: #384e73;
  background-color: white; }

.rrbDropDownSlide_Office2010Blue .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbDropDownSlide_Office2010Blue .rrbListItem:hover {
  color: #384e73;
  background-color: #fae185; }

.rrbSlide_Office2010Blue .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbSlide_Office2010Blue .rrbGallery {
  background-color: #ffffff; }
.rrbSlide_Office2010Blue .rrbCategoryTitle {
  color: #384e73;
  background-color: #edeff2; }
.rrbSlide_Office2010Blue .rrbGalleryItemInner {
  color: #384e73;
  background-color: white; }

.rrbPopup_Office2010Blue {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rrbPopup_Office2010Blue .rrbHeaderBar {
    border-color: #8ba0bc;
    color: #384e73;
    background-color: #bfcddf;
    background-image: -webkit-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
    background-image: -moz-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
    background-image: -ms-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
    background-image: -o-linear-gradient(top, #fafbfd 0%, #bfcddf 100%);
    background-image: linear-gradient(top, #fafbfd 0%, #bfcddf 100%); }
  .rrbPopup_Office2010Blue .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-position: -2px -62px; }
  .rrbPopup_Office2010Blue .rrbDisabled > .rrbMIInner {
    color: #8ba0bc;
    background-color: transparent; }
  .rrbPopup_Office2010Blue .rrbHeader {
    border-color: #c5c5c5;
    background: #ebebeb; }
  .rrbPopup_Office2010Blue .rrbAuxiliaryPane {
    background: #eeeeee;
    border-color: #8a8a8a; }
  .rrbPopup_Office2010Blue .rrbFooterPane {
    border-color: #c5c5c5;
    background: #ebebeb; }
