.RadTileList_Office2010Blue {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadTileList_Office2010Blue .rtlistGroupSeparatorVisible {
    background-color: #dce2eb; }
