.RadCalendar_Office2007 {
  background: #fff;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif; }

.RadCalendar_Office2007 .rcTitlebar {
  line-height: 1.8;
  border-color: #688caf #688caf #9eb6ce;
  background-image: linear-gradient(to bottom, #dee8f5 0%, #c3d8f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee8f5', endColorstr='#c3d8f1',GradientType=0 );
  color: #00156e; }
  .RadCalendar_Office2007 .rcTitlebar .rcPrev,
  .RadCalendar_Office2007 .rcTitlebar .rcNext,
  .RadCalendar_Office2007 .rcTitlebar .rcFastPrev,
  .RadCalendar_Office2007 .rcTitlebar .rcFastNext {
    width: 1.5em;
    margin: .083em .167em 0;
    border: 1px solid transparent;
    border-radius: .3em; }
    .RadCalendar_Office2007 .rcTitlebar .rcPrev:before,
    .RadCalendar_Office2007 .rcTitlebar .rcNext:before,
    .RadCalendar_Office2007 .rcTitlebar .rcFastPrev:before,
    .RadCalendar_Office2007 .rcTitlebar .rcFastNext:before {
      color: #566392; }
    .RadCalendar_Office2007 .rcTitlebar .rcPrev:hover,
    .RadCalendar_Office2007 .rcTitlebar .rcNext:hover,
    .RadCalendar_Office2007 .rcTitlebar .rcFastPrev:hover,
    .RadCalendar_Office2007 .rcTitlebar .rcFastNext:hover {
      background-image: linear-gradient(to bottom, #fffde6 0%, #fff7d7 20%, #ffefb8 47%, #ffd563 53%, #ffd665 67%, #ffdf83 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffde6', endColorstr='#ffdf83',GradientType=0 );
      border-color: #c6b99c;
      box-shadow: 0 0 1px 1px #fffde6 inset; }
  .RadCalendar_Office2007 .rcTitlebar .rcFastPrev {
    margin-left: .333em; }
.RadCalendar_Office2007 .rcMain {
  border-color: #688caf; }
.RadCalendar_Office2007 .rcMainTable {
  color: #000; }
.RadCalendar_Office2007 .rcHeader, .RadCalendar_Office2007 .rcFooter {
  border-color: #688caf; }
.RadCalendar_Office2007 .rcWeek th {
  border-top: 1px solid #9ebfdb;
  border-bottom: 1px solid #9ebfdb;
  padding: 2px 6px 2px 0;
  line-height: 1.6; }
.RadCalendar_Office2007 .rcWeek .rcViewSel {
  width: 12px;
  padding: 0 7px 0 9px;
  background: #e9eeee; }
.RadCalendar_Office2007 .rcRow a, .RadCalendar_Office2007 .rcRow span {
  color: #000;
  margin: 1px;
  border: 1px solid transparent;
  border-radius: .3em;
  line-height: 1.6; }
.RadCalendar_Office2007 .rcRow th {
  width: 1em;
  padding: 0 .583em 0 .75em;
  background: #e9eeee;
  color: #555; }
.RadCalendar_Office2007 .rcRow td {
  border: 0 none; }
.RadCalendar_Office2007 .rcRow .rcToday a {
  border-color: #688caf; }
.RadCalendar_Office2007 .rcRow .rcSelected a {
  border-color: #8f8367 #a59b85 #c3bdae;
  box-shadow: 0 0 1px 1px #fed449 inset;
  background-image: linear-gradient(to bottom, #ebc59a 0%, #fdd1a0 6%, #fdc68a 19%, #fbb065 38%, #f9942f 44%, #f99833 50%, #faa443 63%, #fcda88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebc59a', endColorstr='#faa443',GradientType=0 ); }
.RadCalendar_Office2007 .rcRow .rcHover a {
  border-color: #d8ca95 #b89f73 #c6b99c;
  box-shadow: 0 0 1px 1px #fed449 inset;
  background: linear-gradient(to bottom, #fffbe4 0%, #ffeeb7 44%, #ffd563 50%, #ffd665 63%, #ffd86d 75%, #ffdf85 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbe4', endColorstr='#ffdf85',GradientType=0 ); }
.RadCalendar_Office2007 .rcMain .rcWeekend a {
  color: #444; }
.RadCalendar_Office2007 .rcMain .rcOtherMonth a, .RadCalendar_Office2007 .rcMain .rcOutOfRange span {
  color: #777; }

.RadCalendarMultiView_Office2007 .rcTitlebar {
  background-image: linear-gradient(to bottom, #dde7f5 0%, #d1dff0 48%, #c7d8ed 52%, #d6e6f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde7f5', endColorstr='#d6e6f4',GradientType=0 );
  box-shadow: 0 0 1px 1px #f6f7f9 inset; }
  .RadCalendarMultiView_Office2007 .rcTitlebar table {
    border: 1px solid #f6f7f9;
    line-height: 2.25; }
.RadCalendarMultiView_Office2007 .rcCalendar {
  border-color: #688caf;
  border-top: 0; }
.RadCalendarMultiView_Office2007 .rcMainTable .rcTitle {
  background-image: linear-gradient(to bottom, #dee8f5 0%, #c3d8f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee8f5', endColorstr='#c3d8f1',GradientType=0 );
  border-width: 1px 0 0 0;
  border-color: #688caf #9eb6ce #9eb6ce;
  color: #00156e;
  line-height: 1.833; }

.RadCalendarMonthView_Office2007 {
  border-color: #868686;
  background: #fff;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000; }
  .RadCalendarMonthView_Office2007 #rcMView_Feb,
  .RadCalendarMonthView_Office2007 #rcMView_Apr,
  .RadCalendarMonthView_Office2007 #rcMView_Jun,
  .RadCalendarMonthView_Office2007 #rcMView_Aug,
  .RadCalendarMonthView_Office2007 #rcMView_Oct,
  .RadCalendarMonthView_Office2007 #rcMView_Dec {
    border-right: 1px solid #9ebfdb; }
  .RadCalendarMonthView_Office2007 a {
    color: #000; }
  .RadCalendarMonthView_Office2007 .rcSelected a {
    border-color: #8f8367 #a59b85 #c3bdae;
    background-image: linear-gradient(to bottom, #ebc59a 0%, #fdd1a0 6%, #fdc68a 19%, #fbb065 38%, #f9942f 44%, #f99833 50%, #faa443 63%, #fcda88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebc59a', endColorstr='#faa443',GradientType=0 ); }
  .RadCalendarMonthView_Office2007 #rcMView_PrevY a,
  .RadCalendarMonthView_Office2007 #rcMView_NextY a {
    overflow: hidden;
    color: #ccc; }
  .RadCalendarMonthView_Office2007 .rcButtons {
    padding: .417em 0.583em .25em; }
  .RadCalendarMonthView_Office2007 input {
    border-color: #7793b9;
    padding: 1px 0 0;
    background-image: linear-gradient(to bottom, #e8f1fc 0%, #e9f1fc 44%, #d2e1f4 50%, #d6e4f6 67%, #e8f1fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f1fc', endColorstr='#e8f1fc',GradientType=0 );
    color: #00156e; }

.RadCalendarTimeView_Office2007 {
  border-color: #688caf;
  background: #fff;
  font: normal 14px / 1.5 "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendarTimeView_Office2007 th {
    border-bottom: 1px solid #9eb6ce;
    padding: 0 0 .083em;
    background-image: linear-gradient(to bottom, #dee8f5 0%, #c3d8f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee8f5', endColorstr='#c3d8f1',GradientType=0 );
    color: #00156e;
    line-height: 2; }
  .RadCalendarTimeView_Office2007 a {
    color: #000;
    border-radius: .3em; }
  .RadCalendarTimeView_Office2007 td {
    border-color: #9ebfdb; }
    .RadCalendarTimeView_Office2007 td.rcSelected a {
      border-color: #8f8367 #a59b85 #c3bdae;
      box-shadow: 0 0 1px 1px #fed449 inset;
      background-image: linear-gradient(to bottom, #ebc59a 0%, #fdd1a0 6%, #fdc68a 19%, #fbb065 38%, #f9942f 44%, #f99833 50%, #faa443 63%, #fcda88 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebc59a', endColorstr='#faa443',GradientType=0 ); }
    .RadCalendarTimeView_Office2007 td.rcHover a {
      border-color: #d8ca95 #b89f73 #c6b99c;
      box-shadow: 0 0 1px 1px #fed449 inset;
      background: linear-gradient(to bottom, #fffbe4 0%, #ffeeb7 44%, #ffd563 50%, #ffd665 63%, #ffd86d 75%, #ffdf85 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbe4', endColorstr='#ffdf85',GradientType=0 ); }
  .RadCalendarTimeView_Office2007 .rcFooter {
    border-color: #688caf; }

.RadPicker_Office2007 .rcCalPopup:before,
.RadPicker_Office2007 .rcTimePopup:before {
  color: #5a6b79; }
.RadPicker_Office2007 .rcCalPopup:hover:before, .RadPicker_Office2007 .rcCalPopup:focus:before, .RadPicker_Office2007 .rcCalPopup:active:before,
.RadPicker_Office2007 .rcTimePopup:hover:before,
.RadPicker_Office2007 .rcTimePopup:focus:before,
.RadPicker_Office2007 .rcTimePopup:active:before {
  color: #4f6f9f; }
