.RadWindow_Office2007 {
  background-color: #c3d8f1;
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #9bafca;
  /* External content iframe styles */
  /* Dialog styles */ }
  .RadWindow_Office2007 .rwTitleBar {
    background-image: -webkit-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -moz-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -ms-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -o-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee8f5', endColorstr='#c3d8f1',GradientType=0 ); }
  .RadWindow_Office2007.rwCollapsed .rwTitleBar {
    border-bottom-color: #688caf; }
  .RadWindow_Office2007 .rwIcon {
    background-image: url('../Office2007/Window/WindowHorizontalSprites.gif'); }
  .RadWindow_Office2007 .rwTitleWrapper .rwTitle {
    color: #00156e; }
  .RadWindow_Office2007 .rwListItem .rwCommandButton,
  .RadWindow_Office2007 .rwResize {
    background-image: url('../Office2007/Common/radActionsSprite.png');
    _background-image: url('../Office2007/Common/radActionsSpriteIE6.png'); }
  .RadWindow_Office2007 .rwContent {
    background-color: white;
    border-color: #9bafca; }
  .RadWindow_Office2007 .rwStatusBar {
    background-image: -webkit-linear-gradient(top, #c6d8ee 0%, #d7e5f7 100%);
    background-image: -moz-linear-gradient(top, #c6d8ee 0%, #d7e5f7 100%);
    background-image: -ms-linear-gradient(top, #c6d8ee 0%, #d7e5f7 100%);
    background-image: -o-linear-gradient(top, #c6d8ee 0%, #d7e5f7 100%);
    background-image: linear-gradient(top, #c6d8ee 0%, #d7e5f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6d8ee', endColorstr='#d7e5f7',GradientType=0 );
    border-color: #d7e5f7 #9bafca #9bafca; }
  .RadWindow_Office2007.rwLoading .rwExternalContent {
    background-image: url('../Office2007/Common/loading.gif'); }
  .RadWindow_Office2007 .rwLoading.rwStatusBar {
    background-image: url('../Office2007/Common/loading_small.gif'); }
  .RadWindow_Office2007 .rwDialogButtons input {
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: -webkit-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -moz-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -ms-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -o-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    border-color: #a7bedb; }
  .RadWindow_Office2007 .rwDialogButtons input:hover {
    border-color: #c6ba9d;
    color: black;
    background-color: #ffe18a;
    background-image: -webkit-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -moz-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -ms-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -o-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    box-shadow: inset 0 0 1px white; }
  .RadWindow_Office2007 .rwDialogButtons input:active {
    border-color: #c3bdae;
    color: black;
    background-color: #fde292;
    background-image: -webkit-linear-gradient(top, #ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    background-image: -moz-linear-gradient(top, #ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    background-image: -ms-linear-gradient(top, #ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    background-image: -o-linear-gradient(top, #ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    background-image: linear-gradient(top, #ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    box-shadow: inset 0 0 1px white; }
  .RadWindow_Office2007 .rwPromptInput {
    background-color: white;
    color: #333333;
    border-color: #abc1de;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadWindow_Office2007 .rwPromptInput:hover {
    background-color: white;
    color: black;
    border-color: #305090; }
  .RadWindow_Office2007 .rwPromptInput:active,
  .RadWindow_Office2007 .rwPromptInput:focus {
    background-color: white;
    color: black;
    border-color: #305090; }
  .RadWindow_Office2007 .rwPromptInput:disabled {
    background-color: white;
    color: #8d8d8d;
    border-color: #ccdbed; }
