.RadAjax_MetroTouch .raDiv {
  background-image: url('Ajax/loading.gif'); }
.RadAjax_MetroTouch .raColor {
  background-color: #25a0da;
  color: black; }
.RadAjax_MetroTouch .raTransp {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70); }
