.RadAutoCompleteBox_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_MetroTouch .racTokenList {
    border-color: #cdcdcd;
    color: black;
    background-color: white;
    padding-right: 36px; }
  .RadAutoCompleteBox_MetroTouch .racDisabled {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
  .RadAutoCompleteBox_MetroTouch .racToken {
    padding: 0 28px 0 10px;
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadAutoCompleteBox_MetroTouch .racTokenHovered {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadAutoCompleteBox_MetroTouch .racTokenHovered {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
  .RadAutoCompleteBox_MetroTouch .racDisabled .racToken {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white;
    padding-right: 10px; }
  .RadAutoCompleteBox_MetroTouch .racRemoveTokenLink {
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -13px -3363px; }
  .RadAutoCompleteBox_MetroTouch .racInput {
    height: 34px;
    color: black;
    font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 34px; }
  .RadAutoCompleteBox_MetroTouch .racEmptyMessage {
    font-style: italic; }
  .RadAutoCompleteBox_MetroTouch .racLoadingIcon {
    right: 11px;
    bottom: 11px;
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_MetroTouch {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_MetroTouch .racHeader,
  .RadAutoCompleteBoxPopup_MetroTouch .racFooter {
    color: black;
    background-color: #f9f9f9; }
  .RadAutoCompleteBoxPopup_MetroTouch .racHeader {
    border-bottom-color: #cdcdcd; }
  .RadAutoCompleteBoxPopup_MetroTouch .racFooter {
    border-top-color: #cdcdcd; }
  .RadAutoCompleteBoxPopup_MetroTouch .racHeader,
  .RadAutoCompleteBoxPopup_MetroTouch .racFooter {
    padding: 0 10px; }
  .RadAutoCompleteBoxPopup_MetroTouch .racShowAll {
    border-top-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadAutoCompleteBoxPopup_MetroTouch .racItem {
    padding: 0 10px; }
  .RadAutoCompleteBoxPopup_MetroTouch .racItemHovered {
    color: black;
    background-color: #e8e8e8; }
