span.RadButton_MetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  height: 34px;
  line-height: 33px;
  /* ToggleStates */
  /* three state */
  /* Split buttons */
  /* disabled states */
  /* Override embedded icons for Dark skins */
  /* Basic 16x16 */
  /* Extended 16x16 */
  /* Basic 24x24 */
  /* Extended 24x24 */ }
  span.RadButton_MetroTouch.rbSkinnedButton, span.RadButton_MetroTouch.rbVerticalButton, span.RadButton_MetroTouch.rbLinkButton {
    background-color: #f9f9f9; }
  span.RadButton_MetroTouch.RadButton.rbLinkButton {
    text-decoration: none;
    height: auto;
    line-height: 1.9em;
    min-height: 1.875em; }
  span.RadButton_MetroTouch.rbSkinnedButton .rbDecorated {
    height: 34px; }
  span.RadButton_MetroTouch.rbPressedButton .rbDecorated {
    margin-left: -4px; }
  span.RadButton_MetroTouch.rbSkinnedButtonChecked
  span.RadButton_MetroTouch.rbSkinnedButtonChecked .rbDecorated, span.RadButton_MetroTouch.rbSkinnedButtonChecked:hover .rbDecorated {
    background-color: #25a0da;
    color: white; }
  span.RadButton_MetroTouch .rbDecorated.rbPrimary {
    padding-left: 35px; }
  span.RadButton_MetroTouch .rbDecorated.rbSecondary {
    padding-right: 35px; }
  span.RadButton_MetroTouch.rbVerticalButton {
    padding-left: 0; }
  span.RadButton_MetroTouch.rbVerticalButton .rbDecorated {
    padding-left: 8px; }
  span.RadButton_MetroTouch.rbVerticalButton .rbDecorated.rbPrimary {
    padding-left: 40px; }
  span.RadButton_MetroTouch.rbVerticalButton, span.RadButton_MetroTouch.rbVerticalButton .rbDecorated {
    height: 63px;
    line-height: 63px; }
  span.RadButton_MetroTouch.rbSkinnedButton, span.RadButton_MetroTouch.rbLinkButton, span.RadButton_MetroTouch.rbVerticalButton, span.RadButton_MetroTouch.RadButton.rbDisabled, span.RadButton_MetroTouch.RadButton.rbDisabled:hover, span.RadButton_MetroTouch.RadButton.rbDisabled:active, span.RadButton_MetroTouch.RadButton.rbDisabled:focus {
    border: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.rbSkinnedButton.rbNativeButton, span.RadButton_MetroTouch.rbLinkButton.rbNativeButton, span.RadButton_MetroTouch.rbVerticalButton.rbNativeButton {
    border: 0 none; }
  span.RadButton_MetroTouch span.rbPrimary {
    padding-left: 30px; }
  span.RadButton_MetroTouch span.rbSecondary {
    padding-right: 30px; }
  span.RadButton_MetroTouch.RadButton.rbToggleButton:hover {
    border: 0 none;
    color: #25a0da; }
  span.RadButton_MetroTouch.RadButton.rbToggleButton:active, span.RadButton_MetroTouch.RadButton.rbToggleButton:focus {
    color: #25a0da; }
  span.RadButton_MetroTouch.rbToggleButton:active .rbText, span.RadButton_MetroTouch.rbToggleButton:focus .rbText {
    color: black; }
  span.RadButton_MetroTouch .rbDecorated {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  span.RadButton_MetroTouch.RadButton:hover {
    border: 1px solid #767676;
    background-color: #e8e8e8; }
  span.RadButton_MetroTouch.RadButton:active, span.RadButton_MetroTouch.RadButton:focus, span.RadButton_MetroTouch.rbPressedButton, span.RadButton_MetroTouch.RadButton.rbSkinnedButtonChecked, span.RadButton_MetroTouch.RadButton.rbSkinnedButtonChecked:hover, span.RadButton_MetroTouch.RadButton.rbLinkButtonChecked, span.RadButton_MetroTouch.RadButton.rbLinkButtonChecked:hover, span.RadButton_MetroTouch.RadButton.rbVerticalButtonChecked, span.RadButton_MetroTouch.RadButton.rbVerticalButtonChecked:hover {
    border: 1px solid #25a0da;
    background-color: #25a0da;
    color: white; }
  span.RadButton_MetroTouch.RadButton.rbPressedButton {
    background-color: #25a0da; }
  span.RadButton_MetroTouch.RadButton:active .rbDecorated, span.RadButton_MetroTouch.RadButton:focus .rbDecorated, span.RadButton_MetroTouch.RadButton.rbSkinnedButtonChecked .rbDecorated, span.RadButton_MetroTouch.RadButton.rbSkinnedButtonChecked:hover .rbDecorated, span.RadButton_MetroTouch.RadButton.rbLinkButtonChecked .rbDecorated, span.RadButton_MetroTouch.RadButton.rbLinkButtonChecked:hover .rbDecorated {
    color: white; }
  span.RadButton_MetroTouch.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbSkinnedButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbSkinnedButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_MetroTouch.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbSkinnedButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbSkinnedButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxFilled, span.RadButton_MetroTouch.rbLinkButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbLinkButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbLinkButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_MetroTouch.rbLinkButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbLinkButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbLinkButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxFilled, span.RadButton_MetroTouch.rbToggleButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbToggleButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbToggleButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbToggleButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbToggleButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_MetroTouch.rbToggleButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_MetroTouch.rbToggleButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_MetroTouch.rbToggleButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_MetroTouch.rbToggleButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_MetroTouch.rbToggleButton .rbSecondaryIcon.rbToggleCheckboxFilled {
    background-image: url('Common/radFormToggleSprite.png');
    _background-image: url('Common/radFormToggleSpriteIE6.png');
    width: 22px;
    height: 22px;
    top: 9px; }
  span.RadButton_MetroTouch.rbToggleButton .rbText {
    padding: 0 8px; }
  span.RadButton_MetroTouch.rbToggleButton.rbTextButton {
    border: 0 none;
    color: black; }
  span.RadButton_MetroTouch.rbToggleButton.rbTextButton .rbText {
    padding: 0 28px; }
  span.RadButton_MetroTouch .rbSplitRight,
  span.RadButton_MetroTouch .rbSplitLeft {
    width: 28px; }
  span.RadButton_MetroTouch span.rbSplitRight,
  span.RadButton_MetroTouch span.rbSplitLeft,
  span.RadButton_MetroTouch span.rbSplitRight:hover,
  span.RadButton_MetroTouch span.rbSplitLeft:hover, span.RadButton_MetroTouch.RadButton.rbDisabled span.rbSplitLeft, span.RadButton_MetroTouch.RadButton.rbDisabled span.rbSplitRight, span.RadButton_MetroTouch.RadButton.rbDisabled:hover span.rbSplitLeft, span.RadButton_MetroTouch.RadButton.rbDisabled:hover span.rbSplitRight {
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png');
    background-position: -11px -58px;
    background-color: #f9f9f9; }
  span.RadButton_MetroTouch span.rbSplitRight:active,
  span.RadButton_MetroTouch span.rbSplitRight:focus,
  span.RadButton_MetroTouch span.rbSplitLeft:active,
  span.RadButton_MetroTouch span.rbSplitLeft:focus {
    background-position: -111px -58px; }
  span.RadButton_MetroTouch.RadButton:hover .rbSplitLeft, span.RadButton_MetroTouch.RadButton:hover .rbSplitRight {
    background-color: white; }
  span.RadButton_MetroTouch.RadButton .rbSplitRight {
    border-left: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.RadButton .rbSplitRight:hover {
    background-color: #e8e8e8;
    border-left: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.RadButton .rbSplitRight:active, span.RadButton_MetroTouch.RadButton .rbSplitRight:focus {
    background-color: #25a0da;
    border-left: 1px solid white; }
  span.RadButton_MetroTouch.RadButton .rbSplitLeft {
    border-right: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.RadButton .rbSplitLeft:hover {
    background-color: #e8e8e8;
    border-right: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.RadButton .rbSplitLeft:active, span.RadButton_MetroTouch.RadButton .rbSplitLeft:focus {
    background-color: #25a0da;
    border-right: 1px solid white; }
  span.RadButton_MetroTouch.RadButton.rbDisabled, span.RadButton_MetroTouch.RadButton.rbDisabled:hover, span.RadButton_MetroTouch.RadButton.rbDisabled:active, span.RadButton_MetroTouch.RadButton.rbDisabled:focus, span.RadButton_MetroTouch.RadButton.rbDisabled .rbDecorated, span.RadButton_MetroTouch.RadButton.rbDisabled:hover .rbDecorated, span.RadButton_MetroTouch.RadButton.rbDisabled:active .rbDecorated, span.RadButton_MetroTouch.RadButton.rbDisabled:focus .rbDecorated, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitLeft, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitLeft:hover, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitLeft:active, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitLeft:focus, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitRight, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitRight:hover, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitRight:active, span.RadButton_MetroTouch.RadButton.rbDisabled .rbSplitRight:focus {
    background-color: #f9f9f9;
    color: black;
    outline: none; }
  span.RadButton_MetroTouch.rbToggleButton.rbDisabled, span.RadButton_MetroTouch.rbToggleButton.rbDisabled:hover, span.RadButton_MetroTouch.rbToggleButton.rbDisabled:active, span.RadButton_MetroTouch.rbToggleButton.rbDisabled:focus {
    background-color: transparent;
    border: 0 none; }
  span.RadButton_MetroTouch.rbDisabled .rbSplitLeft, span.RadButton_MetroTouch.rbDisabled .rbSplitLeft:hover, span.RadButton_MetroTouch.rbDisabled .rbSplitLeft:active, span.RadButton_MetroTouch.rbDisabled .rbSplitLeft:focus {
    border-right: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.rbDisabled .rbSplitRight, span.RadButton_MetroTouch.rbDisabled .rbSplitRight:hover, span.RadButton_MetroTouch.rbDisabled .rbSplitRight:active, span.RadButton_MetroTouch.rbDisabled .rbSplitRight:focus {
    border-left: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch.rbLinkButton.rbDisabled, span.RadButton_MetroTouch.rbLinkButton.rbDisabled:hover {
    border: 1px solid #cdcdcd; }
  span.RadButton_MetroTouch span.rbPrimaryIcon {
    top: 9px;
    left: 5px; }
  span.RadButton_MetroTouch span.rbSecondaryIcon {
    top: 9px;
    right: 5px; }
  span.RadButton_MetroTouch:focus .rbToggleCheckbox + .rbDecorated, span.RadButton_MetroTouch:focus .rbToggleCheckboxChecked + .rbDecorated, span.RadButton_MetroTouch:active .rbToggleCheckbox + .rbDecorated, span.RadButton_MetroTouch:active .rbToggleCheckboxChecked + .rbDecorated, span.RadButton_MetroTouch:focus .rbToggleRadio + .rbDecorated, span.RadButton_MetroTouch:focus .rbToggleRadioChecked + .rbDecorated, span.RadButton_MetroTouch:active .rbToggleRadio + .rbDecorated, span.RadButton_MetroTouch:active .rbToggleRadioChecked + .rbDecorated {
    color: #767676; }
  span.RadButton_MetroTouch.rbLinkButton.rbRounded {
    border-radius: 0; }
  span.RadButton_MetroTouch.RadButton.rbToggleButton.rbDisabled, span.RadButton_MetroTouch.RadButton.rbToggleButton.rbDisabled:hover, span.RadButton_MetroTouch.RadButton.rbToggleButton.rbDisabled:active, span.RadButton_MetroTouch.RadButton.rbToggleButton.rbDisabled:focus, span.RadButton_MetroTouch.RadButton.rbToggleButton:hover, span.RadButton_MetroTouch.RadButton.rbToggleButton:active, span.RadButton_MetroTouch.RadButton.rbToggleButton:focus {
    background-color: transparent;
    background-image: none;
    border: none;
    height: auto; }
  span.RadButton_MetroTouch .rbAdd,
  span.RadButton_MetroTouch .rbRemove,
  span.RadButton_MetroTouch .rbOk,
  span.RadButton_MetroTouch .rbCancel,
  span.RadButton_MetroTouch .rbPrevious,
  span.RadButton_MetroTouch .rbNext,
  span.RadButton_MetroTouch .rbSave,
  span.RadButton_MetroTouch .rbConfig,
  span.RadButton_MetroTouch .rbRefresh,
  span.RadButton_MetroTouch .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Dark.png') !important; }
  span.RadButton_MetroTouch .rbUpload,
  span.RadButton_MetroTouch .rbDownload,
  span.RadButton_MetroTouch .rbOpen,
  span.RadButton_MetroTouch .rbAttach,
  span.RadButton_MetroTouch .rbPrint,
  span.RadButton_MetroTouch .rbSearch,
  span.RadButton_MetroTouch .rbHelp,
  span.RadButton_MetroTouch .rbCart,
  span.RadButton_MetroTouch .rbRSS,
  span.RadButton_MetroTouch .rbMail,
  span.RadButton_MetroTouch .rbFB,
  span.RadButton_MetroTouch .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Dark.png') !important; }
  span.RadButton_MetroTouch .rbAdd24,
  span.RadButton_MetroTouch .rbRemove24,
  span.RadButton_MetroTouch .rbOk24,
  span.RadButton_MetroTouch .rbCancel24,
  span.RadButton_MetroTouch .rbPrevious24,
  span.RadButton_MetroTouch .rbNext24,
  span.RadButton_MetroTouch .rbSave24,
  span.RadButton_MetroTouch .rbConfig24,
  span.RadButton_MetroTouch .rbRefresh24,
  span.RadButton_MetroTouch .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Dark.png') !important; }
  span.RadButton_MetroTouch .rbUpload24,
  span.RadButton_MetroTouch .rbDownload24,
  span.RadButton_MetroTouch .rbOpen24,
  span.RadButton_MetroTouch .rbAttach24,
  span.RadButton_MetroTouch .rbPrint24,
  span.RadButton_MetroTouch .rbSearch24,
  span.RadButton_MetroTouch .rbHelp24,
  span.RadButton_MetroTouch .rbCart24,
  span.RadButton_MetroTouch .rbRSS24,
  span.RadButton_MetroTouch .rbMail24,
  span.RadButton_MetroTouch .rbFB24,
  span.RadButton_MetroTouch .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Dark.png') !important; }

.RadButton.RadButton_MetroTouch {
  height: 34px;
  line-height: 33px; }
