.RadColorPicker_MetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* recent colors */
  /* drop down icon */
  /* paletes */
  /* sliders */ }
  .RadColorPicker_MetroTouch.RadColorPicker {
    width: 51px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpImageButton,
  .RadColorPicker_MetroTouch .rcpSlider div.rslTrack,
  .RadColorPicker_MetroTouch .rcpSlider .rslTrack a.rslDraghandle,
  .RadColorPicker_MetroTouch div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
    background-image: url('ColorPicker/rcpMetroSprite.png'); }
  .RadColorPicker_MetroTouch .rcpViews,
  .RadColorPicker_MetroTouch .rcpHeader,
  .RadColorPicker_MetroTouch .rcpPageView {
    background-color: white; }
  .RadColorPicker_MetroTouch div.rcpHeader {
    border-bottom: 1px solid #cdcdcd;
    margin: 0 -7px 10px -7px;
    padding-left: 10px;
    padding-right: 8px; }
  .RadColorPicker_MetroTouch div.rcpPalette {
    border: 1px solid #cdcdcd;
    background-color: white;
    padding: 0 7px 0 7px; }
  .RadColorPicker_MetroTouch div.rcpMillionColorsPageView .rcpInputsWrapper {
    margin: 0 -10px 0 10px; }
  .RadColorPicker_MetroTouch div.rcpPalette label,
  .RadColorPicker_MetroTouch div.rcpRecentColorsLabel {
    line-height: 36px; }
  .RadColorPicker_MetroTouch div.rcpColorPreview {
    height: 28px;
    width: 28px;
    border-radius: 45px;
    border: 1px solid #cdcdcd; }
  .RadColorPicker_MetroTouch.RadColorPicker .rcpPalette input.rcpHexInput {
    height: 28px;
    line-height: 28px;
    width: 65px !important;
    border: 1px solid #cdcdcd !important;
    font-size: 16px;
    margin: 0 0 0 3px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpImageButton {
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
    border-radius: 45px;
    margin-left: 5px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpEmptyColor {
    background-position: -30px -90px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpCustomColorButton {
    background-position: left bottom; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton {
    border: 1px solid #cdcdcd;
    height: 28px;
    line-height: 28px;
    margin-right: -4px;
    background-color: #f9f9f9;
    font-size: 16px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton:hover {
    cursor: pointer;
    background-color: #e8e8e8; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton:active,
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton:focus {
    background-color: #25a0da;
    color: white; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton span {
    line-height: 28px; }
  .RadColorPicker_MetroTouch .rcpColorPreview,
  .RadColorPicker_MetroTouch .rcpInput,
  .RadColorPicker_MetroTouch .rcpHexInput,
  .RadColorPicker_MetroTouch .rcpMillionColorsPalette
  .rcpMillionColorsSlider div.rslTrack {
    border-color: #cdcdcd; }
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider .rslVertical div.rslTrack {
    border: 1px solid #cdcdcd; }
  .RadColorPicker_MetroTouch input.rcpInput, html.RadForm.rfdTextbox .RadColorPicker_MetroTouch input.rcpInput, div.RadForm.rfdTextbox .RadColorPicker_MetroTouch input.rcpInput {
    width: 32px; }
  .RadColorPicker_MetroTouch .rcpPalette,
  .RadColorPicker_MetroTouch input,
  .RadColorPicker_MetroTouch a {
    color: black; }
  .RadColorPicker_MetroTouch ul.rcpWebPalette li {
    margin: 2px; }
  @media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
    .RadColorPicker_MetroTouch ul.rcpWebPalette li {
      margin: 0; } }
  .RadColorPicker_MetroTouch .rcpColorBox,
  .RadColorPicker_MetroTouch .rcpColorBox span,
  .RadColorPicker_MetroTouch .rcpSelectedColor,
  .RadColorPicker_MetroTouch .rcpSelectedColor span {
    background-image: none !important; }
  .RadColorPicker_MetroTouch a.rcpColorBox,
  .RadColorPicker_MetroTouch a.rcpSelectedColor {
    border-radius: 45px;
    background-image: none; }
  .RadColorPicker_MetroTouch .rcpColorBox span,
  .RadColorPicker_MetroTouch .rcpSelectedColor span {
    border-radius: 45px;
    width: 26px !important;
    height: 26px !important;
    background-image: none;
    border: 2px solid #cdcdcd !important; }
  .RadColorPicker_MetroTouch a.rcpColorBox:hover span,
  .RadColorPicker_MetroTouch .rcpSelectedColor span {
    border: 2px solid #25a0da !important; }
  .RadColorPicker_MetroTouch div.rcpTabs {
    bottom: -42px; }
  .RadColorPicker_MetroTouch div.rcpTabs ul li {
    margin: -1px 0 0 -1px; }
  .RadColorPicker_MetroTouch .rcpTabs a {
    height: 30px;
    line-height: 34px;
    border: 1px solid #cdcdcd;
    border-top: 0 none;
    font-size: 16px;
    background-color: white; }
  .RadColorPicker_MetroTouch .rcpTabs li.rcpSelectedTab a {
    padding-bottom: 8px;
    border-bottom: 2px solid #25a0da; }
  .RadColorPicker_MetroTouch .rcpTabs .rcpSelectedTab a span {
    line-height: 32px; }
  .RadColorPicker_MetroTouch div.rcpTabs ul li a span {
    line-height: 34px; }
  .RadColorPicker_MetroTouch .rcpTabs a:hover {
    background-color: #e8e8e8; }
  .RadColorPicker_MetroTouch div.rcpRGBPageView ul li {
    width: 285px; }
  .RadColorPicker_MetroTouch div.rcpMillionColorsPageView .rcpInputsWrapper {
    width: 53px; }
  .RadColorPicker_MetroTouch div.rcpRGBPageView .rcpInput {
    float: right; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadColorPicker_MetroTouch div.rcpRGBPageView .rcpInput {
      margin-left: 30px; } }
  .RadColorPicker_MetroTouch div.rcpHsvPageView .rcpMillionColorsPalette {
    width: 256px;
    background-size: 100%; }
  .RadColorPicker_MetroTouch input.rcpInput {
    height: 34px;
    line-height: 34px;
    border: 1px solid #cdcdcd; }
  .RadColorPicker_MetroTouch ul.rcpRecentColors {
    padding: 35px 1px 0; }
  .RadColorPicker_MetroTouch ul.rcpRecentColors li {
    width: 32px;
    height: 32px; }
  .RadColorPicker_MetroTouch .rcpRecentColors .rcpColorBox {
    margin: -20px 0 0 0; }
  .RadColorPicker_MetroTouch .rcpIcon {
    height: 36px;
    width: 52px; }
  .RadColorPicker_MetroTouch .rcpIcon a {
    height: 34px;
    width: 50px;
    border: 1px solid #cdcdcd;
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png');
    background-position: 17px -58px; }
  .RadColorPicker_MetroTouch .rcpIcon a:hover {
    border: 1px solid #767676;
    background-position: 17px -58px; }
  .RadColorPicker_MetroTouch .rcpIcon a:active,
  .RadColorPicker_MetroTouch .rcpIcon a:focus {
    border: 1px solid #25a0da;
    background-position: -33px -58px; }
  .RadColorPicker_MetroTouch .rcpIcon em {
    border: 1px solid #767676 !important;
    width: 24px;
    height: 24px;
    border-radius: 45px; }
  .RadColorPicker_MetroTouch div.rcpMillionColorsPageView div.rcpInputsWrapper {
    margin: 0 0 0 22px; }
  .RadColorPicker_MetroTouch div.rcpHeader .rcpButton {
    margin-right: -1px; }
  .RadColorPicker_MetroTouch .RadSlider_MetroTouch {
    padding: 0; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadColorPicker_MetroTouch .rcpRGBPageView .RadSlider_MetroTouch {
      width: 180px !important; } }
  .RadColorPicker_MetroTouch .RadSlider_MetroTouch div.rslHorizontal div.rslTrack, .RadColorPicker_MetroTouch .RadSlider_MetroTouch div.rslHorizontal div.rslSelectedregion, .RadColorPicker_MetroTouch .RadSlider_MetroTouch div.rslVertical .rslSelectedregion {
    background-color: transparent; }
  .RadColorPicker_MetroTouch .rcpSlider .rslHorizontal div.rslTrack {
    top: 12px;
    height: 24px !important; }
  .RadColorPicker_MetroTouch div.rcpRedSlider .rslHorizontal .rslTrack,
  .RadColorPicker_MetroTouch div.rcpRedSlider .rslHorizontal .rslSelectedregion {
    background-position: center 0; }
  .RadColorPicker_MetroTouch div.rcpGreenSlider .rslHorizontal .rslTrack,
  .RadColorPicker_MetroTouch div.rcpGreenSlider .rslHorizontal .rslSelectedregion {
    background-position: center -27px; }
  .RadColorPicker_MetroTouch div.rcpBlueSlider .rslHorizontal .rslTrack,
  .RadColorPicker_MetroTouch div.rcpBlueSlider .rslHorizontal .rslSelectedregion {
    background-position: center -54px; }
  .RadColorPicker_MetroTouch div.rcpSlider div.rslHorizontal .rslTrack a.rslDraghandle,
  .RadColorPicker_MetroTouch div.rcpMillionColorsSlider div.rslVertical div.rslTrack a.rslDraghandle {
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png');
    background-position: -20px -20px;
    background-color: transparent;
    border: 0;
    height: 10px;
    line-height: 10px;
    margin-top: 14px;
    width: 10px; }
  .RadColorPicker_MetroTouch div.rcpMillionColorsSlider div.rslVertical div.rslTrack a.rslDraghandle {
    background-position: -20px -120px;
    margin-top: 0; }
  .RadColorPicker_MetroTouch li.rslItem span,
  .RadColorPicker_MetroTouch li.rslLargeTick span {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-top: 9px; }

div.RadColorPickerRTL_MetroTouch div.rcpMillionColorsPageView div.rcpInputsWrapper {
  margin: 0; }

div.RadColorPickerRTL_MetroTouch .rslVertical {
  margin-right: 15px; }

/* Custom color */
.RadColorPicker.RadColorPicker_MetroTouch.rcpCustomColorWrapper {
  width: 377px; }

