.RadDropDownTree_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_MetroTouch li {
    line-height: 32px; }
  .RadDropDownTree_MetroTouch .rddtInner {
    padding-right: 32px;
    *height: 30px;
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadDropDownTree_MetroTouch .rddtFakeInput {
    height: 30px;
    line-height: 30px; }
  .RadDropDownTree_MetroTouch .rddtEmptyMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadDropDownTree_MetroTouch .rddtClearButton {
    background-position: -2px -144px; }
  .RadDropDownTree_MetroTouch .rddtIcon {
    width: 28px;
    height: 34px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownTree_MetroTouch .rddtHovered {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
    .RadDropDownTree_MetroTouch .rddtHovered .rddtClearButton {
      background-position: -22px -144px; }
      .RadDropDownTree_MetroTouch .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -144px; }
    .RadDropDownTree_MetroTouch .rddtHovered .rddtIcon {
      background-position: -11px -58px; }
  .RadDropDownTree_MetroTouch .rddtFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadDropDownTree_MetroTouch .rddtFocused .rddtClearButton {
      background-position: -42px -144px; }
      .RadDropDownTree_MetroTouch .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -144px; }
    .RadDropDownTree_MetroTouch .rddtFocused .rddtIcon {
      background-position: -11px -58px; }
  .RadDropDownTree_MetroTouch .rddtDisabled {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
    .RadDropDownTree_MetroTouch .rddtDisabled .rddtIcon {
      background-position: -16px -65px; }

.rddtPopup_MetroTouch {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_MetroTouch .rddtHeader,
  .rddtPopup_MetroTouch .rddtFooter {
    color: black;
    background-color: #f9f9f9; }
  .rddtPopup_MetroTouch .rddtHeader {
    border-bottom-color: #cdcdcd; }
  .rddtPopup_MetroTouch .rddtFooter {
    border-top-color: #cdcdcd; }
  .rddtPopup_MetroTouch .rddtFilter {
    border-bottom-color: #cdcdcd;
    color: black;
    background: #f9f9f9; }
    .rddtPopup_MetroTouch .rddtFilter .rddtFilterInput {
      font: 16px "Segoe UI", Arial, Helvetica, sans-serif;
      border-color: #cdcdcd;
      color: black;
      background-color: white; }
    .rddtPopup_MetroTouch .rddtFilter .rddtFilterEmptyMessage {
      color: #bbbbbb;
      font-style: italic; }
  .rddtPopup_MetroTouch .RadTreeView em {
    color: black;
    background-color: #e8e8e8; }
