.RadFilter_MetroTouch {
  /*lines*/
  /*item elements*/ }
  .RadFilter_MetroTouch .rfOper,
  .RadFilter_MetroTouch .rfField,
  .RadFilter_MetroTouch .rfExp,
  .RadFilter_MetroTouch .rfAddGr,
  .RadFilter_MetroTouch .rfAddExp,
  .RadFilter_MetroTouch .rfDel {
    background-image: url('Filter/sprite.png'); }
  .RadFilter_MetroTouch,
  .RadFilter_MetroTouch ul,
  .RadFilter_MetroTouch .rfText,
  .RadFilter_MetroTouch .rfApply input {
    font-weight: 100;
    font-size: 16px;
    line-height: 34px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadFilter_MetroTouch,
  .RadFilter_MetroTouch a {
    color: black; }
  .RadFilter_MetroTouch ul ul {
    margin-top: 0; }
  .RadFilter_MetroTouch li {
    min-width: 510px; }
  .RadFilter_MetroTouch .rfLines li li {
    background-image: url('Filter/rfLine.gif'); }
  .RadFilter_MetroTouch .rfLines li li .rfDiv {
    background-image: url('Filter/rfMiddle.gif');
    background-position: 0 8px;
    padding-top: 4px; }
  .RadFilter_MetroTouch .rfLines li li.rfLast .rfDiv {
    background: url('Filter/rfLast.gif') no-repeat 0 0; }
  .RadFilter_MetroTouch .rfLeft,
  .RadFilter_MetroTouch .rfMid {
    height: 34px;
    border: 0 solid #cdcdcd;
    border-width: 1px 0;
    background-color: #f9f9f9; }
  .RadFilter_MetroTouch .rfLeft {
    width: 3px;
    border-width: 1px 0 1px 1px;
    margin-right: -3px; }
  .RadFilter_MetroTouch .rfRight {
    display: none; }
  .RadFilter_MetroTouch .rfMid {
    padding-left: 0;
    border-right: 1px solid #cdcdcd;
    margin-right: -1px; }
  .RadFilter_MetroTouch .rfField {
    color: black; }
  .RadFilter_MetroTouch .rfOper,
  .RadFilter_MetroTouch .rfField,
  .RadFilter_MetroTouch .rfExp {
    background-position: 100% -26px;
    padding-right: 30px;
    padding-left: 13px;
    display: inline-block;
    border-right: 1px solid #cdcdcd;
    vertical-align: top; }
  .RadFilter_MetroTouch .rfOper:hover,
  .RadFilter_MetroTouch .rfField:hover,
  .RadFilter_MetroTouch .rfExp:hover,
  .RadFilter_MetroTouch .rfOper:focus,
  .RadFilter_MetroTouch .rfField:focus,
  .RadFilter_MetroTouch .rfExp:focus,
  .RadFilter_MetroTouch .rfOper:active,
  .RadFilter_MetroTouch .rfField:active,
  .RadFilter_MetroTouch .rfExp:active {
    background-position: 100% -60px;
    background-color: #25a0da;
    color: white; }
  .RadFilter_MetroTouch .rfText {
    border-color: #cdcdcd;
    vertical-align: top;
    margin: -1px -1px 0;
    height: 29px;
    padding: 2px 5px 3px; }
  * + html .RadFilter_MetroTouch .rfText, * + html body .RadFilter_MetroTouch input.riTextBox, * + html body .RadFilter_MetroTouch .riSingle input.riTextBox {
    margin-top: -2px; }
  .RadFilter_MetroTouch .rfAddExp,
  .RadFilter_MetroTouch .rfAddGr {
    margin: 0;
    height: 34px;
    width: 34px;
    border: 1px solid #cdcdcd;
    border-left: 0;
    background-color: #f9f9f9; }
  .RadFilter_MetroTouch .rfAddExp {
    background-position: -137px 12px; }
  .RadFilter_MetroTouch .rfAddGr {
    background-position: -187px 12px; }
  .RadFilter_MetroTouch .rfAddGr:hover,
  .RadFilter_MetroTouch .rfAddExp:hover {
    background-color: #fff; }
  .RadFilter_MetroTouch .rfDel {
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    background-position: 11px 6px;
    background-color: #f9f9f9;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px; }
  .RadFilter_MetroTouch .rfDel:hover {
    background-position: -39px 6px;
    background-color: #25a0da;
    border-color: #25a0da; }
  .RadFilter_MetroTouch .rfPreview {
    color: black; }
  .RadFilter_MetroTouch .rfPreview strong {
    color: #767676; }
  .RadFilter_MetroTouch .rfPreview em,
  .RadFilter_MetroTouch .rfPreview .rfBr {
    color: #25a0da; }
  .RadFilter_MetroTouch .rfApply a,
  .RadFilter_MetroTouch .rfApply span {
    border: 1px solid #cdcdcd;
    height: 34px;
    padding: 0; }
  .RadFilter_MetroTouch .rfApply a:hover,
  .RadFilter_MetroTouch .rfApply span:hover {
    border-color: #25a0da; }
    .RadFilter_MetroTouch .rfApply a:hover input,
    .RadFilter_MetroTouch .rfApply span:hover input {
      background-color: #25a0da;
      color: white; }
  .RadFilter_MetroTouch .rfApply input {
    padding: 0 8px 2px;
    background-color: #f9f9f9;
    color: black;
    height: 34px; }
  html body .RadFilter_MetroTouch .riSingle {
    margin-right: -2px; }
  html body .RadFilter_MetroTouch input.riTextBox, html body .RadFilter_MetroTouch .riSingle input.riTextBox {
    vertical-align: top;
    margin: -1px -1px 0;
    height: 36px; }
  .RadFilter_MetroTouch .RadPicker .rcCalPopup,
  .RadFilter_MetroTouch .RadPicker .rcTimePopup {
    vertical-align: top;
    margin: -1px -1px 0;
    height: 34px; }
  .RadFilter_MetroTouch .RadPicker,
  .RadFilter_MetroTouch .RadPicker td {
    vertical-align: top; }

.RadForm_MetroTouch.RadForm.rfdTextbox .RadFilter_MetroTouch input[type="text"] {
  height: 29px; }

.RadForm_MetroTouch.RadForm.rfdTextbox .RadFilter_MetroTouch .riSingle input[type="text"] {
  height: 36px; }

.RadFilterRTL_MetroTouch .rfLines li li {
  background-image: url('Filter/rfLine-rtl.gif'); }
.RadFilterRTL_MetroTouch .rfLines li li .rfDiv {
  background-image: url('Filter/rfMiddle-rtl.gif'); }
.RadFilterRTL_MetroTouch .rfLines li li.rfLast .rfDiv {
  background-image: url('Filter/rfLast-rtl.gif'); }
.RadFilterRTL_MetroTouch .rfLeft {
  border-width: 1px 1px 1px 0; }
.RadFilterRTL_MetroTouch .rfOper:hover,
.RadFilterRTL_MetroTouch .rfField:hover,
.RadFilterRTL_MetroTouch .rfExp:hover,
.RadFilterRTL_MetroTouch .rfOper:focus,
.RadFilterRTL_MetroTouch .rfField:focus,
.RadFilterRTL_MetroTouch .rfExp:focus,
.RadFilterRTL_MetroTouch .rfOper:active,
.RadFilterRTL_MetroTouch .rfField:active,
.RadFilterRTL_MetroTouch .rfExp:active {
  background-position: -335px -68px;
  background-repeat: no-repeat; }
