.RadListBox_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_MetroTouch .rlbTemplateContainer {
    border-color: #cdcdcd; }
  .RadListBox_MetroTouch .rlbGroup {
    border: 1px solid #cdcdcd;
    color: black;
    background-color: #ffffff; }
  .RadListBox_MetroTouch .rlbHeader,
  .RadListBox_MetroTouch .rlbFooter {
    padding: 2px 5px;
    color: black;
    border-color: #cdcdcd;
    background-color: #f9f9f9; }
  .RadListBox_MetroTouch .rlbHeader {
    font-weight: 600;
    border-bottom-color: #cdcdcd; }
  .RadListBox_MetroTouch .rlbFooter {
    border-top-color: #cdcdcd; }
  .RadListBox_MetroTouch .rlbItem {
    line-height: 34px;
    padding: 2px 9px; }
  .RadListBox_MetroTouch .rlbHovered {
    color: black;
    background: #e8e8e8; }
  .RadListBox_MetroTouch .rlbSelected {
    color: white;
    background: #25a0da; }
  .RadListBox_MetroTouch .rlbDisabled {
    color: #c5c5c5; }
    .RadListBox_MetroTouch .rlbDisabled .rlbImage {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .RadListBox_MetroTouch .rlbHighlight {
    color: black;
    background-color: #e8e8e8; }
  .RadListBox_MetroTouch .rlbCheckAllItems {
    padding: 2px 5px;
    color: black;
    background-color: #f9f9f9; }
  .RadListBox_MetroTouch .rlbCheckAllItems.rlbDisabled,
  .RadListBox_MetroTouch .rlbCheckAllItems.rlbDisabled:hover {
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, 0.4); }
  .RadListBox_MetroTouch .rlbCheckAllItemsHovered {
    color: black;
    background-color: #f9f9f9; }
  .RadListBox_MetroTouch .rlbDropClue {
    width: 7px;
    height: 7px;
    margin-top: 0;
    background: #000;
    border-radius: 3px;
    left: -10px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .RadListBox_MetroTouch .rlbDropClue {
        margin-top: -1px; } }
    .RadListBox_MetroTouch .rlbDropClue:before {
      content: "";
      display: block;
      width: 4px;
      border-top: 1px solid #000;
      position: absolute;
      left: 7px;
      top: 3px; }
  .RadListBox_MetroTouch .rlbDropClueAbove {
    border-top-style: solid;
    border-top-color: #000;
    border-top: 1px solid #000; }
  .RadListBox_MetroTouch .rlbDropClueBelow {
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom: 1px solid #000; }
  .RadListBox_MetroTouch .rlbButton {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    padding: 2px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden; }
    .RadListBox_MetroTouch .rlbButton:hover {
      border-color: #cdcdcd;
      color: black;
      background-color: #e8e8e8; }
    .RadListBox_MetroTouch .rlbButton.rlbDisabled, .RadListBox_MetroTouch .rlbButton.rlbDisabled:hover {
      border-color: #e0e0e0;
      color: #c5c5c5;
      background-color: white;
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbButton,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbButton {
    padding: 2px; }
  .RadListBox_MetroTouch .rlbNoButtonText {
    width: 30px;
    *height: 30px; }
  .RadListBox_MetroTouch .rlbButtonTL,
  .RadListBox_MetroTouch .rlbButtonTR,
  .RadListBox_MetroTouch .rlbButtonBL,
  .RadListBox_MetroTouch .rlbButtonBR {
    padding: 0;
    height: 30px;
    line-height: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    *display: block; }
  .RadListBox_MetroTouch .rlbButtonText {
    padding: 0 5px 0 30px;
    line-height: 30px; }
  .RadListBox_MetroTouch .rlbNoButtonText .rlbButtonText {
    padding-left: 30px; }
  .RadListBox_MetroTouch .rlbButtonText:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('Common/radActionsSprite.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 7px; }
  @media screen\9 {
    .RadListBox_MetroTouch .rlbButtonText {
      background-image: url('ListBox/rlbSprite.png');
      background-repeat: no-repeat; } }
  .RadListBox_MetroTouch .rlbMoveUp .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_MetroTouch .rlbMoveUp:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_MetroTouch .rlbMoveUpDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbMoveUpDisabled:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_MetroTouch .rlbMoveDown .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_MetroTouch .rlbMoveDown:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_MetroTouch .rlbMoveDownDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbMoveDownDisabled:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_MetroTouch .rlbMoveToTop .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_MetroTouch .rlbMoveToTop:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_MetroTouch .rlbMoveToTopDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbMoveToTopDisabled:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_MetroTouch .rlbMoveToBottom .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_MetroTouch .rlbMoveToBottom:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_MetroTouch .rlbMoveToBottomDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbMoveToBottomDisabled:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_MetroTouch .rlbDelete .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_MetroTouch .rlbDelete:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_MetroTouch .rlbDeleteDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbDeleteDisabled:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferTo .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_MetroTouch .rlbMoveUp .rlbButtonText {
    *background-position: 0 0; }
  .RadListBox_MetroTouch .rlbMoveUpDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbMoveUpDisabled:hover .rlbButtonText {
    *background-position: -200px 0; }
  .RadListBox_MetroTouch .rlbMoveDown .rlbButtonText {
    *background-position: 0 -25px; }
  .RadListBox_MetroTouch .rlbMoveDownDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbMoveDownDisabled:hover .rlbButtonText {
    *background-position: -200px -25px; }
  .RadListBox_MetroTouch .rlbMoveToTop .rlbButtonText {
    *background-position: 0 -275px; }
  .RadListBox_MetroTouch .rlbMoveToTopDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbMoveToTopDisabled:hover .rlbButtonText {
    *background-position: -200px -275px; }
  .RadListBox_MetroTouch .rlbMoveToBottom .rlbButtonText {
    *background-position: 0 -300px; }
  .RadListBox_MetroTouch .rlbMoveToBottomDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbMoveToBottomDisabled:hover .rlbButtonText {
    *background-position: -200px -300px; }
  .RadListBox_MetroTouch .rlbDelete .rlbButtonText {
    background-position: 0 -50px; }
  .RadListBox_MetroTouch .rlbDeleteDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbDeleteDisabled:hover .rlbButtonText {
    *background-position: -200px -50px; }
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -100px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -75px; }
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -100px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
    background-position: -200px -75px; }
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -150px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -125px; }
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
    *background-position: -200px -150px; }
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -125px; }
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -200px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -175px; }
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -200px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
    *background-position: -200px -175px; }
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -250px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -225px; }
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
    background-position: -200px -250px; }
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_MetroTouch .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -225px; }
