.RadOrgChart_MetroTouch {
  color: black;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 34px;
  /* Loading states */ }
  .RadOrgChart_MetroTouch .rocGroup {
    background-color: #e8e8e8; }
    .RadOrgChart_MetroTouch .rocGroup :root {
      background-color: rgba(0, 0, 0, 0.1); }
  .RadOrgChart_MetroTouch .rocItemContent,
  .RadOrgChart_MetroTouch .rocItemTemplate {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
  .RadOrgChart_MetroTouch .rocExpandArrow,
  .RadOrgChart_MetroTouch .rocCollapseArrow,
  .RadOrgChart_MetroTouch .rocExpandGroupArrow,
  .RadOrgChart_MetroTouch .rocCollapseGroupArrow {
    width: 28px;
    height: 28px;
    border-color: #25a0da;
    background-color: #25a0da;
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png');
    z-index: 1000; }
  .RadOrgChart_MetroTouch .rocExpandArrow,
  .RadOrgChart_MetroTouch .rocCollapseArrow {
    margin-left: -15px;
    bottom: -16px; }
  .RadOrgChart_MetroTouch .rocExpandArrow {
    background-position: -111px -61px; }
  .RadOrgChart_MetroTouch .rocCollapseArrow {
    background-position: -111px -11px; }
  .RadOrgChart_MetroTouch .rocExpandGroupArrow {
    background-position: -111px -161px; }
  .RadOrgChart_MetroTouch .rocCollapseGroupArrow {
    background-position: -111px -111px; }
  .RadOrgChart_MetroTouch .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart_MetroTouch .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart_MetroTouch .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart_MetroTouch .rocLoadingGroups .rocCollapseGroupArrow {
    background-image: url('Common/loading_small.gif'); }
  .RadOrgChart_MetroTouch .rocLineUp,
  .RadOrgChart_MetroTouch .rocLineDown,
  .RadOrgChart_MetroTouch .rocLineHorizontal {
    background-image: url('../Common/OrgChart/rocLinesDark.png'); }
  .RadOrgChart_MetroTouch.rocDetachedItemContainer .rocGhostItem, .RadOrgChart_MetroTouch.rocDetachedItemContainer .rocGhostNode, .RadOrgChart_MetroTouch.rocDetachedNodeContainer .rocGhostItem, .RadOrgChart_MetroTouch.rocDetachedNodeContainer .rocGhostNode {
    border-color: #999999;
    border-radius: 5px;
    background-color: #cccccc;
    background-image: url('../Common/OrgChart/rocItemTileLight.png');
    _background-image: none; }
  .RadOrgChart_MetroTouch.rocDetachedItemContainer .rocDropClue, .RadOrgChart_MetroTouch.rocDetachedNodeContainer .rocDropClue {
    background-image: url('../Common/Actions/actionDragDropDark.png'); }

.rocToolbar_MetroTouch {
  padding: 5px;
  border-color: #f9f9f9;
  border-radius: 0;
  background-color: #E8E8E8; }
  .rocToolbar_MetroTouch ul {
    margin-left: -5px; }
  .rocToolbar_MetroTouch li {
    margin-left: 5px; }
  .rocToolbar_MetroTouch .rocToolbarButton {
    padding: 3px;
    border-color: #25a0da;
    border-radius: 0;
    background-color: #25a0da;
    background-position: 0 0;
    text-indent: -999em;
    float: left;
    overflow: hidden; }
    .rocToolbar_MetroTouch .rocToolbarButton:first-child {
      margin: 0; }
    .rocToolbar_MetroTouch .rocToolbarButton.rocActionDrillHere {
      background-position: -30px 5px; }
    .rocToolbar_MetroTouch .rocToolbarButton.rocActionGoToParent {
      background-position: -30px -11px; }
    .rocToolbar_MetroTouch .rocToolbarButton.rocActionGoToRoot {
      background-position: -30px -27px; }
