.RadRibbonBar_MetroTouch {
  height: 190px;
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: black; }
  .RadRibbonBar_MetroTouch.rrbExtendedChrome {
    height: 230px; }
  .RadRibbonBar_MetroTouch .rrbContentWrapIn {
    border-color: #cdcdcd;
    background-color: #f9f9f9; }
  .RadRibbonBar_MetroTouch .rrbTabs {
    padding: 0;
    height: 41px;
    line-height: 40px;
    border-bottom: 3px solid #0082CC; }
  .RadRibbonBar_MetroTouch.rrbExtendedChrome .rrbTabs {
    padding-top: 41px; }
  .RadRibbonBar_MetroTouch input,
  .RadRibbonBar_MetroTouch input:focus {
    box-shadow: none; }
  .RadRibbonBar_MetroTouch .rrbApplicationTab .rrbTabLabel {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadRibbonBar_MetroTouch .rrbHeaderBar {
    border-color: #cdcdcd;
    background-color: #f9f9f9; }
  .RadRibbonBar_MetroTouch .rrbHeaderBarTab .rrbHeaderBar {
    height: 44px; }
  .RadRibbonBar_MetroTouch .rrbContextualTab {
    margin-top: -41px;
    padding-top: 41px; }
  .RadRibbonBar_MetroTouch .rrbContextualTab .rrbContextualTabLabel {
    color: #ffffff; }
  .RadRibbonBar_MetroTouch .rrbContextualTab .rrbTabs {
    padding-top: 0; }
  .RadRibbonBar_MetroTouch .rrbTab .rrbTabLabel {
    margin: 0 0 0 -1px;
    border: 1px solid #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    line-height: 38px; }
  .RadRibbonBar_MetroTouch .rrbHoveredTab .rrbTabLabel {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadRibbonBar_MetroTouch .rrbSelectedTab .rrbTabLabel {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
  .RadRibbonBar_MetroTouch .rrbMenu .rrbMenuLabel {
    color: black;
    background-color: #f9f9f9; }
  .RadRibbonBar_MetroTouch .rrbToolTip {
    border-color: #cccccc;
    color: #000000;
    background-color: #e5e5e5;
    background-image: none; }
  .RadRibbonBar_MetroTouch .rrbToggleHandle {
    background-position: -17px -1567px; }
  .RadRibbonBar_MetroTouch.rrbMinimized .rrbToggleHandle, .RadRibbonBar_MetroTouch.rrbExtendedChromeMinimized .rrbToggleHandle {
    background-position: -17px -1667px; }
  .RadRibbonBar_MetroTouch .rrbButtonArea {
    background-color: #f9f9f9;
    height: 140px; }
  .RadRibbonBar_MetroTouch .rrbResizeHandle {
    background-position: -20px -2220px; }
  .RadRibbonBar_MetroTouch .rrbButtonGroup {
    margin-top: 5px;
    margin-left: 5px;
    height: 130px; }
  .RadRibbonBar_MetroTouch .rrbGroupTitle {
    height: 20px;
    line-height: 20px; }
  .RadRibbonBar_MetroTouch .rrbGroupLauncher {
    background-position: -21px -4821px;
    margin-top: 10px;
    margin-right: 5px; }
  .RadRibbonBar_MetroTouch .rrbButtonGroupIn {
    padding-bottom: 20px;
    height: 108px;
    border-color: #cdcdcd; }
  .RadRibbonBar_MetroTouch .rrbCollapsedGroup {
    margin-top: 5px;
    margin-left: 5px;
    height: 130px; }
    .RadRibbonBar_MetroTouch .rrbCollapsedGroup .rrbButtonGroupIn {
      padding-left: 10px;
      padding-right: 10px;
      height: 126px; }
    .RadRibbonBar_MetroTouch .rrbCollapsedGroup .rrbGroupTitle {
      margin-top: 10px;
      height: auto; }
    .RadRibbonBar_MetroTouch .rrbCollapsedGroup .rrbGroupToggleIcon {
      margin-top: 10px;
      background-position: -117px -67px; }
    .RadRibbonBar_MetroTouch .rrbCollapsedGroup .rrbGroupIcon {
      margin-top: 10px;
      border-color: #cdcdcd; }
  .RadRibbonBar_MetroTouch .rrbControlGroup {
    height: 108px; }
  .RadRibbonBar_MetroTouch .rrbAbox .rrbControlGroup {
    height: 36px; }
  .RadRibbonBar_MetroTouch .rrbVbox .rrbControlGroup {
    height: 36px; }

.RadRibbonBar_MetroTouch .rrbToggleHandle, .RadRibbonBar_MetroTouch .rrbResizeHandle, .RadRibbonBar_MetroTouch .rrbGroupLauncher, .RadRibbonBar_MetroTouch .rrbCollapsedGroup .rrbGroupToggleIcon, .RadRibbonBar_MetroTouch .rrbButtonOut .rrbIcon, .RadRibbonBar_MetroTouch .rrbComboBox .rrbIcon,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbIcon,
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbIcon,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbIcon, .RadRibbonBar_MetroTouch .rrbGalleryAction .rrbIcon, .rrbPopup_MetroTouch .rrbMenuItem .rrbMIToggle .rrbIcon {
  background-image: url('Common/radActionsSprite.png'); }

.RadRibbonBar_MetroTouch .rrbQatButton, .RadRibbonBar_MetroTouch .rrbButtonOut, .RadRibbonBar_MetroTouch .rrbSplitButton:hover .rrbButtonArrow {
  border-color: transparent;
  color: black; }

.RadRibbonBar_MetroTouch .rrbButtonStripPart, .RadRibbonBar_MetroTouch .rrbComboBox .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton, .RadRibbonBar_MetroTouch .rrbDropDown .rrbDDInner, .RadRibbonBar_MetroTouch .rrbColorPicker .rrbCPInner, .RadRibbonBar_MetroTouch .rrbGalleryAction {
  border-color: #cdcdcd;
  color: black;
  background-color: #f9f9f9; }

.RadRibbonBar_MetroTouch .rrbQatButton:hover, .RadRibbonBar_MetroTouch .rrbButtonOut:hover, .RadRibbonBar_MetroTouch .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_MetroTouch .rrbSplitButton .rrbButtonArrow:hover,
.RadRibbonBar_MetroTouch .rrbLargeButton .rrbSplitButton .rrbButtonTextHover + .rrbButtonArrow, .RadRibbonBar_MetroTouch .rrbButtonStripPart:hover, .RadRibbonBar_MetroTouch .rrbComboBox .rrbActionButton:hover,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton:hover,
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButton:hover,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_MetroTouch .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_MetroTouch .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_MetroTouch .rrbGalleryAction:hover, .RadRibbonBar_MetroTouch .rrbGalleryItemHovered, .rrbSlide_MetroTouch .rrbGalleryItemHovered {
  border-color: #cdcdcd;
  color: black;
  background-color: #e8e8e8; }

.RadRibbonBar_MetroTouch .rrbQatButton:active, .RadRibbonBar_MetroTouch .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_MetroTouch .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_MetroTouch .rrbButtonOut.rrbToggled, .RadRibbonBar_MetroTouch .rrbExpanded .rrbSplitButton .rrbButtonArrow,
.RadRibbonBar_MetroTouch .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_MetroTouch .rrbButtonStripPart:active,
.RadRibbonBar_MetroTouch .rrbButtonStripPart.rrbButtonClicked,
.RadRibbonBar_MetroTouch .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_MetroTouch .rrbComboBox .rrbActionButton:active,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton:active,
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButton:active,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_MetroTouch .rrbDropDown .rrbDDInner:active, .RadRibbonBar_MetroTouch .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_MetroTouch .rrbGalleryAction:active, .RadRibbonBar_MetroTouch .rrbGalleryItemSelected, .rrbSlide_MetroTouch .rrbGalleryItemSelected {
  border-color: #25a0da;
  color: white;
  background-color: #25a0da; }

.RadRibbonBar_MetroTouch .rrbMenu, .RadRibbonBar_MetroTouch .rrbMenuGroupMid, .rrbDropDownSlide_MetroTouch .rrbPopup, .rrbSlide_MetroTouch .rrbPopup, .rrbPopup_MetroTouch, .rrbPopup_MetroTouch .rrbPopup {
  border-color: #cdcdcd;
  color: black;
  background-color: white; }

.RadRibbonBar_MetroTouch .rrbMenu .rrbMenuItem, .RadRibbonBar_MetroTouch .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_MetroTouch .rrbMenuItem .rrbMIInner,
.rrbPopup_MetroTouch .rrbMenuItem .rrbMIToggle {
  color: black; }

.RadRibbonBar_MetroTouch .rrbMenu .rrbMenuItem:hover,
.RadRibbonBar_MetroTouch .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_MetroTouch .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_MetroTouch .rrbMIHovered > .rrbMIInner, .rrbPopup_MetroTouch .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_MetroTouch .rrbMIExpanded > .rrbMIInner {
  color: black;
  background-color: #e8e8e8; }

.RadRibbonBar_MetroTouch .rrbMenuGroupOut .rrbButtonOut.rrbExpanded,
.RadRibbonBar_MetroTouch .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_MetroTouch .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  color: white;
  background-color: #25a0da; }

.RadRibbonBar_MetroTouch .rrbButtonOut .rrbButtonIn {
  padding-left: 10px;
  padding-right: 10px; }
.RadRibbonBar_MetroTouch .rrbButtonOut .rrbButtonText {
  padding-left: 10px;
  min-height: 30px; }
.RadRibbonBar_MetroTouch .rrbButtonOut .rrbImagePlaceholder {
  vertical-align: middle; }
.RadRibbonBar_MetroTouch .rrbButtonOut .rrbIcon {
  background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbSplitButton:hover .rrbButtonArrow {
  border-color: #cdcdcd;
  color: black;
  background-color: #e8e8e8; }
.RadRibbonBar_MetroTouch .rrbButtonStrip,
.RadRibbonBar_MetroTouch .rrbButtonStrip:hover {
  background: none; }
.RadRibbonBar_MetroTouch .rrbButton .rrbImagePlaceholder {
  margin-top: 7px;
  margin-bottom: 7px; }
.RadRibbonBar_MetroTouch .rrbButton .rrbButtonArrow,
.RadRibbonBar_MetroTouch .rrbMediumButton .rrbButtonArrow {
  width: 20px; }
.RadRibbonBar_MetroTouch .rrbMediumButton .rrbSplitButton .rrbButtonIn,
.RadRibbonBar_MetroTouch .rrbMediumButton .rrbMenuButton .rrbButtonIn {
  padding-right: 20px; }
.RadRibbonBar_MetroTouch .rrbMediumButton .rrbSplitButton .rrbButtonText,
.RadRibbonBar_MetroTouch .rrbMediumButton .rrbMenuButton .rrbButtonText {
  margin-right: -20px;
  padding-right: 20px; }
.RadRibbonBar_MetroTouch .rrbLargeButton .rrbButtonIn {
  height: 102px; }
.RadRibbonBar_MetroTouch .rrbLargeButton .rrbButtonText {
  margin: 10px -10px -3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px; }
.RadRibbonBar_MetroTouch .rrbLargeButton .rrbImagePlaceholder {
  margin-top: 10px; }
.RadRibbonBar_MetroTouch .rrbLargeButton .rrbButtonArrow {
  height: 50px; }
.RadRibbonBar_MetroTouch .rrbButtonStrip {
  height: 36px; }
.RadRibbonBar_MetroTouch .rrbButtonStripPart .rrbImagePlaceholder {
  margin-top: 7px;
  margin-bottom: 7px; }
.RadRibbonBar_MetroTouch .rrbTemplateItem {
  max-height: 36px; }
.RadRibbonBar_MetroTouch .rrbComboBox .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton {
  height: 36px; }
.RadRibbonBar_MetroTouch .rrbComboBox {
  height: 36px; }
  .RadRibbonBar_MetroTouch .rrbComboBox .rrbCBInner {
    border-color: #cdcdcd;
    background-color: #ffffff;
    height: 30px; }
  .RadRibbonBar_MetroTouch .rrbComboBox .rrbCBInput {
    color: #000000; }
  .RadRibbonBar_MetroTouch .rrbComboBox .rrbIcon {
    background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbDropDown .rrbDDInner {
  height: 30px; }
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbDropDown .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_MetroTouch .rrbDropDown .rrbIcon {
  background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbNTBInner {
  height: 30px;
  border-color: #cdcdcd;
  background-color: #ffffff; }
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbNTBInput {
  color: #000000; }
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -17px -17px; }
.RadRibbonBar_MetroTouch .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbCPInner {
  height: 30px; }
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton,
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_MetroTouch .rrbColorPicker .rrbIcon {
  background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbGallery {
  border-color: #cdcdcd;
  background-color: #ffffff; }
.RadRibbonBar_MetroTouch .rrbGalleryActionUp .rrbIcon {
  background-position: -17px -17px; }
.RadRibbonBar_MetroTouch .rrbGalleryActionDown .rrbIcon {
  background-position: -17px -67px; }
.RadRibbonBar_MetroTouch .rrbGalleryActionExpand .rrbIcon {
  background-position: -17px -467px; }
.RadRibbonBar_MetroTouch .rrbCategoryTitle {
  color: black;
  background-color: #f9f9f9; }
.RadRibbonBar_MetroTouch .rrbGalleryItemInner {
  color: black;
  background-color: white; }

.rrbDropDownSlide_MetroTouch .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbDropDownSlide_MetroTouch .rrbListItem:hover {
  color: #000000;
  background-color: #e8e8e8; }

.rrbSlide_MetroTouch .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbSlide_MetroTouch .rrbGallery {
  background-color: #ffffff; }
.rrbSlide_MetroTouch .rrbCategoryTitle {
  color: black;
  background-color: #f9f9f9; }
.rrbSlide_MetroTouch .rrbGalleryItemInner {
  color: black;
  background-color: white; }

.rrbPopup_MetroTouch {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rrbPopup_MetroTouch .rrbHeaderBar {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .rrbPopup_MetroTouch .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-position: -17px -167px; }
  .rrbPopup_MetroTouch .rrbDisabled > .rrbMIInner {
    color: #c5c5c5; }
  .rrbPopup_MetroTouch .rrbHeader {
    border-color: #cdcdcd;
    background: #f9f9f9; }
  .rrbPopup_MetroTouch .rrbAuxiliaryPane {
    border-color: #cdcdcd;
    background: #f9f9f9; }
  .rrbPopup_MetroTouch .rrbFooterPane {
    border-color: #cdcdcd;
    background: #f9f9f9; }
