.RecurrenceEditor_MetroTouch {
  color: black;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RecurrenceEditor_MetroTouch .rsAdvOptionsPanel {
    *zoom: 1; }
    .RecurrenceEditor_MetroTouch .rsAdvOptionsPanel:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RecurrenceEditor_MetroTouch .rsAdvRecurrencePatterns {
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid #cccccc; }
    .RecurrenceEditor_MetroTouch .rsAdvRecurrencePatterns .RadInput,
    .RecurrenceEditor_MetroTouch .rsAdvRecurrencePatterns .RadComboBox {
      vertical-align: middle; }
  .RecurrenceEditor_MetroTouch .rsAdvRecurrenceFreq {
    margin: 0;
    padding: 0;
    width: 120px;
    height: auto;
    border: 0; }
  .RecurrenceEditor_MetroTouch .rsAdvPatternPanel {
    *zoom: 1;
    width: auto;
    height: auto; }
    .RecurrenceEditor_MetroTouch .rsAdvPatternPanel:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    .RecurrenceEditor_MetroTouch .rsAdvPatternPanel ul {
      *zoom: 1; }
      .RecurrenceEditor_MetroTouch .rsAdvPatternPanel ul:after {
        content: "";
        height: 0;
        clear: both;
        display: block; }
    .RecurrenceEditor_MetroTouch .rsAdvPatternPanel li {
      margin: 0 0 10px 0;
      width: auto;
      height: auto;
      line-height: normal; }
  .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel {
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid #cccccc; }
    .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel ul {
      *zoom: 1; }
      .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel ul:after {
        content: "";
        height: 0;
        clear: both;
        display: block; }
    .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel li {
      margin: 0 20px 10px 0;
      width: auto;
      height: auto;
      line-height: normal; }
    .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel .RadInput,
    .RecurrenceEditor_MetroTouch .rsAdvRecurrenceRangePanel .RadComboBox {
      vertical-align: middle; }

/* <xref input skins> */
.RecurrenceEditor_MetroTouch .rsAdvInput,
.RecurrenceEditor_MetroTouch select {
  border-color: #e5e5e5; }

.RecurrenceEditor_MetroTouch .rsInvalid input,
.RecurrenceEditor_MetroTouch .rsAdvTimePicker .riEmpty {
  background-image: url('Input/sprite.gif'); }

.RecurrenceEditor_MetroTouch .rsInvalid {
  border-color: #de3914;
  color: #a40045; }

/* </xref input skins> */
.RecurrenceEditor_MetroTouch h2,
.RecurrenceEditor_MetroTouch h3 {
  color: #25a0da; }

.RecurrenceEditor_MetroTouch h2 {
  border-bottom: 1px solid #e5e5e5; }

.RecurrenceEditor_MetroTouch h2 span {
  background-color: #e5e5e5; }

.RecurrenceEditor_MetroTouch ul.rsRecurrenceOptionList {
  border-right: 1px solid #e5e5e5; }

.RecurrenceEditor_MetroTouch div.rsAdvPatternPanel {
  border-left: 0; }

/* <date/time picker> */
.RecurrenceEditor_MetroTouch .rsTimePick .RadInput_Metro input.riEnabled,
.RecurrenceEditor_MetroTouch .rsTimePick .RadInput_Metro input.riHover,
.RecurrenceEditor_MetroTouch .rsTimePick .RadInput_Metro input.riFocused {
  background-image: url('Scheduler/rsSprites.png'); }

/* </date/time picker> */
