.RadSocialShare_MetroTouch {
  border: 1px solid #cdcdcd; }
  .RadSocialShare_MetroTouch li.sshListItem a.sshLinkItem {
    position: relative;
    padding-left: 38px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 34px;
    text-align: center;
    margin: 1px;
    background-color: transparent;
    border: 0; }
  .RadSocialShare_MetroTouch a.sshLinkItem:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #cdcdcd;
    width: 34px;
    height: 34px;
    border-radius: 45px; }
  .RadSocialShare_MetroTouch a.sshLinkItem:hover:before {
    border: 1px solid #25a0da;
    background-color: #25a0da; }
  .RadSocialShare_MetroTouch a.sshLinkItem:hover {
    background-color: #e8e8e8; }
  .RadSocialShare_MetroTouch a.sshLinkItem:active,
  .RadSocialShare_MetroTouch a.sshLinkItem:focus {
    background-color: #25a0da;
    border: 1px solid #25a0da; }
  .RadSocialShare_MetroTouch a.sshLinkItem .sshIcon {
    position: absolute;
    left: 10px;
    top: 10px; }
  .RadSocialShare_MetroTouch .sshLinkItem .sshText {
    color: black;
    font-size: 16px;
    line-height: 35px; }
  .RadSocialShare_MetroTouch .sshLinkItem:hover .sshText {
    color: black; }
  .RadSocialShare_MetroTouch li.sshListItem .sshStandardPinPageImageButton a.sshLinkItem {
    padding-left: 0; }
  .RadSocialShare_MetroTouch .sshStandardPinPageImageButton a.sshLinkItem:before {
    display: none; }

.RadComboBoxDropDown_MetroTouch .rcbHovered {
  background-color: #e8e8e8 !important; }

.RadComboBoxDropDown_MetroTouch .rcbItem .sshLinkItem .sshText {
  color: #000;
  font-size: 16px; }

.RadSocialShare_MetroTouch .sshLinkItem:hover .sshText,
.RadComboBoxDropDown_MetroTouch .rcbHovered .sshLinkItem .sshText {
  color: #000;
  font-size: 16px; }

.RadWindow_MetroTouch .sshFormRow,
.RadWindow_MetroTouch .sshFormRow input,
.RadWindow_MetroTouch .sshFormRow textarea {
  font-size: 16px; }

.RadWindow_MetroTouch .sshFormRow input {
  height: 34px;
  line-height: 34px;
  border: 1px solid #cdcdcd; }

.RadWindow_MetroTouch textarea {
  border: 1px solid #cdcdcd; }

.RadWindow_MetroTouch input:focus,
.RadWindow_MetroTouch input:active,
.RadWindow_MetroTouch textarea:focus,
.RadWindow_MetroTouch textarea:active {
  border: 1px solid #25a0da; }

.RadWindow_MetroTouch input[type="button"] {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 0; }

.RadWindow_MetroTouch input[type="button"]:hover {
  background-color: #e8e8e8;
  border: 1px solid #cdcdcd; }

.RadWindow_MetroTouch input[type="button"]:focus,
.RadWindow_MetroTouch input[type="button"]:active {
  background-color: #25a0da;
  border: 1px solid #25a0da;
  color: #fff; }
