.TreeListToolTip_MetroTouch {
  /*font: $font-weight 16px/34px $font-family;*/
  font-weight: 100;
  font-size: 16px;
  line-height: 34px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }

.RadTreeList_MetroTouch {
  border-color: #e5e5e5;
  background: #fff;
  color: #000;
  /*font: $font-weight 16px/34px $font-family;*/
  font-weight: 100;
  font-size: 16px;
  line-height: 34px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /*pager*/ }
  .RadTreeList_MetroTouch .rtlAdd,
  .RadTreeList_MetroTouch .rtlUpdate,
  .RadTreeList_MetroTouch .rtlCancel,
  .RadTreeList_MetroTouch .rtlEdit,
  .RadTreeList_MetroTouch .rtlDel,
  .RadTreeList_MetroTouch .rtlExpand,
  .RadTreeList_MetroTouch .rtlCollapse {
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png'); }
  .RadTreeList_MetroTouch .rtlHeader {
    background-color: #f5f5f5; }
  .RadTreeList_MetroTouch .rtlHeader a {
    color: #000; }
  .RadTreeList_MetroTouch .rtlHeader th {
    border-color: #e5e5e5; }
  .RadTreeList_MetroTouch div.rtlHeader,
  .RadTreeList_MetroTouch .rtlScroller {
    border-color: #e5e5e5; }
  .RadTreeList_MetroTouch .rtlA {
    background-color: #ededed; }
  .RadTreeList_MetroTouch .rtlRFooter {
    background-color: #e4e4e4; }
  .RadTreeList_MetroTouch .rtlFooter .rtlTable {
    height: 49px; }
  .RadTreeList_MetroTouch .rtlRFooter td {
    border-color: #eaeaea; }
  .RadTreeList_MetroTouch .rtlREdit {
    background-color: #ffe79c; }
  .RadTreeList_MetroTouch .rtlR td,
  .RadTreeList_MetroTouch .rtlA td,
  .RadTreeList_MetroTouch .rtlREdit td,
  .RadTreeList_MetroTouch .rtlEditForm {
    border-color: #e5e5e5; }
  .RadTreeList_MetroTouch .rtlR a,
  .RadTreeList_MetroTouch .rtlA a,
  .RadTreeList_MetroTouch .rtlREdit a,
  .RadTreeList_MetroTouch .rtlEditForm a {
    color: #767676;
    font-weight: 800; }
  .RadTreeList_MetroTouch .rtlRSel {
    background: #25a0da;
    color: #fff; }
  .RadTreeList_MetroTouch .rtlRSel a {
    color: #fff; }
  .RadTreeList_MetroTouch .rtlRSel td {
    border-color: #25a0da; }
  .RadTreeList_MetroTouch .rtlRActive {
    background: white;
    color: #000; }
  .RadTreeList_MetroTouch .rtlRActive td {
    border-color: #25a0da; }
  .RadTreeList_MetroTouch .rtlVBorders td.rtlL,
  .RadTreeList_MetroTouch .rtlLines td.rtlL {
    background-color: #fff; }
  .RadTreeList_MetroTouch .rtlExpand,
  .RadTreeList_MetroTouch .rtlCollapse {
    display: inline-block;
    margin: 0 0 0 12px;
    position: relative;
    top: -5px; }
  * + html .RadTreeList_MetroTouch .rtlExpand, * + html .RadTreeList_MetroTouch .rtlCollapse {
    position: relative; }
  .RadTreeList_MetroTouch .rtlExpand {
    background-position: -17px -167px;
    background-color: white; }
  .RadTreeList_MetroTouch .rtlCollapse {
    background-position: -67px -67px;
    background-color: white; }
  .RadTreeList_MetroTouch .rtlAdd,
  .RadTreeList_MetroTouch .rtlUpdate,
  .RadTreeList_MetroTouch .rtlCancel,
  .RadTreeList_MetroTouch .rtlEdit,
  .RadTreeList_MetroTouch .rtlDel {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #f9f9f9;
    border: 1px solid #cdcdcd;
    width: 28px;
    height: 28px; }
    .RadTreeList_MetroTouch .rtlAdd:hover,
    .RadTreeList_MetroTouch .rtlUpdate:hover,
    .RadTreeList_MetroTouch .rtlCancel:hover,
    .RadTreeList_MetroTouch .rtlEdit:hover,
    .RadTreeList_MetroTouch .rtlDel:hover {
      background-color: #e8e8e8; }
    .RadTreeList_MetroTouch .rtlAdd:active,
    .RadTreeList_MetroTouch .rtlUpdate:active,
    .RadTreeList_MetroTouch .rtlCancel:active,
    .RadTreeList_MetroTouch .rtlEdit:active,
    .RadTreeList_MetroTouch .rtlDel:active {
      background-color: #25a0da;
      color: white;
      border-color: #25a0da; }
  .RadTreeList_MetroTouch .rtlEdit {
    background-position: -12px -3112px; }
  .RadTreeList_MetroTouch .rtlEdit:active {
    background-position: -112px -3112px; }
  .RadTreeList_MetroTouch .rtlUpdate {
    background-position: -12px -2612px; }
  .RadTreeList_MetroTouch .rtlUpdate:active {
    background-position: -112px -2612px; }
  .RadTreeList_MetroTouch .rtlAdd,
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd {
    background-position: -12px -3012px; }
  .RadTreeList_MetroTouch .rtlAdd:active,
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd:active {
    background-position: -112px -3012px; }
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd {
    background-color: transparent;
    border: 0 none; }
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd:hover {
    background-color: #e8e8e8;
    border: 1px solid #cdcdcd; }
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd:active,
  .RadTreeList_MetroTouch .rtlHeader .rtlAdd:active:hover {
    background-color: #25a0da;
    border: 1px solid #25a0da; }
  .RadTreeList_MetroTouch .rtlCancel {
    background-position: -12px -2812px; }
  .RadTreeList_MetroTouch .rtlCancel:active {
    background-position: -112px -2812px; }
  .RadTreeList_MetroTouch .rtlDel {
    background-position: -12px -3312px; }
  .RadTreeList_MetroTouch .rtlDel:active {
    background-position: -112px -3312px; }
  .RadTreeList_MetroTouch .rtlSortAsc,
  .RadTreeList_MetroTouch .rtlSortDesc {
    background-image: url('../Common/MetroTouch/metrotouch-sprite.png');
    height: 10px;
    float: left;
    margin: 12px 2px 0 0; }
  .RadTreeList_MetroTouch .rtlSortAsc {
    background-position: -20px -20px; }
  .RadTreeList_MetroTouch .rtlSortDesc {
    background-position: -20px -70px; }
  .RadTreeList_MetroTouch .rtlLines td.rtlL0 {
    background-image: url('TreeList/rtlSingle.gif'); }
  .RadTreeList_MetroTouch .rtlLines td.rtlL1 {
    background-image: url('TreeList/rtlTop.gif'); }
  .RadTreeList_MetroTouch .rtlLines td.rtlL2 {
    background-image: url('TreeList/rtlMiddle.gif'); }
  .RadTreeList_MetroTouch .rtlLines td.rtlL3 {
    background-image: url('TreeList/rtlBottom.gif'); }
  .RadTreeList_MetroTouch .rtlPagerCell {
    border-color: #e5e5e5; }
  .RadTreeList_MetroTouch .rtlPager .rtlWrap {
    line-height: 34px; }
  .RadTreeList_MetroTouch .rtlPager .rtlInfoPart {
    color: #8a8a8a; }
  .RadTreeList_MetroTouch .rtlPager .rtlInfoPart strong {
    color: #4c4e54; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageFirst,
  .RadTreeList_MetroTouch .rtlPager .rtlPagePrev,
  .RadTreeList_MetroTouch .rtlPager .rtlPageNext,
  .RadTreeList_MetroTouch .rtlPager .rtlPageLast {
    background: #f9f9f9 url('../Common/MetroTouch/metrotouch-sprite.png') no-repeat;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px; }
    .RadTreeList_MetroTouch .rtlPager .rtlPageFirst:hover,
    .RadTreeList_MetroTouch .rtlPager .rtlPagePrev:hover,
    .RadTreeList_MetroTouch .rtlPager .rtlPageNext:hover,
    .RadTreeList_MetroTouch .rtlPager .rtlPageLast:hover {
      background-color: #e8e8e8; }
    .RadTreeList_MetroTouch .rtlPager .rtlPageFirst:active,
    .RadTreeList_MetroTouch .rtlPager .rtlPagePrev:active,
    .RadTreeList_MetroTouch .rtlPager .rtlPageNext:active,
    .RadTreeList_MetroTouch .rtlPager .rtlPageLast:active {
      background-color: #25a0da;
      color: white;
      border-color: #25a0da; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageFirst {
    background-position: -11px -311px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageFirst:active {
    background-position: -111px -311px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPagePrev {
    background-position: -11px -111px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPagePrev:active {
    background-position: -111px -111px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageNext {
    background-position: -11px -161px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageNext:active {
    background-position: -111px -161px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageLast {
    background-position: -11px -361px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPageLast:active {
    background-position: -111px -361px; }
  .RadTreeList_MetroTouch .rtlPager .rtlPagerButton {
    border-color: #25a0da;
    background: #25a0da;
    color: #fff; }
  .RadTreeList_MetroTouch .rtlPager .rtlNumPart a {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin: 2px 1px 0 1px;
    padding: 0;
    width: 28px;
    height: 28px;
    border: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    line-height: 28px;
    text-align: center;
    border: 1px solid #cdcdcd; }
    .RadTreeList_MetroTouch .rtlPager .rtlNumPart a span {
      padding: 0;
      float: none;
      display: inline; }
  .RadTreeList_MetroTouch .rtlPager .rtlNumPart a:hover {
    background-color: #e8e8e8; }
  .RadTreeList_MetroTouch .rtlPager .rtlNumPart a.rtlCurrentPage,
  .RadTreeList_MetroTouch .rtlPager .rtlNumPart a.rtlCurrentPage:hover {
    border-color: #25a0da;
    color: white;
    background: #25a0da; }
  .RadTreeList_MetroTouch .rtlDragHandle {
    background-image: url('Grid/rgDrag.gif'); }

.TreeListReorderTop_MetroTouch,
.TreeListReorderBottom_MetroTouch {
  width: 1px;
  height: 30px;
  margin: 24px 0 0 -2px;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-color: rgba(255, 255, 255, 0.5);
  background: black !important; }

.TreeListReorderBottom_MetroTouch {
  margin: -24px 0 0 -2px; }

.TreeListReorderBottom_MetroTouch:after,
.TreeListReorderTop_MetroTouch:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin-left: -5px;
  margin-top: -6px;
  background: black;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #808080;
  border-bottom-width: 0;
  border-color: rgba(255, 255, 255, 0.5); }

.TreeListReorderBottom_MetroTouch:after {
  border-top-width: 0;
  border-bottom-width: 1px;
  margin-top: 29px; }

/*tooltip*/
.TreeListToolTip_MetroTouch {
  border-color: #c98400;
  background: #ffefbd;
  color: #333; }

/*rtl*/
.RadTreeListRTL_MetroTouch .rtlLines td.rtlL1 {
  background-image: url('TreeList/rtlTopRTL.gif'); }
.RadTreeListRTL_MetroTouch .rtlLines td.rtlL2 {
  background-image: url('TreeList/rtlMiddleRTL.gif'); }
.RadTreeListRTL_MetroTouch .rtlLines td.rtlL3 {
  background-image: url('TreeList/rtlBottomRTL.gif'); }
