.RadUpload_MetroTouch {
  color: black;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 34px !important; }
  .RadUpload_MetroTouch .ruFileWrap {
    height: 36px !important;
    line-height: 34px !important; }
  .RadUpload_MetroTouch .ruFileProgressWrap {
    height: 4px !important;
    background-color: #e8e8e8 !important; }
  .RadUpload_MetroTouch .ruFileProgress {
    height: 4px !important;
    background-color: #25a0da !important; }
  .RadUpload_MetroTouch .ruFakeInput {
    padding: 0 !important;
    height: 34px !important;
    border: 1px solid #cdcdcd !important;
    color: black;
    font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 34px;
    vertical-align: top; }
  .RadUpload_MetroTouch .ruUploadProgress {
    margin-right: 10px !important;
    padding-left: 32px !important; }
  .RadUpload_MetroTouch .ruButton {
    margin: 0 2px 0 0;
    padding: 0 !important;
    width: 80px;
    height: 36px !important;
    border: 1px solid #cdcdcd !important;
    color: black;
    background-color: #f9f9f9 !important;
    font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 34px; }
  .RadUpload_MetroTouch .ruButtonHover {
    background-color: #e8e8e8 !important; }
  .RadUpload_MetroTouch .ruRemove {
    width: 36px !important;
    background-image: url('Common/radActionsSprite.png');
    background-position: -8px -3308px !important;
    background-repeat: no-repeat;
    text-indent: -999em; }
    .RadUpload_MetroTouch .ruRemove:hover {
      background-position: -58px -3308px !important; }
  .RadUpload_MetroTouch .ruDropZone {
    background: #e8e8e8;
    border-color: #cdcdcd;
    color: #c0c0c0;
    font-size: 15px;
    font-style: italic; }
