.RadToolBar_Default {
  background-color: #fafafa;
  font: normal 12px/20px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_Default .rtbOuter {
    border-color: #9c9c9c; }
  .RadToolBar_Default .rtbMiddle {
    border: 1px solid #efefef;
    background-color: #fafafa; }
  .RadToolBar_Default .rtbWrap {
    color: #333333; }
  .RadToolBar_Default .rtbChoiceArrow {
    background-image: url('ToolBar/rtbDropArrows.png'); }
  .RadToolBar_Default .rtbItemClicked .rtbChoiceArrow,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbChoiceArrow,
  .RadToolBar_Default .rtbDropDownExpanded .rtbChoiceArrow {
    background-image: url('ToolBar/rtbClickedDropArrows.png'); }
  .RadToolBar_Default .rtbItemHovered .rtbWrap,
  .RadToolBar_Default .rtbItemHovered .rtbOut,
  .RadToolBar_Default .rtbItemHovered .rtbMid,
  .RadToolBar_Default .rtbItemHovered .rtbIn {
    color: black;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Default .rtbItemFocused .rtbWrap,
  .RadToolBar_Default .rtbItemFocused .rtbOut,
  .RadToolBar_Default .rtbItemFocused .rtbMid,
  .RadToolBar_Default .rtbItemFocused .rtbIn {
    color: black;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Default .rtbItemClicked .rtbWrap,
  .RadToolBar_Default .rtbItemClicked .rtbOut,
  .RadToolBar_Default .rtbItemClicked .rtbMid,
  .RadToolBar_Default .rtbItemClicked .rtbIn {
    color: #ffffff;
    background-image: url('ToolBar/rtbClickedBg.png'); }
  .RadToolBar_Default .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbOut,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbMid,
  .RadToolBar_Default .rtbSplBtnExpanded .rtbIn,
  .RadToolBar_Default .rtbDropDownExpanded .rtbWrap,
  .RadToolBar_Default .rtbDropDownExpanded .rtbOut,
  .RadToolBar_Default .rtbDropDownExpanded .rtbMid,
  .RadToolBar_Default .rtbDropDownExpanded .rtbIn,
  .RadToolBar_Default .rtbChecked .rtbWrap,
  .RadToolBar_Default .rtbChecked .rtbOut,
  .RadToolBar_Default .rtbChecked .rtbMid,
  .RadToolBar_Default .rtbChecked .rtbIn,
  .RadToolBar_Default .rtbChecked .rtbWrap:hover,
  .RadToolBar_Default .rtbChecked .rtbWrap:hover .rtbOut,
  .RadToolBar_Default .rtbChecked .rtbWrap:hover .rtbMid,
  .RadToolBar_Default .rtbChecked .rtbWrap:hover .rtbIn {
    color: #ffffff;
    background-image: url('ToolBar/rtbActiveBg.png'); }
  .RadToolBar_Default .rtbDisabled .rtbWrap,
  .RadToolBar_Default .rtbDisabled .rtbWrap .rtbOut,
  .RadToolBar_Default .rtbDisabled .rtbWrap .rtbMid,
  .RadToolBar_Default .rtbDisabled .rtbWrap .rtbIn {
    color: #a5a5a5;
    background-image: none; }
  .RadToolBar_Default .rtbSeparator {
    border-color: #939393;
    background-color: #f7f7f7; }

.RadToolBar_Default_Horizontal .rtbMiddle {
  background-image: url('ToolBar/rtbControlBg.png');
  background-position: 0 100%; }

.RadToolBar_Default_Vertical .rtbMiddle {
  background-image: url('ToolBar/rtbVerticalControlBg.png'); }

.RadToolBarDropDown_Default {
  font-weight: normal;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #333333;
  border-color: #828282;
  background-color: white;
  background-image: url('ToolBar/rtbDropDownBg.png');
  /* </Drop Down rounded corners and shadows> */ }
  .RadToolBarDropDown_Default .rtbTopFix,
  .RadToolBarDropDown_Default .rtbBottomFix,
  .RadToolBarDropDown_Default .rtbGroup {
    background-image: url('ToolBar/rtbDropDownBg.png');
    background-color: #fff;
    background-repeat: repeat-y; }
  .RadToolBarDropDown_Default .rtbBottomLeft,
  .RadToolBarDropDown_Default .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat; }
  .RadToolBarDropDown_Default .rtbTopRight,
  .RadToolBarDropDown_Default .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat; }
  .RadToolBarDropDown_Default .rtbTopFix,
  .RadToolBarDropDown_Default .rtbBottomFix,
  .RadToolBarDropDown_Default .rtbRoundedCorners .rtbFirst {
    border-color: #979797; }
  .RadToolBarDropDown_Default .rtbWrap,
  .RadToolBarDropDown_Default .rtbTemplate {
    color: #000; }
  .RadToolBarDropDown_Default .rtbItemHovered,
  .RadToolBarDropDown_Default .rtbItemFocused,
  .RadToolBarDropDown_Default .rtbItemHovered .rtbWrap,
  .RadToolBarDropDown_Default .rtbItemFocused .rtbWrap {
    background-image: url('ToolBar/rtbDropDownHover.png'); }
  .RadToolBarDropDown_Default .rtbDisabled .rtbWrap {
    color: #999; }
  .RadToolBarDropDown_Default .rtbSeparator {
    border-color: #939393;
    background: #f7f7f7; }

/* </drop-down> */
/* </RadToolBar / Default> */
.RadToolBarDropDown_Default_rtl .rtbBottomLeft,
.RadToolBarDropDown_Default_rtl .rtbRoundedCorners {
  background-image: url('ToolBar/rtbRoundedLeft_rtl.png'); }

.RadToolBarDropDown_Default_rtl .rtbTopRight,
.RadToolBarDropDown_Default_rtl .rtbBottomRight {
  background-image: url('ToolBar/rtbRoundedRight_rtl.png'); }
