/* this is the topmost cell of the dialogs that have RadTabStrip */
.reTopcell {
  background-color: #f0f0f0; }

/* File Manager dialogs */
.selectedFileName {
  border-top: 1px solid #8a8a8a; }

/* background for the bottom positioned RadTabStrip */
.RadTabStripBottom_Default {
  background: #f0f0f0;
  width: 264px;
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 6px !important; }

.reTableWizardSelectAllBtn {
  color: #333333; }

.imagePreviewer {
  overflow: hidden; }

/*Sprite from RFE*/
.RadToolBar_Default .rtbText {
  background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
  _background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
  background-repeat: no-repeat; }

/* RAD EDITOR DIALOGS REDESIGN */
.redWrapper {
  /* FileBrowser */ }
  .redWrapper .redSection {
    border-bottom-color: #8a8a8a; }
  .redWrapper .reTool {
    border-color: #8a8a8a;
    color: #333333;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -ms-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    border-color: #8a8a8a; }
  .redWrapper .reTool:hover {
    border-color: #515151;
    color: black;
    background-color: #c3c3c3;
    background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -moz-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -ms-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -o-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    box-shadow: inset 0 0 1px white; }
  .redWrapper .reTool:active,
  .redWrapper .reTool:focus {
    border-color: #888888;
    color: black;
    background-color: #dedede;
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    box-shadow: inset 0 0 1px white; }
  .redWrapper a.reDropdown:hover {
    background-image: url('Editor/ToolbarSprites.gif');
    background-color: #dfdfdf; }
  .redWrapper .redDialogSeparator {
    border-left: 1px solid #8a8a8a;
    border-right: 1px solid #8a8a8a;
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    filter: none;
    background-color: #eaeaea;
    background-position: 0 0; }
  .redWrapper .redMsgContainerFBDialogs #propertyValueDescription,
  .redWrapper .redMsgContainerFBDialogs #propertyValuePane {
    background-color: #eeeeee;
    color: #333333; }

/* Right to Left Support */
.RadForm_Default .redRtl .redWrapper .reTool .split_arrow:hover {
  border-right-color: #515151; }
.RadForm_Default .redRtl .reDropdown:hover {
  background-image: url('Editor/ToolbarSprites.gif');
  background-color: #dfdfdf; }

