.RadCalendar {
  border: 0;
  color: inherit;
  display: inline-block; }
  .RadCalendar caption,
  .RadCalendar caption span {
    color: inherit;
    display: none; }
  .RadCalendar .rcTitlebar {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 0.2em 0.1em;
    *zoom: 1; }
    .RadCalendar .rcTitlebar:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadCalendar .rcPrev,
  .RadCalendar .rcNext,
  .RadCalendar .rcFastPrev,
  .RadCalendar .rcFastNext {
    float: left;
    color: inherit;
    display: block;
    height: 1.5em;
    line-height: 100em;
    overflow: hidden;
    margin: 0 0.3em;
    text-decoration: none; }
    .RadCalendar .rcPrev:before,
    .RadCalendar .rcNext:before,
    .RadCalendar .rcFastPrev:before,
    .RadCalendar .rcFastNext:before {
      font-size: 1em;
      line-height: 1.7em;
      font-family: "TelerikWebUI";
      text-align: center;
      display: block;
      text-indent: 0; }
  .RadCalendar .rcNext,
  .RadCalendar .rcFastNext {
    float: right; }
  .RadCalendar .rcFastPrev {
    margin-left: 0.4em; }
  .RadCalendar .rcFastNext {
    margin-right: 0.4em; }
  .RadCalendar .rcTitle {
    width: 100%;
    cursor: pointer; }
  .RadCalendar .rcNoNav .rcTitle {
    cursor: default; }
  .RadCalendar .rcMain {
    width: auto;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 0;
    *zoom: 1; }
    .RadCalendar .rcMain:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadCalendar .rcMainTable {
    table-layout: auto;
    border-collapse: separate;
    border: 0;
    width: 100%;
    font-size: 1em;
    line-height: normal; }
  .RadCalendar .rcHeader, .RadCalendar .rcFooter {
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 0; }
  .RadCalendar .rcWeek th {
    border: 0;
    padding: 0.25em 0.3em 0.2em 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: default;
    text-align: right; }
  .RadCalendar .rcWeek .rcViewSel {
    text-align: center; }
  .RadCalendar .rcRow th {
    text-align: center;
    border: 0;
    padding: 0 0.6em;
    font-weight: normal;
    vertical-align: middle;
    cursor: default; }
  .RadCalendar .rcRow td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    text-align: right;
    vertical-align: middle; }
    .RadCalendar .rcRow td a,
    .RadCalendar .rcRow td span {
      display: block;
      padding: 0.08em 0.4em;
      text-decoration: none;
      outline: none; }
    .RadCalendar .rcRow td span {
      cursor: default; }

.RadCalendarTimeView {
  color: inherit; }

* + html .RadCalendarMultiView .rcMainTable {
  table-layout: fixed;
  display: inline; }
.RadCalendarMultiView .rcCalendar {
  border-style: solid;
  border-width: 1px;
  padding: 0; }
.RadCalendarMultiView .rcMainTable .rcTitle {
  border-style: solid;
  border-width: 0 0 1px;
  padding: 0 0 0.2em;
  line-height: 1.5em;
  text-align: center; }

.RadCalendarMonthView {
  table-layout: auto;
  border-collapse: separate;
  border-style: solid;
  border-width: 1px; }
  .RadCalendarMonthView td {
    border: 0;
    padding: em2px(5px 3px 0, 12); }
  .RadCalendarMonthView a {
    display: block;
    padding: 0.1em 0.2em;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent; }
  .RadCalendarMonthView .rcHover a,
  .RadCalendarMonthView .rcSelected a {
    padding: em2px(1px 3px, 12); }
  .RadCalendarMonthView #rcMView_PrevY a,
  .RadCalendarMonthView #rcMView_NextY a {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    height: 1em; }
    .RadCalendarMonthView #rcMView_PrevY a:before,
    .RadCalendarMonthView #rcMView_NextY a:before {
      font-size: 1em;
      line-height: 1.5em;
      font-family: "TelerikWebUI";
      text-align: center;
      display: block;
      text-indent: 0; }
  .RadCalendarMonthView .rcButtons {
    border: 0;
    text-align: center;
    padding: 0.25em 0.4em 0.3em; }
  .RadCalendarMonthView input {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1em; }

.RadCalendarMonthView #rcMView_Today {
  margin: 0 0.4em 0 0; }

.RadCalendarTimeView {
  border-collapse: separate;
  border-style: solid;
  border-width: 1px; }
  .RadCalendarTimeView th {
    border: 0;
    text-align: center;
    cursor: default;
    font-weight: normal;
    line-height: 1.5em; }

.RadCalendarTimeView
.RadCalendarTimeView td {
  border-style: solid;
  border-width: 0 0 0 1px;
  padding: 2px 2px 3px; }
  .RadCalendarTimeView
  .RadCalendarTimeView td:first-child {
    border-left: 0; }

.RadCalendarTimeView a {
  display: block;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none; }
.RadCalendarTimeView td.rcSelected a, .RadCalendarTimeView td.rcHover a {
  border-style: solid;
  border-width: 1px;
  padding: 1px 5px; }
.RadCalendarTimeView .rcFooter {
  border-style: solid;
  border-width: 1px 0 0;
  padding: 0; }

.RadPicker {
  vertical-align: middle; }
  .RadPicker td {
    vertical-align: middle; }
  .RadPicker .RadInput {
    vertical-align: baseline; }
  .RadPicker .rcTable {
    table-layout: auto; }
  .RadPicker table.rcTable {
    border: 0;
    margin: 0;
    padding: 0; }
    .RadPicker table.rcTable td {
      border: 0;
      margin: 0;
      padding: 0; }
    .RadPicker table.rcTable .rcInputCell {
      padding: 0 4px 0 0; }
  .RadPicker td a {
    position: relative;
    outline: none;
    z-index: 2;
    margin: 0 0 0 0.5em;
    text-decoration: none; }
  .RadPicker .rcCalPopup,
  .RadPicker .rcTimePopup {
    display: block;
    height: 1.833em;
    width: 1.833em;
    box-sizing: border-box;
    line-height: 100em;
    overflow: hidden;
    text-decoration: none; }
    .RadPicker .rcCalPopup:before,
    .RadPicker .rcTimePopup:before {
      font-size: 1em;
      line-height: 1.7em;
      font-family: "TelerikWebUI";
      text-align: center;
      display: block;
      text-indent: 0; }
  .RadPicker .rcDisabled {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.RadCalendarMonthView .rcDisabled {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.rcIE > .rcShadBL, .rcIE > .rcShadBR, .rcIE > .rcShadTR {
  background-image: none; }

.RadPickerRTL table.rcTable .rcInputCell {
  padding: 0 0 0 4px; }

@font-face {
  font-family: 'TelerikWebUI';
  src: url('Common/TelerikWebUI.woff') format("woff"), url('Common/TelerikWebUI.ttf') format("truetype"); }

.rcFastPrev:before,
#rcMView_PrevY a:before {
  content: "\e132"; }

.rcPrev:before {
  content: "\e003"; }

.rcNext:before {
  content: "\e000"; }

.rcFastNext:before,
#rcMView_NextY a:before {
  content: "\e12f"; }

.rcCalPopup:before {
  content: "\e089"; }

.rcTimePopup:before {
  content: "\e08d"; }
