.RadDock {
  /*position: absolute;*/
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  outline: none;
  /* improves drag&drop in mobile browsers */
  -webkit-transform: rotate3d(0, 0, 1, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-transform: rotate3d(0, 0, 1, 0);
  -moz-backface-visibility: hidden;
  -moz-perspective: 1000;
  -o-transform: rotate3d(0, 0, 1, 0);
  -o-backface-visibility: hidden;
  -o-perspective: 1000;
  -ie-transform: rotate3d(0, 0, 1, 0);
  -ie-backface-visibility: hidden;
  -ie-perspective: 1000;
  /* Collapsed dock */
  /* Right to Left mode */ }
  .RadDock, .RadDock .rdTitleWrapper * {
    box-sizing: content-box;
    -moz-box-sizing: content-box; }
  .RadDock.rdRoundedCorner {
    border-radius: 0.41667em; }
  .RadDock.rdShadow {
    box-shadow: 2px 3px 4px #828282; }
  .RadDock.rdDragHelper {
    opacity: 0.5 !important;
    filter: alpha(opacity=50) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)  !important"; }
  .RadDock .rdTitleWrapper {
    position: relative;
    padding: 4px 10px;
    padding: 0.33333em 0.83333em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 1.41667em; }
  .RadDock.rdGripTop .rdTitleWrapper {
    height: 0.83333em;
    padding: 0em 0.83333em;
    min-height: 0.83333em; }
  .RadDock.rdNone .rdTitleWrapper {
    display: none; }
  .RadDock.rdRoundedCorner .rdTitleWrapper {
    border-radius: 0.41667em 0.41667em 0em 0em; }
  .RadDock .rdTitleWrapper .rdTitle {
    max-width: 60%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
    border-bottom: 0 none;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    line-height: 1.41667em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden; }
  .RadDock .rdCommands {
    position: absolute;
    top: 2px;
    right: 0.83333em;
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadDock .rdCommands:hover {
    cursor: auto; }
  .RadDock .rdListItem {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-right: 5px;
    width: 17px;
    height: 17px;
    border-radius: 0.16667em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-align: center; }
  .RadDock .rdListItem:last-child {
    margin-right: 0; }
  .RadDock .rdListItem button {
    width: 19px;
    height: 19px;
    vertical-align: top;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    display: inline-block;
    *zoom: 1;
    *display: block;
    text-indent: -9999px;
    *font-size: 0;
    *line-height: 0; }
  .RadDock .rdListItem button:hover {
    cursor: pointer; }
  .RadDock .rdExpand {
    background-position: -2px -662px; }
  .RadDock .rdExpand:hover {
    background-position: -22px -662px; }
  .RadDock .rdCollapse {
    background-position: -2px -622px; }
  .RadDock .rdCollapse:hover {
    background-position: -22px -622px; }
  .RadDock button, .RadDock .rdCustom {
    background-position: -2px -1002px; }
  .RadDock button:hover, .RadDock .rdCustom:hover {
    background-position: -22px -1002px; }
  .RadDock .rdClose {
    background-position: -1px -762px; }
  .RadDock .rdClose:hover {
    background-position: -21px -762px; }
  .RadDock .rdPin {
    background-position: -2px -482px; }
  .RadDock .rdPin:hover {
    background-position: -22px -482px; }
  .RadDock .rdUnpin {
    background-position: -2px -502px; }
  .RadDock .rdUnpin:hover {
    background-position: -22px -502px; }
  .RadDock.rdRoundedCorner .rdContentWrapper {
    border-radius: 0 0 5px 5px;
    border-radius: 0em 0em 0.41667em 0.41667em; }
  .RadDock.rdNone .rdContentWrapper {
    border-radius: 0.41667em; }
  .RadDock .rdContent {
    margin: 0.41667em 0.83333em;
    overflow-x: auto; }
  .RadDock.rdCollapsed {
    height: auto !important;
    overflow: hidden; }
  .RadDock.rdCollapsed .rdTitleWrapper {
    border-bottom: 0; }
  .RadDock.rdCollapsed.rdRoundedCorner, .RadDock.rdCollapsed.rdRoundedCorner .rdTitleWrapper {
    border-radius: 0.41667em 0.41667em 0em 0em; }
  .RadDock.rdRtl .rdCommands {
    left: 10px;
    right: auto; }

.RadDockZone {
  min-width: 100px;
  min-height: 50px;
  padding: 5px;
  border-width: 1px;
  border-style: solid; }
