@font-face {
  font-family: 'TelerikWebUI';
  src: url('Common/TelerikWebUI.woff') format("woff"), url('Common/TelerikWebUI.ttf') format("truetype");
  /* Safari, Android, iOS */ }
.RadSlider {
  font-size: 12px;
  width: 1.83333em;
  height: 1.83333em;
    /* th
        e dragHandle needs to have greater z-index than the increase/decrease handlers, as it can be positioned over the rounded corders
	of the track, part of those handles */
  /* any link inside RadSlider */
  /* slider wrapper class */
  /* horizontal slider */
  /* Font Arrows */
  /* hotizontal slider */
  /* vertical slider */
  /* end rslVertical styles */
  /* ITEMS AND TICKS */
  /* Item specific */
  /* Tick specific */
  /* LiveDrag=false */
  /* Position the elements of the slider */
  /* TrackPosition=Center */
  /* Item/Tick */
  /* Item/Tick text */
  /* set width of the ticks */ }
  .RadSlider, .RadSlider * {
    box-sizing: content-box;
    -moz-box-sizing: content-box; }
  .RadSlider .rslItem,
  .RadSlider .rslLargeTick span {
    font: normal .91em "Segoe UI", Arial, Verdana, sans-serif;
    color: #000; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadSlider .rslItem,
    .RadSlider .rslLargeTick span {
      font-size: .91em; } }
  .RadSlider .rslTrack {
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.16667em; }
  .RadSlider .rslDisabled {
    opacity: .5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
  .RadSlider .rslDisabled,
  .RadSlider .rslDisabled a,
  .RadSlider .rslDisabled li {
    cursor: no-drop; }
  .RadSlider .rslDisabled,
  .RadSlider .rslDisabled .rslItem,
  .RadSlider .rslDisabled .rslLargeTick span {
    font-family: arial,sans-serif; }
  .RadSlider a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    overflow: hidden; }
  .RadSlider a:focus,
  .RadSlider a:active {
    outline: none; }
  .RadSlider .rslHandle span,
  .RadSlider .rslDraghandle span {
    display: block; }
  .RadSlider .rslHorizontal,
  .RadSlider .rslVertical {
    position: relative;
    -moz-user-select: none;
    line-height: 0.16667em; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadSlider .rslHorizontal,
    .RadSlider .rslVertical {
      font-size: inherit; } }
  .RadSlider .rslHorizontal {
    height: 1.66667em;
    line-height: 1.83333em; }
  .RadSlider a.rslHandle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.66667em;
    line-height: 1.66667em;
    width: 1.66667em;
    box-sizing: border-box;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.16667em;
    overflow: hidden; }
  .RadSlider .rslHorizontal a.rslHandle {
    top: 50%;
    margin-top: -0.83333em; }
  .RadSlider a.rslHandle span {
    border-radius: 0.16667em; }
  .RadSlider .rslHorizontal a.rslDecrease,
  .RadSlider .rslHorizontal a.rslDecrease:hover,
  .RadSlider .rslHorizontal a.rslIncrease,
  .RadSlider .rslHorizontal a.rslIncrease:hover,
  .RadSlider .rslVertical a.rslDecrease,
  .RadSlider .rslVertical a.rslDecrease:hover,
  .RadSlider .rslVertical a.rslIncrease,
  .RadSlider .rslVertical a.rslIncrease:hover {
    background-position: 0 0; }
  .RadSlider .rslHorizontal a.rslDecrease {
    left: -0.25em; }
  .RadSlider .rslHorizontal a.rslIncrease {
    right: -0.25em; }
  .RadSlider .rslVertical a.rslDecrease {
    top: -0.25em; }
  .RadSlider .rslVertical a.rslIncrease {
    bottom: -0.25em; }
  .RadSlider a.rslHandle:before {
    display: block;
    width: 1em;
    height: 1em;
    margin: -.5em 0 0 -.5em;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.9em;
    line-height: 1;
    font-family: TelerikWebUI, monospace;
    text-indent: 0;
    color: #000;
    overflow: hidden;
    text-align: center; }
  .RadSlider .rslHorizontal a.rslDecrease:before {
    content: "\E00F"; }
  .RadSlider .rslHorizontal a.rslIncrease:before {
    content: "\E00C"; }
  .RadSlider .rslVertical a.rslDecrease:before {
    content: "\E00D"; }
  .RadSlider .rslVertical a.rslIncrease:before {
    content: "\E00E "; }
  @media \0screen\,screen\9 {
    .RadSlider a.rslHandle:before {
      font-size: 1.5em; }
    .RadSlider .rslHorizontal a.rslDecrease:before {
      content: "\21D0"; }
    .RadSlider .rslHorizontal a.rslIncrease:before {
      content: "\21D2"; }
    .RadSlider .rslVertical a.rslDecrease:before {
      content: "\21D1"; }
    .RadSlider .rslVertical a.rslIncrease:before {
      content: "\21D3"; } }
  .RadSlider .rslHorizontal a.rslDraghandle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0.25em;
    height: 1.66667em;
    line-height: 1.83333em;
    width: 0.75em;
    margin-top: -0.66667em;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid; }
  .RadSlider .rslHorizontal a.rslDraghandle span {
    height: 1.66667em;
    line-height: 1.83333em;
    width: 0.75em; }
  .RadSlider .rslHorizontal .rslTrack,
  .RadSlider .rslHorizontal .rslSelectedregion {
    height: 0.5em;
    line-height: 0.5em;
    background-position: 0 0; }
  .RadSlider .rslHorizontal .rslTrack {
    top: 50%;
    margin: -0.33333em 0em 0em; }
  .RadSlider .rslHorizontal .rslItemsWrapper {
    margin: 0 1px;
    /* The margin must equal the side border of the track element */ }
  .RadSlider .rslVertical {
    margin-top: 0.25em; }
    .RadSlider .rslVertical .rslTrack,
    .RadSlider .rslVertical .rslSelectedregion {
      width: 0.5em;
      background-position: 0 0; }
    .RadSlider .rslVertical .rslTrack {
      /*margin-top: px2em( -5px, 12 );*/
      border-width: 1px; }
    .RadSlider .rslVertical .rslItemsWrapper {
      margin: 1px 0;
      /* The margin must equal the side border of the track element */ }
    .RadSlider .rslVertical a.rslDraghandle {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-radius: 0.25em;
      width: 1.83333em;
      height: 0.75em;
      line-height: 0.66667em;
      margin-left: -0.66667em;
      /* improves drag&drop in mobile browsers */
      -webkit-transform: rotate3d(0, 0, 1, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      -moz-transform: rotate3d(0, 0, 1, 0);
      -moz-backface-visibility: hidden;
      -moz-perspective: 1000;
      -o-transform: rotate3d(0, 0, 1, 0);
      -o-backface-visibility: hidden;
      -o-perspective: 1000;
      -ie-transform: rotate3d(0, 0, 1, 0);
      -ie-backface-visibility: hidden;
      -ie-perspective: 1000;
      border-width: 1px;
      border-style: solid; }
    .RadSlider .rslVertical.rslLeft .rslItem {
      width: 25px !important; }
    .RadSlider .rslVertical .rslHandle.rslDecrease {
      margin-top: 0em; }
  .RadSlider .rslDisabled .rslLiveDragHandle {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .RadSlider .rslItemsWrapper,
  .RadSlider .rslItem,
  .RadSlider .rslLargeTick,
  .RadSlider .rslSmallTick {
    margin: 0;
    padding: 0;
    list-style: none !important; }
  .RadSlider .rslVertical .rslItemsWrapper .rslItemFirst,
  .RadSlider .rslHorizontal .rslItemsWrapper .rslItemFirst {
    background-image: none; }
  .RadSlider .rslItem {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    background-repeat: no-repeat; }
  .RadSlider .rslHorizontal .rslItem {
    text-align: center; }
  .RadSlider .rslItemsWrapper li.rslItemDisabled {
    color: #d0d0ce; }
  .RadSlider .rslMiddle .rslItem,
  .RadSlider .rslLeft .rslLargeTick,
  .RadSlider .rslLeft .rslSmallTick {
    background-position: left center; }
  .RadSlider .rslTop .rslItem {
    background-position: left top; }
  .RadSlider .rslBottom .rslItem {
    background-position: left bottom; }
  .RadSlider .rslCenter .rslItem,
  .RadSlider .rslTop .rslLargeTick,
  .RadSlider .rslTop .rslSmallTick {
    background-position: center top; }
  .RadSlider .rslLeft .rslItem {
    background-position: left top; }
  .RadSlider .rslRight .rslItem {
    background-position: right top; }
  .RadSlider .rslLargeTick,
  .RadSlider .rslSmallTick {
    cursor: default;
    /* We need this in order to position the SPAN holding the text. */
    position: relative;
    background-repeat: no-repeat; }
  .RadSlider .rslCenter .rslLargeTick,
  .RadSlider .rslCenter .rslSmallTick,
  .RadSlider .rslMiddle .rslLargeTick,
  .RadSlider .rslMiddle .rslSmallTick {
    background-position: center center; }
  .RadSlider .rslRight .rslLargeTick,
  .RadSlider .rslRight .rslSmallTick {
    background-position: right center; }
  .RadSlider .rslBottom .rslLargeTick,
  .RadSlider .rslBottom .rslSmallTick {
    background-position: center bottom; }
  .RadSlider .rslLiveDragHandleActive {
    opacity: .4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }
  .RadSlider .rslLiveDragHandle {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  .RadSlider .rslHandle,
  .RadSlider .rslDraghandle,
  .RadSlider .rslTrack,
  .RadSlider .rslSelectedregion,
  .RadSlider .rslItemsWrapper,
  .RadSlider .rslLargeTick span {
    position: absolute;
    top: 0;
    left: 0; }
  .RadSlider .rslHorizontal .rslTrack,
  .RadSlider .rslHorizontal .rslItemsWrapper {
    left: 1.66667em; }
  .RadSlider .rslVertical .rslTrack,
  .RadSlider .rslVertical .rslItemsWrapper {
    top: 1.66667em; }
  .RadSlider .rslVertical.rslRight a.rslHandle {
    left: auto;
    right: 8px;
    margin-right: -0.41667em;
    margin-left: 0; }
  .RadSlider .rslHorizontal .rslIncrease,
  .RadSlider .rslRight .rslHandle,
  .RadSlider .rslLeft .rslItemsWrapper,
  .RadSlider .rslLeft .rslLargeTick span,
  .RadSlider .rslVertical .rslLargeTick span.rslBRItemText {
    left: auto;
    right: 0; }
  .RadSlider .rslTop .rslItemsWrapper,
  .RadSlider div.rslHorizontal.rslBottom a.rslHandle,
  .RadSlider .rslVertical .rslIncrease,
  .RadSlider .rslTop .rslLargeTick span,
  .RadSlider .rslHorizontal .rslLargeTick span.rslBRItemText {
    top: auto;
    bottom: 0; }
  .RadSlider .rslHorizontal.rslTop .rslLargeTick span,
  .RadSlider .rslHorizontal.rslTop .rslSmallTick span {
    bottom: -1.66667em; }
  .RadSlider .rslBottom div.rslTrack {
    top: auto;
    bottom: 0.5em; }
  .RadSlider .rslVertical .rslTrack {
    left: 50%;
    margin-left: -0.33333em; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadSlider .rslVertical .rslTrack {
      margin-left: -0.33333em; }
    .RadSlider .rslBottom div.rslTrack {
      bottom: 0.5em; }
    .RadSlider .rslHorizontal.rslTop .rslLargeTick span,
    .RadSlider .rslHorizontal.rslTop .rslSmallTick span {
      bottom: -1.66667em; }
    .RadSlider .rslHorizontal.rslTop .rslLargeTick,
    .RadSlider .rslHorizontal.rslTop .rslSmallTick {
      height: 2.75em !important; } }
  .RadSlider .rslRight div.rslTrack {
    left: auto;
    right: 8px; }
  .RadSlider .rslMiddle .rslTrack,
  .RadSlider .rslMiddle .rslHandle {
    top: 50%; }
  .RadSlider .rslHorizontal.rslMiddle a.rslHandle {
    /* half of the height of the handle */
    top: 50%;
    margin-top: -0.83333em; }
  .RadSlider .rslVertical a.rslHandle {
    left: 50%;
    margin-left: -0.83333em; }
  .RadSlider .rslHorizontal .rslItem,
  .RadSlider .rslHorizontal .rslLargeTick,
  .RadSlider .rslHorizontal .rslSmallTick {
    float: left; }
  .RadSlider .rslLargeTick span {
    white-space: nowrap; }
  .RadSlider .rslHorizontal .rslLargeTick span {
    width: 100%;
    text-align: center; }
  .RadSlider .rslVertical .rslLargeTick span {
    height: 100%; }
  .RadSlider .rslHorizontal .rslSmallTick,
  .RadSlider .rslHorizontal .rslLargeTick {
    width: 1px; }
  .RadSlider .rslVertical .rslSmallTick,
  .RadSlider .rslVertical .rslLargeTick {
    height: 1px; }
