.RadToolBar {
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1; }
  .RadToolBar .rtbUL,
  .RadToolBar .rtbItem,
  .RadToolBar .rtbTemplate,
  .RadToolBar .rtbWrap,
  .RadToolBar .rtbOut,
  .RadToolBar .rtbMid,
  .RadToolBar .rtbIn,
  .RadToolBar .rtbSplBtnActivator,
  .RadToolBar .rtbChoiceArrow,
  .RadToolBar .rtbSeparator {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  .RadToolBar .rtbOuter {
    border-width: 1px;
    border-style: solid; }
  .RadToolBar .rtbMiddle {
    background-position: 0 0;
    background-repeat: repeat-x; }
  .RadToolBar .rtbInner {
    padding: 1px; }
  .RadToolBar .rtbUL {
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadToolBar .rtbItem {
    margin: 0 1px;
    padding: 0; }
  .RadToolBar .rtbWrap {
    text-decoration: none;
    outline: 0;
    cursor: pointer; }
  .RadToolBar .rtbWrap:hover,
  .RadToolBar .rtbWrap:focus {
    outline: 0; }
  .RadToolBar .rtbMid {
    padding: 0 3px 3px 0; }
  .RadToolBar .rtbIn {
    padding: 3px 0 0 3px;
    overflow: hidden; }
  .RadToolBar .rtbText {
    padding: 0 3px;
    vertical-align: middle; }
  .RadToolBar .rtbText u {
    vertical-align: baseline; }
  .RadToolBar .rtbIcon {
    border: 0;
    padding: 2px;
    vertical-align: middle;
    display: inline-block; }
  .RadToolBar span.rtbIcon {
    padding: 0;
    width: 16px;
    height: 16px; }
  .RadToolBar .rtbChoiceArrow {
    margin: 0 0 0 4px;
    padding: 0 0 0 2px;
    width: 18px;
    height: 20px;
    background-color: transparent;
    background-position: 100% 50%;
    background-repeat: no-repeat; }
  .RadToolBar .rtbWrap, .RadToolBar .rtbOut, .RadToolBar .rtbMid, .RadToolBar .rtbIn {
    background-repeat: no-reapeat; }
  .RadToolBar .rtbWrap {
    background-position: 0 100%; }
  .RadToolBar .rtbOut {
    background-position: 100% 0; }
  .RadToolBar .rtbMid {
    background-position: 100% 100%; }
  .RadToolBar .rtbIn {
    background-position: 0 0; }
  .RadToolBar .rtbDropDown .rtbChoiceArrow {
    width: 16px; }
  .RadToolBar .rtbDisabled {
    filter: alpha(opacity=40);
    opacity: .4; }
    .RadToolBar .rtbDisabled .rtbWrap {
      cursor: default; }
    .RadToolBar .rtbDisabled .rtbIcon,
    .RadToolBar .rtbDisabled .rtbChoiceArrow {
      filter: alpha(opacity=40); }
  .RadToolBar .rtbSeparator {
    *line-height: 0;
    *font-size: 0; }
  .RadToolBar .rtbSeparator .rtbText {
    display: none; }

/* <items> */
.RadToolBar .rtbVOriented {
  text-align: center; }

.RadToolBar .rtbDropDown .rtbVOriented {
  position: relative;
  padding-right: 20px; }

.RadToolBar .rtbSplBtn .rtbVOriented {
  position: relative;
  padding-right: 25px; }

.RadToolBar .rtbVOriented .rtbIcon {
  display: block;
  margin: 0 auto;
  *margin: 0; }

.RadToolBar .rtbVOriented .rtbChoiceArrow {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0; }

/* Image sprite placeholder size */
.RadToolBarDropDown span.rtbIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0; }

/* <background positions> */
/* </background positions> */
/* </items> */
.RadToolBar_Horizontal .rtbSeparator {
  height: 24px;
  width: 1px;
  border-left-width: 1px;
  border-left-style: solid; }

.RadToolBar_Vertical .rtbMiddle {
  background-position: top right;
  background-repeat: repeat-y; }
.RadToolBar_Vertical .rtbItem {
  display: block;
  zoom: normal;
  margin: 2px 0; }
  .RadToolBar_Vertical .rtbItem .rtbWrap,
  .RadToolBar_Vertical .rtbItem .rtbOut,
  .RadToolBar_Vertical .rtbItem .rtbMid,
  .RadToolBar_Vertical .rtbItem .rtbIn {
    display: block; }
.RadToolBar_Vertical .rtbSeparator {
  width: 100%;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid; }

.rtbSlide {
  padding: 0 8px 10px 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: left;
  display: none;
  position: absolute;
  overflow: hidden; }

.RadToolBarDropDown {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  cursor: default;
  background-repeat: repeat-y;
  background-position: 0 0;
  position: relative; }
  .RadToolBarDropDown.rtbNoBackground {
    border: 0;
    background-image: none;
    background-color: transparent; }
  .RadToolBarDropDown .rtbGroup {
    padding: 1px 0;
    margin: 0;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none;
    display: block; }
  .RadToolBarDropDown .rtbShadows .rtbGroup,
  .RadToolBarDropDown .rtbRoundedCorners .rtbGroup {
    padding: 0;
    height: 100%;
    position: relative; }
  .RadToolBarDropDown .rtbItem {
    margin: 0;
    padding: 0 0 0 2px;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    position: relative; }
  .RadToolBarDropDown .rtbShadows .rtbItem,
  .RadToolBarDropDown .rtbRoundedCorners .rtbItem {
    z-index: 1; }
  .RadToolBarDropDown .rtbWrap {
    margin: 0;
    padding: 0 0 0 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% -22px;
    text-decoration: none;
    line-height: 22px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
  .RadToolBarDropDown .rtbWrap:hover,
  .RadToolBarDropDown .rtbWrap:focus {
    outline: 0; }
  .RadToolBarDropDown .rtbIcon {
    border: 0;
    display: block;
    position: absolute;
    left: 5px;
    top: 2px; }
  .RadToolBarDropDown .rtbText {
    padding: 0 30px 0 3px;
    display: block; }
  .RadToolBarDropDown .rtbAccessKey {
    font-size: 10px;
    font-weight: normal;
    float: right;
    padding-right: 8px; }
  .RadToolBarDropDown .rtbDisabled {
    filter: alpha(opacity=40);
    opacity: .4; }
    .RadToolBarDropDown .rtbDisabled .rtbWrap {
      cursor: default; }
    .RadToolBarDropDown .rtbDisabled .rtbIcon,
    .RadToolBarDropDown .rtbDisabled .rtbChoiceArrow {
      filter: alpha(opacity=40); }
  .RadToolBarDropDown .rtbSeparator {
    margin: 1px 1px 1px 30px;
    padding: 0;
    height: 0;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    overflow: hidden;
    position: relative; }
  .RadToolBarDropDown .rtbTemplate {
    line-height: 22px;
    background-image: none; }
  .RadToolBarDropDown .rtbRoundedCorners {
    margin-top: 1px;
    padding: 4px 0 0 4px;
    height: 100%;
    border: 0;
    background-position: 0 0; }
  .RadToolBarDropDown .rtbTopFix,
  .RadToolBarDropDown .rtbTopRight,
  .RadToolBarDropDown .rtbBottomFix,
  .RadToolBarDropDown .rtbBottomLeft,
  .RadToolBarDropDown .rtbBottomRight {
    width: 4px;
    height: 4px;
    border: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    position: absolute;
    overflow: hidden; }
  .RadToolBarDropDown .rtbTopRight {
    height: 100%;
    background-position: 100% 0;
    top: 0;
    right: -4px; }
  .RadToolBarDropDown .rtbBottomLeft {
    width: 100%;
    background-position: 0 100%;
    bottom: -4px;
    left: 0; }
  .RadToolBarDropDown .rtbBottomRight {
    width: 8px;
    background-position: 100% 100%;
    bottom: -4px;
    right: -4px; }
  .RadToolBarDropDown .rtbBottomFix {
    width: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-position: -1px 0;
    bottom: -4px;
    left: 5px;
    right: 0; }
  .RadToolBarDropDown .rtbTopFix {
    width: auto;
    border-top-width: 1px;
    border-top-style: solid;
    background-position: -1px 0;
    top: 0;
    left: 5px;
    right: 0; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowLeft,
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowRight {
    background-image: url('Common/Menu/ShadowBottom.png'); }
  .RadToolBarDropDown .rtbShadows .rtbTopShadowRight {
    background-image: url('Common/Menu/ShadowRight.png'); }
  .RadToolBarDropDown .rtbShadows .rtbTopShadowRight {
    right: -5px; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowLeft {
    bottom: -5px;
    left: 1px; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowRight {
    width: 4px;
    height: 5px;
    bottom: -5px;
    right: -5px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowLeft,
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowRight {
    background-image: url('Common/Menu/RoundedShadowBottom.png'); }
  .RadToolBarDropDown .rtbRoundedCorners .rtbTopShadowRight {
    width: 5px;
    background-image: url('Common/Menu/RoundedShadowRight.png');
    right: -8px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowLeft {
    height: 5px;
    bottom: -8px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowRight {
    bottom: -8px;
    right: -8px;
    width: 7px;
    height: 8px; }

.RadToolBar_rtl {
  text-align: right;
  float: right; }
  .RadToolBar_rtl .rtbChoiceArrow {
    margin-left: 0;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 2px;
    background-position: 0 50%; }
  .RadToolBar_rtl .rtbVOriented .rtbChoiceArrow {
    right: auto;
    left: 0; }
  .RadToolBar_rtl .rtbDropDown .rtbVOriented {
    padding-right: 0;
    padding-left: 20px; }
  .RadToolBar_rtl .rtbSplBtn .rtbVOriented {
    padding-right: 0;
    padding-left: 25px; }

.RadToolBarDropDown_rtl {
  text-align: right;
  background-position: 100% 0; }
  .RadToolBarDropDown_rtl .rtbSlide {
    text-align: right; }
  .RadToolBarDropDown_rtl .rtbGroup {
    background-position: 100% 0; }
  .RadToolBarDropDown_rtl .rtbWrap {
    padding: 0 32px 0 0; }
  .RadToolBarDropDown_rtl .rtbIcon {
    left: auto;
    right: 5px; }
  .RadToolBarDropDown_rtl .rtbText {
    padding: 0 3px 0 30px; }
  .RadToolBarDropDown_rtl .rtbSeparator {
    margin: 1px 30px 1px 1px; }
  .RadToolBarDropDown_rtl .rtbTopFix,
  .RadToolBarDropDown_rtl .rtbBottomFix {
    background-position: 100% 0; }
