.RadSiteMap_Black {
  color: white;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Black .rsmManyLevels .rsmLink {
    border-bottom: 2px solid #3a3a3a; }
  .RadSiteMap_Black .rsmTwoLevels .rsmLink, .RadSiteMap_Black .rsmThreeLevels .rsmLink, .RadSiteMap_Black .rsmManyLevels .rsmLevel1 .rsmLink {
    border-bottom: 1px solid #3a3a3a; }
  .RadSiteMap_Black .rsmOneLevel .rsmLink, .RadSiteMap_Black .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Black .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Black .rsmManyLevels .rsmLevel2 .rsmLink {
    border: 0;
    border-radius: 3px;
    color: #dddddd; }
    .RadSiteMap_Black .rsmOneLevel .rsmLink:hover, .RadSiteMap_Black .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Black .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Black .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #9eda29;
      background-position: 0 -1000px; }
  .RadSiteMap_Black .rsmLink,
  .RadSiteMap_Black .rsmTemplate {
    color: #96ce28; }
  .RadSiteMap_Black .rsmLink {
    background-image: url('Common/radGradientListSprite.png'); }
  .RadSiteMap_Black .rsmLink:hover {
    color: #c6fe68; }
  .RadSiteMap_Black .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }
