.RadListBox_WebBlue {
  color: black;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
.RadListBox_WebBlue .rlbButton {
  color: #0d202b;
  border-radius: 0.16667em;
  border-color: #4e667e;
  background-color: #d7e2e7;
  background-image: url('../WebBlue/Common/radGradientButtonSprite.png');
  background-image: linear-gradient(#e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%); }
  .RadListBox_WebBlue .rlbButton:hover {
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%); }
  .RadListBox_WebBlue .rlbButton:active {
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%); }
  .RadListBox_WebBlue .rlbButton.rlbDisabled {
    border-color: #c1c4c8;
    background-color: #f2f2f3;
    background-image: linear-gradient(#f4f5f5 0%, #eaecee 50%, #dbdfe2 50%, #f2f2f3 100%); }
.RadListBox_WebBlue .rlbGroup {
  background-color: white;
  border-color: #768ca5; }
.RadListBox_WebBlue .rlbItem:hover, .RadListBox_WebBlue .rlbItem.rlbHovered {
  background-color: #e9f8ff;
  border-color: #e9f8ff; }
.RadListBox_WebBlue .rlbItem.rlbSelected {
  background-color: #9edaf2;
  border-color: #9edaf2; }
.RadListBox_WebBlue .rlbHighlight {
  background-color: #e9f8ff; }
.RadListBox_WebBlue .rlbCheckAllItems {
  background-color: #748ea3; }
.RadListBox_WebBlue .rlbTemplateContent {
  border-color: #768ca5;
  background-color: white; }
.RadListBox_WebBlue .rlbHeader {
  border-color: #3d556c;
  background-image: -webkit-linear-gradient(#89a1b6, #6b849d 50%, #597791 50%, #748ea3);
  background-image: -moz-linear-gradient(#89a1b6, #6b849d 50%, #597791 50%, #748ea3);
  background-image: -ms-linear-gradient(#89a1b6, #6b849d 50%, #597791 50%, #748ea3);
  background-image: -o-linear-gradient(#89a1b6, #6b849d 50%, #597791 50%, #748ea3);
  background-image: linear-gradient(#89a1b6, #6b849d 50%, #597791 50%, #748ea3); }
.RadListBox_WebBlue .rlbFooter {
  border-color: #d3dde4;
  background-color: #f0f2f4;
  box-shadow: 0 1px 0 #fff inset; }
.RadListBox_WebBlue .rlbGroup .rlbDropClueAbove {
  border-top-color: #768ca5; }
.RadListBox_WebBlue .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #768ca5; }
.RadListBox_WebBlue .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_WebBlue .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_WebBlue .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_WebBlue .rlbGroup .rlbHovered.rlbDropClueBelow {
  border-color: #FFF; }
