.RadMediaPlayer_Vista {
  font-weight: normal;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadMediaPlayer_Vista .rmpToolbar {
    color: black;
    border-color: #3676a9;
    background-image: linear-gradient(to top, rgba(139, 184, 222, 0.8) 0%, rgba(149, 186, 221, 0.8) 50%, rgba(186, 210, 228, 0.8) 50%, rgba(213, 226, 236, 0.8) 100%); }
  .RadMediaPlayer_Vista div.rmpRightControlsSet {
    padding-top: 9px; }
  .RadMediaPlayer_Vista div.rmpVolContrBar {
    border: 1px solid #3676a9;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(139, 184, 222, 0.8) 0%, rgba(213, 226, 236, 0.8) 100%); }
  .RadMediaPlayer_Vista div.rslHorizontal .rslTrack {
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0 #ffffff #ffffff #b0b0b0;
    background: #e7eaea; }
  .RadMediaPlayer_Vista div.rslVertical .rslTrack {
    width: 5px !important;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #ffffff #b0b0b0 #b0b0b0;
    background: #e7eaea; }
  .RadMediaPlayer_Vista .rmpToolbar div.rslSelectedregion {
    background-image: none;
    background-color: #0f41cd; }
  .RadMediaPlayer_Vista div.rslHorizontal .rslSelectedregion {
    height: 4px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #84c5ff #000000 #6e96ff #000000;
    background-image: linear-gradient(to right, #0f41cd 0%, #0f41cd 70%, #63bbff); }
  .RadMediaPlayer_Vista .rmpLoadProgressBar {
    background-color: #86a4dc; }
  .RadMediaPlayer_Vista .rslDraghandle {
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(176, 176, 176, 0.6); }
  .RadMediaPlayer_Vista div.rmpToolbar a.rslDraghandle {
    background-image: linear-gradient(to top, #cfcfcf 0%, #dddddd 55%, #ebebeb 55%, #f2f2f2 100%); }
    .RadMediaPlayer_Vista div.rmpToolbar a.rslDraghandle:hover, .RadMediaPlayer_Vista div.rmpToolbar a.rslDraghandle:active {
      background-image: linear-gradient(to top, #a7d9f5 0%, #bee6fd 52%, #d9f0fc 52%, #e4f4fc 100%);
      border: 1px solid #3c7fb1;
      background-position: 0 0; }
    .RadMediaPlayer_Vista div.rmpToolbar a.rslDraghandle span {
      border: 1px solid #ececec;
      border-radius: 1px; }
  .RadMediaPlayer_Vista div.rslHorizontal a.rslDraghandle {
    width: 6px;
    height: 16px;
    margin-top: -6px;
    border: 1px solid #707070; }
    .RadMediaPlayer_Vista div.rslHorizontal a.rslDraghandle span {
      height: 14px; }
  .RadMediaPlayer_Vista div.rslVertical .rslSelectedregion {
    width: 4px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #000000 #ffffff #000000 #e7eaea;
    background-image: linear-gradient(to top, #0f41cd 0%, #0f41cd 70%, #63bbff); }
  .RadMediaPlayer_Vista div.rslVertical a.rslDraghandle {
    width: 16px;
    height: 6px;
    margin-left: -6px;
    border: 1px solid #707070; }
    .RadMediaPlayer_Vista div.rslVertical a.rslDraghandle span {
      height: 4px; }
  .RadMediaPlayer_Vista .rmpPlaylist {
    background: #ebeef6; }
    .RadMediaPlayer_Vista .rmpPlaylist li a {
      background: #ebeef6;
      color: #000000; }
      .RadMediaPlayer_Vista .rmpPlaylist li a:hover {
        background: #d7e6f3; }
    .RadMediaPlayer_Vista .rmpPlaylist li.rmpActive a {
      background: #b3d4f9; }
    .RadMediaPlayer_Vista .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #d5d9e0;
      vertical-align: top; }
      .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #c7cbd1; }
    .RadMediaPlayer_Vista .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Vista .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Vista .rmpPlaylistVertical li,
  .RadMediaPlayer_Vista .rmpPlaylistVerticalInside li {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #c7cbd1; }
  .RadMediaPlayer_Vista .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Vista .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid #94aac8; }
  .RadMediaPlayer_Vista .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Vista .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid #94aac8; }
  .RadMediaPlayer_Vista .rmpPlaylistHorizontal li {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #c7cbd1; }
    .RadMediaPlayer_Vista .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Vista .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap {
    border-right: 1px solid #c7cbd1; }
  .RadMediaPlayer_Vista .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #c7cbd1; }
  .RadMediaPlayer_Vista .rmpBanner {
    border: 1px solid #ebeef6; }
    .RadMediaPlayer_Vista .rmpBanner .rmpActionButton {
      background: #ebeef6; }
  .RadMediaPlayer_Vista .rmpBigPlayButton,
  .RadMediaPlayer_Vista .rmpBigPauseButton {
    background: rgba(3, 70, 137, 0.4); }
  .RadMediaPlayer_Vista .rmpToolTip,
  .RadMediaPlayer_Vista .rmpBigPlayIcon,
  .RadMediaPlayer_Vista .rmpBigPauseIcon {
    background-image: url('../Vista/MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Vista .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Vista .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Vista .rmpToolTip {
    background-position: -123px -241px; }

.RadMediaPlayer_Vista {
  font-size: 16px; }
  .RadMediaPlayer_Vista .rmpPlaylist .rmpTitle {
    font-size: 0.75em; }
  .RadMediaPlayer_Vista .rmpToolbar .rmpActionButton {
    color: #454545; }
    .RadMediaPlayer_Vista .rmpToolbar .rmpActionButton:hover,
    .RadMediaPlayer_Vista .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: #0066cc; }
  .RadMediaPlayer_Vista .rmpSocialShareBox {
    background-color: #f0f0f0; }
  .RadMediaPlayer_Vista .sshLinkItem {
    color: black;
    border-color: #707070;
    color: black;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3 0%, #ececec 50%, #dddddd 50%, #d2d2d2 100%); }
    .RadMediaPlayer_Vista .sshLinkItem:active, .RadMediaPlayer_Vista .sshLinkItem:hover {
      color: black; }
