.RadTreeView_Vista {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadTreeView_Vista a.rtIn {
    *color: black; }
  .RadTreeView_Vista .rtHover .rtIn {
    color: #363636;
    border: 1px solid #99defd;
    background-color: #DFF2FC;
    background-image: url('../Vista/TreeView/ItemHoveredBg.png'); }
  .RadTreeView_Vista .rtSelected .rtIn {
    color: #363636;
    border: 1px solid #99defd;
    background-color: #AEDDF5;
    background-image: url('../Vista/TreeView/ItemSelectedBg.png'); }
  .RadTreeView_Vista .rtEdit .rtIn {
    border-color: #99defd;
    background: #ffffff; }
    .RadTreeView_Vista .rtEdit .rtIn input {
      color: black;
      font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Vista .rtChecked,
  .RadTreeView_Vista .rtUnchecked,
  .RadTreeView_Vista .rtIndeterminate {
    background-image: url('../Vista/Common/radFormToggleSprite.png');
    _background-image: url('../Vista/Common/radFormToggleSpriteIE6.png'); }
  .RadTreeView_Vista .rtLoadingIcon {
    background-image: url('../Vista/Common/loading_small.gif'); }
  .RadTreeView_Vista .rtSelected .rtLoadingBefore,
  .RadTreeView_Vista .rtSelected .rtLoadingAfter,
  .RadTreeView_Vista .rtSelected .rtLoadingBelow {
    color: #333333; }
  .RadTreeView_Vista .rtPlus,
  .RadTreeView_Vista .rtMinus {
    margin-left: -1.1em;
    color: #595959;
    font-family: Arial,Helvetica,sans-serif; }
    .RadTreeView_Vista .rtPlus:before,
    .RadTreeView_Vista .rtMinus:before {
      font-size: 0.7em;
      border: 0; }
      @media screen and (min-width: 0 \0) {
        .RadTreeView_Vista .rtPlus:before,
        .RadTreeView_Vista .rtMinus:before {
          font-size: 1.5em; } }
  .RadTreeView_Vista .rtPlus:before {
    content: "\25B7"; }
  .RadTreeView_Vista .rtMinus:before {
    content: "\25E2"; }
  @media screen\9 {
    .RadTreeView_Vista .rtPlus,
    .RadTreeView_Vista .rtMinus {
      margin-left: -18px;
      background-image: url('../Vista/TreeView/PlusMinus.png'); } }
  .RadTreeView_Vista .rtLines .rtLI,
  .RadTreeView_Vista .rtLines .rtLI .rtUL,
  .RadTreeView_Vista .rtLines .rtTop,
  .RadTreeView_Vista .rtLines .rtLast .rtTop,
  .RadTreeView_Vista .rtLines .rtMid,
  .RadTreeView_Vista .rtLines .rtBot {
    *background-image: none; }
  .RadTreeView_Vista .rtLines .rtTop:before,
  .RadTreeView_Vista .rtLines .rtMid:before,
  .RadTreeView_Vista .rtLines .rtBot:before,
  .RadTreeView_Vista .rtLines .rtLI:before {
    border: 0; }

.RadTreeView_Vista_disabled .rtIn,
.RadTreeView_Vista .rtDisabled .rtIn {
  color: #ccc; }
