.RadMediaPlayer_Web20 {
  font-weight: normal;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #ffffff; }
  .RadMediaPlayer_Web20 .rmpToolbar {
    color: white;
    border-color: #213468;
    background-image: linear-gradient(to top, rgba(61, 86, 142, 0.8) 0%, rgba(41, 60, 110, 0.8) 51%, rgba(53, 68, 123, 0.8) 52%, rgba(89, 113, 165, 0.8) 100%); }
  .RadMediaPlayer_Web20 div.rmpRightControlsSet {
    padding-top: 9px; }
  .RadMediaPlayer_Web20 div.rmpVolContrBar {
    padding: 11px 8px;
    border: 1px solid #213468;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(41, 60, 110, 0.8) 0%, rgba(89, 113, 165, 0.8) 100%); }
  .RadMediaPlayer_Web20 .rmpToolbar div.rslTrack {
    background-image: none;
    background-color: #d8e8ff; }
  .RadMediaPlayer_Web20 div.rslHorizontal .rslTrack {
    border: 1px solid #d5dce4;
    border-top-color: #7d92aa;
    background-image: linear-gradient(to bottom, #c4ddff 0%, #ecf4ff 100%); }
  .RadMediaPlayer_Web20 div.rslVertical .rslTrack {
    border-left: 0 none;
    background-image: linear-gradient(to right, #c4ddff, #ecf4ff); }
  .RadMediaPlayer_Web20 .rmpToolbar div.rslSelectedregion {
    background-image: none;
    background-color: #67cd0f; }
  .RadMediaPlayer_Web20 div.rslHorizontal .rslSelectedregion {
    height: 4px;
    border: 1px solid #6eff79;
    background-image: linear-gradient(to right, #67cd0f 0%, #67cd0f 70%, #e0ff91 100%); }
  .RadMediaPlayer_Web20 div.rslVertical .rslSelectedregion {
    width: 4px;
    border: 1px solid #6eff79;
    background-image: linear-gradient(to top, #67cd0f 0%, #67cd0f 70%, #e0ff91 100%); }
  .RadMediaPlayer_Web20 .rmpLoadProgressBar {
    background-color: #86a4dc; }
  .RadMediaPlayer_Web20 .rslDraghandle,
  .RadMediaPlayer_Web20 .rslTrack,
  .RadMediaPlayer_Web20 .rslSelectedregion {
    border-radius: 1px; }
  .RadMediaPlayer_Web20 div.rmpToolbar a.rslDraghandle {
    background-image: linear-gradient(to bottom, #a0badd 0%, #7a94c6 52%, #7a94c6 52%, #95b6e0 100%);
    border: 1px solid #6788be; }
    .RadMediaPlayer_Web20 div.rmpToolbar a.rslDraghandle span {
      border: 1px solid #b5c8e4; }
    .RadMediaPlayer_Web20 div.rmpToolbar a.rslDraghandle:hover, .RadMediaPlayer_Web20 div.rmpToolbar a.rslDraghandle:active {
      background-image: linear-gradient(to bottom, white 0%, #b0caf3 52%, #b0caf3 52%, #ebf4ff 100%);
      border: 1px solid #7496ce;
      background-position: 0 0; }
  .RadMediaPlayer_Web20 div.rslHorizontal a.rslDraghandle {
    width: 6px;
    height: 16px;
    margin-top: -6px; }
    .RadMediaPlayer_Web20 div.rslHorizontal a.rslDraghandle span {
      height: 14px; }
  .RadMediaPlayer_Web20 div.rslVertical a.rslDraghandle {
    width: 16px;
    height: 6px;
    margin-left: -6px; }
    .RadMediaPlayer_Web20 div.rslVertical a.rslDraghandle span {
      height: 4px; }
  .RadMediaPlayer_Web20 .rmpPlaylist {
    background: #e7f1ff; }
    .RadMediaPlayer_Web20 .rmpPlaylist li a {
      background: #e7f1ff;
      color: #000000; }
      .RadMediaPlayer_Web20 .rmpPlaylist li a:hover {
        background: #cddef7; }
    .RadMediaPlayer_Web20 .rmpPlaylist li.rmpActive a {
      background: #d4ffbc; }
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #c7d4e8;
      vertical-align: top; }
      .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #96a9c6; }
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Web20 .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Web20 .rmpPlaylistVertical li,
  .RadMediaPlayer_Web20 .rmpPlaylistVerticalInside li {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #94aac8; }
  .RadMediaPlayer_Web20 .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Web20 .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid #94aac8; }
  .RadMediaPlayer_Web20 .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Web20 .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid #94aac8; }
  .RadMediaPlayer_Web20 .rmpPlaylistHorizontal li {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #94aac8; }
    .RadMediaPlayer_Web20 .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Web20 .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap {
    border-right: 1px solid #94aac8; }
  .RadMediaPlayer_Web20 .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #94aac8; }
  .RadMediaPlayer_Web20 .rmpBanner {
    border: 1px solid #b5c8e4; }
    .RadMediaPlayer_Web20 .rmpBanner .rmpActionButton {
      background: #b5c8e4; }
  .RadMediaPlayer_Web20 .rmpBigPlayButton,
  .RadMediaPlayer_Web20 .rmpBigPauseButton {
    background: rgba(133, 200, 67, 0.4); }
  .RadMediaPlayer_Web20 .rmpToolTip,
  .RadMediaPlayer_Web20 .rmpBigPlayIcon,
  .RadMediaPlayer_Web20 .rmpBigPauseIcon {
    background-image: url('../Web20/MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Web20 .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Web20 .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Web20 .rmpToolTip {
    background-position: -123px -241px; }

.RadMediaPlayer_Web20 {
  font-size: 16px; }
  .RadMediaPlayer_Web20 .rmpPlaylist .rmpTitle {
    font-size: 0.75em; }
  .RadMediaPlayer_Web20 .rmpToolbar .rmpActionButton {
    color: white; }
    .RadMediaPlayer_Web20 .rmpToolbar .rmpActionButton:hover,
    .RadMediaPlayer_Web20 .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: #85c843; }
  .RadMediaPlayer_Web20 .rmpSocialShareBox {
    background-color: white;
    color: #45709b; }
  .RadMediaPlayer_Web20 .sshLinkItem {
    color: white;
    border-color: #0f1d48;
    color: white;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2 0%, #5762a3 50%, #3c4d8f 50%, #687dc1 100%); }
    .RadMediaPlayer_Web20 .sshLinkItem:active, .RadMediaPlayer_Web20 .sshLinkItem:hover {
      color: #0f3789; }
