.RadComboBox_Default {
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.33333em; }
  .RadComboBox_Default .rcbInner {
    border-color: #8e8e8e;
    color: #333333;
    background-color: white;
    border-radius: 3px; }
  .RadComboBox_Default .rcbInput {
    color: #333333; }
  .RadComboBox_Default .rcbEmptyMessage {
    color: #a5a5a5; }
  .RadComboBox_Default .rcbActionButton {
    border-radius: 0 3px 3px 0;
    background-image: url('../Default/Common/radGradientButtonSprite.png');
    border-color: #8a8a8a;
    color: #333333;
    background-color: #e8e8e8;
    background-image: linear-gradient(#faf9f9 0%, #e8e8e8 100%); }
    .RadComboBox_Default .rcbActionButton .rcbIcon {
      *background-image: url('../Common/Sprites/radActionsSprite.png');
      *background-position: -4px -24px; }
  .RadComboBox_Default .rcbHovered {
    border-color: #515151;
    color: black;
    background-color: white; }
    .RadComboBox_Default .rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_Default .rcbHovered .rcbActionButton {
      border-color: #515151;
      color: black;
      background-color: #c3c3c3;
      background-image: linear-gradient(#e2e2e2 0%, #c3c3c3 100%); }
      .RadComboBox_Default .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -4px -24px; }
  .RadComboBox_Default .rcbFocused {
    border-color: #515151;
    color: black;
    background-color: white; }
    .RadComboBox_Default .rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_Default .rcbFocused .rcbActionButton {
      border-color: #888888;
      color: black;
      background-color: #dedede;
      background-image: linear-gradient(#c7c7c7 0%, #dedede 100%); }
      .RadComboBox_Default .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -4px -24px; }
  .RadComboBox_Default .rcbDisabled {
    border-color: #d0d0d0;
    color: #a5a5a5;
    background-color: white; }
    .RadComboBox_Default .rcbDisabled .rcbInput {
      color: #a5a5a5; }
    .RadComboBox_Default .rcbDisabled .rcbActionButton {
      border-color: #d0d0d0;
      color: #a5a5a5;
      background-color: #e8e8e8;
      background-image: linear-gradient(#faf9f9 0%, #e8e8e8 100%); }
      .RadComboBox_Default .rcbDisabled .rcbActionButton .rcbIcon {
        background-position: -4px -24px; }
  .RadComboBox_Default .rcbReadOnly {
    background-image: url('../Default/Common/radGradientButtonSprite.png');
    border-color: #8a8a8a;
    color: #333333;
    background-color: #e8e8e8;
    background-image: linear-gradient(#faf9f9 0%, #e8e8e8 100%); }
    .RadComboBox_Default .rcbReadOnly .rcbInput {
      color: #333333; }
    .RadComboBox_Default .rcbReadOnly .rcbActionButton {
      background: none; }
      .RadComboBox_Default .rcbReadOnly .rcbActionButton .rcbIcon {
        background-position: -4px -24px; }
  .RadComboBox_Default .rcbReadOnly.rcbHovered {
    border-color: #515151;
    color: black;
    background-color: #c3c3c3;
    background-image: linear-gradient(#e2e2e2 0%, #c3c3c3 100%); }
    .RadComboBox_Default .rcbReadOnly.rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_Default .rcbReadOnly.rcbHovered .rcbActionButton .rcbIcon {
      background-position: -4px -24px; }
  .RadComboBox_Default .rcbReadOnly.rcbFocused {
    border-color: #888888;
    color: black;
    background-color: #dedede;
    background-image: linear-gradient(#c7c7c7 0%, #dedede 100%); }
    .RadComboBox_Default .rcbReadOnly.rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_Default .rcbReadOnly.rcbFocused .rcbActionButton .rcbIcon {
      background-position: -4px -24px; }
  .RadComboBox_Default .rcbReadOnly.rcbDisabled {
    border-color: #d0d0d0;
    color: #a5a5a5;
    background-color: #e8e8e8;
    background-image: linear-gradient(#faf9f9 0%, #e8e8e8 100%); }
    .RadComboBox_Default .rcbReadOnly.rcbDisabled .rcbInput {
      color: #a5a5a5; }
    .RadComboBox_Default .rcbReadOnly.rcbDisabled .rcbActionButton .rcbIcon {
      background-position: -4px -24px; }

.RadComboBox_Default_rtl .rcbActionButton {
  border-radius: 3px 0 0 3px; }

.RadComboBoxDropDown_Default {
  border-color: #828282;
  color: #333333;
  background: white;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadComboBoxDropDown_Default .rcbHeader,
  .RadComboBoxDropDown_Default .rcbFooter {
    color: #333333;
    background-color: #eaeaea; }
  .RadComboBoxDropDown_Default .rcbHeader {
    border-bottom-color: #828282; }
  .RadComboBoxDropDown_Default .rcbFooter {
    border-top-color: #828282; }
  .RadComboBoxDropDown_Default .rcbHovered {
    color: black;
    background-color: #dfdfdf; }
  .RadComboBoxDropDown_Default .rcbDisabled {
    color: #a5a5a5;
    background-color: transparent; }
  .RadComboBoxDropDown_Default .rcbLoading {
    color: black;
    background-color: #dfdfdf; }
  .RadComboBoxDropDown_Default .rcbItem em,
  .RadComboBoxDropDown_Default .rcbHovered em {
    color: black;
    background-color: #dfdfdf; }
  .RadComboBoxDropDown_Default .rcbCheckAllItems {
    color: #333333;
    background-color: #eaeaea; }
  .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered {
    color: #333333;
    background-color: white; }
  .RadComboBoxDropDown_Default .rcbMoreResults {
    border-top-color: #8a8a8a;
    color: #333333;
    background-color: #eaeaea; }
    .RadComboBoxDropDown_Default .rcbMoreResults a {
      background-image: url('../Common/Sprites/radActionsSprite.png');
      background-position: -2.5px -25.5px; }
  .RadComboBoxDropDown_Default .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
