.RadListBox_Default {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
.RadListBox_Default .rlbButton {
  border-radius: 0.16667em;
  border-color: #c4c4c4;
  background-color: #c5c5c5;
  background-image: url('../Default/Common/radGradientButtonSprite.png');
  background-image: -webkit-linear-gradient(#e1e1e1, #c5c5c5);
  background-image: -moz-linear-gradient(#e1e1e1, #c5c5c5);
  background-image: -ms-linear-gradient(#e1e1e1, #c5c5c5);
  background-image: -o-linear-gradient(#e1e1e1, #c5c5c5);
  background-image: linear-gradient(#e1e1e1, #c5c5c5); }
  .RadListBox_Default .rlbButton:hover, .RadListBox_Default .rlbButton:active {
    background-color: #dedede;
    background-image: -webkit-linear-gradient(#959595, #828282);
    background-image: -moz-linear-gradient(#959595, #828282);
    background-image: -ms-linear-gradient(#959595, #828282);
    background-image: -o-linear-gradient(#959595, #828282);
    background-image: linear-gradient(#959595, #828282); }
  .RadListBox_Default .rlbButton.rlbDisabled {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(#e1e1e1, #c5c5c5);
    background-image: -moz-linear-gradient(#e1e1e1, #c5c5c5);
    background-image: -ms-linear-gradient(#e1e1e1, #c5c5c5);
    background-image: -o-linear-gradient(#e1e1e1, #c5c5c5);
    background-image: linear-gradient(#e1e1e1, #c5c5c5); }
.RadListBox_Default .rlbGroup {
  border-color: #8e8e8e;
  background-color: white; }
.RadListBox_Default .rlbItem:hover, .RadListBox_Default .rlbItem.rlbHovered {
  border-color: #dfdfdf;
  background-color: #dfdfdf; }
.RadListBox_Default .rlbItem.rlbSelected {
  border-color: #c5c5c5;
  background-color: #c5c5c5; }
.RadListBox_Default .rlbHighlight {
  background-color: #dfdfdf; }
.RadListBox_Default .rlbCheckAllItems {
  background-color: #eaeaea; }
.RadListBox_Default .rlbTemplateContent {
  border-color: #8e8e8e;
  background-color: white; }
.RadListBox_Default .rlbHeader,
.RadListBox_Default .rlbFooter {
  border-color: #8e8e8e; }
.RadListBox_Default .rlbHeader {
  background-image: -webkit-linear-gradient(#fdfdfd 0%, #eaeaea 100%);
  background-image: -moz-linear-gradient(#fdfdfd 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(#fdfdfd 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(#fdfdfd 0%, #eaeaea 100%);
  background-image: linear-gradient(#fdfdfd 0%, #eaeaea 100%); }
.RadListBox_Default .rlbFooter {
  background-image: -webkit-linear-gradient(#fafafa, #e6e6e6);
  background-image: -moz-linear-gradient(#fafafa, #e6e6e6);
  background-image: -ms-linear-gradient(#fafafa, #e6e6e6);
  background-image: -o-linear-gradient(#fafafa, #e6e6e6);
  background-image: linear-gradient(#fafafa, #e6e6e6); }
.RadListBox_Default .rlbGroup .rlbDropClueAbove {
  border-top-color: #8e8e8e; }
.RadListBox_Default .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #8e8e8e; }
.RadListBox_Default .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Default .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Default .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Default .rlbGroup .rlbHovered.rlbDropClueBelow {
  border-color: #FFF; }
