html .RadCalendar_Sunset {
  font: 14px "Segoe UI", Arial, Helvetica, sans-serif;
  background: white; }

.RadCalendar_Sunset .rcTitlebar {
  border-color: #71250a;
  background-image: linear-gradient(to bottom, #e57461 0%, #d76544 14%, #c85424 43%, #bb3b02 48%, #b94003 67%, #b9500c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57461', endColorstr='#b9500c',GradientType=0 );
  box-shadow: 0 0 1px 1px #eb8b7e inset;
  color: #fff;
  line-height: 1.5; }
  .RadCalendar_Sunset .rcTitlebar table {
    border: 1px solid;
    border-color: #eb8b7e #c55727 #c36a30; }
  .RadCalendar_Sunset .rcTitlebar td {
    padding: 0 0 1px; }
  .RadCalendar_Sunset .rcTitlebar .rcPrev,
  .RadCalendar_Sunset .rcTitlebar .rcNext,
  .RadCalendar_Sunset .rcTitlebar .rcFastPrev,
  .RadCalendar_Sunset .rcTitlebar .rcFastNext {
    width: 1.25em;
    height: 1.125em;
    margin: 2px 2px 0;
    border: 1px solid transparent;
    border-radius: .2em; }
    .RadCalendar_Sunset .rcTitlebar .rcPrev:before,
    .RadCalendar_Sunset .rcTitlebar .rcNext:before,
    .RadCalendar_Sunset .rcTitlebar .rcFastPrev:before,
    .RadCalendar_Sunset .rcTitlebar .rcFastNext:before {
      line-height: 1.19;
      color: #ffffff; }
    .RadCalendar_Sunset .rcTitlebar .rcPrev:hover,
    .RadCalendar_Sunset .rcTitlebar .rcNext:hover,
    .RadCalendar_Sunset .rcTitlebar .rcFastPrev:hover,
    .RadCalendar_Sunset .rcTitlebar .rcFastNext:hover {
      border: 1px solid #8c3400;
      background: linear-gradient(to bottom, #fee37f 0%, #eec349 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee37f', endColorstr='#eec349',GradientType=0 );
      box-shadow: 0 0 1px 1px #f7efc7 inset; }
      .RadCalendar_Sunset .rcTitlebar .rcPrev:hover:before,
      .RadCalendar_Sunset .rcTitlebar .rcNext:hover:before,
      .RadCalendar_Sunset .rcTitlebar .rcFastPrev:hover:before,
      .RadCalendar_Sunset .rcTitlebar .rcFastNext:hover:before {
        color: #982e00; }
.RadCalendar_Sunset .rcMain {
  border-color: #958a85; }
.RadCalendar_Sunset .rcMainTable {
  color: #272522; }
.RadCalendar_Sunset .rcHeader,
.RadCalendar_Sunset .rcFooter {
  border-color: #958a85; }
.RadCalendar_Sunset .rcWeek th {
  padding: 0.25em 0.6em 0.2em 0;
  background: #f4eee6;
  border-bottom: 1px solid #d2c7b4;
  line-height: 1.4; }
.RadCalendar_Sunset .rcWeek .rcViewSel {
  width: 1.2em; }
.RadCalendar_Sunset .rcMain .rcRow a, .RadCalendar_Sunset .rcMain .rcRow span {
  color: #272522;
  border: 1px solid transparent;
  border-radius: .2em;
  line-height: 1.6; }
.RadCalendar_Sunset .rcMain .rcRow th {
  border-right: 1px solid #d2c7b4;
  background: #f4eee6; }
.RadCalendar_Sunset .rcMain .rcRow td {
  border-color: white; }
.RadCalendar_Sunset .rcMain .rcRow .rcToday a {
  border-color: #b94600;
  color: #5d1f00; }
.RadCalendar_Sunset .rcMain .rcRow .rcSelected a {
  border-color: #ad5e2f;
  background-image: linear-gradient(to bottom, #f2b678 0%, #f1b274 12%, #e48544 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b678', endColorstr='#e48544',GradientType=0 );
  box-shadow: 0 0 1px 1px #edb684 inset;
  color: #5d1f00; }
.RadCalendar_Sunset .rcMain .rcRow .rcHover a {
  border-color: #ca9a3e;
  background-image: linear-gradient(to bottom, #f9ed8c 0%, #f7e773 29%, #f4dc4b 65%, #f2d429 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9ed8c', endColorstr='#f2d429',GradientType=0 );
  box-shadow: 0 0 1px 1px #f5f2d7 inset;
  color: #863d02; }
.RadCalendar_Sunset .rcMain .rcWeekend a {
  color: #474542; }
.RadCalendar_Sunset .rcMain .rcOtherMonth a,
.RadCalendar_Sunset .rcMain .rcOutOfRange span {
  color: #777; }

.RadCalendarMultiView_Sunset .rcTitlebar {
  padding: 0.5em 0;
  border-color: #504a41 #423e36 #36332c;
  background-image: linear-gradient(to bottom, #837b67 0%, #7b7462 4%, #575043 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#837b67', endColorstr='#575043',GradientType=0 );
  box-shadow: none; }
  .RadCalendarMultiView_Sunset .rcTitlebar table {
    border: 1px solid;
    border-color: #9d947f #7c7569 #6c665a; }
  .RadCalendarMultiView_Sunset .rcTitlebar td {
    padding-bottom: 1px; }
.RadCalendarMultiView_Sunset .rcCalendar {
  border-color: #958a85;
  border-top: 0; }
  .RadCalendarMultiView_Sunset .rcCalendar .rcMainTable {
    height: 195px; }
.RadCalendarMultiView_Sunset .rcMainTable .rcTitle {
  background-image: linear-gradient(to bottom, #e57461 0%, #d76544 14%, #c85424 43%, #bb3b02 48%, #b94003 67%, #b9500c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57461', endColorstr='#b9500c',GradientType=0 );
  padding: 0.15em 0;
  border: 1px solid;
  border-color: #eb8b7e #d06d44 #71250a;
  line-height: 1.699;
  color: #fff; }

table.RadCalendarMonthView_Sunset {
  border-color: #958a85;
  background: #fff;
  font: 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #272522; }

.RadCalendarMonthView_Sunset #rcMView_Feb,
.RadCalendarMonthView_Sunset #rcMView_Apr,
.RadCalendarMonthView_Sunset #rcMView_Jun,
.RadCalendarMonthView_Sunset #rcMView_Aug,
.RadCalendarMonthView_Sunset #rcMView_Oct,
.RadCalendarMonthView_Sunset #rcMView_Dec {
  border-right: 1px solid #958a85; }
.RadCalendarMonthView_Sunset a {
  color: #272522; }
.RadCalendarMonthView_Sunset .rcSelected a {
  border-color: #ad5e2f;
  background-image: linear-gradient(to bottom, #f2b678 0%, #f1b274 12%, #e48544 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b678', endColorstr='#e48544',GradientType=0 ); }
.RadCalendarMonthView_Sunset #rcMView_PrevY a,
.RadCalendarMonthView_Sunset #rcMView_NextY a {
  color: #ccc; }
.RadCalendarMonthView_Sunset input {
  border-color: #b97322 #9d5d13 #824703;
  color: #3d1400; }

table.RadCalendarTimeView_Sunset {
  border-color: #958a85;
  background: #fff;
  font: 14px "Segoe UI", Arial, Helvetica, sans-serif; }

.RadCalendarTimeView_Sunset th {
  border: 1px solid;
  border-color: #eb8b7e #d06d44 #71250a;
  background-image: linear-gradient(to bottom, #e57461 0%, #d76544 14%, #c85424 43%, #bb3b02 48%, #b94003 67%, #b9500c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57461', endColorstr='#b9500c',GradientType=0 );
  color: #fff;
  line-height: 1.92; }

table.RadCalendarTimeView_Sunset td {
  border-color: #958a85; }

.RadCalendarTimeView_Sunset a {
  color: #272522; }
.RadCalendarTimeView_Sunset td.rcSelected a {
  border-color: #ad5e2f;
  background-image: linear-gradient(to bottom, #f2b678 0%, #f1b274 12%, #e48544 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b678', endColorstr='#e48544',GradientType=0 ); }
.RadCalendarTimeView_Sunset td.rcHover a {
  border-color: #ca9a3e;
  background-image: linear-gradient(to bottom, #f9ed8c 0%, #f7e773 29%, #f4dc4b 65%, #f2d429 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9ed8c', endColorstr='#f2d429',GradientType=0 ); }
.RadCalendarTimeView_Sunset .rcFooter {
  border-color: #958a85; }

._Telerik_IE9 .RadPicker_Sunset .rcCalPopup:before {
  font-size: 18px; }

._Telerik_IE9 .RadPicker_Sunset .rcTimePopup:before {
  font-size: 21px; }

.RadPicker_Sunset .rcCalPopup,
.RadPicker_Sunset .rcTimePopup {
  border: 1px solid transparent;
  border-radius: 3px; }
  .RadPicker_Sunset .rcCalPopup:before,
  .RadPicker_Sunset .rcTimePopup:before {
    color: #8d7e64;
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: 0 0 2px #fff; }
  .RadPicker_Sunset .rcCalPopup:hover:before,
  .RadPicker_Sunset .rcTimePopup:hover:before {
    color: #985320; }
.RadPicker_Sunset .rcCalPopup:hover {
  background-color: #eca061;
  background-image: linear-gradient(to top, #e2803e, #f3ba7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3ba7c', endColorstr='#e2803e',GradientType=0 );
  box-shadow: inset 0 0 0 2px rgba(244, 243, 227, 0.85);
  border-color: #ca9a3e; }
.RadPicker_Sunset .rcCalPopup:before {
  font-size: 1.3em; }
.RadPicker_Sunset .rcTimePopup:hover {
  background-color: #f6e260;
  background-image: linear-gradient(to top, #f1d11e, #faef93);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faef93', endColorstr='#f1d11e',GradientType=0 );
  box-shadow: inset 0 0 0 2px rgba(244, 243, 227, 0.85);
  border-color: #ad5e2f; }
