.RadTreeView_Sunset {
  color: #272722;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadTreeView_Sunset a.rtIn {
    *color: #272722; }
  .RadTreeView_Sunset .rtHover .rtIn {
    color: #863d02;
    border-color: #ca9a3e;
    background-color: #f2d429;
    background-image: url('../Sunset/TreeView/ItemHoveredBg.png'); }
  .RadTreeView_Sunset .rtSelected .rtIn {
    color: #5d1f00;
    border-color: #904c23;
    background-color: #e48544;
    background-image: url('../Sunset/TreeView/ItemSelectedBg.png'); }
  .RadTreeView_Sunset .rtEdit .rtIn {
    border-color: #6c6c6c;
    background: #ffffff; }
    .RadTreeView_Sunset .rtEdit .rtIn input {
      color: #272722;
      font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Sunset .rtChecked,
  .RadTreeView_Sunset .rtUnchecked,
  .RadTreeView_Sunset .rtIndeterminate {
    background-image: url('../Sunset/Common/radFormToggleSprite.png');
    _background-image: url('../Sunset/Common/radFormToggleSpriteIE6.png'); }
  .RadTreeView_Sunset .rtLoadingIcon {
    background-image: url('../Sunset/Common/loading_small.gif'); }
  .RadTreeView_Sunset .rtSelected .rtLoadingBefore,
  .RadTreeView_Sunset .rtSelected .rtLoadingAfter,
  .RadTreeView_Sunset .rtSelected .rtLoadingBelow {
    color: #333333; }
  .RadTreeView_Sunset .rtPlus,
  .RadTreeView_Sunset .rtMinus {
    *background-image: url('../Sunset/TreeView/PlusMinus.png'); }
    .RadTreeView_Sunset .rtPlus:before,
    .RadTreeView_Sunset .rtMinus:before {
      color: #52503d;
      border-color: #766853;
      background-color: #ded7c6;
      background-image: url('../Sunset/Common/radGradientButtonSprite.png');
      background-image: linear-gradient(to bottom right, #ede7dd, #c6b89e);
      box-shadow: 0 0 0 1px #fff inset; }
    .RadTreeView_Sunset .rtPlus:hover:before,
    .RadTreeView_Sunset .rtMinus:hover:before {
      background-color: #f8e360; }
  .RadTreeView_Sunset .rtLines .rtTop:before,
  .RadTreeView_Sunset .rtLines .rtMid:before,
  .RadTreeView_Sunset .rtLines .rtBot:before,
  .RadTreeView_Sunset .rtLines .rtLI:before {
    border-color: #6c7881; }

.RadTreeView_Sunset_disabled .rtIn,
.RadTreeView_Sunset .rtDisabled .rtIn {
  color: #ccc; }
