.RadSearchBox_Simple {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadSearchBox_Simple .rsbInner {
    border-color: #616161;
    color: black;
    background-color: white; }
    .RadSearchBox_Simple .rsbInner.rsbHovered {
      border-color: #c98400;
      color: #882501;
      background-color: white; }
    .RadSearchBox_Simple .rsbInner.rsbFocused {
      border-color: #ca4b0c;
      color: #882501;
      background-color: white; }
    .RadSearchBox_Simple .rsbInner.rsbDisabled {
      border-color: #b0b0b0;
      color: #777777;
      background-color: white; }
  .RadSearchBox_Simple .rsbInput {
    font: normal inherit "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Simple .rsbEmptyMessage {
    color: #999999;
    font-style: italic; }
  .RadSearchBox_Simple .rsbButton:hover {
    border-color: #c98400;
    color: #882501;
    background-color: #ffe79c; }
  .RadSearchBox_Simple .rsbButton:focus {
    border-color: #ca4b0c;
    color: #882501;
    background-color: #ffa517; }
  .RadSearchBox_Simple .rsbButtonSearch {
    color: #828282; }
    .RadSearchBox_Simple .rsbButtonSearch .rsbIcon {
      *background-image: url('../Simple/Common/radActionsSprite.png');
      *background-position: -2px -1882px; }
  .RadSearchBox_Simple .rsbSCInner {
    border-color: #7e7e7e;
    color: black;
    background-color: #e2e2e2; }
  .RadSearchBox_Simple .rsbSCIcon {
    *background-image: url('../Simple/Common/radActionsSprite.png');
    *background-position: -2px -422px; }
  .RadSearchBox_Simple .rsbSCHovered {
    border-color: #c98400;
    color: #882501;
    background-color: #ffe79c; }
  .RadSearchBox_Simple .rsbSCFocused {
    border-color: #ca4b0c;
    color: #882501;
    background-color: #ffa517; }
  .RadSearchBox_Simple .rsbSCDisabled {
    border-color: #9b9b9b;
    color: #999999;
    background-color: #dfdfdf; }
  .RadSearchBox_Simple .rsbLoadingIcon {
    background-image: url('../Simple/Common/loading_small.gif'); }

.rsbPopup_Simple {
  border-color: #616161;
  color: black;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .rsbPopup_Simple .rsbHeader,
  .rsbPopup_Simple .rsbFooter {
    color: black;
    background-color: #eaeaea; }
  .rsbPopup_Simple .rsbHeader {
    border-bottom-color: #616161; }
  .rsbPopup_Simple .rsbFooter {
    border-top-color: #616161; }
  .rsbPopup_Simple .rsbShowAll {
    border-top-color: #616161;
    color: black;
    background-color: #eaeaea; }
  .rsbPopup_Simple .rsbListItemHovered {
    color: black;
    background-color: #fff7ac; }
  .rsbPopup_Simple .rsbListItemSelected {
    color: #882501;
    background-color: #ffe79c; }
  .rsbPopup_Simple .rsbListItemDisabled {
    color: #777777; }
  .rsbPopup_Simple .rsbListItemLoading {
    color: black;
    background-color: #fff7ac; }
