.RadTreeView_Outlook {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Outlook a.rtIn {
    *color: black; }
  .RadTreeView_Outlook .rtHover .rtIn {
    border-color: #002d96;
    background-color: #FFD294;
    background-image: url('TreeView/ItemHoveredBg.png'); }
  .RadTreeView_Outlook .rtSelected .rtIn {
    border-color: #002d96;
    background-color: #97B8E8;
    background-image: url('TreeView/ItemSelectedBg.png'); }
  .RadTreeView_Outlook .rtEdit .rtIn {
    border-color: #0f3789;
    background: #ffffff; }
    .RadTreeView_Outlook .rtEdit .rtIn input {
      color: black;
      font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Outlook .rtChecked,
  .RadTreeView_Outlook .rtUnchecked,
  .RadTreeView_Outlook .rtIndeterminate {
    background-image: url('Common/radFormToggleSprite.png');
    _background-image: url('Common/radFormToggleSpriteIE6.png'); }
  .RadTreeView_Outlook .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadTreeView_Outlook .rtSelected .rtLoadingBefore,
  .RadTreeView_Outlook .rtSelected .rtLoadingAfter,
  .RadTreeView_Outlook .rtSelected .rtLoadingBelow {
    color: #333333; }
  .RadTreeView_Outlook .rtPlus,
  .RadTreeView_Outlook .rtMinus {
    background-image: url('TreeView/PlusMinus.png'); }

.RadTreeView_Outlook_disabled .rtIn,
.RadTreeView_Outlook .rtDisabled .rtIn {
  color: #ccc; }
