.RadTreeView_Office2010Black {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.33333em; }
  .RadTreeView_Office2010Black a.rtIn {
    *color: black; }
  .RadTreeView_Office2010Black .rtHover .rtIn {
    color: #000000;
    border-color: #f7c840 #f7c840;
    background-color: #fff3c9;
    background-image: url('../Office2010Black/TreeView/ItemHoveredBg.png'); }
  .RadTreeView_Office2010Black .rtSelected .rtIn {
    color: #000000;
    border-color: #c28b31 #c2a34c;
    background-color: #feed76;
    background-image: url('../Office2010Black/TreeView/ItemSelectedBg.png'); }
  .RadTreeView_Office2010Black .rtEdit .rtIn {
    border-color: #515151;
    background: #ffffff; }
    .RadTreeView_Office2010Black .rtEdit .rtIn input {
      color: black;
      font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Office2010Black .rtChecked,
  .RadTreeView_Office2010Black .rtUnchecked,
  .RadTreeView_Office2010Black .rtIndeterminate {
    background-image: url('../Office2010Black/Common/radFormToggleSprite.png');
    _background-image: url('../Office2010Black/Common/radFormToggleSpriteIE6.png'); }
  .RadTreeView_Office2010Black .rtLoadingIcon {
    background-image: url('../Office2010Black/Common/loading_small.gif'); }
  .RadTreeView_Office2010Black .rtSelected .rtLoadingBefore,
  .RadTreeView_Office2010Black .rtSelected .rtLoadingAfter,
  .RadTreeView_Office2010Black .rtSelected .rtLoadingBelow {
    color: #333333; }
  .RadTreeView_Office2010Black .rtPlus,
  .RadTreeView_Office2010Black .rtMinus {
    margin-left: -1.1em;
    color: #f6f6f6; }
    .RadTreeView_Office2010Black .rtPlus:before,
    .RadTreeView_Office2010Black .rtMinus:before {
      font-size: 0.7em;
      border: 0; }
      @media screen and (min-width: 0 \0) {
        .RadTreeView_Office2010Black .rtPlus:before,
        .RadTreeView_Office2010Black .rtMinus:before {
          font-size: 1.5em; } }
  .RadTreeView_Office2010Black .rtPlus:before {
    content: "\25B6"; }
  .RadTreeView_Office2010Black .rtMinus:before {
    content: "\25E2"; }
  @media screen\9 {
    .RadTreeView_Office2010Black .rtPlus,
    .RadTreeView_Office2010Black .rtMinus {
      margin-left: -18px;
      background-image: url('../Office2010Black/TreeView/PlusMinus.png'); } }
  .RadTreeView_Office2010Black .rtLines .rtTop:before,
  .RadTreeView_Office2010Black .rtLines .rtMid:before,
  .RadTreeView_Office2010Black .rtLines .rtBot:before,
  .RadTreeView_Office2010Black .rtLines .rtLI:before {
    border-color: #4b4b4b; }

.RadTreeView_Office2010Black_disabled .rtIn,
.RadTreeView_Office2010Black .rtDisabled .rtIn {
  color: #cccccc; }
