.RadDropDownTree_BlackMetroTouch {
  color: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_BlackMetroTouch li {
    line-height: 2em; }
  .RadDropDownTree_BlackMetroTouch .rddtInner {
    height: 2.25em;
    padding-right: 2em;
    border-color: #4e4e4e;
    color: white;
    background-color: #222222; }
  .RadDropDownTree_BlackMetroTouch .rddtFakeInput {
    height: 2em;
    line-height: 2em; }
  .RadDropDownTree_BlackMetroTouch .rddtEmptyMessage {
    color: #555555;
    font-style: italic; }
  .RadDropDownTree_BlackMetroTouch .rddtClearButton {
    background-position: -2px -44px;
    right: 1.75em; }
  .RadDropDownTree_BlackMetroTouch .rddtIcon {
    width: 1.75em;
    height: 2.125em; }
    .RadDropDownTree_BlackMetroTouch .rddtIcon:before {
      content: "\e002";
      line-height: 1.32813em; }
  .RadDropDownTree_BlackMetroTouch .rddtHovered {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadDropDownTree_BlackMetroTouch .rddtHovered .rddtClearButton {
      background-position: -22px -44px; }
      .RadDropDownTree_BlackMetroTouch .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -44px; }
  .RadDropDownTree_BlackMetroTouch .rddtFocused {
    border-color: #0082cc;
    color: white;
    background-color: #0082cc; }
    .RadDropDownTree_BlackMetroTouch .rddtFocused .rddtClearButton {
      background-position: -42px -44px; }
      .RadDropDownTree_BlackMetroTouch .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -44px; }
  .RadDropDownTree_BlackMetroTouch .rddtDisabled {
    border-color: #2c2c2c;
    color: #555555;
    background-color: black; }

.rddtPopup_BlackMetroTouch {
  border-color: #333333;
  color: white;
  background: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_BlackMetroTouch .rddtHeader,
  .rddtPopup_BlackMetroTouch .rddtFooter {
    color: white;
    background-color: #202020; }
  .rddtPopup_BlackMetroTouch .rddtHeader {
    border-bottom-color: #333333; }
  .rddtPopup_BlackMetroTouch .rddtFooter {
    border-top-color: #333333; }
  .rddtPopup_BlackMetroTouch .rddtFilter {
    border-bottom-color: #4e4e4e;
    color: white;
    background: #202020; }
    .rddtPopup_BlackMetroTouch .rddtFilter .rddtFilterInput {
      font: 16px "Segoe UI", Arial, Helvetica, sans-serif;
      border-color: #4e4e4e;
      color: white;
      background-color: black; }
    .rddtPopup_BlackMetroTouch .rddtFilter .rddtFilterEmptyMessage {
      color: #555555;
      font-style: italic; }
  .rddtPopup_BlackMetroTouch .RadTreeView em {
    color: white;
    background-color: #25a0da; }
