.RadForm_BlackMetroTouch {
  background-color: black;
  /* Remove rounded corners */
  /* Change font size */
  /* button styles */
  /* Checkbox and radiobutton */
  /* Webkit provides full support for checkbox and radiobutton */
  /* DropDown Styles */
  /* Skin-specific Scrollbar Settings for WebKit  */
  /* the scrollbar face color */
  /* IE Scrollbars */
  /*GridView, FormView, DetailsView*/
  /* Validation Summary Control and Login Control  */ }
  .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdTextInput, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners textarea, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners fieldset, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSkinnedButton, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox ul, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSelect, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox li:first-child, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners legend, .RadForm_BlackMetroTouch.RadForm.rfdRoundedCorners .rfdSelectBoxDropDown {
    border-radius: 0; }
  .RadForm_BlackMetroTouch.RadForm .rfdSkinnedButton, .RadForm_BlackMetroTouch.RadForm .rfdTextInput, .RadForm_BlackMetroTouch.RadForm.rfdLabel label, .RadForm_BlackMetroTouch.RadForm.rfdLabel .rfdAspLabel, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea, .RadForm_BlackMetroTouch.RadForm.rfdFieldset fieldset, .RadForm_BlackMetroTouch.RadForm.rfdFieldset legend, .RadForm_BlackMetroTouch.RadForm .rfdSelect, .RadForm_BlackMetroTouch.RadForm.rfdHeading h4, .RadForm_BlackMetroTouch.RadForm.rfdHeading h5, .RadForm_BlackMetroTouch.RadForm.rfdHeading h6, .RadForm_BlackMetroTouch.RadForm .riTextBox, .RadForm_BlackMetroTouch.RadForm .rfdValidationSummaryControl, .RadForm_BlackMetroTouch.RadForm .rfdLoginControl {
    font-size: 16px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    color: white; }
  .RadForm_BlackMetroTouch.RadForm.rfdHeading h4 {
    font-size: 18px; }
  .RadForm_BlackMetroTouch.RadForm h5 {
    font-size: 17px; }
  .RadForm_BlackMetroTouch.RadForm h6 {
    font-size: 16px; }
  .RadForm_BlackMetroTouch.rfdZone {
    background-color: black; }
  .RadForm_BlackMetroTouch.rfdHeading h4, .RadForm_BlackMetroTouch.rfdHeading h5, .RadForm_BlackMetroTouch.rfdHeading h6 {
    border-bottom-color: #4e4e4e; }
  .RadForm_BlackMetroTouch fieldset {
    border-color: #4e4e4e;
    background-color: black; }
  .RadForm_BlackMetroTouch legend {
    background-color: black; }
  .RadForm_BlackMetroTouch label {
    line-height: 32px; }
  .RadForm_BlackMetroTouch.rfdRadio input[type="radio"] + label, .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"] + label,
  .RadForm_BlackMetroTouch legend > label,
  .RadForm_BlackMetroTouch legend > label {
    line-height: normal; }
  .RadForm_BlackMetroTouch .rfdSkinnedButton {
    padding: 0.25em 0.625em 0.33333em 0.625em;
    background-color: #222222;
    border-color: #4e4e4e;
    color: white;
    min-height: 2.1875em; }
  .RadForm_BlackMetroTouch .rfdSkinnedButton:hover {
    background-color: #25a0da;
    border-color: #25a0da;
    color: white; }
  .RadForm_BlackMetroTouch .rfdSkinnedButton:active,
  .RadForm_BlackMetroTouch .rfdClickedButton,
  .RadForm_BlackMetroTouch .rfdFocusedButton {
    background-color: #0082cc;
    border-color: #0082cc;
    color: white; }
  .RadForm_BlackMetroTouch .rfdSkinnedButton.rfdInputDisabled {
    background-color: black;
    border-color: #2c2c2c;
    color: #555555; }
  .RadForm_BlackMetroTouch .rfdTextInput {
    padding: 0.33333em 0.625em; }
  .RadForm_BlackMetroTouch .rfdTextInput,
  .RadForm_BlackMetroTouch textarea {
    background-color: black;
    color: white;
    border-color: #4e4e4e; }
  .RadForm_BlackMetroTouch .rfdTextInput:hover,
  .RadForm_BlackMetroTouch textarea:hover {
    background-color: black;
    color: white;
    border-color: #25a0da; }
  .RadForm_BlackMetroTouch .rfdTextInput:active,
  .RadForm_BlackMetroTouch textarea:active,
  .RadForm_BlackMetroTouch .rfdTextInput:focus,
  .RadForm_BlackMetroTouch textarea:focus {
    background-color: black;
    color: white;
    border-color: #2a2a2a; }
  .RadForm_BlackMetroTouch .rfdTextInput:disabled,
  .RadForm_BlackMetroTouch textarea:disabled {
    background-color: black;
    color: #555555;
    border-color: #2c2c2c; }
  .RadForm_BlackMetroTouch .rfdCheckboxChecked,
  .RadForm_BlackMetroTouch .rfdCheckboxUnchecked,
  .RadForm_BlackMetroTouch .rfdRadioChecked,
  .RadForm_BlackMetroTouch .rfdRadioUnchecked {
    line-height: normal; }
  .RadForm_BlackMetroTouch label.rfdCheckboxChecked .rfdToggleImage,
  .RadForm_BlackMetroTouch label.rfdCheckboxUnchecked .rfdToggleImage,
  .RadForm_BlackMetroTouch label.rfdRadioChecked .rfdToggleImage,
  .RadForm_BlackMetroTouch label.rfdRadioUnchecked .rfdToggleImage {
    background-image: url('../BlackMetroTouch/Common/radFormToggleSprite.png');
    _background-image: url('../BlackMetroTouch/Common/radFormToggleSpriteIE6.png');
    top: 4px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_BlackMetroTouch.rfdRadio input[type="radio"], .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"] {
      background-image: url('../BlackMetroTouch/Common/radFormToggleSprite.png'); }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"] {
      background-repeat: no-repeat;
      background-position: 0 3px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:hover {
      background-position: -40px 3px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:checked {
      background-position: 0 -37px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:hover:checked {
      background-position: -40px -37px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled], .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:hover {
      background-position: 0 -117px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked, .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked:hover {
      background-position: 0 -157px; }
    .RadForm_BlackMetroTouch.rfdRadio input[type="radio"] {
      background-repeat: no-repeat;
      background-position: -80px 3px; }
    .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:hover {
      background-position: -120px 3px; }
    .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:checked {
      background-position: -80px -37px; }
    .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:hover:checked {
      background-position: -120px -37px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled], .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:hover {
      background-position: -80px -117px; }
    .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:checked, .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:checked:hover {
      background-position: -80px -157px; } }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch {
    padding: 0.33333em 1.66667em 0.33333em 0.625em;
    background-color: #222222;
    border-color: #4e4e4e;
    color: white;
    min-height: 1.4375em; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover {
    border-color: #25a0da;
    color: white; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:active,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:focus {
    border-color: #0082cc;
    color: white; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled:hover,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled:active,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled:focus {
    background-color: black;
    border-color: #2c2c2c;
    color: #555555; }
  .RadForm_BlackMetroTouch .rfdDropDownArrow {
    width: 29px;
    height: 34px;
    background-image: url('../BlackMetroTouch/Common/radActionsSprite.png');
    _background-image: url('../BlackMetroTouch/Common/radActionsSpriteIE6.png');
    background-color: transparent;
    background-position: -10.5px -58px; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover .rfdDropDownArrow {
    background-color: #25a0da;
    background-position: -10.5px -58px; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:active .rfdDropDownArrow {
    background-color: #0082cc;
    background-position: -10.5px -58px; }
  .RadForm_BlackMetroTouch.rfdScrollBars {
    /* scrollbar track background color */
    /* increment / decrement button settings */ }
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:horizontal,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:horizontal
    form::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
      background-color: black; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-track-piece,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-corner {
      background-color: black; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
      border-color: #4e4e4e;
      background-color: black; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-image: url('../BlackMetroTouch/Common/radActionsSprite.png');
      _background-image: url('../BlackMetroTouch/Common/radActionsSpriteIE6.png');
      background-color: black; }
  .RadForm_BlackMetroTouch.rfdScrollBars {
    scrollbar-3dlight-color: #1a1a1a;
    scrollbar-arrow-color: #111111;
    scrollbar-base-color: #f5f5f5;
    scrollbar-darkshadow-color: #474747;
    scrollbar-face-color: #393939;
    scrollbar-highlight-color: #474747;
    scrollbar-shadow-color: #1a1a1a;
    scrollbar-track-color: #272727; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable {
    border: 1px solid #4e4e4e;
    background: black;
    color: white;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable th {
    border-bottom: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    background-color: #202020;
    color: white; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable a {
    color: white; }
  .RadForm_BlackMetroTouch .rfdValidationSummaryControl,
  .RadForm_BlackMetroTouch .rfdLoginControl {
    background-color: black;
    border: 1px solid #4e4e4e; }
  .RadForm_BlackMetroTouch a.rfdLoginControl,
  .RadForm_BlackMetroTouch a.rfdLoginControl:active,
  .RadForm_BlackMetroTouch a.rfdLoginControl:visited {
    color: white; }
  .RadForm_BlackMetroTouch a.rfdLoginControl:hover {
    color: white; }

/* Listbox Styles */
/* Must be out of the SASS Box */
.rfdSelectBox_BlackMetroTouch {
  border-color: #4e4e4e;
  font-size: 16px;
  min-height: 2.125em; }

.rfdSelectBox_BlackMetroTouch li {
  padding: 0.29167em 0.625em;
  color: white;
  background-color: black; }

.rfdSelectBox_BlackMetroTouch li:hover,
.rfdSelectBox_BlackMetroTouch .rfdSelect_hovered,
.rfdSelectBox.rfdSelectBox_BlackMetroTouch li:hover {
  color: white;
  background-color: #25a0da; }

.rfdSelectBox_BlackMetroTouch .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_BlackMetroTouch .rfdSelect_selected:hover {
  color: white;
  background-color: #0082cc; }

.rfdSelectBox_BlackMetroTouch .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: white; }
