.RadListBox_BlackMetroTouch {
  width: 18.75em;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 2.125em; }
.RadListBox_BlackMetroTouch .rlbButton {
  padding: 5px;
  *padding: 4px;
  border-color: #4e4e4e;
  background-color: #222222;
  color: white; }
  .RadListBox_BlackMetroTouch .rlbButton:hover {
    background-color: #25a0da;
    border-color: #25a0da; }
  .RadListBox_BlackMetroTouch .rlbButton:active {
    background-color: #0082cc;
    border-color: #0082cc;
    color: white; }
  .RadListBox_BlackMetroTouch .rlbButton.rlbDisabled {
    border-color: #2c2c2c;
    background-color: black; }
.RadListBox_BlackMetroTouch .rlbButtonIcon {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 3px; }
.RadListBox_BlackMetroTouch .rlbButtonText {
  margin-right: 10px; }
.RadListBox_BlackMetroTouch .rlbNoButtonText.rlbButton {
  *width: 36px;
  *height: 36px; }
.RadListBox_BlackMetroTouch .rlbGroup {
  border-color: #4e4e4e;
  background-color: black; }
.RadListBox_BlackMetroTouch .rlbList {
  padding: 0; }
.RadListBox_BlackMetroTouch .rlbItem {
  padding: 0em 0.5em;
  line-height: 2.3125em; }
  .RadListBox_BlackMetroTouch .rlbItem:hover, .RadListBox_BlackMetroTouch .rlbItem.rlbHovered {
    background-color: #25a0da;
    border-color: #25a0da; }
  .RadListBox_BlackMetroTouch .rlbItem.rlbSelected {
    background-color: #0082cc;
    border-color: #0082cc; }
.RadListBox_BlackMetroTouch .rlbHighlight {
  background-color: #25a0da; }
.RadListBox_BlackMetroTouch .rlbNoButtonText .rlbButtonIcon {
  margin-right: 0; }
.RadListBox_BlackMetroTouch .rlbCheckAllItems {
  background-color: #202020;
  padding: 0em 0.5em; }
.RadListBox_BlackMetroTouch .rlbCheckAllItemsCheckBox,
.RadListBox_BlackMetroTouch .rlbCheck {
  margin: 0em 0.4375em 0.1875em 0.1875em; }
.RadListBox_BlackMetroTouch .rlbTemplateContent {
  border-color: #4e4e4e;
  background-color: black; }
.RadListBox_BlackMetroTouch .rlbHeader,
.RadListBox_BlackMetroTouch .rlbFooter {
  border-color: #4e4e4e; }
.RadListBox_BlackMetroTouch .rlbButtonAreaTop,
.RadListBox_BlackMetroTouch .rlbButtonAreaBottom,
.RadListBox_BlackMetroTouch .rlbButtonAreaLeft,
.RadListBox_BlackMetroTouch .rlbButtonAreaRight {
  line-height: 2px; }
.RadListBox_BlackMetroTouch .rlbButtonAreaLeft .rlbButton,
.RadListBox_BlackMetroTouch .rlbButtonAreaRight .rlbButton {
  margin-bottom: 4px; }
.RadListBox_BlackMetroTouch .rlbDropClue {
  width: 0.625em;
  height: 0.625em;
  left: -0.625em;
  margin-top: 0.3125em;
  border-top: 1px solid #fff; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadListBox_BlackMetroTouch .rlbDropClue {
      margin-top: -1px; } }
  .RadListBox_BlackMetroTouch .rlbDropClue:before {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: -35%;
    background-color: #fff;
    border-radius: 50%; }
.RadListBox_BlackMetroTouch .rlbItem.rlbDropClueAbove {
  border-top: 1px solid #fff; }
.RadListBox_BlackMetroTouch .rlbItem.rlbDropClueBelow {
  border-bottom: 1px solid #fff; }

.RadListBox_BlackMetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_BlackMetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 43px; }

.RadListBox_BlackMetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_BlackMetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 43px; }
