.RadToolTip_BlackMetroTouch {
  background-color: black;
  color: white;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #313131;
  /* Base overrides */ }
  .RadToolTip_BlackMetroTouch.RadToolTip.rtShadow {
    box-shadow: none; }
  .RadToolTip_BlackMetroTouch.RadToolTip.rtRoundedCorner, .RadToolTip_BlackMetroTouch.RadToolTip.rtRoundedCorner .rtTitleBar, .RadToolTip_BlackMetroTouch.RadToolTip.rtRoundedCorner .rtContent, .RadToolTip_BlackMetroTouch.RadToolTip.rtRoundedCorner .rtTitleBar + .rtContent {
    border-radius: 0; }
  .RadToolTip_BlackMetroTouch .rtTitleWrapper h6.rtTitle {
    color: white;
    font-weight: 100;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolTip_BlackMetroTouch .rtContent {
    background-color: black;
    color: white; }
  .RadToolTip_BlackMetroTouch.rtLoading {
    background-image: url('../BlackMetroTouch/Common/loading.gif'); }
  .RadToolTip_BlackMetroTouch button.rtClose {
    width: 28px;
    height: 28px;
    border: 1px solid #4e4e4e;
    border-radius: 3.75em;
    margin: -0.41667em -0.41667em 0em 0em;
    background-image: url('../BlackMetroTouch/Common/radActionsSprite.png');
    _background-image: url('../BlackMetroTouch/Common/radActionsSpriteIE6.png');
    background-position: -12px -1912px;
    background-color: #222222; }
  .RadToolTip_BlackMetroTouch button.rtClose:hover {
    background-position: -11px -1911px;
    background-color: #25a0da;
    border: #25a0da; }
  .RadToolTip_BlackMetroTouch button.rtClose:active,
  .RadToolTip_BlackMetroTouch button.rtClose:focus {
    background-position: -11px -1911px;
    background-color: #0082cc;
    border: #0082cc; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout span.rtCallout {
    background-image: url('../BlackMetroTouch/ToolTip/Callouts.png');
    width: 14px;
    height: 14px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutTopRight,
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutTopLeft {
    background-position: 0 0;
    margin-top: 1px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutTopCenter {
    margin-top: 3px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutTopRight {
    margin-left: -40px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomRight,
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomCenter,
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomLeft {
    background-position: 0 -10px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutMiddleRight {
    background-position: 3px -40px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutMiddleLeft {
    background-position: 0 -60px;
    margin-left: 4px; }
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomRight,
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomCenter,
  .RadToolTip_BlackMetroTouch.rtVisibleCallout .rtCallout.rtCalloutBottomLeft {
    background-position: 0 -17px; }

