.RadToolTip_Outlook {
  background-color: #ccddf5;
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #6187b8; }
  .RadToolTip_Outlook .rtTitleWrapper .rtTitle {
    color: black; }
  .RadToolTip_Outlook .rtClose {
    background-image: url('../Outlook/ToolTip/ToolTipSprites.png'); }
  .RadToolTip_Outlook .rtContent {
    background-color: #ccddf5;
    color: black; }
  .RadToolTip_Outlook .rtCallout {
    background-image: url('../Outlook/ToolTip/Callouts.gif'); }
  .RadToolTip_Outlook.rtLoading {
    background-image: url('../Outlook/Common/loading.gif'); }
