.RadMenu_MetroTouch .rmRootToggle {
  color: black;
  border-color: #cdcdcd;
  border-radius: 0;
  background-color: #f9f9f9;
  box-shadow: none; }
  .RadMenu_MetroTouch .rmRootToggle:active, .RadMenu_MetroTouch .rmRootToggle.rmExpanded {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
.RadMenu_MetroTouch.rmDisabled .rmRootToggle:active, .RadMenu_MetroTouch.rmDisabled .rmRootToggle.rmExpanded {
  color: black;
  border-color: #cdcdcd;
  background-color: #f9f9f9; }

.RadMenuPopup_MetroTouch {
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #cdcdcd;
  background-color: white; }
  .RadMenuPopup_MetroTouch:before {
    border-color: transparent transparent #cdcdcd; }
  .RadMenuPopup_MetroTouch:after {
    border-color: transparent transparent white; }
.RadMenuPopup_MetroTouch .rmItem {
  border-color: #cdcdcd; }
  .RadMenuPopup_MetroTouch .rmItem.rmSelected {
    color: black;
    background-color: #e8e8e8; }
.RadMenuPopup_MetroTouch .rmLoading:after {
  background-color: rgba(255, 255, 255, 0.8); }
.RadMenuPopup_MetroTouch .rmLoadingIcon:after {
  background-image: url('../MetroTouch/Common/loading_small.gif'); }
