.RadAutoCompleteBox_Telerik {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadAutoCompleteBox_Telerik .racTokenList {
    border-color: #8e8e8e;
    color: black;
    background-color: white; }
  .RadAutoCompleteBox_Telerik .racDisabled {
    border-color: #d0d0d0;
    color: #8a8a8a;
    background-color: white; }
  .RadAutoCompleteBox_Telerik .racToken {
    border-radius: 3px;
    background-image: url('../Telerik/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #cccccc;
    color: black;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
  .RadAutoCompleteBox_Telerik .racTokenHovered {
    border-color: #2ebf00;
    color: black;
    background-color: #63ac39;
    background-image: linear-gradient(#d2f8c5 0%, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b 100%); }
  .RadAutoCompleteBox_Telerik .racTokenSelected {
    border-color: #239500;
    color: black;
    background-color: #93da59;
    background-image: linear-gradient(#a8d687 0%, #8cc569 50%, #65b33f 50%, #63ac39 100%); }
  .RadAutoCompleteBox_Telerik .racDisabled .racToken {
    border-color: #d2d2d2;
    color: #8a8a8a;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
  .RadAutoCompleteBox_Telerik .racRemoveTokenLink {
    color: #6c6c6c;
    *background-image: url('../Telerik/Common/radActionsSprite.png');
    *background-position: -4px -1344px; }
  .RadAutoCompleteBox_Telerik .racInput {
    color: black;
    font: inherit;
    line-height: inherit; }
  .RadAutoCompleteBox_Telerik .racEmptyMessage {
    color: #8a8a8a;
    font-style: italic; }
  .RadAutoCompleteBox_Telerik .racLoadingIcon {
    background-image: url('../Telerik/Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Telerik {
  border-color: #828282;
  color: black;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadAutoCompleteBoxPopup_Telerik .racHeader,
  .RadAutoCompleteBoxPopup_Telerik .racFooter {
    color: black;
    background-color: #e6e6e6; }
  .RadAutoCompleteBoxPopup_Telerik .racHeader {
    border-bottom-color: #828282; }
  .RadAutoCompleteBoxPopup_Telerik .racFooter {
    border-top-color: #828282; }
  .RadAutoCompleteBoxPopup_Telerik .racShowAll {
    border-top-color: #8e8e8e;
    color: black;
    background-color: #e6e6e6; }
  .RadAutoCompleteBoxPopup_Telerik .racItemHovered {
    color: black;
    background-color: #9ddf6c; }
