.RadComboBox_Telerik {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Telerik .rcbInner {
    border-color: #8e8e8e;
    color: black;
    background-color: white;
    border-radius: 3px; }
  .RadComboBox_Telerik .rcbInput {
    color: black; }
  .RadComboBox_Telerik .rcbEmptyMessage {
    color: #8a8a8a;
    font-style: italic; }
  .RadComboBox_Telerik .rcbActionButton {
    border-radius: 0 3px 3px 0;
    background-image: url('../Telerik/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #cccccc;
    color: black;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
    .RadComboBox_Telerik .rcbActionButton .rcbIcon {
      *background-image: url('../Telerik/Common/radActionsSprite.png');
      *background-position: -2px -22px; }
  .RadComboBox_Telerik .rcbHovered {
    border-color: #2ebf00;
    color: black;
    background-color: white; }
    .RadComboBox_Telerik .rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_Telerik .rcbHovered .rcbActionButton {
      border-color: #2ebf00;
      color: black;
      background-color: #63ac39;
      background-image: linear-gradient(#d2f8c5 0%, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b 100%); }
      .RadComboBox_Telerik .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Telerik .rcbFocused {
    border-color: #239500;
    color: black;
    background-color: white; }
    .RadComboBox_Telerik .rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_Telerik .rcbFocused .rcbActionButton {
      border-color: #239500;
      color: black;
      background-color: #93da59;
      background-image: linear-gradient(#a8d687 0%, #8cc569 50%, #65b33f 50%, #63ac39 100%); }
      .RadComboBox_Telerik .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Telerik .rcbDisabled {
    border-color: #d0d0d0;
    color: #8a8a8a;
    background-color: white; }
    .RadComboBox_Telerik .rcbDisabled .rcbInput {
      color: #8a8a8a; }
    .RadComboBox_Telerik .rcbDisabled .rcbActionButton {
      border-color: #d2d2d2;
      color: #8a8a8a;
      background-color: #eeeeee;
      background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
      .RadComboBox_Telerik .rcbDisabled .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Telerik .rcbReadOnly {
    background-image: url('../Telerik/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #cccccc;
    color: black;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
    .RadComboBox_Telerik .rcbReadOnly .rcbInput {
      color: black; }
  .RadComboBox_Telerik .rcbReadOnly.rcbHovered {
    border-color: #2ebf00;
    color: black;
    background-color: #63ac39;
    background-image: linear-gradient(#d2f8c5 0%, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b 100%); }
    .RadComboBox_Telerik .rcbReadOnly.rcbHovered .rcbInput {
      color: black; }
  .RadComboBox_Telerik .rcbReadOnly.rcbFocused {
    border-color: #239500;
    color: black;
    background-color: #93da59;
    background-image: linear-gradient(#a8d687 0%, #8cc569 50%, #65b33f 50%, #63ac39 100%); }
    .RadComboBox_Telerik .rcbReadOnly.rcbFocused .rcbInput {
      color: black; }
  .RadComboBox_Telerik .rcbReadOnly.rcbDisabled {
    border-color: #d2d2d2;
    color: #8a8a8a;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%); }
    .RadComboBox_Telerik .rcbReadOnly.rcbDisabled .rcbInput {
      color: #8a8a8a; }

.RadComboBox_Telerik_rtl .rcbActionButton {
  border-radius: 3px 0 0 3px; }

.RadComboBoxDropDown_Telerik {
  border-color: #828282;
  color: black;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadComboBoxDropDown_Telerik .rcbHeader,
  .RadComboBoxDropDown_Telerik .rcbFooter {
    color: black;
    background-color: #e6e6e6; }
  .RadComboBoxDropDown_Telerik .rcbHeader {
    border-bottom-color: #828282; }
  .RadComboBoxDropDown_Telerik .rcbFooter {
    border-top-color: #828282; }
  .RadComboBoxDropDown_Telerik .rcbHovered {
    color: black;
    background-color: #9ddf6c; }
  .RadComboBoxDropDown_Telerik .rcbDisabled {
    color: #8a8a8a; }
  .RadComboBoxDropDown_Telerik .rcbLoading {
    color: black;
    background-color: #9ddf6c; }
  .RadComboBoxDropDown_Telerik .rcbItem em,
  .RadComboBoxDropDown_Telerik .rcbHovered em {
    color: black;
    background-color: #9ddf6c; }
  .RadComboBoxDropDown_Telerik .rcbCheckAllItems {
    color: black;
    background-color: #e6e6e6; }
  .RadComboBoxDropDown_Telerik .rcbCheckAllItemsHovered {
    color: black;
    background-color: white; }
  .RadComboBoxDropDown_Telerik .rcbMoreResults {
    border-top-color: #8e8e8e;
    color: black;
    background-color: #e6e6e6; }
    .RadComboBoxDropDown_Telerik .rcbMoreResults a {
      background-image: url('../Telerik/Common/radActionsSprite.png');
      _background-image: url('../Telerik/Common/radActionsSpriteIE6.png');
      background-position: -2.5px -25.5px; }
  .RadComboBoxDropDown_Telerik .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
