.RadMediaPlayer_Glow {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c262c; }
  .RadMediaPlayer_Glow div.rmpToolbar {
    color: #c1c7ca; }
  .RadMediaPlayer_Glow div.rmpVolContrBar,
  .RadMediaPlayer_Glow .rmpToolbarWrapper .rmpToolbar {
    background-image: linear-gradient(to bottom, rgba(90, 103, 111, 0.85) 0%, rgba(39, 47, 51, 0.85) 100%);
    border: 0 none; }
  .RadMediaPlayer_Glow div.rmpToolbar .RadSlider_Glow .rslTrack {
    border: 1px solid #5e6b73;
    background: #4b5860; }
  .RadMediaPlayer_Glow div.rmpToolbar .rslHorizontal .rslTrack {
    margin-top: 1px;
    background-image: linear-gradient(to top, #4c5b64 58%, #303b41 100%); }
  .RadMediaPlayer_Glow div.rmpToolbar .rslVertical .rslTrack {
    width: 6px !important;
    margin-left: -1px;
    background-image: linear-gradient(to left, #4c5b64 58%, #303b41 100%); }
  .RadMediaPlayer_Glow div.rmpToolbar .rslHorizontal .rslSelectedregion {
    height: 6px;
    background-image: linear-gradient(to top, #dd9415 0%, #ffba43 100%); }
  .RadMediaPlayer_Glow div.rmpToolbar .rslVertical .rslSelectedregion {
    width: 6px !important;
    margin-top: -1px;
    background-image: linear-gradient(to right, #dd9415 0%, #ffba43 100%); }
  .RadMediaPlayer_Glow div.rmpVolContrBar {
    background-image: linear-gradient(to bottom, rgba(39, 47, 51, 0.85) 0%, rgba(90, 103, 111, 0.85) 100%); }
  .RadMediaPlayer_Glow .rmpLeftControlsSet {
    line-height: 20px; }
  .RadMediaPlayer_Glow .rmpSolidBgr div.rmpVolContrBar,
  .RadMediaPlayer_Glow .rmpSolidBgr .rmpToolbar {
    background-image: linear-gradient(to bottom, #5a676f 0%, #272f33 100%); }
  .RadMediaPlayer_Glow .rmpLoadProgressBar {
    background-color: #29343b; }
  html .RadMediaPlayer_Glow div.rmpVolContrBar a.rslDraghandle {
    margin-left: -9px; }
  .RadMediaPlayer_Glow div.rmpSeekBar a.rslDraghandle {
    margin-top: -10px; }
  .RadMediaPlayer_Glow .rmpPlaylist {
    background: #35434b; }
    .RadMediaPlayer_Glow .rmpPlaylist li a {
      background: #35434b;
      color: #c1c7ca; }
      .RadMediaPlayer_Glow .rmpPlaylist li a:hover {
        background: #4d5c65; }
    .RadMediaPlayer_Glow .rmpPlaylist li.rmpActive a {
      background: #61717a; }
    .RadMediaPlayer_Glow .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #3f4d55;
      vertical-align: top; }
      .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #4d5c65; }
    .RadMediaPlayer_Glow .rmpPlaylist .rmpIcon {
      margin: 0;
      width: 28px;
      height: 28px; }
    .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Glow .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: -2px; }
  .RadMediaPlayer_Glow .rmpPlaylistVertical li,
  .RadMediaPlayer_Glow .rmpPlaylistVerticalInside li {
    border-top: 1px solid #515a61;
    border-bottom: 1px solid #29343b; }
  .RadMediaPlayer_Glow .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Glow .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid #29343b; }
  .RadMediaPlayer_Glow .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Glow .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid #29343b; }
  .RadMediaPlayer_Glow .rmpPlaylistHorizontal li {
    border-left: 1px solid #515a61;
    border-right: 1px solid #29343b; }
    .RadMediaPlayer_Glow .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Glow .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap {
    border-right: 1px solid #29343b; }
  .RadMediaPlayer_Glow .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #29343b; }
  .RadMediaPlayer_Glow .rmpBanner {
    border: 1px solid #4b5860; }
    .RadMediaPlayer_Glow .rmpBanner .rmpActionButton {
      background: #4b5860; }
  .RadMediaPlayer_Glow .rmpBigPlayButton,
  .RadMediaPlayer_Glow .rmpBigPauseButton {
    background: rgba(41, 52, 59, 0.4); }
  .RadMediaPlayer_Glow .rmpToolTip,
  .RadMediaPlayer_Glow .rmpBigPlayIcon,
  .RadMediaPlayer_Glow .rmpBigPauseIcon {
    background-image: url('../Glow/MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Glow .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Glow .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Glow .rmpToolTip {
    background-position: -123px -241px; }

.RadMediaPlayer_Glow {
  font-size: 16px; }
  .RadMediaPlayer_Glow .rmpPlaylist .rmpTitle {
    font-size: 0.75em; }
  .RadMediaPlayer_Glow .rmpToolbar .rmpActionButton {
    color: white; }
    .RadMediaPlayer_Glow .rmpToolbar .rmpActionButton:hover,
    .RadMediaPlayer_Glow .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: #ffad2c; }
  .RadMediaPlayer_Glow .rmpSocialShareBox {
    background-color: #35434b;
    color: #e2e8eb; }
  .RadMediaPlayer_Glow .sshLinkItem {
    color: #e2e8eb;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%); }
    .RadMediaPlayer_Glow .sshLinkItem:active, .RadMediaPlayer_Glow .sshLinkItem:hover {
      color: #e2e8eb; }
