.RadMenu_Metro .rmRootToggle {
  color: #767676;
  border-color: #e5e5e5;
  border-radius: 0;
  background-color: #f9f9f9;
  box-shadow: none; }
  .RadMenu_Metro .rmRootToggle:active, .RadMenu_Metro .rmRootToggle.rmExpanded {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
.RadMenu_Metro.rmDisabled .rmRootToggle:active, .RadMenu_Metro.rmDisabled .rmRootToggle.rmExpanded {
  color: #767676;
  background-color: #f9f9f9;
  border-color: #e5e5e5;
  background-color: #f9f9f9; }

.RadMenuPopup_Metro {
  color: #767676;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #cdcdcd;
  background-color: white; }
  .RadMenuPopup_Metro:before {
    border-color: transparent transparent #cdcdcd; }
  .RadMenuPopup_Metro:after {
    border-color: transparent transparent white; }
.RadMenuPopup_Metro .rmItem {
  border-color: #cdcdcd; }
  .RadMenuPopup_Metro .rmItem.rmSelected {
    color: black;
    background-color: #e8e8e8; }
.RadMenuPopup_Metro .rmLoading:after {
  background-color: rgba(255, 255, 255, 0.8); }
.RadMenuPopup_Metro .rmLoadingIcon:after {
  background-image: url('../Metro/Common/loading_small.gif'); }
