.RadMenu_WebBlue .rmRootToggle {
  color: #0d202b;
  border-color: #4e667e;
  color: #0d202b;
  background-color: #d7e2e7;
  background-image: linear-gradient(#e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%); }
  .RadMenu_WebBlue .rmRootToggle:active, .RadMenu_WebBlue .rmRootToggle.rmExpanded {
    color: #0d202b;
    border-color: #133c44;
    color: #0d202b;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%); }
.RadMenu_WebBlue.rmDisabled .rmRootToggle:active, .RadMenu_WebBlue.rmDisabled .rmRootToggle.rmExpanded {
  border-color: #4e667e;
  color: #0d202b;
  background-color: #d7e2e7;
  background-image: linear-gradient(#e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%); }

.RadMenuPopup_WebBlue {
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  border-color: #768ca5;
  background-color: #f0f2f4; }
  .RadMenuPopup_WebBlue:before {
    border-color: transparent transparent #768ca5; }
  .RadMenuPopup_WebBlue:after {
    border-color: transparent transparent #f0f2f4; }
.RadMenuPopup_WebBlue .rmItem {
  border-color: #fff;
  border-bottom: 1px solid #d3dde4; }
  .RadMenuPopup_WebBlue .rmItem:last-child {
    border-bottom: 0; }
  .RadMenuPopup_WebBlue .rmItem.rmSelected {
    color: #0e3d4f;
    background-color: #c0e4f6; }
.RadMenuPopup_WebBlue .rmLoading:after {
  background-color: rgba(255, 255, 255, 0.8); }
.RadMenuPopup_WebBlue .rmLoadingIcon:after {
  background-image: url('../WebBlue/Common/loading_small.gif'); }
