.RadButton_Office2010Black {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* RadButton Office2010Black Skin */ }
  .RadButton_Office2010Black .rbDecorated {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  .RadButton_Office2010Black.rbSkinnedButton,
  .RadButton_Office2010Black .rbDecorated, .RadButton_Office2010Black.rbVerticalButton, .RadButton_Office2010Black.rbVerticalButton .rbDecorated,
  .RadButton_Office2010Black .rbSplitRight,
  .RadButton_Office2010Black .rbSplitLeft {
    background-image: url('Common/radFormSprite.png');
    _background-image: url('Common/radFormSpriteIE6.png');
    color: black; }
  .RadButton_Office2010Black .rbToggleCheckbox,
  .RadButton_Office2010Black .rbToggleCheckboxChecked,
  .RadButton_Office2010Black .rbToggleCheckboxFilled,
  .RadButton_Office2010Black .rbToggleRadio,
  .RadButton_Office2010Black .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png');
    _background-image: url('Common/radFormToggleSpriteIE6.png'); }
  .RadButton_Office2010Black.rbToggleButton, .RadButton_Office2010Black.rbToggleButton.rbDisabled:hover {
    color: black; }
  .RadButton_Office2010Black.rbToggleButton:hover {
    color: black; }
  .RadButton_Office2010Black.RadButton.rbLinkButton {
    background-color: #949494;
    border: 1px solid #262626;
    _border: 1px solid #262626 !important;
    color: black; }
    .RadButton_Office2010Black.RadButton.rbLinkButton:hover {
      background-color: #ffe176;
      _border: 1px solid #262626 !important;
      color: black; }
  .RadButton_Office2010Black.RadButton.rbLinkButtonChecked, .RadButton_Office2010Black.RadButton.rbLinkButtonChecked:hover {
    background-color: #f7c840;
    color: black;
    border: 1px solid #c2983f; }
  .RadButton_Office2010Black.rbLinkButton.rbDisabled, .RadButton_Office2010Black.rbLinkButton.rbDisabled:hover {
    background-color: #999999;
    border: 1px solid #262626;
    color: #656565; }
  .RadButton_Office2010Black.rbLinkButton:hover .rbSplitLeft, .RadButton_Office2010Black.rbLinkButton:hover .rbSplitRight {
    background-color: #949494; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitRight {
    border-left: 1px solid #262626; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitRight:hover {
    background-color: #ffe176;
    border-left: 1px solid #f7c840; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitRight:active, .RadButton_Office2010Black.rbLinkButton .rbSplitRight:focus {
    background-color: #f7c840;
    border-left: 1px solid #f7c840; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitLeft {
    border-right: 1px solid #262626; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitLeft:hover {
    background-color: #ffe176;
    border-right: 1px solid #f7c840; }
  .RadButton_Office2010Black.rbLinkButton .rbSplitLeft:active, .RadButton_Office2010Black.rbLinkButton .rbSplitLeft:focus {
    background-color: #f7c840;
    border-right: 1px solid #f7c840; }
  .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitLeft, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitLeft:hover, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitLeft:active, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitLeft:focus {
    border-right: 1px solid #262626; }
  .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitRight, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitRight:hover, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitRight:active, .RadButton_Office2010Black.rbLinkButton.rbDisabled .rbSplitRight:focus {
    border-left: 1px solid #262626; }
  .RadButton_Office2010Black.rbLinkButton.rbRounded {
    border-color: #262626;
    color: black;
    background-color: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%); }
  .RadButton_Office2010Black.rbLinkButton.rbRounded:hover {
    border-color: #f7c840;
    color: black;
    background-color: #fff3c9;
    background-image: -webkit-linear-gradient(top, #ffe68b 0%, #ffe176 25%, #ffe176 50%, #fff3c9 100%);
    background-image: -moz-linear-gradient(top, #ffe68b 0%, #ffe176 25%, #ffe176 50%, #fff3c9 100%);
    background-image: -ms-linear-gradient(top, #ffe68b 0%, #ffe176 25%, #ffe176 50%, #fff3c9 100%);
    background-image: -o-linear-gradient(top, #ffe68b 0%, #ffe176 25%, #ffe176 50%, #fff3c9 100%);
    background-image: linear-gradient(top, #ffe68b 0%, #ffe176 25%, #ffe176 50%, #fff3c9 100%); }
  .RadButton_Office2010Black.rbLinkButton.rbRounded:active, .RadButton_Office2010Black.rbLinkButton.rbRounded:focus {
    border-color: #c2983f;
    color: black;
    background-color: #feed76;
    background-image: -webkit-linear-gradient(top, #f8d04c 0%, #f7c840 25%, #f7c840 50%, #feed76 100%);
    background-image: -moz-linear-gradient(top, #f8d04c 0%, #f7c840 25%, #f7c840 50%, #feed76 100%);
    background-image: -ms-linear-gradient(top, #f8d04c 0%, #f7c840 25%, #f7c840 50%, #feed76 100%);
    background-image: -o-linear-gradient(top, #f8d04c 0%, #f7c840 25%, #f7c840 50%, #feed76 100%);
    background-image: linear-gradient(top, #f8d04c 0%, #f7c840 25%, #f7c840 50%, #feed76 100%); }
  .RadButton_Office2010Black.rbLinkButton.rbRounded.rbDisabled, .RadButton_Office2010Black.rbLinkButton.rbRounded.rbDisabled:hover, .RadButton_Office2010Black.rbLinkButton.rbRounded.rbDisabled:active, .RadButton_Office2010Black.rbLinkButton.rbRounded.rbDisabled:focus {
    border-color: #262626;
    color: #656565;
    background-color: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-image: linear-gradient(top, #c7c7c7 0%, #6f6f6f 100%);
    background-position: 0 0; }
