/*========================================= Toolbar related CSS ========================*/
.RadFileExplorer_Office2010Black {
  /* Overwrites padding for better presentation and space saving */
  /* Thumbnail view */
  /* Thumbnail filter */ }
  .RadFileExplorer_Office2010Black .RadToolBar .rtbText {
    background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
    _background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
    background-repeat: no-repeat; }
  .RadFileExplorer_Office2010Black .rgDataDiv {
    background-color: white;
    /* used error-bg-color var to match white bg color */ }
  .RadFileExplorer_Office2010Black,
  .RadFileExplorer_Office2010Black .rfeAddressBox,
  .RadFileExplorer_Office2010Black .rfeFilterTxt {
    border-color: #262626;
    /* used button-border-color-var to match the right color */ }
  .RadFileExplorer_Office2010Black div.selectedFileName {
    border-top: 1px solid #2c2c2c; }
  .RadFileExplorer_Office2010Black .RadSplitter_Office2010Black,
  .RadFileExplorer_Office2010Black .RadSplitter_Office2010Black .rspPaneTabContainer {
    border: none; }
  .RadFileExplorer_Office2010Black .RadGrid .rgRow td,
  .RadFileExplorer_Office2010Black .RadGrid .rgAltRow td,
  .RadFileExplorer_Office2010Black .RadGrid .rgEditRow td,
  .RadFileExplorer_Office2010Black .RadGrid .rgFooter td {
    padding-left: 8px;
    padding-right: 8px; }
  .RadFileExplorer_Office2010Black .rfeThumbList a:hover,
  .RadFileExplorer_Office2010Black .rfeThumbList .rfeHoveredLink,
  .RadFileExplorer_Office2010Black .rfeThumbList .rfeSelectedLink,
  .RadFileExplorer_Office2010Black .rfeThumbList .rfeSelectedLink:hover {
    background-image: url('../Common/Gradients/office2010Black_smoothSprite_20.png');
    background-color: #fff3c9;
    border-color: #ffe68b; }
  .RadFileExplorer_Office2010Black .rfeThumbList .rfeSelectedLink,
  .RadFileExplorer_Office2010Black .rfeThumbList .rfeSelectedLink:hover {
    background-color: #feed76; }
  .RadFileExplorer_Office2010Black .rfeFilterContainer {
    background-image: url('../Common/Gradients/office2010Black_smoothSprite_20.png');
    background-color: #424242; }
  .RadFileExplorer_Office2010Black .rfeFilterContainer .rfeFilterLbl {
    color: #fff; }
  .RadFileExplorer_Office2010Black .rfeLink,
  .RadFileExplorer_Office2010Black .rfeLink:hover,
  .RadFileExplorer_Office2010Black .rfeSelectedLink {
    color: black; }
  .RadFileExplorer_Office2010Black div.rfePageControlContainer {
    color: white; }

