.RadMediaPlayer_Office2010Black {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadMediaPlayer_Office2010Black .rmpToolbar {
    color: #222222;
    background-image: -webkit-linear-gradient(top, rgba(199, 199, 199, 0.85) 0%, rgba(160, 160, 160, 0.85) 100%);
    background-image: -moz-linear-gradient(top, rgba(199, 199, 199, 0.85) 0%, rgba(160, 160, 160, 0.85) 100%);
    background-image: -ms-linear-gradient(top, rgba(199, 199, 199, 0.85) 0%, rgba(160, 160, 160, 0.85) 100%);
    background-image: -o-linear-gradient(top, rgba(199, 199, 199, 0.85) 0%, rgba(160, 160, 160, 0.85) 100%);
    background-image: linear-gradient(to bottom, rgba(199, 199, 199, 0.85) 0%, rgba(160, 160, 160, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9C7C7C7', endColorstr='#D9A0A0A0',GradientType=0 );
    border-color: #2c2c2c; }
  .RadMediaPlayer_Office2010Black div.rmpVolContrBar {
    background-image: -webkit-linear-gradient(top, rgba(160, 160, 160, 0.85) 0%, rgba(199, 199, 199, 0.85) 100%);
    background-image: -moz-linear-gradient(top, rgba(160, 160, 160, 0.85) 0%, rgba(199, 199, 199, 0.85) 100%);
    background-image: -ms-linear-gradient(top, rgba(160, 160, 160, 0.85) 0%, rgba(199, 199, 199, 0.85) 100%);
    background-image: -o-linear-gradient(top, rgba(160, 160, 160, 0.85) 0%, rgba(199, 199, 199, 0.85) 100%);
    background-image: linear-gradient(to bottom, rgba(160, 160, 160, 0.85) 0%, rgba(199, 199, 199, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9A0A0A0', endColorstr='#D9C7C7C7',GradientType=0 ); }
  .RadMediaPlayer_Office2010Black .rmpSolidBgr div.rmpVolContrBar,
  .RadMediaPlayer_Office2010Black .rmpSolidBgr .rmpToolbar {
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #a0a0a0 100%);
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #a0a0a0 100%);
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #a0a0a0 100%);
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #a0a0a0 100%);
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #a0a0a0 100%); }
  .RadMediaPlayer_Office2010Black .rmpToolbar div.rslTrack {
    background: #3f3f3f;
    border: 1px solid #2c2c2c; }
  .RadMediaPlayer_Office2010Black div.rslHorizontal .rslTrack {
    height: 6px !important;
    background-image: -webkit-linear-gradient(top, #262626 0%, #575757 100%);
    background-image: -moz-linear-gradient(top, #262626 0%, #575757 100%);
    background-image: -ms-linear-gradient(top, #262626 0%, #575757 100%);
    background-image: -o-linear-gradient(top, #262626 0%, #575757 100%);
    background-image: linear-gradient(to bottom, #262626 0%, #575757 100%); }
  .RadMediaPlayer_Office2010Black div.rslVertical .rslTrack {
    width: 4px !important;
    background-image: -webkit-linear-gradient(left, #262626 0%, #575757 100%);
    background-image: -moz-linear-gradient(left, #262626 0%, #575757 100%);
    background-image: -ms-linear-gradient(left, #262626 0%, #575757 100%);
    background-image: -o-linear-gradient(left, #262626 0%, #575757 100%);
    background-image: linear-gradient(to right, #262626 0%, #575757 100%); }
  .RadMediaPlayer_Office2010Black .rmpToolbar div.rslSelectedregion {
    background: #fddb6a; }
  .RadMediaPlayer_Office2010Black div.rslHorizontal .rslSelectedregion {
    background-image: -webkit-linear-gradient(top, #ffe37c 0%, #f7c840 100%);
    background-image: -moz-linear-gradient(top, #ffe37c 0%, #f7c840 100%);
    background-image: -ms-linear-gradient(top, #ffe37c 0%, #f7c840 100%);
    background-image: -o-linear-gradient(top, #ffe37c 0%, #f7c840 100%);
    background-image: linear-gradient(to bottom, #ffe37c 0%, #f7c840 100%); }
  .RadMediaPlayer_Office2010Black div.rslVertical .rslSelectedregion {
    width: 4px;
    margin-top: -1px;
    background-image: -webkit-linear-gradient(left, #ffe37c 0%, #f7c840 100%);
    background-image: -moz-linear-gradient(left, #ffe37c 0%, #f7c840 100%);
    background-image: -ms-linear-gradient(left, #ffe37c 0%, #f7c840 100%);
    background-image: -o-linear-gradient(left, #ffe37c 0%, #f7c840 100%);
    background-image: linear-gradient(to right, #ffe37c 0%, #f7c840 100%); }
  .RadMediaPlayer_Office2010Black .rmpLoadProgressBar {
    background-color: #8b8b8b;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    *filter: alpha("opacity=60"); }
  .RadMediaPlayer_Office2010Black div.rmpToolbar a.rslDraghandle {
    background-image: -webkit-linear-gradient(top, #c6c6c6 0%, #737373 100%);
    background-image: -moz-linear-gradient(top, #c6c6c6 0%, #737373 100%);
    background-image: -ms-linear-gradient(top, #c6c6c6 0%, #737373 100%);
    background-image: -o-linear-gradient(top, #c6c6c6 0%, #737373 100%);
    background-image: linear-gradient(to bottom, #c6c6c6 0%, #737373 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6', endColorstr='#737373',GradientType=0 );
    background-position: 0 0;
    border: 1px solid #262626; }
    .RadMediaPlayer_Office2010Black div.rmpToolbar a.rslDraghandle:hover, .RadMediaPlayer_Office2010Black div.rmpToolbar a.rslDraghandle:active {
      background-image: -webkit-linear-gradient(top, #ffe791 0%, #ffe175 50%, #fff8df 100%);
      background-image: -moz-linear-gradient(top, #ffe791 0%, #ffe175 50%, #fff8df 100%);
      background-image: -ms-linear-gradient(top, #ffe791 0%, #ffe175 50%, #fff8df 100%);
      background-image: -o-linear-gradient(top, #ffe791 0%, #ffe175 50%, #fff8df 100%);
      background-image: linear-gradient(to bottom, #ffe791 0%, #ffe175 50%, #fff8df 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe791', endColorstr='#fff8df',GradientType=0 );
      background-position: 0 0;
      border-color: #f7c840;
      box-shadow: 0 0 0 1px #fffde6 inset; }
  .RadMediaPlayer_Office2010Black div.rslHorizontal a.rslDraghandle {
    width: 7px;
    height: 12px;
    margin-top: -4px; }
  .RadMediaPlayer_Office2010Black div.rslVertical a.rslDraghandle {
    width: 10px;
    height: 7px;
    margin-left: -4px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylist {
    background: #6f6f6f; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist li a {
      background: #6f6f6f;
      color: #e2e2e2; }
      .RadMediaPlayer_Office2010Black .rmpPlaylist li a:hover {
        background: #999999; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist li.rmpActive a {
      background: #c5b373;
      color: #000; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: gray;
      vertical-align: top; }
      .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #999999; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Office2010Black .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistVertical,
  .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside {
    border-left: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a; }
    .RadMediaPlayer_Office2010Black .rmpPlaylistVertical li,
    .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside li {
      border-top: 1px solid #797979;
      border-bottom: 1px solid #5a5a5a; }
    .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
    .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
      border: 1px solid #5a5a5a;
      border-left: 0 none; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
    border-bottom: 1px solid #5a5a5a; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal li {
    border-left: 1px solid #797979;
    border-right: 1px solid #5a5a5a; }
    .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a; }
  .RadMediaPlayer_Office2010Black .rmpBanner {
    border: 1px solid #999999; }
    .RadMediaPlayer_Office2010Black .rmpBanner .rmpActionButton {
      background: #999999; }
  .RadMediaPlayer_Office2010Black .rmpBigPlayButton,
  .RadMediaPlayer_Office2010Black .rmpBigPauseButton {
    background: rgba(199, 199, 199, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99C7C7C7', endColorstr='#99C7C7C7',GradientType=0 ); }
  .RadMediaPlayer_Office2010Black .rmpIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadMediaPlayer_Office2010Black .rmpToolTip,
  .RadMediaPlayer_Office2010Black .rmpBigPlayIcon,
  .RadMediaPlayer_Office2010Black .rmpBigPauseIcon {
    background-image: url('MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Office2010Black .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Office2010Black .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Office2010Black .rmpToolTip {
    background-position: -123px -241px; }
  .RadMediaPlayer_Office2010Black .rmpPlayIcon {
    background-position: 0px -1999px; }
  .RadMediaPlayer_Office2010Black .rmpPauseIcon {
    background-position: 0px -2019px; }
  .RadMediaPlayer_Office2010Black .rmpVolumeIcon {
    background-position: 1px -2039px; }
  .RadMediaPlayer_Office2010Black .rmpMuteIcon {
    background-position: 1px -2059px; }
  .RadMediaPlayer_Office2010Black .rmpHDIcon {
    background-position: 0px -2079px; }
  .RadMediaPlayer_Office2010Black .rmpFullScrIcon {
    background-position: 0px -2099px; }
  .RadMediaPlayer_Office2010Black .rmpExtFullScrIcon {
    background-position: 0px -2119px; }
  .RadMediaPlayer_Office2010Black .rmpShareIcon {
    background-position: 0px -2139px; }
  .RadMediaPlayer_Office2010Black .rmpClosePlaylistIcon {
    background-position: 0px -2220px; }
  .RadMediaPlayer_Office2010Black .rmpOpenPlaylistIcon {
    background-position: 0px -2200px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpPlaylistPrevIcon {
    background-position: 0px -2240px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpPlaylistNextIcon {
    background-position: 0px -2260px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpPlaylistPrevIcon {
    background-position: 0px -2280px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpPlaylistNextIcon {
    background-position: 0px -2300px; }
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpPlayIcon {
    background-position: -20px -1999px; }
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpPauseIcon {
    background-position: -20px -2019px; }
  .RadMediaPlayer_Office2010Black .rmpVolContr:hover .rmpVolumeIcon {
    background-position: -19px -2039px; }
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpMuteIcon {
    background-position: -19px -2059px; }
  .RadMediaPlayer_Office2010Black .rmpHDActiveIcon,
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpHDIcon {
    background-position: -34px -2079px; }
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpFullScrIcon {
    background-position: -20px -2099px; }
  .RadMediaPlayer_Office2010Black .rmpActionButton:hover .rmpExtFullScrIcon {
    background-position: -20px -2119px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2240px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2010Black .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2260px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2280px; }
  .RadMediaPlayer_Office2010Black .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2300px; }
  .RadMediaPlayer_Office2010Black .rmpCloseBannerIcon {
    background-position: 0px -760px; }
  .RadMediaPlayer_Office2010Black .rmpCloseBannerIcon:hover {
    background-position: -20px -760px; }

._Telerik_IE9 .RadMediaPlayer_Office2010Black div.rslVertical .rslSelectedregion {
  margin-top: 0; }
