.RadSiteMap_Office2010Black {
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Office2010Black .rsmManyLevels .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Office2010Black .rsmTwoLevels .rsmLink, .RadSiteMap_Office2010Black .rsmThreeLevels .rsmLink, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel1 .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Office2010Black .rsmOneLevel .rsmLink, .RadSiteMap_Office2010Black .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2010Black .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel2 .rsmLink {
    border: 0;
    border-radius: 3px;
    color: #ffffff; }
    .RadSiteMap_Office2010Black .rsmOneLevel .rsmLink:hover, .RadSiteMap_Office2010Black .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2010Black .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: black;
      background-position: 0 -1000px; }
  .RadSiteMap_Office2010Black .rsmLink,
  .RadSiteMap_Office2010Black .rsmTemplate {
    color: #ffffff; }
  .RadSiteMap_Office2010Black .rsmLink {
    background-image: url('Common/radGradientListSprite.png'); }
  .RadSiteMap_Office2010Black .rsmLink:hover {
    color: #ffffff; }
  .RadSiteMap_Office2010Black .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }
