.RadTileList_Office2010Black {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadTileList_Office2010Black .rtlistGroupSeparatorVisible {
    background-color: #8c8c8c; }
