.RadToolTip_Office2010Black.rtLoading {
  background: url('Common/loading.gif') no-repeat center; }
.RadToolTip_Office2010Black .rtWrapper .rtWrapperTopLeft,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperTopRight,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperBottomLeft,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperBottomRight,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperTopCenter,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperBottomCenter,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperTopLeft,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperTopRight,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperBottomLeft,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperBottomRight,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperTopCenter,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperBottomCenter,
.RadToolTip_Office2010Black .rtCloseButton {
  background-image: url('ToolTip/ToolTipSprites.png'); }
.RadToolTip_Office2010Black .rtWrapper .rtWrapperLeftMiddle,
.RadToolTip_Office2010Black .rtWrapper .rtWrapperRightMiddle,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperLeftMiddle,
.RadToolTip_Office2010Black table.rtShadow .rtWrapperRightMiddle {
  background-image: url('ToolTip/ToolTipVerticalSprites.png'); }
.RadToolTip_Office2010Black .rtWrapper .rtWrapperContent {
  background-color: #4b4b4b;
  color: black; }
.RadToolTip_Office2010Black .rtTitlebar {
  color: black; }
.RadToolTip_Office2010Black .rtCallout {
  background-image: url('ToolTip/Callouts.gif'); }

