.ReminderDialog_Sunset .rsRemList .rsLi:hover {
  color: #333333;
  background-color: #f9ed8a; }
.ReminderDialog_Sunset .rsRemList .rsLiSelected,
.ReminderDialog_Sunset .rsRemList .rsLiSelected:hover {
  color: #863d02;
  background-color: #f2d52d; }
.ReminderDialog_Sunset .rsRemSnoozePanel .rsLi:before {
  border-color: white;
  background-color: white;
  box-shadow: 0 0 1px #938879; }
.ReminderDialog_Sunset .rsRemSnoozePanel .rsLi:hover:before {
  background-color: #938879; }
.ReminderDialog_Sunset .rsRemSnoozePanel .rsLi:active:before {
  background-color: #904c23; }
