.RadComboBox_Sitefinity {
  color: black;
  font: normal 12px/16px Arial, Helvetica, sans-serif; }
  .RadComboBox_Sitefinity .rcbInner {
    border-color: #e2e3ea;
    color: #333333;
    background-color: white;
    border-radius: 3px; }
  .RadComboBox_Sitefinity .rcbInput {
    color: #333333;
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Sitefinity .rcbEmptyMessage {
    color: #999999;
    font-style: italic; }
  .RadComboBox_Sitefinity .rcbActionButton {
    border-radius: 0 3px 3px 0;
    background-image: url('../Sitefinity/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #cccccc;
    color: #333333;
    background-color: #dfe1ca;
    background-image: -webkit-linear-gradient(top, #f5f5e6);
    background-image: -moz-linear-gradient(top, #f5f5e6);
    background-image: -ms-linear-gradient(top, #f5f5e6);
    background-image: -o-linear-gradient(top, #f5f5e6);
    background-image: linear-gradient(top, #f5f5e6); }
    .RadComboBox_Sitefinity .rcbActionButton .rcbIcon {
      background-image: url('../Sitefinity/Common/radActionsSprite.png');
      _background-image: url('../Sitefinity/Common/radActionsSpriteIE6.png');
      background-position: -2px -22px; }
  .RadComboBox_Sitefinity .rcbHovered {
    border-color: #abadb3;
    color: black;
    background-color: white; }
    .RadComboBox_Sitefinity .rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_Sitefinity .rcbHovered .rcbActionButton {
      border-color: #cccccc;
      color: black;
      background-color: #dbf4c7;
      background-image: -webkit-linear-gradient(top, #f4fdec);
      background-image: -moz-linear-gradient(top, #f4fdec);
      background-image: -ms-linear-gradient(top, #f4fdec);
      background-image: -o-linear-gradient(top, #f4fdec);
      background-image: linear-gradient(top, #f4fdec); }
      .RadComboBox_Sitefinity .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Sitefinity .rcbFocused {
    border-color: #666666;
    color: black;
    background-color: white; }
    .RadComboBox_Sitefinity .rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_Sitefinity .rcbFocused .rcbActionButton {
      border-color: #666666;
      color: black;
      background-color: #93da59;
      background-image: -webkit-linear-gradient(top, #cdf5ab);
      background-image: -moz-linear-gradient(top, #cdf5ab);
      background-image: -ms-linear-gradient(top, #cdf5ab);
      background-image: -o-linear-gradient(top, #cdf5ab);
      background-image: linear-gradient(top, #cdf5ab); }
      .RadComboBox_Sitefinity .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Sitefinity .rcbDisabled {
    border-color: #dfdfdf;
    color: #afaeae;
    background-color: white; }
    .RadComboBox_Sitefinity .rcbDisabled .rcbInput {
      color: #afaeae; }
    .RadComboBox_Sitefinity .rcbDisabled .rcbActionButton {
      border-color: #d3d5d7;
      color: #afaeae;
      background-color: #dfe1ca;
      background-image: -webkit-linear-gradient(top, #f5f5e6);
      background-image: -moz-linear-gradient(top, #f5f5e6);
      background-image: -ms-linear-gradient(top, #f5f5e6);
      background-image: -o-linear-gradient(top, #f5f5e6);
      background-image: linear-gradient(top, #f5f5e6); }
      .RadComboBox_Sitefinity .rcbDisabled .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Sitefinity .rcbReadOnly {
    background-image: url('../Sitefinity/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #cccccc;
    color: #333333;
    background-color: #dfe1ca;
    background-image: -webkit-linear-gradient(top, #f5f5e6);
    background-image: -moz-linear-gradient(top, #f5f5e6);
    background-image: -ms-linear-gradient(top, #f5f5e6);
    background-image: -o-linear-gradient(top, #f5f5e6);
    background-image: linear-gradient(top, #f5f5e6); }
    .RadComboBox_Sitefinity .rcbReadOnly .rcbInput {
      color: #333333; }
  .RadComboBox_Sitefinity .rcbReadOnly.rcbHovered {
    border-color: #cccccc;
    color: black;
    background-color: #dbf4c7;
    background-image: -webkit-linear-gradient(top, #f4fdec);
    background-image: -moz-linear-gradient(top, #f4fdec);
    background-image: -ms-linear-gradient(top, #f4fdec);
    background-image: -o-linear-gradient(top, #f4fdec);
    background-image: linear-gradient(top, #f4fdec); }
    .RadComboBox_Sitefinity .rcbReadOnly.rcbHovered .rcbInput {
      color: black; }
  .RadComboBox_Sitefinity .rcbReadOnly.rcbFocused {
    border-color: #666666;
    color: black;
    background-color: #93da59;
    background-image: -webkit-linear-gradient(top, #cdf5ab);
    background-image: -moz-linear-gradient(top, #cdf5ab);
    background-image: -ms-linear-gradient(top, #cdf5ab);
    background-image: -o-linear-gradient(top, #cdf5ab);
    background-image: linear-gradient(top, #cdf5ab); }
    .RadComboBox_Sitefinity .rcbReadOnly.rcbFocused .rcbInput {
      color: black; }
  .RadComboBox_Sitefinity .rcbReadOnly.rcbDisabled {
    border-color: #d3d5d7;
    color: #afaeae;
    background-color: #dfe1ca;
    background-image: -webkit-linear-gradient(top, #f5f5e6);
    background-image: -moz-linear-gradient(top, #f5f5e6);
    background-image: -ms-linear-gradient(top, #f5f5e6);
    background-image: -o-linear-gradient(top, #f5f5e6);
    background-image: linear-gradient(top, #f5f5e6); }
    .RadComboBox_Sitefinity .rcbReadOnly.rcbDisabled .rcbInput {
      color: #afaeae; }

.RadComboBox_Sitefinity_rtl .rcbActionButton {
  border-radius: 3px 0 0 3px; }

.RadComboBoxDropDown_Sitefinity {
  border-color: #c6c7d2;
  color: #333333;
  background: white;
  font: normal 12px/16px Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Sitefinity .rcbHeader,
  .RadComboBoxDropDown_Sitefinity .rcbFooter {
    color: black;
    background-color: #eff0f1; }
  .RadComboBoxDropDown_Sitefinity .rcbHeader {
    border-bottom-color: #c6c7d2; }
  .RadComboBoxDropDown_Sitefinity .rcbFooter {
    border-top-color: #c6c7d2; }
  .RadComboBoxDropDown_Sitefinity .rcbHovered {
    color: #333333;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Sitefinity .rcbDisabled {
    color: #afaeae;
    background-color: transparent; }
  .RadComboBoxDropDown_Sitefinity .rcbLoading {
    color: #333333;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Sitefinity .rcbItem em,
  .RadComboBoxDropDown_Sitefinity .rcbHovered em {
    color: #333333;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Sitefinity .rcbCheckAllItems {
    color: black;
    background-color: #eff0f1; }
  .RadComboBoxDropDown_Sitefinity .rcbCheckAllItemsHovered {
    color: black;
    background-color: #eff0f1; }
  .RadComboBoxDropDown_Sitefinity .rcbMoreResults {
    border-top-color: #dbdfe6;
    color: black;
    background-color: #eff0f1; }
    .RadComboBoxDropDown_Sitefinity .rcbMoreResults a {
      background-image: url('../Sitefinity/Common/radActionsSprite.png');
      _background-image: url('../Sitefinity/Common/radActionsSpriteIE6.png');
      background-position: -2.5px -25.5px; }
  .RadComboBoxDropDown_Sitefinity .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
