.RadToolBar_WebBlue .rtbText {
  background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
  _background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
  background-repeat: no-repeat; }

/* RAD EDITOR DIALOGS REDESIGN */
.redWrapper .redSection {
  border-bottom-color: #768ca5; }
.redWrapper .reTool {
  border-color: #4e667e;
  color: #0d202b;
  background-color: #d7e2e7;
  background-image: -webkit-linear-gradient(top, #e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%);
  background-image: -moz-linear-gradient(top, #e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%);
  background-image: -ms-linear-gradient(top, #e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%);
  background-image: -o-linear-gradient(top, #e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%);
  background-image: linear-gradient(top, #e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%);
  border-color: #4e667e; }
.redWrapper .reTool:hover {
  border-color: #5d9fb7;
  color: #0e3d4f;
  background-color: #bee3f6;
  background-image: -webkit-linear-gradient(top, #d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%);
  background-image: -moz-linear-gradient(top, #d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%);
  background-image: -ms-linear-gradient(top, #d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%);
  background-image: -o-linear-gradient(top, #d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%);
  background-image: linear-gradient(top, #d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%);
  box-shadow: inset 0 0 1px white; }
.redWrapper .reTool:active,
.redWrapper .reTool:focus {
  border-color: #133c44;
  color: #0d202b;
  background-color: #7abace;
  background-image: -webkit-linear-gradient(top, #8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%);
  background-image: -moz-linear-gradient(top, #8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%);
  background-image: -ms-linear-gradient(top, #8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%);
  background-image: -o-linear-gradient(top, #8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%);
  background-image: linear-gradient(top, #8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%);
  box-shadow: inset 0 0 1px white; }
.redWrapper a.reDropdown:hover {
  background-image: url('Editor/ToolBarSprites.gif');
  background-color: #e9f8ff; }
.redWrapper .redDialogSeparator {
  border-left: 1px solid #768ca5;
  border-right: 1px solid #768ca5;
  background-image: -webkit-linear-gradient(top, #89a1b6 0%, #748ea3 100%);
  background-image: -moz-linear-gradient(top, #89a1b6 0%, #748ea3 100%);
  background-image: -ms-linear-gradient(top, #89a1b6 0%, #748ea3 100%);
  background-image: -o-linear-gradient(top, #89a1b6 0%, #748ea3 100%);
  background-image: linear-gradient(top, #89a1b6 0%, #748ea3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89a1b6', endColorstr='#748ea3',GradientType=0 );
  filter: none;
  background-color: #748ea3;
  background-position: 0 0; }
.redWrapper .redMsgContainerFBDialogs #propertyValueDescription,
.redWrapper .redMsgContainerFBDialogs #propertyValuePane {
  background-color: #e0e7ed;
  color: black; }

/* Right to Left Support */
.RadForm_WebBlue .redRtl .redWrapper .reTool .split_arrow:hover {
  border-right-color: #5d9fb7; }
.RadForm_WebBlue .redRtl .reDropdown:hover {
  background-image: url('Editor/ToolbarSprites.gif');
  background-color: #e9f8ff; }

