.RadAutoCompleteBox_Glow {
  color: #1c262c;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Glow .racTokenList {
    border-color: #8a9297;
    color: white;
    background-color: #29343b;
    padding-right: 27px; }
  .RadAutoCompleteBox_Glow .racDisabled {
    border-color: #474f53;
    color: #677277;
    background-color: #29343b; }
  .RadAutoCompleteBox_Glow .racToken {
    padding-right: 20px;
    padding-left: 8px;
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%); }
  .RadAutoCompleteBox_Glow .racTokenHovered {
    border-color: black;
    color: #e2e8eb;
    background-color: #2b363d;
    background-image: linear-gradient(#4e5960 0%, #2b363d 100%); }
  .RadAutoCompleteBox_Glow .racTokenSelected {
    border-color: black;
    color: white;
    background-color: #485258;
    background-image: linear-gradient(#485258 0%, #485258 100%); }
  .RadAutoCompleteBox_Glow .racDisabled .racToken {
    border-color: #394145;
    color: #677277;
    background-color: #1d272d;
    background-image: linear-gradient(#2d363b 0%, #1d272d 100%); }
  .RadAutoCompleteBox_Glow .racRemoveTokenLink {
    margin-top: -6px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -19px -3369px; }
  .RadAutoCompleteBox_Glow .racTextToken {
    padding-top: 1px;
    padding-bottom: 1px; }
  .RadAutoCompleteBox_Glow .racInput {
    padding: 3px 0;
    color: white;
    font: normal 13px Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Glow .racEmptyMessage {
    color: #c1c7ca;
    font-style: italic; }
  .RadAutoCompleteBox_Glow .racLoadingIcon {
    right: 5px;
    bottom: 5px;
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Glow {
  border-color: #1b2327;
  color: #c1c7ca;
  background: #35434b;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Glow .racHeader,
  .RadAutoCompleteBoxPopup_Glow .racFooter {
    color: #c1c7ca;
    background-color: #1c262c; }
  .RadAutoCompleteBoxPopup_Glow .racHeader {
    border-bottom-color: #1b2327; }
  .RadAutoCompleteBoxPopup_Glow .racFooter {
    border-top-color: #1b2327; }
  .RadAutoCompleteBoxPopup_Glow .racList {
    color: #c1c7ca;
    background-color: #242e35; }
  .RadAutoCompleteBoxPopup_Glow .racShowAll {
    border-color: #1b2327; }
  .RadAutoCompleteBoxPopup_Glow .racItemHovered {
    color: white;
    background-color: #4d5c65; }
