html .RadButton_Glow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  /* RadButton Default Skin */
  /* Primary Button styles */
  /* Override embedded icons for Dark skins */
  /* Basic 16x16 */
  /* Extended 16x16 */
  /* Basic 24x24 */
  /* Extended 24x24 */ }
  html .RadButton_Glow .rbDecorated {
    height: 26px;
    line-height: 28px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #e2e8eb; }
  html .RadButton_Glow .rbText {
    color: #e2e8eb; }
  html .RadButton_Glow.rbSkinnedButton, html .RadButton_Glow.rbLinkButton, html .RadButton_Glow.rbVerticalButton, html .RadButton_Glow.RadButton.rbDisabled, html .RadButton_Glow.RadButton.rbDisabled:hover, html .RadButton_Glow.RadButton.rbDisabled:active, html .RadButton_Glow.RadButton.rbDisabled:focus {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    height: 26px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-radius: 4px; }
  html .RadButton_Glow.RadButton.rbToggleButton.rbDisabled, html .RadButton_Glow.RadButton.rbToggleButton.rbDisabled:hover, html .RadButton_Glow.RadButton.rbToggleButton.rbDisabled:active, html .RadButton_Glow.RadButton.rbToggleButton.rbDisabled:focus {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: auto; }
  html .RadButton_Glow.rbSkinnedButton, html .RadButton_Glow.rbVerticalButton {
    padding: 0 10px; }
  html .RadButton_Glow.rbLinkButton {
    text-decoration: none;
    height: auto;
    line-height: 1.75em;
    min-height: 1.75em; }
  html .RadButton_Glow.RadButton.rbSkinnedButtonChecked, html .RadButton_Glow.RadButton.rbSkinnedButtonChecked:hover {
    background-color: #485258;
    color: white;
    border: 1px solid black; }
  html .RadButton_Glow.rbSkinnedButton:hover, html .RadButton_Glow.rbLinkButton:hover, html .RadButton_Glow.rbVerticalButton:hover {
    border-color: black;
    color: #e2e8eb;
    background-color: #2b363d;
    background-image: linear-gradient(#4e5960 0%, #2b363d 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }
  html .RadButton_Glow.rbSkinnedButton:active, html .RadButton_Glow.rbLinkButton:active, html .RadButton_Glow.rbVerticalButton:active, html .RadButton_Glow.rbSkinnedButton:focus, html .RadButton_Glow.rbLinkButton:focus, html .RadButton_Glow.rbVerticalButton:focus, html .RadButton_Glow.RadButton.rbSkinnedButtonChecked, html .RadButton_Glow.RadButton.rbSkinnedButtonChecked:hover, html .RadButton_Glow.RadButton.rbLinkButtonChecked, html .RadButton_Glow.RadButton.rbLinkButtonChecked:hover, html .RadButton_Glow.RadButton.rbVerticalButtonChecked, html .RadButton_Glow.RadButton.rbVerticalButtonChecked:hover {
    border-color: black;
    color: white;
    background-color: #485258;
    background-image: linear-gradient(#485258 0%, #485258 100%);
    box-shadow: inset 0 0 4px #1c262c;
    border: 1px solid #485258; }
  html .RadButton_Glow.rbSkinnedButton.rbDisabled, html .RadButton_Glow.rbSkinnedButton.rbDisabled:hover, html .RadButton_Glow.rbSkinnedButton.rbDisabled:active, html .RadButton_Glow.rbSkinnedButton.rbDisabled:focus, html .RadButton_Glow.rbLinkButton.rbDisabled, html .RadButton_Glow.rbLinkButton.rbDisabled:hover, html .RadButton_Glow.rbLinkButton.rbDisabled:active, html .RadButton_Glow.rbLinkButton.rbDisabled:focus, html .RadButton_Glow.rbVerticalButton.rbDisabled, html .RadButton_Glow.rbVerticalButton.rbDisabled:hover, html .RadButton_Glow.rbVerticalButton.rbDisabled:active, html .RadButton_Glow.rbVerticalButton.rbDisabled:focus {
    border-color: #394145;
    color: #677277;
    background-color: #1d272d;
    background-image: linear-gradient(#2d363b 0%, #1d272d 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background-position: 0 0; }
  html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitLeft, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitLeft:hover, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitLeft:active, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitLeft:focus, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitRight, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitRight:hover, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitRight:active, html .RadButton_Glow.rbLinkButton.rbDisabled span.rbSplitRight:focus, html .RadButton_Glow.rbLinkButton.rbDisabled:hover span.rbSplitRight, html .RadButton_Glow.rbLinkButton.rbDisabled:hover span.rbSplitLeft {
    background-color: transparent; }
  html .RadButton_Glow .rbToggleCheckbox,
  html .RadButton_Glow .rbToggleCheckboxChecked,
  html .RadButton_Glow .rbToggleCheckboxFilled,
  html .RadButton_Glow .rbToggleRadio,
  html .RadButton_Glow .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  html .RadButton_Glow.rbToggleButton, html .RadButton_Glow.rbToggleButton.rbDisabled:hover {
    color: #1c262c; }
  html .RadButton_Glow.RadButton .rbSplitRight, html .RadButton_Glow.RadButton .rbSplitLeft {
    width: 20px; }
  html .RadButton_Glow .rbDecorated.rbPrimary {
    padding: 0 0 0 25px; }
  html .RadButton_Glow .rbDecorated.rbSecondary {
    padding: 0 25px 0 0; }
  html .RadButton_Glow .rbDecorated.rbPrimary.rbSecondary {
    padding: 0 25px; }
  html .RadButton_Glow.rbNativeButton .rbPrimary {
    padding: 0 0 0 20px; }
  html .RadButton_Glow.rbNativeButton .rbSecondary {
    padding: 0 20px 0 0; }
  html .RadButton_Glow.rbNativeButton .rbPrimary.rbSecondary {
    padding: 0 20px; }
  html .RadButton_Glow .rbSplitLeft {
    border-right: 1px solid black;
    border-radius: 4px 0 0 4px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -15px -62px; }
    html .RadButton_Glow .rbSplitLeft:hover, html .RadButton_Glow .rbSplitLeft:focus, html .RadButton_Glow .rbSplitLeft:active {
      background-position: -15px -62px;
      border-right: 1px solid black; }
  html .RadButton_Glow .rbSplitRight {
    border-left: 1px solid black;
    border-radius: 0 4px 4px 0;
    background-image: url('Common/radActionsSprite.png');
    background-position: -15px -62px; }
    html .RadButton_Glow .rbSplitRight:hover, html .RadButton_Glow .rbSplitRight:focus, html .RadButton_Glow .rbSplitRight:active {
      background-position: -15px -62px;
      border-left: 1px solid black; }
  html .RadButton_Glow.RadButton.rbDisabled span.rbSplitLeft, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitLeft:hover, html .RadButton_Glow.RadButton.rbDisabled:hover span.rbSplitLeft, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitLeft:active, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitLeft:focus {
    border-right: 1px solid #394145;
    background-position: -15px -62px; }
  html .RadButton_Glow.RadButton.rbDisabled span.rbSplitRight, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitRight:hover, html .RadButton_Glow.RadButton.rbDisabled:hover span.rbSplitRight, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitRight:active, html .RadButton_Glow.RadButton.rbDisabled span.rbSplitRight:focus {
    border-left: 1px solid #394145;
    background-position: -15px -62px; }
  html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleRadio, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxFilled, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleRadio, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxFilled, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleRadio, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxFilled, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleRadio, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxFilled {
    top: 7px; }
  html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleRadio, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxFilled, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleRadio, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxFilled {
    left: 7px; }
  html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleRadio, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxFilled, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleRadio, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckbox, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleRadioChecked, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxChecked, html .RadButton_Glow.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxFilled {
    right: 7px; }
  html .RadButton_Glow .rbPrimaryIcon.rbToggleRadio,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleRadio,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckbox,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckbox,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleRadioChecked,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleRadioChecked,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckboxChecked,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckboxChecked,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckboxFilled,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckboxFilled {
    top: 1px; }
  html .RadButton_Glow .rbPrimaryIcon.rbToggleRadio,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckbox,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleRadioChecked,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckboxChecked,
  html .RadButton_Glow .rbPrimaryIcon.rbToggleCheckboxFilled {
    left: 3px; }
  html .RadButton_Glow .rbSecondaryIcon.rbToggleRadio,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckbox,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleRadioChecked,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckboxChecked,
  html .RadButton_Glow .rbSecondaryIcon.rbToggleCheckboxFilled {
    right: 3px; }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton, html .RadButton_Glow.rbLinkButton.rbPrimaryButton, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    _background-image: none;
    background-color: #ffba43;
    background-image: -webkit-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -moz-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -ms-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -o-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: linear-gradient(top, #ffba43 0%, #dd9415 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #1c262c; }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton:hover, html .RadButton_Glow.rbLinkButton.rbPrimaryButton:hover, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton:hover {
    background-color: #ffa800;
    background-image: -webkit-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -moz-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -ms-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -o-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: linear-gradient(top, #ffa800 0%, #d07f00 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton:active, html .RadButton_Glow.rbLinkButton.rbPrimaryButton:active, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton:active, html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton:focus, html .RadButton_Glow.rbLinkButton.rbPrimaryButton:focus, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton:focus {
    background-color: #ffa915;
    background-image: -webkit-linear-gradient(top, #ffa915 0%, #ffa915 100%);
    background-image: -moz-linear-gradient(top, #ffa915 0%, #ffa915 100%);
    background-image: -ms-linear-gradient(top, #ffa915 0%, #ffa915 100%);
    background-image: -o-linear-gradient(top, #ffa915 0%, #ffa915 100%);
    background-image: linear-gradient(top, #ffa915 0%, #ffa915 100%);
    box-shadow: inset 0 0 3px #592e00; }
  html .RadButton_Glow.rbSkinnedButton.rbDisabled.rbPrimaryButton, html .RadButton_Glow.rbSkinnedButton.rbDisabled.rbPrimaryButton:hover, html .RadButton_Glow.rbSkinnedButton.rbDisabled.rbPrimaryButton:active, html .RadButton_Glow.rbSkinnedButton.rbDisabled.rbPrimaryButton:focus, html .RadButton_Glow.rbLinkButton.rbDisabled.rbPrimaryButton, html .RadButton_Glow.rbLinkButton.rbDisabled.rbPrimaryButton:hover, html .RadButton_Glow.rbLinkButton.rbDisabled.rbPrimaryButton:active, html .RadButton_Glow.rbLinkButton.rbDisabled.rbPrimaryButton:focus, html .RadButton_Glow.rbVerticalButton.rbDisabled.rbPrimaryButton, html .RadButton_Glow.rbVerticalButton.rbDisabled.rbPrimaryButton:hover, html .RadButton_Glow.rbVerticalButton.rbDisabled.rbPrimaryButton:active, html .RadButton_Glow.rbVerticalButton.rbDisabled.rbPrimaryButton:focus {
    background-color: #ffba43;
    background-image: -webkit-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -moz-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -ms-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: -o-linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-image: linear-gradient(top, #ffba43 0%, #dd9415 100%);
    background-position: 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton .rbDecorated, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton .rbDecorated, html .RadButton_Glow.rbSkinnedButton.rbDisabled.rbPrimaryButton:active .rbDecorated, html .RadButton_Glow.rbVerticalButton.rbDisabled.rbPrimaryButton:active .rbDecorated {
    color: #1c262c; }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton:hover .rbDecorated, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton:hover .rbDecorated {
    color: #1c262c; }
  html .RadButton_Glow.rbSkinnedButton.rbPrimaryButton:active .rbDecorated, html .RadButton_Glow.rbVerticalButton.rbPrimaryButton:active .rbDecorated {
    color: white; }
  html .RadButton_Glow .rbAdd,
  html .RadButton_Glow .rbRemove,
  html .RadButton_Glow .rbOk,
  html .RadButton_Glow .rbCancel,
  html .RadButton_Glow .rbPrevious,
  html .RadButton_Glow .rbNext,
  html .RadButton_Glow .rbSave,
  html .RadButton_Glow .rbConfig,
  html .RadButton_Glow .rbRefresh,
  html .RadButton_Glow .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Lite.png') !important; }
  html .RadButton_Glow .rbUpload,
  html .RadButton_Glow .rbDownload,
  html .RadButton_Glow .rbOpen,
  html .RadButton_Glow .rbAttach,
  html .RadButton_Glow .rbPrint,
  html .RadButton_Glow .rbSearch,
  html .RadButton_Glow .rbHelp,
  html .RadButton_Glow .rbCart,
  html .RadButton_Glow .rbRSS,
  html .RadButton_Glow .rbMail,
  html .RadButton_Glow .rbFB,
  html .RadButton_Glow .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Lite.png') !important; }
  html .RadButton_Glow .rbAdd24,
  html .RadButton_Glow .rbRemove24,
  html .RadButton_Glow .rbOk24,
  html .RadButton_Glow .rbCancel24,
  html .RadButton_Glow .rbPrevious24,
  html .RadButton_Glow .rbNext24,
  html .RadButton_Glow .rbSave24,
  html .RadButton_Glow .rbConfig24,
  html .RadButton_Glow .rbRefresh24,
  html .RadButton_Glow .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Lite.png') !important; }
  html .RadButton_Glow .rbUpload24,
  html .RadButton_Glow .rbDownload24,
  html .RadButton_Glow .rbOpen24,
  html .RadButton_Glow .rbAttach24,
  html .RadButton_Glow .rbPrint24,
  html .RadButton_Glow .rbSearch24,
  html .RadButton_Glow .rbHelp24,
  html .RadButton_Glow .rbCart24,
  html .RadButton_Glow .rbRSS24,
  html .RadButton_Glow .rbMail24,
  html .RadButton_Glow .rbFB24,
  html .RadButton_Glow .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Lite.png') !important; }
