.RadDataPager_Glow {
  border: 1px solid #232e33;
  background: #1c262c;
  color: #c1c7ca;
  padding-top: 8px;
  line-height: 28px; }
  .RadDataPager_Glow .RadInput {
    margin: 0 5px; }
  .RadDataPager_Glow .rdpPagerButton,
  .RadDataPager_Glow .riSingle .riTextBox {
    height: 28px;
    line-height: 22px; }
  .RadDataPager_Glow .rdpPageFirst, .RadDataPager_Glow .rdpPagePrev, .RadDataPager_Glow .rdpPageNext, .RadDataPager_Glow .rdpPageLast {
    background: transparent no-repeat url('Grid/sprite.png');
    width: 30px;
    height: 30px; }
  .RadDataPager_Glow .rdpPageFirst {
    background-position: 0 -150px; }
    .RadDataPager_Glow .rdpPageFirst:hover {
      background-position: 0 -350px; }
    .RadDataPager_Glow .rdpPageFirst:active {
      background-position: 0 -550px; }
  .RadDataPager_Glow .rdpPagePrev {
    background-position: 0 -200px; }
    .RadDataPager_Glow .rdpPagePrev:hover {
      background-position: 0 -400px; }
    .RadDataPager_Glow .rdpPagePrev:active {
      background-position: 0 -600px; }
  .RadDataPager_Glow .rdpPageNext {
    background-position: 0 -250px; }
    .RadDataPager_Glow .rdpPageNext:hover {
      background-position: 0 -450px; }
    .RadDataPager_Glow .rdpPageNext:active {
      background-position: 0 -650px; }
  .RadDataPager_Glow .rdpPageLast {
    background-position: 0 -300px; }
    .RadDataPager_Glow .rdpPageLast:hover {
      background-position: 0 -500px; }
    .RadDataPager_Glow .rdpPageLast:active {
      background-position: 0 -700px; }
  .RadDataPager_Glow .rdpPagerButton {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    _background-image: none;
    background-repeat: repeat-x;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: -webkit-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -moz-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -ms-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -o-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: linear-gradient(top, #414c53 0%, #1c262c 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: 1px solid black;
    color: #e2e8eb;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px; }
  .RadDataPager_Glow .rdpNumPart a {
    border-radius: 4px;
    line-height: 28px;
    color: white;
    margin-right: 1px;
    margin-top: 1px; }
    .RadDataPager_Glow .rdpNumPart a:hover {
      color: #000;
      background-color: #ffa800;
      background-image: -webkit-linear-gradient(top, #ffa800 0%, #d07f00 100%);
      background-image: -moz-linear-gradient(top, #ffa800 0%, #d07f00 100%);
      background-image: -ms-linear-gradient(top, #ffa800 0%, #d07f00 100%);
      background-image: -o-linear-gradient(top, #ffa800 0%, #d07f00 100%);
      background-image: linear-gradient(top, #ffa800 0%, #d07f00 100%); }
    .RadDataPager_Glow .rdpNumPart a.rdpCurrentPage {
      border: 1px solid #f5a21f;
      color: white;
      margin-top: 0; }
  .RadDataPager_Glow .rdpPagerLabel {
    line-height: 28px; }
