.RadFilter_Glow {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: black; }
  .RadFilter_Glow .rfOper:hover,
  .RadFilter_Glow .rfField:hover,
  .RadFilter_Glow .rfExp:hover,
  .RadFilter_Glow .rfOper:focus,
  .RadFilter_Glow .rfField:focus,
  .RadFilter_Glow .rfExp:focus,
  .RadFilter_Glow .rfOper:active,
  .RadFilter_Glow .rfField:active,
  .RadFilter_Glow .rfExp:active,
  .RadFilter_Glow .rfAddGr,
  .RadFilter_Glow .rfAddExp,
  .RadFilter_Glow .rfDel {
    background-image: url('Filter/sprite.png');
    background-repeat: no-repeat; }
  .RadFilter_Glow .rfLeft,
  .RadFilter_Glow .rfMid,
  .RadFilter_Glow .rfTools,
  .RadFilter_Glow .rfRight {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    _background-image: none;
    .background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #4b5a63 0%, #323f47 100%);
    background-image: -moz-linear-gradient(top, #4b5a63 0%, #323f47 100%);
    background-image: -ms-linear-gradient(top, #4b5a63 0%, #323f47 100%);
    background-image: -o-linear-gradient(top, #4b5a63 0%, #323f47 100%);
    background-image: linear-gradient(top, #4b5a63 0%, #323f47 100%);
    border-color: #232e33;
    border-style: solid;
    border-width: 1px 0;
    height: 30px;
    padding-top: 2px; }
  .RadFilter_Glow .rfLeft {
    border-left-width: 1px; }
  .RadFilter_Glow .rfRight {
    border-right-width: 1px; }
  .RadFilter_Glow .rfText {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif; }
  .RadFilter_Glow a {
    color: #ffa915; }
  .RadFilter_Glow .rfLines li li {
    background-image: url('Filter/rfLine.gif'); }
    .RadFilter_Glow .rfLines li li .rfDiv {
      background-image: url('Filter/rfMiddle.gif');
      padding-bottom: 2px; }
    .RadFilter_Glow .rfLines li li.rfLast .rfDiv {
      background-image: url('Filter/rfLast.gif');
      background-repeat: no-repeat; }
  .RadFilter_Glow .rfField {
    color: #e2e8eb; }
  .RadFilter_Glow .rfOper:hover,
  .RadFilter_Glow .rfField:hover,
  .RadFilter_Glow .rfExp:hover,
  .RadFilter_Glow .rfOper:focus,
  .RadFilter_Glow .rfField:focus,
  .RadFilter_Glow .rfExp:focus,
  .RadFilter_Glow .rfOper:active,
  .RadFilter_Glow .rfField:active,
  .RadFilter_Glow .rfExp:active {
    background-position: 100% -24px;
    color: #e2e8eb; }
  .RadFilter_Glow .rfText {
    border-color: #8a9297;
    background-color: #29343b;
    color: white; }
    .RadFilter_Glow .rfText:hover {
      border-color: #f89d26;
      color: #f89d26; }
  .RadFilter_Glow .rfAddExp {
    background-position: 1px 4px; }
  .RadFilter_Glow .rfAddGr {
    background-position: -29px 4px; }
  .RadFilter_Glow .rfDel {
    background-position: -57px 5px; }
  .RadFilter_Glow .rfAddExp:hover,
  .RadFilter_Glow .rfAddGr:hover,
  .RadFilter_Glow .rfDel:hover {
    background-color: #f0a92f;
    border-radius: 4px; }
  .RadFilter_Glow .rfPreview,
  .RadFilter_Glow .rfPreview strong,
  .RadFilter_Glow .rfPreview .rfBr {
    color: white; }
  .RadFilter_Glow .rfPreview em {
    color: #ffa915; }
  .RadFilter_Glow .rfApply a,
  .RadFilter_Glow .rfApply span {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    background-repeat: repeat-x;
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    height: 24px;
    padding: 2px 10px;
    border-radius: 4px; }
    .RadFilter_Glow .rfApply a:hover,
    .RadFilter_Glow .rfApply span:hover {
      border-color: black;
      color: #e2e8eb;
      background-color: #2b363d;
      background-image: linear-gradient(#4e5960 0%, #2b363d 100%);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }
  .RadFilter_Glow .rfApply input {
    color: #e2e8eb; }

.RadFilterRTL_Glow .rfLines li li {
  background-image: url('Filter/rfLine-rtl.gif'); }
  .RadFilterRTL_Glow .rfLines li li .rfDiv {
    background-image: url('Filter/rfMiddle-rtl.gif'); }
  .RadFilterRTL_Glow .rfLines li li.rfLast .rfDiv {
    background-image: url('Filter/rfLast-rtl.gif'); }
.RadFilterRTL_Glow .rfOper:hover,
.RadFilterRTL_Glow .rfField:hover,
.RadFilterRTL_Glow .rfExp:hover,
.RadFilterRTL_Glow .rfOper:focus,
.RadFilterRTL_Glow .rfField:focus,
.RadFilterRTL_Glow .rfExp:focus,
.RadFilterRTL_Glow .rfOper:active,
.RadFilterRTL_Glow .rfField:active,
.RadFilterRTL_Glow .rfExp:active {
  background-position: -586px -76px; }
