.RadGrid_Glow {
  border: 1px solid #232e33;
  background: #35434b;
  color: #c1c7ca;
  font: normal 13px Arial, Helvetica, sans-serif;
  line-height: 22px; }
  .RadGrid_Glow .rgMasterTable,
  .RadGrid_Glow .rgDetailTable,
  .RadGrid_Glow .rgGroupPanel table,
  .RadGrid_Glow .rgCommandRow table,
  .RadGrid_Glow .rgEditForm table,
  .RadGrid_Glow .rgPager table {
    font: normal 13px Arial, Helvetica, sans-serif;
    line-height: 22px; }
  .RadGrid_Glow .rgInput {
    background-color: #29343b;
    border: 1px solid #8a9297;
    color: white; }
  .RadGrid_Glow .rgSave,
  .RadGrid_Glow .rgAdd,
  .RadGrid_Glow .rgRefresh,
  .RadGrid_Glow .rgEdit,
  .RadGrid_Glow .rgDel,
  .RadGrid_Glow .rgExpand,
  .RadGrid_Glow .rgCollapse,
  .RadGrid_Glow .rgSortAsc,
  .RadGrid_Glow .rgSortDesc,
  .RadGrid_Glow .rgUpdate,
  .RadGrid_Glow .rgCancel,
  .RadGrid_Glow .rgUngroup,
  .RadGrid_Glow .rgExpXLS,
  .RadGrid_Glow .rgExpDOC,
  .RadGrid_Glow .rgExpPDF,
  .RadGrid_Glow .rgExpCSV {
    background-image: url('Common/radActionsSprite.png'); }
  .RadGrid_Glow .rgFilter,
  .RadGrid_Glow .rgPageFirst,
  .RadGrid_Glow .rgPagePrev,
  .RadGrid_Glow .rgPageNext,
  .RadGrid_Glow .rgPageLast {
    background-image: url('Grid/sprite.png'); }

.GridToolTip_Glow {
  font: normal 13px Arial, Helvetica, sans-serif;
  line-height: 22px; }

.RadGrid_Glow .rgHeader:first-child,
.RadGrid_Glow th.rgResizeCol:first-child,
.RadGrid_Glow .rgFilterRow > td:first-child,
.RadGrid_Glow .rgRow > td:first-child,
.RadGrid_Glow .rgAltRow > td:first-child {
  border-left-width: 0;
  padding-left: 8px; }
.RadGrid_Glow .rgHeader,
.RadGrid_Glow th.rgResizeCol,
.RadGrid_Glow .rgHeaderWrapper,
.RadGrid_Glow .rgFilterRow {
  border-bottom: 1px solid #35434b;
  background: #1c262c;
  text-transform: uppercase; }
.RadGrid_Glow .rgHeaderDiv {
  border-right-color: #35434b; }
.RadGrid_Glow .rgMultiHeaderRow th.rgHeader, .RadGrid_Glow .rgMultiHeaderRow th.rgResizeCol {
  border: 0;
  border-bottom: 1px solid #35434b;
  border-left: 1px solid #35434b; }
.RadGrid_Glow th.rgSorted {
  background-color: #29343b; }
.RadGrid_Glow .rgHeader {
  color: #c1c7ca;
  font-size: 0.8em;
  text-transform: uppercase; }
  .RadGrid_Glow .rgHeader a {
    color: #c1c7ca; }
.RadGrid_Glow .rgRow td,
.RadGrid_Glow .rgAltRow td,
.RadGrid_Glow .rgEditRow td {
  border-style: solid;
  border-bottom: 1px solid #515a61;
  border-width: 0 0 1px; }
.RadGrid_Glow .rgRow a,
.RadGrid_Glow .rgRow input,
.RadGrid_Glow .rgAltRow a,
.RadGrid_Glow .rgAltRow input,
.RadGrid_Glow .rgEditRow a,
.RadGrid_Glow .rgEditRow input,
.RadGrid_Glow .rgFooter a,
.RadGrid_Glow .rgFooter input,
.RadGrid_Glow .rgEditForm a,
.RadGrid_Glow .rgEditForm input {
  color: #c1c7ca; }
.RadGrid_Glow .rgMasterTable .rgSelectedCell,
.RadGrid_Glow .rgSelectedRow {
  background: #ffa915; }
  .RadGrid_Glow .rgMasterTable .rgSelectedCell, .RadGrid_Glow .rgMasterTable .rgSelectedCell input,
  .RadGrid_Glow .rgSelectedRow,
  .RadGrid_Glow .rgSelectedRow input {
    color: black; }
  .RadGrid_Glow .rgMasterTable .rgSelectedCell a,
  .RadGrid_Glow .rgSelectedRow a {
    color: #b35000;
    text-decoration: none; }
    .RadGrid_Glow .rgMasterTable .rgSelectedCell a:hover,
    .RadGrid_Glow .rgSelectedRow a:hover {
      text-decoration: underline; }
.RadGrid_Glow .rgMasterTable .rgActiveCell,
.RadGrid_Glow .rgActiveRow {
  color: black;
  background: #4d5c65; }
  .RadGrid_Glow .rgMasterTable .rgActiveCell input, .RadGrid_Glow .rgMasterTable .rgActiveCell a,
  .RadGrid_Glow .rgActiveRow input,
  .RadGrid_Glow .rgActiveRow a {
    color: black; }
.RadGrid_Glow .rgHoveredRow {
  background: #4d5c65;
  color: white; }
  .RadGrid_Glow .rgHoveredRow a {
    color: white; }
.RadGrid_Glow .rgSorted {
  background-color: #2d3a42;
  color: white; }
.RadGrid_Glow .rgSelectedRow .rgSorted {
  background-color: #ba811c; }
.RadGrid_Glow .rgHoveredRow .rgSorted {
  background-color: #3e4c54; }
.RadGrid_Glow .rgEditRow {
  background-color: #7f9099; }
  .RadGrid_Glow .rgEditRow, .RadGrid_Glow .rgEditRow a, .RadGrid_Glow .rgEditRow input {
    color: #ffffff; }
.RadGrid_Glow .rgDrag {
  background-image: url('Grid/rgDrag.gif'); }
.RadGrid_Glow .rgFooterDiv,
.RadGrid_Glow .rgFooter,
.RadGrid_Glow .rgFooterWrapper {
  background: #242e35; }
.RadGrid_Glow .rgFooterWrapper {
  border-top: 0 none; }
.RadGrid_Glow .rgPager {
  background-color: #1c262c;
  color: #c1c7ca; }
.RadGrid_Glow .rgWrap {
  line-height: 28px; }
.RadGrid_Glow .rgPager .rgPagerButton,
.RadGrid_Glow .rgPager .riSingle .riTextBox {
  height: 29px;
  line-height: 22px; }
.RadGrid_Glow td.rgPagerCell,
.RadGrid_Glow .rgPager .rgStatus {
  border: 1px solid #232e33;
  border-width: 1px 0; }
.RadGrid_Glow .rgStatus div {
  background-image: url('Common/loading_small.gif'); }
.RadGrid_Glow .rgInfoPart strong {
  color: white; }
.RadGrid_Glow .rgPageFirst,
.RadGrid_Glow .rgPagePrev,
.RadGrid_Glow .rgPageNext,
.RadGrid_Glow .rgPageLast {
  width: 31px;
  height: 30px; }
.RadGrid_Glow .rgPageFirst {
  background-position: 0 -150px; }
  .RadGrid_Glow .rgPageFirst:hover {
    background-position: 0 -350px; }
  .RadGrid_Glow .rgPageFirst:active {
    background-position: 0 -550px; }
.RadGrid_Glow .rgPagePrev {
  background-position: 0 -200px; }
  .RadGrid_Glow .rgPagePrev:hover {
    background-position: 0 -400px; }
  .RadGrid_Glow .rgPagePrev:active {
    background-position: 0 -600px; }
.RadGrid_Glow .rgPageNext {
  background-position: 0 -250px; }
  .RadGrid_Glow .rgPageNext:hover {
    background-position: 0 -450px; }
  .RadGrid_Glow .rgPageNext:active {
    background-position: 0 -650px; }
.RadGrid_Glow .rgPageLast {
  background-position: 0 -300px; }
  .RadGrid_Glow .rgPageLast:hover {
    background-position: 0 -500px; }
  .RadGrid_Glow .rgPageLast:active {
    background-position: 0 -700px; }
.RadGrid_Glow .rgPager .rgPagerButton {
  background-image: url('../Common/Gradients/radGradientLightV20.png');
  _background-image: none;
  background-repeat: repeat-x;
  border-color: black;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#414c53 0%, #1c262c 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border: 1px solid black;
  color: #e2e8eb;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }
.RadGrid_Glow .rgNumPart a {
  border-radius: 4px;
  line-height: 28px;
  color: white;
  margin-right: 1px;
  margin-top: 1px; }
  .RadGrid_Glow .rgNumPart a:hover {
    color: #000;
    background-color: #ffa800;
    background-image: -webkit-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -moz-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -ms-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: -o-linear-gradient(top, #ffa800 0%, #d07f00 100%);
    background-image: linear-gradient(top, #ffa800 0%, #d07f00 100%); }
  .RadGrid_Glow .rgNumPart a.rgCurrentPage {
    border: 1px solid #f5a21f;
    color: white;
    margin-top: 0; }
.RadGrid_Glow .rgSortAsc {
  background-position: -17.5px -18px;
  height: 14px;
  width: 15px; }
  .RadGrid_Glow .rgSortAsc:hover {
    background-position: -67.5px -18px; }
.RadGrid_Glow .rgSortDesc {
  background-position: -17.5px -68px;
  height: 14px;
  width: 15px; }
  .RadGrid_Glow .rgSortDesc:hover {
    background-position: -67.5px -68px; }

.RadGrid_Glow .rgFilterRow .riSingle .riTextBox {
  height: 28px; }
.RadGrid_Glow .rgFilterRow td {
  border-bottom: 1px solid #232e33; }
.RadGrid_Glow .rgFilterRow input {
  vertical-align: top; }
.RadGrid_Glow .rgFilter {
  width: 32px;
  height: 32px; }
.RadGrid_Glow .rgFilter {
  background-position: 0 0; }
  .RadGrid_Glow .rgFilter:hover {
    background-position: 0 -50px; }
.RadGrid_Glow:hover,
.RadGrid_Glow .rgFilterActive {
  background-position: 0 -100px; }
.RadGrid_Glow .rgFiltered {
  background-position: 0 -750px; }
  .RadGrid_Glow .rgFiltered:hover {
    background-position: 0 -800px; }
  .RadGrid_Glow .rgFiltered.rgFilterActive {
    background-position: 0 -850px; }
.RadGrid_Glow input.rgFilterBox {
  background: #29343b;
  color: white;
  border-color: #8a9297;
  font-weight: normal;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height: 22px;
  padding: 2px 5px 3px;
  vertical-align: top; }

.RadMenu_Glow .rgHCMClear,
.RadMenu_Glow .rgHCMFilter {
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: black;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#414c53 0%, #1c262c 100%);
  border-color: #677279;
  font-family: "segoe ui",arial,sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
.RadMenu_Glow .rgHCMClear:hover,
.RadMenu_Glow .rgHCMFilter:hover {
  border-color: #ce800f;
  color: #1c262c;
  background-color: #d18000;
  background-image: linear-gradient(#ffa800 0%, #d18000 100%); }

.RadMenu_Glow_Context .rgFilterApply,
.RadMenu_Glow_Context .rgFilterCancel {
  background-image: url('Common/radGradientButtonSprite.png');
  _background-image: none;
  border-color: black;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#414c53 0%, #1c262c 100%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #e2e8eb;
  border-color: black;
  height: 28px; }

.GridContextMenu_Glow .rmLeftImage {
  background-image: url('../Common/Grid/contextMenu.gif'); }
.GridContextMenu_Glow .rgHCMSortAsc .rmLeftImage {
  background-position: 0 -20px; }
.GridContextMenu_Glow .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -60px; }
.GridContextMenu_Glow .rgHCMUnsort .rmLeftImage {
  background-position: 0 -100px; }
.GridContextMenu_Glow .rgHCMGroup .rmLeftImage {
  background-position: 0 -140px; }
.GridContextMenu_Glow .rgHCMUngroup .rmLeftImage {
  background-position: 0 -180px; }
.GridContextMenu_Glow .rgHCMCols .rmLeftImage {
  background-position: 0 -220px; }
.GridContextMenu_Glow .rgHCMFilter .rmLeftImage {
  background-position: 0 -260px; }
.GridContextMenu_Glow .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -300px; }

.RadGrid_Glow .rgGroupPanel {
  border: 0;
  border-bottom: 1px solid #232e33;
  color: #c1c7ca;
  padding: 5px; }
  .RadGrid_Glow .rgGroupPanel td {
    border: 0;
    padding: 3px 4px; }
    .RadGrid_Glow .rgGroupPanel td td {
      padding: 0; }
.RadGrid_Glow .rgUngroup {
  background-position: -17.5px -2817.5px;
  width: 15px;
  height: 15px; }
  .RadGrid_Glow .rgUngroup:hover {
    background-position: -67.5px -2817.5px; }
.RadGrid_Glow .rgGroupItem {
  background-image: url('../Common/Gradients/radGradientLightV20.png');
  _background-image: none;
  background-repeat: repeat-x;
  border-color: black;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#414c53 0%, #1c262c 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #e2e8eb;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px; }
.RadGrid_Glow .rgGroupHeader {
  box-shadow: 0px 1px 3px 0px #333333;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #c1c7ca; }
  .RadGrid_Glow .rgGroupHeader td {
    background: #4e5960 url('../Common/Gradients/radGradientLightV50.png') 0 0 repeat-x;
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #5a676f 0%, #35434b 100%);
    background-image: -moz-linear-gradient(top, #5a676f 0%, #35434b 100%);
    background-image: -ms-linear-gradient(top, #5a676f 0%, #35434b 100%);
    background-image: -o-linear-gradient(top, #5a676f 0%, #35434b 100%);
    background-image: linear-gradient(top, #5a676f 0%, #35434b 100%);
    padding-left: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #515a61; }
.RadGrid_Glow .rgExpand {
  background-position: -15px -168px; }
  .RadGrid_Glow .rgExpand:hover, .RadGrid_Glow .rgExpand:focus, .RadGrid_Glow .rgExpand:active {
    background-position: -65px -168px; }
.RadGrid_Glow .rgCollapse {
  background-position: -15px -68px; }
  .RadGrid_Glow .rgCollapse:hover, .RadGrid_Glow .rgCollapse:focus, .RadGrid_Glow .rgCollapse:active {
    background-position: -65px -68px; }
.RadGrid_Glow .rgEditForm {
  border-bottom: 1px solid #999; }
.RadGrid_Glow .rgUpdate {
  background-position: 0 -1800px; }
.RadGrid_Glow .rgCancel {
  background-position: 0 -1850px; }
.RadGrid_Glow .rgDetailTable {
  border-color: #677277;
  margin-top: -2px; }
.RadGrid_Glow td.rgExpandCol {
  border-bottom-color: #242e35;
  background-color: #242e35; }
.RadGrid_Glow tr.rgCommandRow {
  color: #c1c7ca;
  background-image: url('../Common/Gradients/radGradientLightV20.png');
  background-repeat: repeat-x;
  _background-image: none;
  background-image: -webkit-linear-gradient(top, #404c54 0%, #2b373d 100%);
  background-image: -moz-linear-gradient(top, #404c54 0%, #2b373d 100%);
  background-image: -ms-linear-gradient(top, #404c54 0%, #2b373d 100%);
  background-image: -o-linear-gradient(top, #404c54 0%, #2b373d 100%);
  background-image: linear-gradient(top, #404c54 0%, #2b373d 100%);
  box-shadow: 0 0 6px 2px #53606a inset;
  text-decoration: none;
  font: 200 16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadGrid_Glow tr.rgCommandRow a {
    color: #c1c7ca;
    text-decoration: none; }
.RadGrid_Glow .rgCommandCell {
  border: 0;
  border-bottom: 1px solid #232e33;
  padding: 0; }
.RadGrid_Glow tfoot .rgCommandCell,
.RadGrid_Glow .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top: 1px solid #232e33;
  border-bottom: 0; }
.RadGrid_Glow .rgCommandTable {
  border: 0; }
  .RadGrid_Glow .rgCommandTable td {
    border: 0;
    padding: 7px; }
.RadGrid_Glow .rgAdd,
.RadGrid_Glow .rgSave,
.RadGrid_Glow .rgCommandRow .rgCancel {
  margin-right: 3px;
  width: 20px;
  height: 20px;
  vertical-align: top; }
.RadGrid_Glow .rgAdd {
  background-position: -15px -3015px; }
  .RadGrid_Glow .rgAdd:hover, .RadGrid_Glow .rgAdd:active {
    background-position: -65px -3015px; }
.RadGrid_Glow .rgCommandRow .rgCancel {
  background-position: -15px -2815px; }
  .RadGrid_Glow .rgCommandRow .rgCancel:hover, .RadGrid_Glow .rgCommandRow .rgCancel:active {
    background-position: -65px -2815px; }
.RadGrid_Glow .rgSave {
  background-position: -15px -4965px; }
  .RadGrid_Glow .rgSave:hover, .RadGrid_Glow .rgSave:active {
    background-position: -65px -4965px; }
.RadGrid_Glow .rgRefresh {
  margin-right: 3px;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-position: -15px -1315px; }
  .RadGrid_Glow .rgRefresh:hover {
    background-position: -65px -1315px; }
.RadGrid_Glow .rgEdit {
  margin-right: 3px;
  background-position: -17px -3117px; }
  .RadGrid_Glow .rgEdit:hover {
    background-position: -67px -3117px; }
.RadGrid_Glow .rgDel {
  margin-right: 3px;
  background-position: -17px -3367px; }
  .RadGrid_Glow .rgDel:hover {
    background-position: -67px -3367px; }
.RadGrid_Glow .rgExpXLS,
.RadGrid_Glow .rgExpDOC,
.RadGrid_Glow .rgExpPDF,
.RadGrid_Glow .rgExpCSV {
  background-image: url('../Common/Grid/export.gif'); }
.RadGrid_Glow .rgExpXLS {
  background-position: 0 0; }
.RadGrid_Glow .rgExpDOC {
  background-position: 0 -50px; }
.RadGrid_Glow .rgExpPDF {
  background-position: 0 -100px; }
.RadGrid_Glow .rgExpCSV {
  background-position: 0 -150px; }

.rgCellSelectorArea_Glow,
.GridRowSelector_Glow {
  background: #fff; }

.GridItemDropIndicator_Glow {
  border-top: 1px dashed #666; }

.GridReorderTop_Glow,
.GridReorderBottom_Glow {
  background-image: url('Common/radActionsSprite.png');
  background-repeat: no-repeat;
  background-position: -20px -70px; }

.GridReorderBottom_Glow {
  background-position: -20px -20px; }

.GridToolTip_Glow {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333; }

.RadGridRTL_Glow .rgHeader:first-child, .RadGridRTL_Glow th.rgResizeCol:first-child,
.RadGridRTL_Glow .rgFilterRow > td:first-child,
.RadGridRTL_Glow .rgRow > td:first-child,
.RadGridRTL_Glow .rgAltRow > td:first-child {
  padding-left: 7px; }
.RadGridRTL_Glow .rgExpand {
  background-position: -15px -118px; }
.RadGridRTL_Glow .rgPageFirst {
  background-position: 0 -300px; }
  .RadGridRTL_Glow .rgPageFirst:hover {
    background-position: 0 -500px; }
  .RadGridRTL_Glow .rgPageFirst:active {
    background-position: 0 -700px; }
.RadGridRTL_Glow .rgPagePrev {
  background-position: 0 -250px; }
  .RadGridRTL_Glow .rgPagePrev:hover {
    background-position: 0 -450px; }
  .RadGridRTL_Glow .rgPagePrev:active {
    background-position: 0 -650px; }
.RadGridRTL_Glow .rgPageNext {
  background-position: 0 -200px; }
  .RadGridRTL_Glow .rgPageNext:hover {
    background-position: 0 -400px; }
  .RadGridRTL_Glow .rgPageNext:active {
    background-position: 0 -600px; }
.RadGridRTL_Glow .rgPageLast {
  background-position: 0 -150px; }
  .RadGridRTL_Glow .rgPageLast:hover {
    background-position: 0 -350px; }
  .RadGridRTL_Glow .rgPageLast:active {
    background-position: 0 -550px; }
