.RadListBox_Glow {
  color: #1c262c;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadListBox_Glow .rlbTemplateContainer {
    border-color: #1b2327; }
  .RadListBox_Glow .rlbGroup {
    border: 1px solid #8a9297;
    color: #c1c7ca;
    background-color: #242e35; }
  .RadListBox_Glow .rlbHeader,
  .RadListBox_Glow .rlbFooter {
    padding: 2px 5px;
    color: #c1c7ca;
    border-color: #1d262d;
    background-color: #1c262c; }
  .RadListBox_Glow .rlbHeader {
    border-bottom-color: #1b2327; }
  .RadListBox_Glow .rlbFooter {
    border-top-color: #1b2327; }
  .RadListBox_Glow .rlbCheckAllItems {
    padding: 2px 5px;
    color: #c1c7ca;
    background-color: #1c262c; }
  .RadListBox_Glow .rlbCheckAllItemsHovered {
    color: #c1c7ca;
    background-color: #1c262c; }
  .RadListBox_Glow .rlbCheckAllItemsCheckBox,
  .RadListBox_Glow .rlbCheck {
    padding-top: 0;
    padding-bottom: 3px\9; }
  .RadListBox_Glow .rlbHovered {
    color: white;
    background: #4d5c65; }
  .RadListBox_Glow .rlbSelected {
    color: black;
    background: #ffa915; }
  .RadListBox_Glow .rlbDisabled {
    color: #677277; }
    .RadListBox_Glow .rlbDisabled .rlbImage {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .RadListBox_Glow .rlbHighlight {
    background-color: #4d5c65; }
  .RadListBox_Glow .rlbDropClue {
    width: 21px;
    height: 21px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -64.5px -364.5px;
    background-repeat: no-repeat;
    background-color: transparent;
    left: -15px; }
  .RadListBox_Glow .rlbDropClueAbove {
    border-top-style: dotted;
    border-top-color: #8e8e8e; }
  .RadListBox_Glow .rlbDropClueBelow {
    border-bottom-style: dotted;
    border-bottom-color: #8e8e8e; }
  .RadListBox_Glow .rlbButton {
    background-image: url('Common/radGradientButtonSprite.png');
    background-position: 0 0\9;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    padding: 2px;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    overflow: hidden; }
    .RadListBox_Glow .rlbButton:hover {
      border-color: black;
      color: #e2e8eb;
      background-color: #2b363d;
      background-image: linear-gradient(#4e5960 0%, #2b363d 100%);
      background-position: 0 1000px\9; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .RadListBox_Glow .rlbButton:hover {
          background-position: 0 0px; } }
    .RadListBox_Glow .rlbButton.rlbDisabled, .RadListBox_Glow .rlbButton.rlbDisabled:hover {
      border-color: #394145;
      color: #677277;
      background-color: #1d272d;
      background-image: linear-gradient(#2d363b 0%, #1d272d 100%);
      filter: alpha(opacity=50);
      opacity: .5;
      background-position: 0 0\9; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbButton,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbButton {
    padding: 2px; }
  .RadListBox_Glow .rlbNoButtonText {
    width: 22px;
    *height: 22px;
    margin-right: 2px; }
  .RadListBox_Glow .rlbButtonTL,
  .RadListBox_Glow .rlbButtonTR,
  .RadListBox_Glow .rlbButtonBL,
  .RadListBox_Glow .rlbButtonBR {
    padding: 0;
    height: 22px;
    line-height: 22px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    *display: block; }
  .RadListBox_Glow .rlbButtonText {
    padding: 0 3px 0 22px;
    line-height: 22px;
    position: static; }
  .RadListBox_Glow .rlbNoButtonText .rlbButtonText {
    padding-left: 22px; }
  .RadListBox_Glow .rlbButtonText {
    *background-image: url('ListBox/rlbSprite.png'); }
    .RadListBox_Glow .rlbButtonText:before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url('Common/radActionsSprite.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
      left: 3px; }
  .RadListBox_Glow .rlbMoveUp .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Glow .rlbMoveUp:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Glow .rlbMoveUpDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbMoveUpDisabled:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Glow .rlbMoveDown .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Glow .rlbMoveDown:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Glow .rlbMoveDownDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbMoveDownDisabled:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Glow .rlbMoveToTop .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Glow .rlbMoveToTop:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Glow .rlbMoveToTopDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbMoveToTopDisabled:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Glow .rlbMoveToBottom .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Glow .rlbMoveToBottom:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Glow .rlbMoveToBottomDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbMoveToBottomDisabled:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Glow .rlbDelete .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Glow .rlbDelete:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Glow .rlbDeleteDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbDeleteDisabled:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferTo .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Glow .rlbMoveUp .rlbButtonText {
    *background-position: 0 0; }
  .RadListBox_Glow .rlbMoveUpDisabled .rlbButtonText,
  .RadListBox_Glow .rlbMoveUpDisabled:hover .rlbButtonText {
    *background-position: -200px 0; }
  .RadListBox_Glow .rlbMoveDown .rlbButtonText {
    *background-position: 0 -25px; }
  .RadListBox_Glow .rlbMoveDownDisabled .rlbButtonText,
  .RadListBox_Glow .rlbMoveDownDisabled:hover .rlbButtonText {
    *background-position: -200px -25px; }
  .RadListBox_Glow .rlbMoveToTop .rlbButtonText {
    *background-position: 0 -275px; }
  .RadListBox_Glow .rlbMoveToTopDisabled .rlbButtonText,
  .RadListBox_Glow .rlbMoveToTopDisabled:hover .rlbButtonText {
    *background-position: -200px -275px; }
  .RadListBox_Glow .rlbMoveToBottom .rlbButtonText {
    *background-position: 0 -300px; }
  .RadListBox_Glow .rlbMoveToBottomDisabled .rlbButtonText,
  .RadListBox_Glow .rlbMoveToBottomDisabled:hover .rlbButtonText {
    *background-position: -200px -300px; }
  .RadListBox_Glow .rlbDelete .rlbButtonText {
    background-position: 0 -50px; }
  .RadListBox_Glow .rlbDeleteDisabled .rlbButtonText,
  .RadListBox_Glow .rlbDeleteDisabled:hover .rlbButtonText {
    *background-position: -200px -50px; }
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -100px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -75px; }
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -100px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
    background-position: -200px -75px; }
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -150px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -125px; }
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
    *background-position: -200px -150px; }
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -125px; }
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -200px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -175px; }
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -200px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
    *background-position: -200px -175px; }
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -250px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -225px; }
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
    background-position: -200px -250px; }
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Glow .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -225px; }
