.RadMap_Glow {
  font-family: Arial, Helvetica, sans-serif;
  /* Additional styles */
  /*Buttons*/
  /* Markers */
  /* Older IE Fix */ }
  .RadMap_Glow .k-header, .RadMap_Glow .k-widget, .RadMap_Glow .k-popup {
    color: #e2e8eb; }
  .RadMap_Glow .k-widget, .RadMap_Glow .k-header {
    background-color: #ffffff;
    border-color: #252f35 #222b31 #13191c #1e272c; }
  .RadMap_Glow .k-header, .RadMap_Glow .k-button {
    background-color: #2f383e;
    background-image: none, linear-gradient(to bottom, #414c53 0, #1c262c 100%); }
  .RadMap_Glow .k-button {
    border-color: #000000;
    color: #e2e8eb; }
  .RadMap_Glow.k-widget.k-tooltip {
    background-color: #848484;
    border-color: #192227;
    background-image: none, linear-gradient(to bottom, #4a555b 0, #354046 100%);
    color: #fff; }
  .RadMap_Glow .k-tooltip-button {
    background-color: #fff; }
  .RadMap_Glow .k-tooltip-button:hover {
    background-color: #ffad2c; }
  .RadMap_Glow .k-i-close:before {
    color: #000; }
  .RadMap_Glow .k-callout-s {
    border-top-color: #354046; }
  .RadMap_Glow div.k-navigator > .k-button .k-icon:before {
    color: #fff; }
  .RadMap_Glow .k-button:hover, .RadMap_Glow div.k-navigator > .k-button:hover {
    border-color: #394852;
    background-color: #3f4a50;
    background-image: none, linear-gradient(to bottom, #4e5960 0, #2c373e 100%);
    color: #ffad2c;
    text-shadow: 0 0 0.3em #ea991b; }
  .RadMap_Glow .k-button:active, .RadMap_Glow .k-button:focus, .RadMap_Glow div.k-navigator > .k-button:active, .RadMap_Glow div.k-navigator > .k-button:focus {
    border-color: #ce800f;
    background-color: #ffa915;
    background-image: none, linear-gradient(to bottom, #e19011 0, #faa514 100%);
    color: #733700; }
  .RadMap_Glow div.k-navigator > .k-button:hover .k-icon:before {
    color: #ffad2c; }
  .RadMap_Glow div.k-navigator > .k-button:active .k-icon:before, .RadMap_Glow div.k-navigator > .k-button:focus .k-icon:before {
    color: #733700; }
  .RadMap_Glow .k-marker:before {
    color: #ffa915; }
  @media \0screen\,screen\9 {
    .RadMap_Glow .k-icon {
      background-image: url('Common/radActionsSprite.png');
      _background-image: url('Common/radActionsSpriteIE6.png'); }
    .RadMap_Glow .k-i-arrow-n {
      background-position: -17px -17px; }
    .RadMap_Glow .k-button:hover .k-i-arrow-n {
      background-position: -67px -17px; }
    .RadMap_Glow .k-button:active .k-i-arrow-n, .RadMap_Glow .k-button:focus .k-i-arrow-n {
      background-position: -117px -17px; }
    .RadMap_Glow .k-i-arrow-e {
      background-position: -17px -167px; }
    .RadMap_Glow .k-button:hover .k-i-arrow-e {
      background-position: -67px -167px; }
    .RadMap_Glow .k-button:active .k-i-arrow-e, .RadMap_Glow .k-button:focus .k-i-arrow-e {
      background-position: -117px -167px; }
    .RadMap_Glow .k-i-arrow-s {
      background-position: -17px -67px; }
    .RadMap_Glow .k-button:hover .k-i-arrow-s {
      background-position: -67px -67px; }
    .RadMap_Glow .k-button:active .k-i-arrow-s, .RadMap_Glow .k-button:focus .k-i-arrow-s {
      background-position: -117px -67px; }
    .RadMap_Glow .k-i-arrow-w {
      background-position: -17px -117px; }
    .RadMap_Glow .k-button:hover .k-i-arrow-w {
      background-position: -67px -117px; }
    .RadMap_Glow .k-button:active .k-i-arrow-w, .RadMap_Glow .k-button:focus .k-i-arrow-w {
      background-position: -117px -117px; }
    .RadMap_Glow .k-i-close, .RadMap_Glow .k-i-close:hover {
      background-color: transparent;
      background-position: -67px -1917px; } }

