.RadTreeView_Glow {
  color: #1c262c;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadTreeView_Glow .rtUL {
    color: #c1c7ca; }
  .RadTreeView_Glow .rtUL .rtUL {
    padding-left: 22px; }
  .RadTreeView_Glow .rtIn {
    padding: 3px 10px;
    border-radius: 3px;
    background-image: url('Common/radGradientListSprite.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    _background-image: none;
    display: inline-block; }
  .RadTreeView_Glow a.rtIn {
    *color: #1c262c; }
  .RadTreeView_Glow .rtHover .rtIn,
  .RadTreeView_Glow .rtSelected .rtIn {
    border: 0;
    padding: 3px 10px; }
  .RadTreeView_Glow .rtHover .rtIn {
    background-position: 0 -1000px\9;
    border-color: #d18000;
    color: white;
    background-color: #d18000;
    background-image: linear-gradient(#ffa800, #d18000);
    color: #1c262c; }
  .RadTreeView_Glow .rtSelected .rtIn {
    background-position: 0 -2000px\9;
    color: black;
    background-color: #ffa915;
    background-image: linear-gradient(#ffa915, #ffa915);
    color: #000000;
    box-shadow: inset 0 0 3px #592e00; }
  .RadTreeView_Glow .rtDisabled {
    opacity: .5; }
  .RadTreeView_Glow .rtSp {
    height: 28px; }
  .RadTreeView_Glow .rtChecked,
  .RadTreeView_Glow .rtUnchecked,
  .RadTreeView_Glow .rtIndeterminate {
    margin-left: 3px;
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_Glow .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadTreeView_Glow .rtPlus,
  .RadTreeView_Glow .rtMinus {
    margin: 1px 0 0 -22px;
    width: 22px;
    height: 22px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadTreeView_Glow .rtPlus,
  .RadTreeView_Glow .rtPlusHover {
    background-position: -14px -164px; }
  .RadTreeView_Glow .rtMinus,
  .RadTreeView_Glow .rtMinusHover {
    background-position: -64px -64px; }
  .RadTreeView_Glow .rtTop,
  .RadTreeView_Glow .rtMid,
  .RadTreeView_Glow .rtBot {
    padding: 0 0 0 22px; }

html .RadTreeView_Glow_rtl .rtUL .rtUL {
  padding-left: 0;
  padding-right: 22px; }
html .RadTreeView_Glow_rtl .rtChecked,
html .RadTreeView_Glow_rtl .rtUnchecked,
html .RadTreeView_Glow_rtl .rtIndeterminate {
  background-repeat: no-repeat; }
html .RadTreeView_Glow_rtl .rtPlus,
html .RadTreeView_Glow_rtl .rtMinus {
  margin-left: 0;
  margin-right: -22px; }
html .RadTreeView_Glow_rtl .rtPlus,
html .RadTreeView_Glow_rtl .rtPlusHover {
  background-position: -15px -115px; }
html .RadTreeView_Glow_rtl .rtMinus,
html .RadTreeView_Glow_rtl .rtMinusHover {
  background-position: -64px -64px; }
html .RadTreeView_Glow_rtl .rtTop,
html .RadTreeView_Glow_rtl .rtMid,
html .RadTreeView_Glow_rtl .rtBot {
  padding-left: 0;
  padding-right: 22px; }
