.RadUpload_Glow {
  color: #1c262c;
  font: normal 13px/22px Arial, Helvetica, sans-serif;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #c1c7ca; }
  .RadUpload_Glow .ruFileWrap {
    height: 30px; }
  .RadUpload_Glow .ruUploadProgress {
    padding-right: 1px;
    font-size: 12px; }
  .RadUpload_Glow .ruFileProgressWrap {
    margin: 2px 0 0 -1px;
    border: 1px solid #5e6b73;
    background: #4a565d; }
  .RadUpload_Glow .ruFileProgress {
    margin: 0;
    background-color: #ffc863; }
  .RadUpload_Glow .ruFakeInput {
    border-color: #8a9297;
    color: white;
    background-color: #29343b;
    font: normal 13px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUpload_Glow .ruStyled .ruFakeInput {
    padding: 3px 4px;
    height: 20px; }
  .RadUpload_Glow .ruButton {
    margin: 0 0 0 10px;
    padding: 1px 4px 4px;
    height: 28px;
    border-width: 1px solid;
    border-radius: 3px;
    background: #1c262c url('../Common/Gradients/radGradientLightV50.png') 0 0 repeat-x;
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: -webkit-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -moz-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -ms-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: -o-linear-gradient(top, #414c53 0%, #1c262c 100%);
    background-image: linear-gradient(top, #414c53 0%, #1c262c 100%);
    font: normal 13px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUpload_Glow .ruButtonHover {
    border-color: #ce800f;
    color: #1c262c;
    background: #d18000 url('../Common/Gradients/radGradientLightV50.png') 0 0 repeat-x;
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -moz-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -ms-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -o-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: linear-gradient(top, #ffa800 0%, #d18000 100%); }
  .RadUpload_Glow .ruRemove {
    height: 21px;
    padding: 0 0 0 20px;
    border: 0;
    color: #ffa915;
    background: none;
    filter: none;
    font-size: 12px; }
    .RadUpload_Glow .ruRemove:hover {
      text-decoration: underline; }
  .RadUpload_Glow .ruCancel {
    padding: 0 0 0 20px;
    border: 0;
    color: #ffa915;
    background: none;
    filter: none;
    font-size: 12px; }
    .RadUpload_Glow .ruCancel:hover {
      text-decoration: underline; }
  .RadUpload_Glow .ruActions .ruButton {
    background-position: 0 0; }
  .RadUpload_Glow .ruDropZone {
    background: #1c262c;
    border-color: #515a61;
    color: #c1c7ca;
    font: 10px "Arial", sans-serif;
    text-transform: uppercase; }
    .RadUpload_Glow .ruDropZone span {
      margin-top: -4px; }

.RadUpload_rtl.RadUpload_Glow .ruUploadProgress {
  padding-right: 18px; }
.RadUpload_rtl.RadUpload_Glow .ruRemove {
  padding-right: 20px; }
.RadUpload_rtl.RadUpload_Glow .ruButton {
  margin-right: 10px; }
