.RadComboBox_Black {
  color: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Black .rcbInner {
    border-color: #080808;
    color: white;
    background-color: #444444;
    border-radius: 3px; }
  .RadComboBox_Black .rcbInput {
    color: white; }
  .RadComboBox_Black .rcbEmptyMessage {
    color: #6f6f6f;
    font-style: italic; }
  .RadComboBox_Black .rcbActionButton {
    border-radius: 0 3px 3px 0;
    background-image: url('../Black/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #080808;
    color: white;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
    .RadComboBox_Black .rcbActionButton .rcbIcon {
      *background-image: url('../Black/Common/radActionsSprite.png');
      *background-position: -42px -22px; }
    .RadComboBox_Black .rcbActionButton .rcbIconDown:before {
      content: "\e012";
      font-size: 1.2em;
      line-height: 1.33333em; }
      @media screen and (min-width: 0 \0) {
        .RadComboBox_Black .rcbActionButton .rcbIconDown:before {
          font-size: 0.5em;
          line-height: 1.7em; } }
  .RadComboBox_Black .rcbHovered {
    border-color: #515151;
    color: white;
    background-color: #444444;
    border-color: #080808; }
    .RadComboBox_Black .rcbHovered .rcbInput {
      color: white; }
    .RadComboBox_Black .rcbHovered .rcbActionButton {
      border-color: #080808;
      color: #9eda29;
      background-color: #020202;
      background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%); }
      .RadComboBox_Black .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -42px -22px; }
  .RadComboBox_Black .rcbFocused {
    border-color: #080808; }
    .RadComboBox_Black .rcbFocused .rcbInput {
      color: white; }
    .RadComboBox_Black .rcbFocused .rcbActionButton {
      border-color: #080808;
      color: white;
      background-color: #202020;
      background-image: linear-gradient(#6e6e6e 0%, #2b2b2d 50%, #050505 50%, #202020 100%); }
      .RadComboBox_Black .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -42px -22px; }
  .RadComboBox_Black .rcbDisabled {
    border-color: #141414;
    color: #6f6f6f;
    background-color: #444444;
    border-color: #080808; }
    .RadComboBox_Black .rcbDisabled .rcbInput {
      color: #6f6f6f; }
    .RadComboBox_Black .rcbDisabled .rcbActionButton {
      border-color: #080808;
      color: #6f6f6f;
      background-color: #1b1b1b;
      background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
      .RadComboBox_Black .rcbDisabled .rcbActionButton .rcbIcon {
        background-position: -2px -22px; }
  .RadComboBox_Black .rcbReadOnly {
    background-image: url('../Black/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #080808;
    color: white;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
    .RadComboBox_Black .rcbReadOnly .rcbInput {
      color: white; }
  .RadComboBox_Black .rcbReadOnly.rcbHovered {
    border-color: #080808;
    color: #9eda29;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%); }
    .RadComboBox_Black .rcbReadOnly.rcbHovered .rcbInput {
      color: #9eda29; }
  .RadComboBox_Black .rcbReadOnly.rcbFocused {
    border-color: #080808;
    color: white;
    background-color: #202020;
    background-image: linear-gradient(#6e6e6e 0%, #2b2b2d 50%, #050505 50%, #202020 100%); }
    .RadComboBox_Black .rcbReadOnly.rcbFocused .rcbInput {
      color: white; }
  .RadComboBox_Black .rcbReadOnly.rcbDisabled {
    border-color: #080808;
    color: #6f6f6f;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
    .RadComboBox_Black .rcbReadOnly.rcbDisabled .rcbInput {
      color: #6f6f6f; }

.RadComboBox_Black_rtl .rcbActionButton {
  border-radius: 3px 0 0 3px; }

.RadComboBoxDropDown_Black {
  border-color: #080808;
  color: white;
  background: #464646;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadComboBoxDropDown_Black .rcbHeader,
  .RadComboBoxDropDown_Black .rcbFooter {
    color: white;
    background-color: #161616; }
  .RadComboBoxDropDown_Black .rcbHeader {
    border-bottom-color: #080808; }
  .RadComboBoxDropDown_Black .rcbFooter {
    border-top-color: #080808; }
  .RadComboBoxDropDown_Black .rcbHovered {
    color: #9eda29;
    background-color: #3e3e3e; }
  .RadComboBoxDropDown_Black .rcbDisabled {
    color: #6f6f6f; }
  .RadComboBoxDropDown_Black .rcbLoading {
    color: #9eda29;
    background-color: #3e3e3e; }
  .RadComboBoxDropDown_Black .rcbItem em,
  .RadComboBoxDropDown_Black .rcbHovered em {
    color: #9eda29;
    background-color: #3e3e3e; }
  .RadComboBoxDropDown_Black .rcbCheckAllItems {
    color: white;
    background-color: #161616; }
  .RadComboBoxDropDown_Black .rcbCheckAllItemsHovered {
    color: #9eda29;
    background-color: #2d2d2d; }
  .RadComboBoxDropDown_Black .rcbMoreResults {
    border-top-color: #080808;
    color: white;
    background-color: #161616; }
    .RadComboBoxDropDown_Black .rcbMoreResults a {
      background-image: url('../Black/Common/radActionsSprite.png');
      _background-image: url('../Black/Common/radActionsSpriteIE6.png');
      background-position: -2.5px -25.5px; }
  .RadComboBoxDropDown_Black .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
