.RadCalendar_Office2010Blue {
  background: #f2f5f8;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #384e73; }

.RadCalendar_Office2010Blue .rcTitlebar {
  padding: 0.3em 0.1em;
  border-color: #8ba0bc;
  background-image: linear-gradient(to bottom, #fcfcfd 0%, #f2f5f8 22%, #ccd6e5 74%, #bdcbde 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#bdcbde',GradientType=0 ); }
  .RadCalendar_Office2010Blue .rcTitlebar .rcPrev,
  .RadCalendar_Office2010Blue .rcTitlebar .rcNext,
  .RadCalendar_Office2010Blue .rcTitlebar .rcFastPrev,
  .RadCalendar_Office2010Blue .rcTitlebar .rcFastNext {
    width: 1.4167em;
    height: 1.4167em;
    margin: .083em .167em 0;
    border: 1px solid transparent;
    border-radius: .26em; }
    .RadCalendar_Office2010Blue .rcTitlebar .rcPrev:bofore,
    .RadCalendar_Office2010Blue .rcTitlebar .rcNext:bofore,
    .RadCalendar_Office2010Blue .rcTitlebar .rcFastPrev:bofore,
    .RadCalendar_Office2010Blue .rcTitlebar .rcFastNext:bofore {
      color: #59628e; }
    .RadCalendar_Office2010Blue .rcTitlebar .rcPrev:hover,
    .RadCalendar_Office2010Blue .rcTitlebar .rcNext:hover,
    .RadCalendar_Office2010Blue .rcTitlebar .rcFastPrev:hover,
    .RadCalendar_Office2010Blue .rcTitlebar .rcFastNext:hover {
      background-image: linear-gradient(to bottom, #fbe9a6 0%, #fae287 53%, #fbe79f 80%, #fcefc0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#bdcbde',GradientType=0 );
      border: 1px solid #f3d64a;
      box-shadow: 0 0 1px 1px #fcf5d9 inset; }
      .RadCalendar_Office2010Blue .rcTitlebar .rcPrev:hover:before,
      .RadCalendar_Office2010Blue .rcTitlebar .rcNext:hover:before,
      .RadCalendar_Office2010Blue .rcTitlebar .rcFastPrev:hover:before,
      .RadCalendar_Office2010Blue .rcTitlebar .rcFastNext:hover:before {
        color: #5f6062; }

.RadCalendarMultiView_Office2010Blue .rcTitlebar {
  padding: 0.4em 0.1em; }

.RadCalendar_Office2010Blue .rcMain {
  border-color: #8ba0bc; }
.RadCalendar_Office2010Blue .rcHeader, .RadCalendar_Office2010Blue .rcFooter {
  border-color: #688caf; }
.RadCalendar_Office2010Blue .rcWeek th {
  border-top: 1px solid #6f6f6f;
  padding: .416em .583em .416em .75em;
  background-color: #dbe3ee;
  color: #3b3b3b; }
.RadCalendar_Office2010Blue .rcWeek .rcViewSel {
  width: 1em;
  padding: 0 .583em 0 .75em;
  background: #dbe3ee; }
.RadCalendar_Office2010Blue .rcMain .rcRow a, .RadCalendar_Office2010Blue .rcMain .rcRow span {
  color: #384e73;
  border: 1px solid transparent;
  border-radius: .2em;
  line-height: 1.6; }
.RadCalendar_Office2010Blue .rcMain .rcRow th {
  width: 1em;
  padding: 0 .583em 0 .75em;
  background: #dbe3ee;
  color: #3b3b3b; }
.RadCalendar_Office2010Blue .rcMain .rcRow td {
  border: 0 none; }
.RadCalendar_Office2010Blue .rcMain .rcRow .rcToday a {
  border-color: #c95c05; }
.RadCalendar_Office2010Blue .rcMain .rcRow .rcHover a,
.RadCalendar_Office2010Blue .rcMain .rcRow .rcSelected a {
  color: #000; }
.RadCalendar_Office2010Blue .rcMain .rcRow .rcSelected a {
  background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffdc6e',GradientType=0 );
  border-color: #c29840; }
.RadCalendar_Office2010Blue .rcMain .rcRow .rcHover a {
  background-image: linear-gradient(to bottom, #fceaab 0%, #fae187 35%, #fae187 53%, #fbe594 65%, #fcf5d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceaab', endColorstr='#fae187',GradientType=0 );
  border: 1px solid #f3d64a;
  box-shadow: 0 0 1px 1px #fff inset; }
.RadCalendar_Office2010Blue .rcMain .rcWeekend a {
  color: #444; }

.RadCalendar_Office2010Blue .rcMain .rcOtherMonth a, .RadCalendar_Office2010Blue .rcMain .rcOutOfRange span {
  color: #bfbfbf; }

.RadCalendarMultiView_Office2010Blue .rcTitlebar {
  background-image: linear-gradient(to bottom, #eff6fd 0%, #d9e5f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff6fd', endColorstr='#d9e5f2',GradientType=0 ); }
  .RadCalendarMultiView_Office2010Blue .rcTitlebar table {
    line-height: 2.25; }
  .RadCalendarMultiView_Office2010Blue .rcTitlebar td {
    padding-bottom: 1px; }
.RadCalendarMultiView_Office2010Blue .rcCalendar {
  border-color: #8ba0bc;
  border-top: 0; }
.RadCalendarMultiView_Office2010Blue .rcMainTable .rcTitle {
  border-color: #8ba0bc;
  background-image: linear-gradient(to bottom, #fcfcfd 0%, #f2f5f8 22%, #ccd6e5 74%, #bdcbde 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#bdcbde',GradientType=0 );
  line-height: 1.833; }

.RadCalendarMonthView_Office2010Blue {
  border-color: #868686;
  background: #fff;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000; }
  .RadCalendarMonthView_Office2010Blue #rcMView_Feb,
  .RadCalendarMonthView_Office2010Blue #rcMView_Apr,
  .RadCalendarMonthView_Office2010Blue #rcMView_Jun,
  .RadCalendarMonthView_Office2010Blue #rcMView_Aug,
  .RadCalendarMonthView_Office2010Blue #rcMView_Oct,
  .RadCalendarMonthView_Office2010Blue #rcMView_Dec {
    border-right: 1px solid #9ebfdb; }
  .RadCalendarMonthView_Office2010Blue a {
    color: #384e73; }
  .RadCalendarMonthView_Office2010Blue .rcSelected a {
    border-color: #c28b31 #c29a42 #c2a34c;
    background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffdc6e',GradientType=0 ); }
  .RadCalendarMonthView_Office2010Blue #rcMView_PrevY a,
  .RadCalendarMonthView_Office2010Blue #rcMView_NextY a {
    overflow: hidden;
    color: #ccc; }
  .RadCalendarMonthView_Office2010Blue .rcButtons {
    padding: .417em 0.583em .25em; }
  .RadCalendarMonthView_Office2010Blue input {
    border-color: #8ba0bc;
    padding: .083em 0 0;
    background-image: linear-gradient(to bottom, #fafbfd 0%, #edf0f6 28%, #c8d4e3 83%, #c0cddf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafbfd', endColorstr='#c0cddf',GradientType=0 );
    color: #384e73; }

.RadCalendarTimeView_Office2010Blue {
  border-color: #9199a4;
  background: #fff;
  font: normal 14px / 1.5 "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendarTimeView_Office2010Blue a {
    color: #384e73;
    border-radius: .2em; }
  .RadCalendarTimeView_Office2010Blue th {
    border-bottom: 1px solid #9eb6ce;
    padding: 0 0 .083em;
    background-image: linear-gradient(to bottom, #fcfcfd 0%, #f2f5f8 22%, #ccd6e5 74%, #bdcbde 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#bdcbde',GradientType=0 );
    color: #384e73;
    line-height: 2; }
  .RadCalendarTimeView_Office2010Blue td {
    border-color: #9199a4; }
    .RadCalendarTimeView_Office2010Blue td.rcSelected a {
      border-color: #c28b31 #c29a42 #c2a34c;
      background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffdc6e',GradientType=0 ); }
    .RadCalendarTimeView_Office2010Blue td.rcHover a {
      border-color: #f7c840;
      background-image: linear-gradient(to bottom, #fceaab 0%, #fae187 35%, #fae187 53%, #fbe594 65%, #fcf5d9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceaab', endColorstr='#fae187',GradientType=0 ); }
  .RadCalendarTimeView_Office2010Blue .rcFooter {
    border-color: #688caf; }

.RadPicker_Office2010Blue .rcCalPopup:before,
.RadPicker_Office2010Blue .rcTimePopup:before {
  color: #6f6c6c; }
.RadPicker_Office2010Blue .rcCalPopup:hover:before, .RadPicker_Office2010Blue .rcCalPopup:focus:before, .RadPicker_Office2010Blue .rcCalPopup:active:before,
.RadPicker_Office2010Blue .rcTimePopup:hover:before,
.RadPicker_Office2010Blue .rcTimePopup:focus:before,
.RadPicker_Office2010Blue .rcTimePopup:active:before {
  color: #a57c21; }
