.RadMenu_Office2010Blue {
  font: 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadMenu_Office2010Blue .rmGroup,
  .RadMenu_Office2010Blue .rmRootGroup,
  .RadMenu_Office2010Blue .rmMultiColumn {
    border-color: #abbacf; }
  .RadMenu_Office2010Blue .rmGroup,
  .RadMenu_Office2010Blue .rmMultiColumn {
    color: #384e73;
    background-color: white; }
  .RadMenu_Office2010Blue .rmRootGroup {
    color: #384e73;
    background-color: #f2f8fe; }
  .RadMenu_Office2010Blue .rmVertical:before,
  .RadMenu_Office2010Blue .rmMultiColumn:before {
    content: "";
    width: 2.5em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff; }
  .RadMenu_Office2010Blue .rmVertical li.rmSeparator {
    border-top-color: #e6e6e6;
    border-bottom-color: white; }
  .RadMenu_Office2010Blue .rmHorizontal li.rmSeparator {
    border-left-color: #e6e6e6;
    border-right-color: white; }
  .RadMenu_Office2010Blue .rmShadows .rmGroup {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
  .RadMenu_Office2010Blue .rmArrow {
    border-color: #d9d9d9;
    background-color: #f2f2f2; }
    .RadMenu_Office2010Blue .rmArrow:hover {
      background-color: #e6e6e6; }
  .RadMenu_Office2010Blue .rmRootGroup .rmItem {
    border-color: #abbacf; }
  .RadMenu_Office2010Blue .rmRootGroup > .rmItem {
    padding: 1px; }
  .RadMenu_Office2010Blue .rmRootGroup .rmRootLink {
    border: 1px solid transparent;
    border-radius: 3px;
    padding-top: .17em;
    padding-bottom: .17em; }
  .RadMenu_Office2010Blue .rmRootGroup a.rmRootLink {
    *color: #384e73; }
  .RadMenu_Office2010Blue .rmRootGroup .rmRootLink:hover,
  .RadMenu_Office2010Blue .rmRootGroup .rmSelected > .rmRootLink {
    color: #384e73;
    border-color: #f3d64a;
    background-color: #edeff2;
    background-image: -webkit-linear-gradient(#fcecb2, #fae185, #fef8e1);
    background-image: -moz-linear-gradient(#fcecb2, #fae185, #fef8e1);
    background-image: -ms-linear-gradient(#fcecb2, #fae185, #fef8e1);
    background-image: -o-linear-gradient(#fcecb2, #fae185, #fef8e1);
    background-image: linear-gradient(#fcecb2, #fae185, #fef8e1); }
  .RadMenu_Office2010Blue .rmRootGroup .rmFocused > .rmLink {
    box-shadow: inset 0 0 3px 1px #f3d64a; }
  .RadMenu_Office2010Blue .rmRootGroup .rmExpanded > .rmRootLink {
    color: #384e73;
    border-color: #c28b31;
    background-image: -webkit-linear-gradient(#ffe373, #ffd86b, #fff17e);
    background-image: -moz-linear-gradient(#ffe373, #ffd86b, #fff17e);
    background-image: -ms-linear-gradient(#ffe373, #ffd86b, #fff17e);
    background-image: -o-linear-gradient(#ffe373, #ffd86b, #fff17e);
    background-image: linear-gradient(#ffe373, #ffd86b, #fff17e); }
  .RadMenu_Office2010Blue .rmPopup,
  .RadMenu_Office2010Blue .rmGroup {
    background-position: -1px 0; }
    .RadMenu_Office2010Blue .rmPopup .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmLink {
      border-radius: 3px; }
    .RadMenu_Office2010Blue .rmPopup a.rmLink,
    .RadMenu_Office2010Blue .rmGroup a.rmLink {
      *color: #384e73; }
    .RadMenu_Office2010Blue .rmPopup .rmLink:hover,
    .RadMenu_Office2010Blue .rmPopup .rmExpanded > .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmLink:hover,
    .RadMenu_Office2010Blue .rmGroup .rmExpanded > .rmLink {
      border-color: #f3d64a;
      color: #384e73;
      background-color: #fef8e1;
      background-image: linear-gradient(#fcecb2, #fef8e1); }
    .RadMenu_Office2010Blue .rmPopup .rmExpanded > .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmExpanded > .rmLink {
      border-color: #c28b31; }
    .RadMenu_Office2010Blue .rmPopup .rmFocused > .rmLink,
    .RadMenu_Office2010Blue .rmPopup .rmFocused > .rmLink .rmToggle,
    .RadMenu_Office2010Blue .rmGroup .rmFocused > .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmFocused > .rmLink .rmToggle {
      box-shadow: inset 0 0 3px 1px #f3d64a; }
    .RadMenu_Office2010Blue .rmPopup .rmSelected > .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmSelected > .rmLink {
      border-color: #c28b31;
      color: #1e395b;
      background-color: #fff17e;
      background-image: linear-gradient(#ffe373, #fff17e); }
    .RadMenu_Office2010Blue .rmPopup .rmDisabled > .rmLink,
    .RadMenu_Office2010Blue .rmGroup .rmDisabled > .rmLink {
      border-color: transparent;
      background: transparent; }
    .RadMenu_Office2010Blue .rmPopup .rmToggle:hover,
    .RadMenu_Office2010Blue .rmGroup .rmToggle:hover {
      border-color: #f3d64a;
      color: #384e73;
      background-color: #fef8e1;
      background-image: linear-gradient(#fcecb2, #fef8e1); }
    .RadMenu_Office2010Blue .rmPopup .rmExpanded > .rmLink .rmToggle,
    .RadMenu_Office2010Blue .rmGroup .rmExpanded > .rmLink .rmToggle {
      border-color: #c28b31;
      color: #1e395b;
      background-color: #fff17e;
      background-image: linear-gradient(#ffe373, #fff17e); }
  .RadMenu_Office2010Blue .rmContentTemplate {
    background: white;
    border: 1px solid #9babc2; }

.RadMenu_Office2010Blue_rtl .rmVertical:before,
.RadMenu_Office2010Blue_rtl .rmMultiColumn:before {
  left: auto;
  right: 0;
  border-radius: 0 4px 4px 0; }
