.RadDropDownTree_Silk {
  color: #767676;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Silk .rddtInner {
    height: 2.15385em;
    background-image: url('../Silk/Common/radPrimaryGradientButtonSprite.png');
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    background-color: #d6d5d4; }
  .RadDropDownTree_Silk .rddtFakeInput {
    height: 1.84615em;
    line-height: 1.84615em; }
  .RadDropDownTree_Silk .rddtEmptyMessage {
    color: #b1b1b1;
    font-style: italic; }
  .RadDropDownTree_Silk .rddtClearButton {
    background-position: -2px -264px; }
  .RadDropDownTree_Silk .rddtIcon {
    width: 1.84615em;
    height: 2em; }
    .RadDropDownTree_Silk .rddtIcon:before {
      content: "\e002";
      line-height: 1.25em; }
  .RadDropDownTree_Silk .rddtHovered {
    border-color: #007d93;
    color: white;
    background-color: #007d93;
    background-image: linear-gradient(#00a9c7 0%, #007d93 100%); }
    .RadDropDownTree_Silk .rddtHovered .rddtClearButton {
      background-position: -22px -264px; }
      .RadDropDownTree_Silk .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -264px; }
  .RadDropDownTree_Silk .rddtFocused {
    border-color: #2292a8;
    color: white;
    background-color: #2dabc1;
    background-image: linear-gradient(#2dabc1 0%, #2dabc1 100%); }
    .RadDropDownTree_Silk .rddtFocused .rddtClearButton {
      background-position: -42px -264px; }
      .RadDropDownTree_Silk .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -264px; }
  .RadDropDownTree_Silk .rddtDisabled {
    border-color: #c9c9c9;
    color: #d7d7d7;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    color: #bebebe; }

.rddtPopup_Silk {
  border-color: #d7d7d7;
  color: #555555;
  background: white;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .rddtPopup_Silk .rddtHeader,
  .rddtPopup_Silk .rddtFooter {
    color: #5f5f5f;
    background-color: #eaeaea; }
  .rddtPopup_Silk .rddtHeader {
    border-bottom-color: #d7d7d7; }
  .rddtPopup_Silk .rddtFooter {
    border-top-color: #d7d7d7; }
  .rddtPopup_Silk .rddtFilter {
    border-bottom-color: #d7d7d7;
    color: #5f5f5f;
    background: #eaeaea; }
    .rddtPopup_Silk .rddtFilter .rddtFilterInput {
      font: 13px Arial, Helvetica, sans-serif;
      border-color: #d7d7d7;
      color: #555555;
      background-color: white; }
    .rddtPopup_Silk .rddtFilter .rddtFilterEmptyMessage {
      color: #b1b1b1;
      font-style: italic; }
  .rddtPopup_Silk .RadTreeView em {
    color: #555555;
    background-color: #bbeaf3; }
