.RadListBox_Silk {
  color: #555555;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.69231em; }
.RadListBox_Silk .rlbButton {
  padding: 0.38462em;
  *padding: 3px;
  color: #767676;
  border-radius: 0.23077em;
  border-color: #c9c9c9;
  background-color: #e3e3e3;
  background-image: url('../Silk/Common/radGradientButtonSprite.png');
  background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%); }
  .RadListBox_Silk .rlbButton:hover {
    background-color: #939393;
    background-image: linear-gradient(#d6d6d6 0%, #939393 100%); }
  .RadListBox_Silk .rlbButton:active {
    background-color: #dedede;
    background-image: linear-gradient(#c7c7c7 0%, #dedede 100%); }
  .RadListBox_Silk .rlbButton.rlbDisabled {
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%); }
.RadListBox_Silk .rlbButtonAreaRight .rlbButton,
.RadListBox_Silk .rlbButtonAreaLeft .rlbButton {
  margin-bottom: 5px; }
.RadListBox_Silk .rlbButtonAreaTop li,
.RadListBox_Silk .rlbButtonAreaBottom li {
  margin-right: 5px; }
.RadListBox_Silk .rlbBottom .rlbButton {
  margin-top: 5px;
  margin-bottom: 0; }
.RadListBox_Silk .rlbNoButtonText.rlbButton {
  *width: 28px;
  *height: 28px; }
.RadListBox_Silk .rlbGroup {
  background-color: white;
  border-color: #d7d7d7; }
.RadListBox_Silk .rlbItem {
  line-height: 1.76923em; }
  .RadListBox_Silk .rlbItem:hover, .RadListBox_Silk .rlbItem.rlbHovered {
    background-color: #bbeaf3; }
  .RadListBox_Silk .rlbItem.rlbSelected {
    color: black;
    background-color: #fff1cc; }
.RadListBox_Silk .rlbHighlight {
  background-color: #bbeaf3; }
.RadListBox_Silk .rlbCheckAllItems {
  background-color: #eaeaea; }
.RadListBox_Silk .rlbCheckAllItemsCheckBox,
.RadListBox_Silk .rlbCheck {
  margin-top: 0; }
.RadListBox_Silk .rlbTemplateContent {
  border-color: #d7d7d7;
  background-color: white; }
.RadListBox_Silk .rlbHeader,
.RadListBox_Silk .rlbFooter {
  border-color: #e6e6e6;
  background: #e6e6e6; }
.RadListBox_Silk .rlbGroup .rlbDropClueAbove {
  border-top-style: dotted;
  border-top-color: #8e8e8e; }
.RadListBox_Silk .rlbGroup .rlbDropClueBelow {
  border-top-style: dotted;
  border-bottom-color: #8e8e8e; }

.RadListBox_Silk.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_Silk.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.61538em; }

.RadListBox_Silk.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_Silk.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.61538em; }
