.RadScheduler_Black {
  color: white;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadScheduler_Black .rsList > li {
    border-color: #080808; }
  .RadScheduler_Black select,
  .RadScheduler_Black input[type="text"],
  .RadScheduler_Black input[type="date"],
  .RadScheduler_Black input[type="time"],
  .RadScheduler_Black input[type="number"],
  .RadScheduler_Black textarea {
    border-color: #080808;
    color: white;
    background-color: #444444; }
    .RadScheduler_Black select:hover,
    .RadScheduler_Black input[type="text"]:hover,
    .RadScheduler_Black input[type="date"]:hover,
    .RadScheduler_Black input[type="time"]:hover,
    .RadScheduler_Black input[type="number"]:hover,
    .RadScheduler_Black textarea:hover {
      border-color: #515151;
      color: white;
      background-color: #444444; }
    .RadScheduler_Black select:focus,
    .RadScheduler_Black input[type="text"]:focus,
    .RadScheduler_Black input[type="date"]:focus,
    .RadScheduler_Black input[type="time"]:focus,
    .RadScheduler_Black input[type="number"]:focus,
    .RadScheduler_Black textarea:focus {
      border-color: #515151;
      color: white;
      background-color: #444444; }
  .RadScheduler_Black .rsButton {
    border-color: #080808;
    color: white;
    background-color: #303030;
    background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
    .RadScheduler_Black .rsButton:hover {
      border-color: #080808;
      color: #9eda29;
      background-color: #505050;
      background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%); }
    .RadScheduler_Black .rsButton:active {
      border-color: #080808;
      color: white;
      background-color: #606060;
      background-image: linear-gradient(#6e6e6e 0%, #2b2b2d 50%, #050505 50%, #202020 100%); }
  .RadScheduler_Black .rsTopWrap {
    border-color: #202020;
    background-color: #161616; }
  .RadScheduler_Black .rsToolbar {
    border-color: #6d6d6d;
    color: white;
    background-color: #161616; }
    .RadScheduler_Black .rsToolbar .rsPrimary {
      background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%); }
    .RadScheduler_Black .rsToolbar .rsSecondary {
      border-color: #202020;
      background-color: #161616; }
    .RadScheduler_Black .rsToolbar .rsViewSwitcher,
    .RadScheduler_Black .rsToolbar .rsToday,
    .RadScheduler_Black .rsToolbar .rsAddAppointment,
    .RadScheduler_Black .rsToolbar .rsDatePicker,
    .RadScheduler_Black .rsToolbar .rsPrevDay,
    .RadScheduler_Black .rsToolbar .rsNextDay {
      background-repeat: repeat-x; }
      .RadScheduler_Black .rsToolbar .rsViewSwitcher:hover,
      .RadScheduler_Black .rsToolbar .rsToday:hover,
      .RadScheduler_Black .rsToolbar .rsAddAppointment:hover,
      .RadScheduler_Black .rsToolbar .rsDatePicker:hover,
      .RadScheduler_Black .rsToolbar .rsPrevDay:hover,
      .RadScheduler_Black .rsToolbar .rsNextDay:hover {
        color: #9eda29;
        background-color: #505050;
        background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%); }
      .RadScheduler_Black .rsToolbar .rsViewSwitcher:active,
      .RadScheduler_Black .rsToolbar .rsToday:active,
      .RadScheduler_Black .rsToolbar .rsAddAppointment:active,
      .RadScheduler_Black .rsToolbar .rsDatePicker:active,
      .RadScheduler_Black .rsToolbar .rsPrevDay:active,
      .RadScheduler_Black .rsToolbar .rsNextDay:active {
        color: white;
        background-color: #606060;
        background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%); }
    .RadScheduler_Black .rsToolbar .rsAddAppointment,
    .RadScheduler_Black .rsToolbar .rsPrevDay,
    .RadScheduler_Black .rsToolbar .rsNextDay {
      color: transparent; }
    .RadScheduler_Black .rsToolbar .rsAddAppointment:before,
    .RadScheduler_Black .rsToolbar .rsPrevDay:before,
    .RadScheduler_Black .rsToolbar .rsNextDay:before {
      color: white; }
    .RadScheduler_Black .rsToolbar .rsAddAppointment:hover,
    .RadScheduler_Black .rsToolbar .rsPrevDay:hover,
    .RadScheduler_Black .rsToolbar .rsNextDay:hover {
      color: transparent; }
    .RadScheduler_Black .rsToolbar .rsAddAppointment:hover:before,
    .RadScheduler_Black .rsToolbar .rsPrevDay:hover:before,
    .RadScheduler_Black .rsToolbar .rsNextDay:hover:before {
      color: #9eda29; }
    .RadScheduler_Black .rsToolbar .rsAddAppointment:active,
    .RadScheduler_Black .rsToolbar .rsPrevDay:active,
    .RadScheduler_Black .rsToolbar .rsNextDay:active {
      color: transparent; }
    .RadScheduler_Black .rsToolbar .rsAddAppointment:active:before,
    .RadScheduler_Black .rsToolbar .rsPrevDay:active:before,
    .RadScheduler_Black .rsToolbar .rsNextDay:active:before {
      color: white; }
  .RadScheduler_Black .rsFooter {
    border-color: #202020;
    color: white;
    background-color: #161616; }
    .RadScheduler_Black .rsFooter a {
      color: #555555; }
    .RadScheduler_Black .rsFooter a:hover {
      color: #888888; }
  .RadScheduler_Black .rsContent {
    color: white;
    background: #494949; }
  .RadScheduler_Black .rsSubHeader {
    border-color: #202020;
    color: white;
    background-color: #161616; }
  .RadScheduler_Black .rsSpacerCell,
  .RadScheduler_Black .rsAllDayHeader,
  .RadScheduler_Black .rsAllDayRow td,
  .RadScheduler_Black .rsContentTable .rsAllDayRow td,
  .RadScheduler_Black .rsVerticalHeaderTable th,
  .RadScheduler_Black .rsHorizontalHeaderTable th {
    border-color: black; }
  .RadScheduler_Black .rsVerticalHeaderTable {
    color: white;
    background-color: #232323; }
  .RadScheduler_Black .rsVerticalHeaderTable th {
    border-color: transparent black; }
  .RadScheduler_Black .rsVerticalHeaderTable .rsAlt th,
  .RadScheduler_Black .rsVerticalHeaderTable .rsMainHeader th {
    border-color: black; }
  .RadScheduler_Black .rsSpacerCell,
  .RadScheduler_Black .rsHorizontalHeaderTable {
    color: white;
    background-color: #161616;
    background-image: linear-gradient(#323232 0%, #161616 100%); }
  .RadScheduler_Black .rsAllDayRow,
  .RadScheduler_Black .rsAllDayHeader {
    color: white;
    background-color: #161616; }
  .RadScheduler_Black .rsContentTable td {
    border-color: #4f4f4f #4f4f4f; }
  .RadScheduler_Black .rsContentTable .rsAlt td {
    border-color: #535353 #4f4f4f; }
  .RadScheduler_Black .rsOtherMonth,
  .RadScheduler_Black .rsNonWorkHour,
  .RadScheduler_Black .rsSunCol,
  .RadScheduler_Black .rsSatCol {
    background-color: #404040; }
  .RadScheduler_Black .rsAptCreate {
    background-color: #2d2d2d; }
  .RadScheduler_Black .rsAptCreateRow1 {
    background-image: linear-gradient(#5b5b5b, #2d2d2d); }
  .RadScheduler_Black .rsSelectedSlot {
    border-color: #181818;
    background-color: #282828; }
  .RadScheduler_Black .rsAptCreate.rsSelectedSlot {
    border-color: #080808;
    background-color: #181818; }
  .RadScheduler_Black .rsArrowContainer .rsOvertimeArrow {
    border-color: #080808;
    color: white;
    background-image: linear-gradient(#7b7b7b 0%, #4a4a4a 50%, #313131 50%, #1b1b1b 100%);
    background-color: #303030; }
  .RadScheduler_Black .rsArrowContainer .rsOvertimeArrow:hover {
    border-color: #080808;
    color: #9eda29;
    background-image: linear-gradient(#5c5c5c 0%, #2a2a2c 50%, #060606 50%, #020202 100%);
    background-color: #505050; }
  .RadScheduler_Black .rsAptContent {
    border-color: #141414;
    color: #000000;
    background-color: #cccccc; }
  .RadScheduler_Black .rsAptSelected .rsAptContent {
    border-color: #000000; }
  .RadScheduler_Black .rsAgendaTable th, .RadScheduler_Black .rsAgendaTable td {
    border-bottom-color: black;
    border-right-color: black; }
  .RadScheduler_Black .rsAgendaTable th {
    color: white;
    background-color: #232323; }
  .RadScheduler_Black .rsAgendaTable .rsAgendaRowHovered {
    border-color: #232323;
    color: #9eda29;
    background-color: #2d2d2d;
    background-image: linear-gradient(#5b5b5b, #2d2d2d); }
  .RadScheduler_Black .rsAgendaTable .rsAgendaRowSelected {
    border-color: #565656;
    color: #9eda29;
    background-color: #303030;
    background-image: linear-gradient(#424242, #303030); }
  .RadScheduler_Black .rsPopup {
    border-color: #080808;
    color: white;
    background-color: #464646; }
    .RadScheduler_Black .rsPopup .rsTitle {
      border-color: #080808;
      color: white;
      background-color: #161616; }
    .RadScheduler_Black .rsPopup .rsCommandFooter .rsButton {
      width: 50%; }
  .RadScheduler_Black .rsAdvancedEdit {
    border-color: #080808;
    color: white;
    background-color: #464646; }
  .RadScheduler_Black .rsAdvTitle {
    border-color: #080808;
    color: white;
    background-color: #161616; }

/* RadScheduler Default skin */
/* common */
/* header */
/* content */
/* <appointments> */
.RadScheduler_Default .rsFullTime {
  color: #000; }

/* </appointments> */
