span.RadButton_Silk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  /* RadButton Default Skin */
  /* Primary Button styles */
  /* Override embedded icons for Dark skins */
  /* Basic 16x16 */
  /* Extended 16x16 */
  /* Basic 24x24 */
  /* Extended 24x24 */ }
  span.RadButton_Silk .rbDecorated {
    height: 26px;
    line-height: 28px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  span.RadButton_Silk.rbSkinnedButton, span.RadButton_Silk.rbLinkButton, span.RadButton_Silk.rbVerticalButton, span.RadButton_Silk.RadButton.rbDisabled, span.RadButton_Silk.RadButton.rbDisabled:hover, span.RadButton_Silk.RadButton.rbDisabled:active, span.RadButton_Silk.RadButton.rbDisabled:focus {
    background-image: url('../Common/Gradients/radGradientLightV20.png');
    _background-image: none;
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    height: 26px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-radius: 4px; }
  span.RadButton_Silk.RadButton.rbToggleButton.rbDisabled, span.RadButton_Silk.RadButton.rbToggleButton.rbDisabled:hover, span.RadButton_Silk.RadButton.rbToggleButton.rbDisabled:active, span.RadButton_Silk.RadButton.rbToggleButton.rbDisabled:focus {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: auto; }
  span.RadButton_Silk.rbSkinnedButton, span.RadButton_Silk.rbVerticalButton {
    padding: 0 10px; }
  span.RadButton_Silk.rbLinkButton {
    text-decoration: none;
    height: auto;
    line-height: 1.75em;
    min-height: 1.75em; }
  span.RadButton_Silk.rbSkinnedButton:hover, span.RadButton_Silk.rbLinkButton:hover, span.RadButton_Silk.rbVerticalButton:hover {
    border-color: #939393;
    color: #444444;
    background-color: #939393;
    background-image: linear-gradient(#d6d6d6 0%, #939393 100%); }
  span.RadButton_Silk.rbSkinnedButton:active, span.RadButton_Silk.rbLinkButton:active, span.RadButton_Silk.rbVerticalButton:active, span.RadButton_Silk.rbSkinnedButton:focus, span.RadButton_Silk.rbLinkButton:focus, span.RadButton_Silk.rbVerticalButton:focus, span.RadButton_Silk.RadButton.rbSkinnedButtonChecked, span.RadButton_Silk.RadButton.rbSkinnedButtonChecked:hover, span.RadButton_Silk.RadButton.rbLinkButtonChecked, span.RadButton_Silk.RadButton.rbLinkButtonChecked:hover, span.RadButton_Silk.RadButton.rbVerticalButtonChecked, span.RadButton_Silk.RadButton.rbVerticalButtonChecked:hover {
    border-color: darkgray;
    color: black;
    background-color: #dedede;
    background-image: linear-gradient(#c7c7c7 0%, #dedede 100%);
    box-shadow: inset 0 0 4px #c0c0c0; }
  span.RadButton_Silk.rbSkinnedButton.rbDisabled, span.RadButton_Silk.rbSkinnedButton.rbDisabled:hover, span.RadButton_Silk.rbSkinnedButton.rbDisabled:active, span.RadButton_Silk.rbSkinnedButton.rbDisabled:focus, span.RadButton_Silk.rbLinkButton.rbDisabled, span.RadButton_Silk.rbLinkButton.rbDisabled:hover, span.RadButton_Silk.rbLinkButton.rbDisabled:active, span.RadButton_Silk.rbLinkButton.rbDisabled:focus, span.RadButton_Silk.rbVerticalButton.rbDisabled, span.RadButton_Silk.rbVerticalButton.rbDisabled:hover, span.RadButton_Silk.rbVerticalButton.rbDisabled:active, span.RadButton_Silk.rbVerticalButton.rbDisabled:focus {
    border-color: #c9c9c9;
    color: #d7d7d7;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    background-position: 0 0;
    box-shadow: none; }
  span.RadButton_Silk .rbToggleCheckbox,
  span.RadButton_Silk .rbToggleCheckboxChecked,
  span.RadButton_Silk .rbToggleCheckboxFilled,
  span.RadButton_Silk .rbToggleRadio,
  span.RadButton_Silk .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  span.RadButton_Silk.rbToggleButton, span.RadButton_Silk.rbToggleButton.rbDisabled:hover {
    color: #767676; }
  span.RadButton_Silk.RadButton .rbSplitRight, span.RadButton_Silk.RadButton .rbSplitLeft {
    width: 20px; }
  span.RadButton_Silk .rbDecorated.rbPrimary {
    padding: 0 0 0 25px; }
  span.RadButton_Silk .rbDecorated.rbSecondary {
    padding: 0 25px 0 0; }
  span.RadButton_Silk .rbDecorated.rbPrimary.rbSecondary {
    padding: 0 25px; }
  span.RadButton_Silk.rbNativeButton .rbPrimary {
    padding: 0 0 0 20px; }
  span.RadButton_Silk.rbNativeButton .rbSecondary {
    padding: 0 20px 0 0; }
  span.RadButton_Silk.rbNativeButton .rbPrimary.rbSecondary {
    padding: 0 20px; }
  span.RadButton_Silk .rbSplitLeft {
    border-right: 1px solid #c9c9c9;
    border-radius: 4px 0 0 4px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -15px -62px; }
    span.RadButton_Silk .rbSplitLeft:hover, span.RadButton_Silk .rbSplitLeft:focus, span.RadButton_Silk .rbSplitLeft:active {
      background-position: -15px -62px;
      border-right: 1px solid #939393; }
  span.RadButton_Silk .rbSplitRight {
    border-left: 1px solid #c9c9c9;
    border-radius: 0 4px 4px 0;
    background-image: url('Common/radActionsSprite.png');
    background-position: -15px -62px; }
    span.RadButton_Silk .rbSplitRight:hover, span.RadButton_Silk .rbSplitRight:focus, span.RadButton_Silk .rbSplitRight:active {
      background-position: -15px -62px;
      border-left: 1px solid #939393; }
  span.RadButton_Silk.RadButton.rbDisabled span.rbSplitLeft, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitLeft:hover, span.RadButton_Silk.RadButton.rbDisabled:hover span.rbSplitLeft, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitLeft:active, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitLeft:focus {
    border-right: 1px solid #c9c9c9;
    background-position: -15px -62px; }
  span.RadButton_Silk.RadButton.rbDisabled span.rbSplitRight, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitRight:hover, span.RadButton_Silk.RadButton.rbDisabled:hover span.rbSplitRight, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitRight:active, span.RadButton_Silk.RadButton.rbDisabled span.rbSplitRight:focus {
    border-left: 1px solid #c9c9c9;
    background-position: -15px -62px; }
  span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxFilled, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxFilled {
    top: 7px; }
  span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbLinkButton .rbPrimaryIcon.rbToggleCheckboxFilled, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleRadio, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbSkinnedButton .rbPrimaryIcon.rbToggleCheckboxFilled {
    left: 7px; }
  span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbLinkButton .rbSecondaryIcon.rbToggleCheckboxFilled, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleRadio, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckbox, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleRadioChecked, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxChecked, span.RadButton_Silk.rbSkinnedButton .rbSecondaryIcon.rbToggleCheckboxFilled {
    right: 7px; }
  span.RadButton_Silk .rbPrimaryIcon.rbToggleRadio,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleRadio,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckbox,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckbox,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleRadioChecked,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleRadioChecked,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckboxChecked,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckboxChecked,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckboxFilled,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckboxFilled {
    top: 1px; }
  span.RadButton_Silk .rbPrimaryIcon.rbToggleRadio,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckbox,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleRadioChecked,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckboxChecked,
  span.RadButton_Silk .rbPrimaryIcon.rbToggleCheckboxFilled {
    left: 3px; }
  span.RadButton_Silk .rbSecondaryIcon.rbToggleRadio,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckbox,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleRadioChecked,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckboxChecked,
  span.RadButton_Silk .rbSecondaryIcon.rbToggleCheckboxFilled {
    right: 3px; }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton, span.RadButton_Silk.rbLinkButton.rbPrimaryButton, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton {
    background-color: #54cbe0;
    background-image: -webkit-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -moz-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -ms-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -o-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    color: white;
    border: 0 none;
    height: 28px; }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton .rbDecorated, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton .rbDecorated {
    color: white; }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:hover, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:hover, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:hover {
    background-color: #00a9c7;
    background-image: -webkit-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -moz-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -ms-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -o-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: linear-gradient(top, #00a9c7 0%, #007d93 100%); }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:active, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:active, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:active, span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:focus, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:focus, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:focus {
    background-color: #2dabc1;
    background-image: -webkit-linear-gradient(top, #2dabc1 0%, #2dabc1 100%);
    background-image: -moz-linear-gradient(top, #2dabc1 0%, #2dabc1 100%);
    background-image: -ms-linear-gradient(top, #2dabc1 0%, #2dabc1 100%);
    background-image: -o-linear-gradient(top, #2dabc1 0%, #2dabc1 100%);
    background-image: linear-gradient(top, #2dabc1 0%, #2dabc1 100%);
    box-shadow: inset 0 0 4px #2292a8; }
  span.RadButton_Silk.rbSkinnedButton.rbDisabled.rbPrimaryButton, span.RadButton_Silk.rbSkinnedButton.rbDisabled.rbPrimaryButton:hover, span.RadButton_Silk.rbSkinnedButton.rbDisabled.rbPrimaryButton:active, span.RadButton_Silk.rbSkinnedButton.rbDisabled.rbPrimaryButton:focus, span.RadButton_Silk.rbLinkButton.rbDisabled.rbPrimaryButton, span.RadButton_Silk.rbLinkButton.rbDisabled.rbPrimaryButton:hover, span.RadButton_Silk.rbLinkButton.rbDisabled.rbPrimaryButton:active, span.RadButton_Silk.rbLinkButton.rbDisabled.rbPrimaryButton:focus, span.RadButton_Silk.rbVerticalButton.rbDisabled.rbPrimaryButton, span.RadButton_Silk.rbVerticalButton.rbDisabled.rbPrimaryButton:hover, span.RadButton_Silk.rbVerticalButton.rbDisabled.rbPrimaryButton:active, span.RadButton_Silk.rbVerticalButton.rbDisabled.rbPrimaryButton:focus {
    background-color: #54cbe0;
    background-image: -webkit-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -moz-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -ms-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -o-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-position: 0 0;
    box-shadow: none; }
  span.RadButton_Silk .rbAdd,
  span.RadButton_Silk .rbRemove,
  span.RadButton_Silk .rbOk,
  span.RadButton_Silk .rbCancel,
  span.RadButton_Silk .rbPrevious,
  span.RadButton_Silk .rbNext,
  span.RadButton_Silk .rbSave,
  span.RadButton_Silk .rbConfig,
  span.RadButton_Silk .rbRefresh,
  span.RadButton_Silk .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Dark.png') !important; }
  span.RadButton_Silk .rbUpload,
  span.RadButton_Silk .rbDownload,
  span.RadButton_Silk .rbOpen,
  span.RadButton_Silk .rbAttach,
  span.RadButton_Silk .rbPrint,
  span.RadButton_Silk .rbSearch,
  span.RadButton_Silk .rbHelp,
  span.RadButton_Silk .rbCart,
  span.RadButton_Silk .rbRSS,
  span.RadButton_Silk .rbMail,
  span.RadButton_Silk .rbFB,
  span.RadButton_Silk .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Dark.png') !important; }
  span.RadButton_Silk .rbAdd24,
  span.RadButton_Silk .rbRemove24,
  span.RadButton_Silk .rbOk24,
  span.RadButton_Silk .rbCancel24,
  span.RadButton_Silk .rbPrevious24,
  span.RadButton_Silk .rbNext24,
  span.RadButton_Silk .rbSave24,
  span.RadButton_Silk .rbConfig24,
  span.RadButton_Silk .rbRefresh24,
  span.RadButton_Silk .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Dark.png') !important; }
  span.RadButton_Silk .rbUpload24,
  span.RadButton_Silk .rbDownload24,
  span.RadButton_Silk .rbOpen24,
  span.RadButton_Silk .rbAttach24,
  span.RadButton_Silk .rbPrint24,
  span.RadButton_Silk .rbSearch24,
  span.RadButton_Silk .rbHelp24,
  span.RadButton_Silk .rbCart24,
  span.RadButton_Silk .rbRSS24,
  span.RadButton_Silk .rbMail24,
  span.RadButton_Silk .rbFB24,
  span.RadButton_Silk .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Dark.png') !important; }
