.RadDock_Silk {
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  box-shadow: 0 1px 3px #d7d7d7;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  /* Right to left support */ }
  .RadDock_Silk .rdMiddle .rdLeft,
  .RadDock_Silk .rdMiddle .rdRight,
  .RadDock_Silk .rdTop .rdLeft,
  .RadDock_Silk .rdTop .rdRight,
  .RadDock_Silk .rdTop .rdCenter,
  .RadDock_Silk .rdBottom .rdLeft,
  .RadDock_Silk .rdBottom .rdRight,
  .RadDock_Silk .rdBottom .rdCenter {
    background-image: none; }
  .RadDock_Silk .rdTable tr.rdTop td.rdLeft,
  .RadDock_Silk .rdTable tr.rdTop td.rdCenter,
  .RadDock_Silk .rdTable tr.rdTop td.rdRight {
    background-image: url('../Common/Gradients/radGradientDarkV50.png');
    _background-image: none;
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    height: 36px;
    border-bottom: 1px solid #b6b6b6;
    background-color: #d6d5d4;
    background-position: 0 0; }
  .RadDock_Silk .rdTable,
  .RadDock_Silk .rdTable .rdLeft,
  .RadDock_Silk .rdTable .rdCenter,
  .RadDock_Silk .rdTable .rdRight {
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0; }
  .RadDock_Silk .rdTable .rdMiddle .rdLeft,
  .RadDock_Silk .rdTable .rdMiddle .rdRight {
    background-color: white; }
  .RadDock_Silk .rdTop .rdLeft {
    border-radius: 6px 0 0; }
  .RadDock_Silk .rdTop .rdRight {
    border-radius: 0 6px 0 0; }
  .RadDock_Silk.rdCollapsed .rdTop .rdLeft {
    border-radius: 6px 0 0 6px; }
  .RadDock_Silk.rdCollapsed .rdTop .rdRight {
    border-radius: 0 6px 6px 0; }
  .RadDock_Silk .rdBottom .rdLeft {
    border-radius: 0 0 0 6px; }
  .RadDock_Silk .rdBottom .rdRight {
    border-radius: 0 0 6px 0; }
  .RadDock_Silk div.rdTitleBar em {
    font: 17px/36px "Segoue UI", Arial, Helvetica, sans-serif;
    color: #5f5f5f; }
  .RadDock_Silk .rdMiddle .rdCenter,
  .RadDock_Silk .rdBottom .rdCenter,
  .RadDock_Silk .rdBottom .rdLeft,
  .RadDock_Silk .rdBottom .rdRight {
    background-color: white; }
  .RadDock_Silk div.rdContent {
    font: 13px/18px Arial, Helvetica, sans-serif;
    color: #767676; }
  .RadDock_Silk td.rdCenter .rdCommands a span {
    background-image: url('Common/radActionsSprite.png'); }
  .RadDock_Silk td.rdCenter .rdCommands a,
  .RadDock_Silk td.rdCenter .rdCommands a span {
    width: 28px;
    height: 28px; }
  .RadDock_Silk .rdCommands span,
  .RadDock_Silk span.rdExpand {
    background-position: -11px -61px; }
  .RadDock_Silk span.rdExpand:hover {
    background-position: -61px -61px; }
  .RadDock_Silk span.rdCollapse {
    background-position: -11px -11px; }
  .RadDock_Silk span.rdCollapse:hover {
    background-position: -61px -11px; }
  .RadDock_Silk span.rdCustom {
    background-position: -11px -2511px; }
  .RadDock_Silk span.rdCustom:hover {
    background-position: -61px -2511px; }
  .RadDock_Silk span.rdClose {
    background-position: -11px -1911px; }
  .RadDock_Silk span.rdClose:hover {
    background-position: -61px -1911px; }
  .RadDock_Silk span.rdPin {
    background-position: -11px -1211px; }
  .RadDock_Silk span.rdPin:hover {
    background-position: -61px -1211px; }
  .RadDock_Silk span.rdUnpin {
    background-position: -11px -1261px; }
  .RadDock_Silk span.rdUnpin:hover {
    background-position: -61px -1261px; }
  .RadDock_Silk.RadDock.rdCollapsed {
    height: 37px !important; }
  .RadDock_Silk.rdRtl .rdTop .rdLeft {
    border-radius: 0 6px 0 0; }
  .RadDock_Silk.rdRtl .rdTop .rdRight {
    border-radius: 6px 0 0 0; }
  .RadDock_Silk.rdRtl.rdCollapsed .rdTop .rdLeft {
    border-radius: 0 6px 6px 0; }
  .RadDock_Silk.rdRtl.rdCollapsed .rdTop .rdRight {
    border-radius: 6px 0 0 6px; }
  .RadDock_Silk.rdRtl .rdBottom .rdLeft {
    border-radius: 0 0 6px 0; }
  .RadDock_Silk.rdRtl .rdBottom .rdRight {
    border-radius: 0 0 0 6px; }

