.RadDropDownList_Silk {
  color: #767676;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadDropDownList_Silk .rddlInner {
    *height: 22px;
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    background-image: url('Common/radPrimaryGradientButtonSprite.png'); }
  .RadDropDownList_Silk .rddlFakeInput {
    height: 22px;
    line-height: 22px; }
  .RadDropDownList_Silk .rddlEmptyMessage,
  .RadDropDownList_Silk .rddlDefaultMessage {
    color: #b1b1b1;
    font-style: italic; }
  .RadDropDownList_Silk .rddlIcon {
    width: 24px;
    height: 26px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -13px -62px; }
  .RadDropDownList_Silk .rddlHovered {
    border-color: #007d93;
    color: white;
    background-color: #007d93;
    background-image: linear-gradient(#00a9c7 0%, #007d93 100%); }
    .RadDropDownList_Silk .rddlHovered .rddlIcon {
      background-position: -113px -62px; }
  .RadDropDownList_Silk .rddlFocused {
    border-color: #2292a8;
    color: white;
    background-color: #2dabc1;
    background-image: linear-gradient(#2dabc1 0%, #2dabc1 100%); }
    .RadDropDownList_Silk .rddlFocused .rddlIcon {
      background-position: -113px -62px; }
  .RadDropDownList_Silk .rddlDisabled {
    border-color: #c9c9c9;
    color: #d7d7d7;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%); }
    .RadDropDownList_Silk .rddlDisabled .rddlIcon {
      background-position: -13px -62px;
      filter: alpha(opacity=50);
      opacity: .5; }

.rddlPopup_Silk {
  border-color: #d7d7d7;
  color: #555555;
  background: white;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .rddlPopup_Silk .rddlHeader,
  .rddlPopup_Silk rddlFooter {
    color: #5f5f5f;
    background-color: #eaeaea; }
  .rddlPopup_Silk .rddlHeader {
    border-bottom-color: #d7d7d7; }
  .rddlPopup_Silk rddlFooter {
    border-top-color: #d7d7d7; }
  .rddlPopup_Silk .rddlItemHovered {
    color: #555555;
    background-color: #bbeaf3; }
  .rddlPopup_Silk .rddlItemSelected {
    color: black;
    background-color: #fff1cc; }
  .rddlPopup_Silk .rddlItemDisabled {
    color: #d7d7d7; }
  .rddlPopup_Silk .rddlItemLoading {
    color: #555555;
    background-color: #bbeaf3; }
