.RadFilter_Silk {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: black; }
  .RadFilter_Silk .rfOper:hover,
  .RadFilter_Silk .rfField:hover,
  .RadFilter_Silk .rfExp:hover,
  .RadFilter_Silk .rfOper:focus,
  .RadFilter_Silk .rfField:focus,
  .RadFilter_Silk .rfExp:focus,
  .RadFilter_Silk .rfOper:active,
  .RadFilter_Silk .rfField:active,
  .RadFilter_Silk .rfExp:active,
  .RadFilter_Silk .rfAddGr,
  .RadFilter_Silk .rfAddExp,
  .RadFilter_Silk .rfDel {
    background-image: url('Filter/sprite.png');
    background-repeat: no-repeat; }
  .RadFilter_Silk .rfLeft,
  .RadFilter_Silk .rfMid,
  .RadFilter_Silk .rfTools,
  .RadFilter_Silk .rfRight {
    background: #e3e3e3 url('../Common/Gradients/radGradientLightV20.png') 0 0 repeat-x;
    _background-image: none;
    background-image: -webkit-linear-gradient(top, white 0%, #f2f2f2 30%, #d5d4d3 100%);
    background-image: -moz-linear-gradient(top, white 0%, #f2f2f2 30%, #d5d4d3 100%);
    background-image: -ms-linear-gradient(top, white 0%, #f2f2f2 30%, #d5d4d3 100%);
    background-image: -o-linear-gradient(top, white 0%, #f2f2f2 30%, #d5d4d3 100%);
    background-image: linear-gradient(top, white 0%, #f2f2f2 30%, #d5d4d3 100%);
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 1px 0;
    height: 30px;
    padding-top: 2px; }
  .RadFilter_Silk .rfLeft {
    border-left-width: 1px; }
  .RadFilter_Silk .rfRight {
    border-right-width: 1px; }
  .RadFilter_Silk .rfText {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif; }
  .RadFilter_Silk a {
    color: #0394ae; }
  .RadFilter_Silk .rfLines li li {
    background-image: url('Filter/rfLine.gif'); }
    .RadFilter_Silk .rfLines li li .rfDiv {
      background-image: url('Filter/rfMiddle.gif');
      padding-bottom: 2px; }
    .RadFilter_Silk .rfLines li li.rfLast .rfDiv {
      background-image: url('Filter/rfLast.gif');
      background-repeat: no-repeat; }
  .RadFilter_Silk .rfField {
    color: #6c6c6c; }
  .RadFilter_Silk .rfOper:hover,
  .RadFilter_Silk .rfField:hover,
  .RadFilter_Silk .rfExp:hover,
  .RadFilter_Silk .rfOper:focus,
  .RadFilter_Silk .rfField:focus,
  .RadFilter_Silk .rfExp:focus,
  .RadFilter_Silk .rfOper:active,
  .RadFilter_Silk .rfField:active,
  .RadFilter_Silk .rfExp:active {
    background-position: 100% -25px;
    color: #767676; }
  .RadFilter_Silk .rfText {
    border-color: #d7d7d7;
    background-color: white;
    color: #555555; }
    .RadFilter_Silk .rfText:hover {
      border-color: #36b4cb;
      color: #444444; }
  .RadFilter_Silk .rfAddExp {
    background-position: 1px 4px; }
  .RadFilter_Silk .rfAddGr {
    background-position: -29px 4px; }
  .RadFilter_Silk .rfDel {
    background-position: -57px 5px; }
  .RadFilter_Silk .rfAddExp:hover,
  .RadFilter_Silk .rfAddGr:hover,
  .RadFilter_Silk .rfDel:hover {
    background-color: #b8b8b8;
    border-radius: 4px; }
  .RadFilter_Silk .rfPreview,
  .RadFilter_Silk .rfPreview strong,
  .RadFilter_Silk .rfPreview .rfBr {
    color: black; }
  .RadFilter_Silk .rfPreview em {
    color: #0394ae; }
  .RadFilter_Silk .rfApply a,
  .RadFilter_Silk .rfApply span {
    background-image: url('../Common/Gradients/radGradientDarkV20.png');
    background-repeat: repeat-x;
    _background-image: none;
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    height: 24px;
    padding: 2px 10px;
    border-radius: 4px; }
    .RadFilter_Silk .rfApply a, .RadFilter_Silk .rfApply a input,
    .RadFilter_Silk .rfApply span,
    .RadFilter_Silk .rfApply span input {
      color: #767676; }
    .RadFilter_Silk .rfApply a:hover,
    .RadFilter_Silk .rfApply span:hover {
      border-color: #939393;
      color: #444444;
      background-color: #939393;
      background-image: linear-gradient(#d6d6d6 0%, #939393 100%);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }

.RadFilterRTL_Silk .rfLines li li {
  background-image: url('Filter/rfLine-rtl.gif'); }
  .RadFilterRTL_Silk .rfLines li li .rfDiv {
    background-image: url('Filter/rfMiddle-rtl.gif'); }
  .RadFilterRTL_Silk .rfLines li li.rfLast .rfDiv {
    background-image: url('Filter/rfLast-rtl.gif'); }
.RadFilterRTL_Silk .rfOper:hover,
.RadFilterRTL_Silk .rfField:hover,
.RadFilterRTL_Silk .rfExp:hover,
.RadFilterRTL_Silk .rfOper:focus,
.RadFilterRTL_Silk .rfField:focus,
.RadFilterRTL_Silk .rfExp:focus,
.RadFilterRTL_Silk .rfOper:active,
.RadFilterRTL_Silk .rfField:active,
.RadFilterRTL_Silk .rfExp:active {
  background-position: -586px -76px; }
