html body .RadInput_Silk .riTextBox,
html body .RadInputMgr_Silk {
  background: white;
  color: #555555;
  border-color: #d7d7d7;
  /*font: $font-weight 13px/22px $font-family;*/
  font-weight: normal;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }

.RadInput_Silk.riSingle .riTextBox,
.RadForm_Silk.RadForm.rfdTextbox input.riTextBox.rfdDecorated {
  height: 28px; }

html body .RadInput_Silk .riTextBox,
html body .RadInputMgr_Silk,
* + html .RadInput_Silk.riSingle .riTextBox,
* + html .RadForm_Silk.RadForm.rfdTextbox input.riTextBox.rfdDecorated {
  height: 23px;
  line-height: 20px; }

html body .RadInput_Silk .riEmpty,
html body .RadInput_Empty_Silk {
  color: #b1b1b1; }

html body .RadInput_Silk .riHover,
html body .RadInput_Hover_Silk {
  border-color: #36b4cb;
  color: #444444; }

html body .RadInput_Silk .riFocused,
html body .RadInput_Focused_Silk {
  border-color: #36b4cb; }

html body .RadInput_Silk .riRead,
html body .RadInput_Read_Silk {
  border-color: #d7d7d7; }

html body .RadInput_Silk .riDisabled,
html body .RadInput_Disabled_Silk {
  Opacity: .5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default; }

html body .RadInput_Silk .riError,
html body .RadInput_Error_Silk {
  border-color: red;
  background: white;
  color: red; }

.RadForm.rfdTextbox .RadInput_Silk .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Silk[type="text"] {
  border-color: red;
  background: white;
  color: red; }

html body .RadInput_Silk .riNegative,
html body .RadInput_Negative_Silk {
  color: #6e6e6e; }

/*buttons*/
.RadInput_Silk a {
  background: transparent no-repeat url('Common/radActionsSprite.png'); }

/*go*/
.RadInput_Silk .riBtn a {
  width: 20px;
  height: 28px;
  line-height: 28px;
  background-position: -14px -4864px; }

.RadInput_Silk a.riButton {
  background-position: -14px -4864px; }

.RadInput_Silk a.riButton:hover {
  background-position: -64px -4864px; }

/*spin*/
.RadInput_Silk .riSpin a {
  width: 15px;
  height: 14px;
  line-height: 14px; }

.RadInput_Silk a.riUp,
.RadInput_Silk a.riDown {
  height: 14px; }

.RadInput_Silk a.riUp {
  background-position: -18px -17.5px; }
  .RadInput_Silk a.riUp:hover {
    background-position: -68px -17.5px; }

.RadInput_Silk a.riDown {
  background-position: -18px -67.5px; }
  .RadInput_Silk a.riDown:hover {
    background-position: -68px -67.5px; }

/*label*/
.RadInput_Silk .riLabel {
  color: #555555; }

.RadInput_Silk .riResizeIcon {
  background: transparent 0 0 no-repeat url('Input/ResizeEdge.gif'); }

html body .RadInputRTL_Silk .riError,
html body .RadInputRTL_Error_Silk {
  background-position: 3px -298px; }

.RadInputRTL_Silk .riResizeIcon {
  background-position: 0 -19px; }

.RadForm.rfdTextbox .RadInputRTL_Silk .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Silk[type="text"] {
  background-position: 3px -298px; }
