.RadListBox_Silk {
  color: #767676;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadListBox_Silk .rlbTemplateContainer {
    border-color: #d7d7d7; }
  .RadListBox_Silk .rlbGroup {
    border: 1px solid #d7d7d7;
    color: #555555;
    background-color: white; }
  .RadListBox_Silk .rlbHeader,
  .RadListBox_Silk .rlbFooter {
    padding: 2px 5px;
    color: #5f5f5f;
    background-color: #eaeaea; }
  .RadListBox_Silk .rlbHeader {
    border-bottom-color: #d7d7d7; }
  .RadListBox_Silk .rlbFooter {
    border-top-color: #d7d7d7; }
  .RadListBox_Silk .rlbCheckAllItems {
    padding: 2px 5px;
    color: #5f5f5f;
    background-color: #eaeaea; }
  .RadListBox_Silk .rlbCheckAllItems.rlbDisabled {
    background-color: #eaeaea;
    color: rgba(0, 0, 0, 0.2); }
  .RadListBox_Silk .rlbCheckAllItemsHovered {
    color: #5f5f5f;
    background-color: #eaeaea; }
  .RadListBox_Silk .rlbCheckAllItemsCheckBox,
  .RadListBox_Silk .rlbCheck {
    padding-top: 0;
    padding-bottom: 3px\9; }
  .RadListBox_Silk .rlbHovered {
    color: #555555;
    background: #bbeaf3; }
  .RadListBox_Silk .rlbSelected {
    color: black;
    background: #fff1cc; }
  .RadListBox_Silk .rlbDisabled {
    color: #d7d7d7; }
    .RadListBox_Silk .rlbDisabled .rlbImage {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .RadListBox_Silk .rlbHighlight {
    background-color: #bbeaf3; }
  .RadListBox_Silk .rlbDropClue {
    width: 21px;
    height: 21px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -64.5px -364.5px;
    background-repeat: no-repeat;
    background-color: transparent;
    left: -15px; }
  .RadListBox_Silk .rlbDropClueAbove {
    border-top-style: dotted;
    border-top-color: #8e8e8e; }
  .RadListBox_Silk .rlbDropClueBelow {
    border-bottom-style: dotted;
    border-bottom-color: #8e8e8e; }
  .RadListBox_Silk .rlbButton {
    background-image: url('Common/radGradientButtonSprite.png');
    background-position: 0 0\9;
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    padding: 2px;
    *padding: 2px 0 0 2px;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    overflow: hidden; }
    .RadListBox_Silk .rlbButton:hover {
      border-color: #939393;
      color: #444444;
      background-color: #939393;
      background-image: linear-gradient(#d6d6d6 0%, #939393 100%);
      background-position: 0 1000px\9; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .RadListBox_Silk .rlbButton:hover {
          background-position: 0 0px; } }
    .RadListBox_Silk .rlbButton.rlbDisabled, .RadListBox_Silk .rlbButton.rlbDisabled:hover {
      border-color: #c9c9c9;
      color: #d7d7d7;
      background-color: #e3e3e3;
      background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
      filter: alpha(opacity=50);
      opacity: .5;
      background-position: 0 0\9; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbButton,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbButton {
    padding: 2px; }
  .RadListBox_Silk .rlbNoButtonText {
    width: 22px;
    *height: 22px;
    margin-right: 2px; }
  .RadListBox_Silk .rlbButtonTL,
  .RadListBox_Silk .rlbButtonTR,
  .RadListBox_Silk .rlbButtonBL,
  .RadListBox_Silk .rlbButtonBR {
    padding: 0;
    height: 22px;
    line-height: 22px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    *display: block; }
  .RadListBox_Silk .rlbButtonText {
    padding: 0 3px 0 22px;
    line-height: 22px;
    position: static; }
  .RadListBox_Silk .rlbNoButtonText .rlbButtonText {
    padding-left: 22px; }
  .RadListBox_Silk .rlbButtonText {
    *background-image: url('ListBox/rlbSprite.png'); }
    .RadListBox_Silk .rlbButtonText:before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url('Common/radActionsSprite.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
      left: 3px; }
  .RadListBox_Silk .rlbMoveUp .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Silk .rlbMoveUp:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Silk .rlbMoveUpDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbMoveUpDisabled:hover .rlbButtonText:before {
    background-position: -17px -417px; }
  .RadListBox_Silk .rlbMoveDown .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Silk .rlbMoveDown:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Silk .rlbMoveDownDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbMoveDownDisabled:hover .rlbButtonText:before {
    background-position: -17px -467px; }
  .RadListBox_Silk .rlbMoveToTop .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Silk .rlbMoveToTop:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Silk .rlbMoveToTopDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbMoveToTopDisabled:hover .rlbButtonText:before {
    background-position: -17px -617px; }
  .RadListBox_Silk .rlbMoveToBottom .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Silk .rlbMoveToBottom:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Silk .rlbMoveToBottomDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbMoveToBottomDisabled:hover .rlbButtonText:before {
    background-position: -17px -667px; }
  .RadListBox_Silk .rlbDelete .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Silk .rlbDelete:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Silk .rlbDeleteDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbDeleteDisabled:hover .rlbButtonText:before {
    background-position: -17px -3317px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -117px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -167px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -917px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -967px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText:before {
    background-position: -117px -17px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText:before {
    background-position: -17px -17px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferTo .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -67px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText:before {
    background-position: -17px -817px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText:before,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText:before {
    background-position: -17px -867px; }
  .RadListBox_Silk .rlbMoveUp .rlbButtonText {
    *background-position: 0 0; }
  .RadListBox_Silk .rlbMoveUpDisabled .rlbButtonText,
  .RadListBox_Silk .rlbMoveUpDisabled:hover .rlbButtonText {
    *background-position: -200px 0; }
  .RadListBox_Silk .rlbMoveDown .rlbButtonText {
    *background-position: 0 -25px; }
  .RadListBox_Silk .rlbMoveDownDisabled .rlbButtonText,
  .RadListBox_Silk .rlbMoveDownDisabled:hover .rlbButtonText {
    *background-position: -200px -25px; }
  .RadListBox_Silk .rlbMoveToTop .rlbButtonText {
    *background-position: 0 -275px; }
  .RadListBox_Silk .rlbMoveToTopDisabled .rlbButtonText,
  .RadListBox_Silk .rlbMoveToTopDisabled:hover .rlbButtonText {
    *background-position: -200px -275px; }
  .RadListBox_Silk .rlbMoveToBottom .rlbButtonText {
    *background-position: 0 -300px; }
  .RadListBox_Silk .rlbMoveToBottomDisabled .rlbButtonText,
  .RadListBox_Silk .rlbMoveToBottomDisabled:hover .rlbButtonText {
    *background-position: -200px -300px; }
  .RadListBox_Silk .rlbDelete .rlbButtonText {
    background-position: 0 -50px; }
  .RadListBox_Silk .rlbDeleteDisabled .rlbButtonText,
  .RadListBox_Silk .rlbDeleteDisabled:hover .rlbButtonText {
    *background-position: -200px -50px; }
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -100px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -75px; }
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -100px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
    background-position: -200px -75px; }
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -150px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
    *background-position: 0 -125px; }
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
    *background-position: -200px -150px; }
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -125px; }
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -200px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
    *background-position: 0 -175px; }
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
    *background-position: -200px -200px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
    *background-position: -200px -175px; }
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -250px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -225px; }
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
    background-position: -200px -250px; }
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Silk .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
    background-position: -200px -225px; }
