.RadPanelBar_Silk {
  color: #767676;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadPanelBar_Silk .rpRootGroup {
    border-color: #d7d7d7;
    color: #333333;
    background: white; }
  .RadPanelBar_Silk .rpLink,
  .RadPanelBar_Silk .rpHeaderTemplate {
    border-color: #d7d7d7;
    color: #5f5f5f;
    background: #d6d5d4 url('Common/radGradientButtonSprite.png') 0 0 repeat-x;
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    _background-image: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7), inset 0 0 10px rgba(255, 255, 255, 0.7);
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px; }
    .RadPanelBar_Silk .rpLink:hover,
    .RadPanelBar_Silk .rpHeaderTemplate:hover {
      background-position: 0 -1000px\9;
      background-image: -webkit-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -moz-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -ms-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -o-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      color: #333333;
      background-color: #bdbcba; }
    .RadPanelBar_Silk .rpLink.rpExpanded:hover,
    .RadPanelBar_Silk .rpHeaderTemplate.rpExpanded:hover {
      background-position: 0 -2000px\9;
      background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #b1afad 100%);
      background-image: -moz-linear-gradient(top, #d9d9d9 0%, #b1afad 100%);
      background-image: -ms-linear-gradient(top, #d9d9d9 0%, #b1afad 100%);
      background-image: -o-linear-gradient(top, #d9d9d9 0%, #b1afad 100%);
      background-image: linear-gradient(top, #d9d9d9 0%, #b1afad 100%);
      color: #333333;
      background-color: #b1afad; }
    .RadPanelBar_Silk .rpLink.rpFocused,
    .RadPanelBar_Silk .rpHeaderTemplate.rpFocused {
      background-position: 0 -1000px\9;
      background-image: -webkit-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -moz-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -ms-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: -o-linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      background-image: linear-gradient(top, #e6e6e6 0%, #bdbcba 100%);
      color: #333333;
      background-color: #bdbcba; }
  .RadPanelBar_Silk .rpImage {
    margin-top: 3px; }
  .RadPanelBar_Silk .rpOut {
    border-color: transparent; }
  .RadPanelBar_Silk .rpGroup .rpItem .rpLink,
  .RadPanelBar_Silk .rpGroup .rpItem .rpHeaderTemplate {
    border: 0;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 30px;
    box-shadow: none; }
    .RadPanelBar_Silk .rpGroup .rpItem .rpLink:hover,
    .RadPanelBar_Silk .rpGroup .rpItem .rpHeaderTemplate:hover {
      color: #555555;
      background-color: #bbeaf3; }
    .RadPanelBar_Silk .rpGroup .rpItem .rpLink.rpSelected,
    .RadPanelBar_Silk .rpGroup .rpItem .rpHeaderTemplate.rpSelected {
      color: black;
      background-color: #fff1cc;
      background-position: 0 -1000px\9; }
    .RadPanelBar_Silk .rpGroup .rpItem .rpLink.rpExpanded,
    .RadPanelBar_Silk .rpGroup .rpItem .rpHeaderTemplate.rpExpanded {
      color: black;
      background-color: #fff1cc; }
    .RadPanelBar_Silk .rpGroup .rpItem .rpLink.rpFocused,
    .RadPanelBar_Silk .rpGroup .rpItem .rpHeaderTemplate.rpFocused {
      color: #555555;
      background-color: #bbeaf3; }
  .RadPanelBar_Silk .rpExpandHandle {
    background-image: url('Common/radActionsSprite.png');
    background-repeat: no-repeat; }
  .RadPanelBar_Silk .rpExpandable .rpExpandHandle {
    margin-top: 8px;
    background-position: -17px -67px; }
  .RadPanelBar_Silk .rpExpandable:hover .rpExpandHandle {
    background-position: -67px -67px; }
  .RadPanelBar_Silk .rpExpanded .rpExpandHandle {
    background-position: -17px -17px; }
  .RadPanelBar_Silk .rpExpanded:hover .rpExpandHandle {
    background-position: -67px -17px; }
  .RadPanelBar_Silk .rpGroup .rpExpandable .rpExpandHandle {
    margin-top: 8px;
    background-position: -17px -1067px; }
  .RadPanelBar_Silk .rpGroup .rpExpandable:hover .rpExpandHandle {
    background-position: -67px -1067px; }
  .RadPanelBar_Silk .rpGroup .rpExpanded .rpExpandHandle {
    background-position: -17px -1017px; }
  .RadPanelBar_Silk .rpGroup .rpExpanded:hover .rpExpandHandle {
    background-position: -67px -1017px; }
