.RadScheduler_Silk {
  color: #767676;
  font: normal 13px/22px Arial, Helvetica, sans-serif;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadScheduler_Silk .rsSubHeader {
    border-top: 1px solid #e2e2e2;
    color: #878787;
    background-color: #e6e6e6; }
  .RadScheduler_Silk .rsHeader, html .RadScheduler_Silk .rsModalWrapper .rsModalTitle, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvTitle .rsAdvInnerTitle {
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    padding: 9px 15px;
    border: 1px solid #e8e8e8;
    color: #5f5f5f;
    background-color: #eaeaea;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
    background-position: 0 0;
    filter: none; }
  .RadScheduler_Silk .rsWeekView .rsHorizontalHeaderTable th, .RadScheduler_Silk .rsMonthView .rsHorizontalHeaderTable th, .RadScheduler_Silk .rsTimelineView .rsHorizontalHeaderTable th {
    padding: 10px 0;
    background-position: 0 -598px;
    background-repeat: repeat-x; }
  html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalClose, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditCancel,
  html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditMore, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditCancel {
    background-image: url('Common/radGradientButtonSprite.png');
    background-repeat: repeat-x;
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: -webkit-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -ms-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    height: 24px;
    border: 1px solid #c9c9c9;
    background-position: 0 0;
    border-radius: 3px;
    line-height: 24px; }
    html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalClose:hover, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditCancel:hover,
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditMore:hover, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditCancel:hover {
      border-color: #939393;
      color: #444444;
      background-color: #939393;
      background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -moz-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -ms-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -o-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-position: 0 0;
      background-position: 0 -1000px\9; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalClose:hover, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditCancel:hover,
        html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditMore:hover, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditCancel:hover {
          background-position: 0 0; } }
  html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalConfirm, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditSave {
    background-image: url('Common/radPrimaryGradientButtonSprite.png');
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -moz-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -ms-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: -o-linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    background-image: linear-gradient(top, #54cbe0 0%, #189fb7 100%);
    height: 24px;
    border: 1px solid #189fb7;
    border-radius: 3px;
    color: white;
    background-color: #189fb7;
    background-position: 0 0;
    background-position: 0 -1000px\9;
    line-height: 24px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalConfirm, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditSave {
        background-position: 0 0; } }
    html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalConfirm:hover, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm:hover, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditSave:hover {
      background-image: -webkit-linear-gradient(top, #00a9c7 0%, #007d93 100%);
      background-image: -moz-linear-gradient(top, #00a9c7 0%, #007d93 100%);
      background-image: -ms-linear-gradient(top, #00a9c7 0%, #007d93 100%);
      background-image: -o-linear-gradient(top, #00a9c7 0%, #007d93 100%);
      background-image: linear-gradient(top, #00a9c7 0%, #007d93 100%);
      border: 1px solid #007d93;
      color: white;
      background-color: #007d93;
      background-position: 0 0;
      background-position: 0 -2000px\9; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        html .RadScheduler_Silk .rsModalWrapper .rsModalButtons .rsModalConfirm:hover, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm:hover, html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea a.rsAdvEditSave:hover {
          background-position: 0 0; } }
  html .RadScheduler_Silk .rsModalWrapper .rsModalInner, html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper, html .RadScheduler_Silk .rsAdvancedEdit {
    border: 1px solid #d7d7d7;
    color: #555555;
    background-color: white; }
  .RadScheduler_Silk .rsWeekView .rsHorizontalHeaderTable th, .RadScheduler_Silk .rsMonthView .rsHorizontalHeaderTable th, .RadScheduler_Silk .rsTimelineView .rsHorizontalHeaderTable th, .RadScheduler_Silk .rsFooter .rsFullTime, .RadScheduler_Silk .rsArrowTop,
  .RadScheduler_Silk .rsArrowBottom,
  .RadScheduler_Silk .rsArrowLeft,
  .RadScheduler_Silk .rsArrowRight,
  .RadScheduler_Silk .rsAptDelete,
  .RadScheduler_Silk .rsAptResize, html .RadScheduler_Silk .rsModalWrapper .rsModalIcon {
    background-image: url('Scheduler/rsSprites.png'); }
  .RadScheduler_Silk .rsHeader .rsPrevDay,
  .RadScheduler_Silk .rsHeader .rsNextDay, .RadScheduler_Silk .rsHeader .rsDatePickerActivator, .RadScheduler_Silk .rsAptReminder,
  .RadScheduler_Silk .rsAptRecurrence,
  .RadScheduler_Silk .rsAptRecurrenceException, html .RadScheduler_Silk .rsModalWrapper .rsModalWindowClose, html .RadScheduler_Silk .rsAptEditResizeHandle {
    background-image: url('Common/radActionsSprite.png'); }
  .RadScheduler_Silk .rsHeader a,
  .RadScheduler_Silk .rsHeader a:hover {
    color: #0394ae;
    text-decoration: none; }
  .RadScheduler_Silk .rsHeader em {
    font-style: normal; }
  .RadScheduler_Silk .rsHeader h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    text-indent: 5px;
    white-space: nowrap; }
  .RadScheduler_Silk .rsHeader p {
    margin: 0;
    padding: 0; }
  .RadScheduler_Silk .rsHeader .rsPrevDay,
  .RadScheduler_Silk .rsHeader .rsNextDay {
    width: 20px;
    height: 20px;
    margin: 5px;
    line-height: 20px; }
  .RadScheduler_Silk .rsHeader .rsPrevDay {
    background-position: -15px -115px; }
    .RadScheduler_Silk .rsHeader .rsPrevDay:hover {
      background-position: -65px -115px; }
  .RadScheduler_Silk .rsHeader .rsNextDay {
    background-position: -15px -165px; }
    .RadScheduler_Silk .rsHeader .rsNextDay:hover {
      background-position: -65px -165px; }
  .RadScheduler_Silk .rsHeader .rsDatePickerActivator {
    margin: 5px 0;
    width: 20px;
    height: 20px;
    background-position: -15px -1065px; }
    .RadScheduler_Silk .rsHeader .rsDatePickerActivator:hover {
      background-position: -65px -1065px; }
  .RadScheduler_Silk .rsHeader ul {
    line-height: 26px; }
    .RadScheduler_Silk .rsHeader ul a,
    .RadScheduler_Silk .rsHeader ul .rsSelected em {
      margin: 0;
      padding: 0 9px;
      color: #6c6c6c;
      border: 1px solid transparent;
      border-radius: 3px;
      background-position: 0 0; }
    .RadScheduler_Silk .rsHeader ul a:hover {
      border-color: #939393;
      color: #444444;
      background-color: #939393;
      background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -moz-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -ms-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: -o-linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-image: linear-gradient(top, #d6d6d6 0%, #939393 100%);
      background-position: 0 0; }
    .RadScheduler_Silk .rsHeader ul .rsSelected em {
      border-color: darkgrey;
      color: black;
      background-color: #dedede;
      background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -ms-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -o-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      color: #000000;
      background-position: 0 0; }
    .RadScheduler_Silk .rsHeader ul a span {
      padding: 0; }
    .RadScheduler_Silk .rsHeader ul a:hover,
    .RadScheduler_Silk .rsHeader ul .rsLast a:hover {
      background-position: 0 0; }
  .RadScheduler_Silk .rsHeader li,
  .RadScheduler_Silk .rsHeader .rsSelected {
    margin: 0 2px;
    padding: 0; }
  .RadScheduler_Silk .rsContent {
    border: 1px solid #d9d9d9;
    border-top: 0;
    background: #ffffff; }
  .RadScheduler_Silk .rsFooter {
    border: 1px solid #e2e2e2;
    border-top: 0;
    background-color: #e6e6e6; }
    .RadScheduler_Silk .rsFooter .rsFullTime {
      margin: 5px;
      padding: 0 0 0 15px;
      color: #767676;
      background-color: transparent;
      background-repeat: no-repeat; }
      .RadScheduler_Silk .rsFooter .rsFullTime:hover {
        text-decoration: underline; }

.RadScheduler_Silk .rsSpacerCell {
  border-color: #e2e2e2;
  background-color: #fafafa; }
.RadScheduler_Silk .rsAllDayHeader {
  border-color: #e2e2e2;
  color: #5f5f5f;
  background-color: #fafafa; }
.RadScheduler_Silk .rsHorizontalHeaderWrapper {
  border-color: #e2e2e2;
  background-color: #f0f0f0; }
.RadScheduler_Silk .rsHorizontalHeaderTable {
  color: #5f5f5f;
  background-color: #f0f0f0; }
  .RadScheduler_Silk .rsHorizontalHeaderTable th {
    border-color: #e2e2e2;
    background-color: #f0f0f0;
    font-weight: normal; }
.RadScheduler_Silk .rsVerticalHeaderWrapper {
  background-color: #fafafa;
  font-size: 16px; }
.RadScheduler_Silk .rsVerticalHeaderTable {
  background-color: #fafafa; }
  .RadScheduler_Silk .rsVerticalHeaderTable tr {
    font-size: inherit; }
  .RadScheduler_Silk .rsVerticalHeaderTable th {
    border-color: transparent #e2e2e2;
    border-top: 0;
    color: #5f5f5f;
    font-weight: normal; }
  .RadScheduler_Silk .rsVerticalHeaderTable .rsAlt th {
    border-color: #e2e2e2; }

.RadScheduler_Silk .rsAllDayRow {
  background-color: #ececec; }
  .RadScheduler_Silk .rsAllDayRow td {
    border-color: #e5e5e5;
    border-style: solid; }
.RadScheduler_Silk .rsContentTable td {
  border-color: #e5e5e5;
  border-bottom-style: dotted; }
.RadScheduler_Silk .rsContentTable .rsAlt td {
  border-color: #e5e5e5 #e5e5e5;
  border-bottom-style: solid; }
.RadScheduler_Silk .rsNonWorkHour,
.RadScheduler_Silk .rsSunCol,
.RadScheduler_Silk .rsSatCol {
  background-color: #f5f5f5; }
.RadScheduler_Silk .rsAptCreate {
  background: #ddf5f9; }
.RadScheduler_Silk .rsSelectedSlot {
  background: #fff9e2; }
.RadScheduler_Silk .rsAptCreate.rsSelectedSlot {
  background: #feebbc; }

.RadScheduler_Silk .rsApt {
  margin: 1px 0 0 0;
  border: 0;
  color: #444444;
  font-size: 12px; }
.RadScheduler_Silk .rsAptOut,
.RadScheduler_Silk .rsAptMid,
.RadScheduler_Silk .rsAptIn {
  margin: 0;
  padding: 0;
  width: auto;
  border: 0;
  background: none;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.RadScheduler_Silk .rsAptOut {
  margin-left: 1px;
  margin-right: 1px; }
.RadScheduler_Silk .rsAptIn {
  border: 1px solid #81c9d5;
  background-color: #a7e3ed; }
.RadScheduler_Silk .rsAptContent {
  margin: 0;
  padding: 2px;
  width: auto;
  border-width: 0;
  background-image: url('../Common/Scheduler/rsAppointmentBg.png');
  _background-image: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.RadScheduler_Silk .rsAptSelected .rsAptIn {
  border-color: #81c9d5;
  border-color: #767676; }
.RadScheduler_Silk .rsAptSelected .rsAptContent {
  background-image: none; }
.RadScheduler_Silk .rsArrowTop,
.RadScheduler_Silk .rsArrowBottom,
.RadScheduler_Silk .rsArrowLeft,
.RadScheduler_Silk .rsArrowRight,
.RadScheduler_Silk .rsAptDelete,
.RadScheduler_Silk .rsAptResize {
  background-color: transparent;
  background-repeat: no-repeat; }
.RadScheduler_Silk .rsAptReminder,
.RadScheduler_Silk .rsAptRecurrence,
.RadScheduler_Silk .rsAptRecurrenceException {
  margin-right: 5px;
  background-color: transparent;
  background-repeat: no-repeat; }
.RadScheduler_Silk .rsAptReminder {
  background-position: -19px -4420px; }
.RadScheduler_Silk .rsAptRecurrence {
  background-position: -19px -4320px; }
.RadScheduler_Silk .rsAptRecurrenceException {
  background-position: -19px -4370px; }
.RadScheduler_Silk .rsOvertimeArrow {
  background-color: #f1f1f1;
  background-image: url('Common/radActionsSprite.png');
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 0 3px 2px rgba(255, 255, 255, 0.8) inset, 0 -3px 2px rgba(0, 0, 0, 0.05) inset; }
.RadScheduler_Silk .rsArrowContainer.rsBottomIndicator .rsOvertimeArrow {
  background-position: -2.5px -1071px; }
  .RadScheduler_Silk .rsArrowContainer.rsBottomIndicator .rsOvertimeArrow:hover {
    background-position: -52.5px -1071px; }
.RadScheduler_Silk .rsArrowContainer.rsTopIndicator .rsOvertimeArrow {
  background-position: -2.5px -1021px; }
  .RadScheduler_Silk .rsArrowContainer.rsTopIndicator .rsOvertimeArrow:hover {
    background-position: -52.5px -1021px; }

.RadScheduler_Silk .rsWeekView .rsHorizontalHeaderTable .rsDateHeader {
  color: inherit; }

.RadScheduler_Silk .rsMonthView .rsHorizontalHeaderTable .rsDateHeader {
  color: inherit; }
.RadScheduler_Silk .rsMonthView .rsDateBox {
  height: 1.5em;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  line-height: 1.5; }
  .RadScheduler_Silk .rsMonthView .rsDateBox .rsDateHeader {
    padding: 0 5px;
    color: inherit;
    display: inline-block; }
.RadScheduler_Silk .rsMonthView .rsAptCreate {
  background-image: none; }
.RadScheduler_Silk .rsMonthView .rsContentTable td {
  border-color: #e5e5e5;
  border-style: solid; }

.RadScheduler_Silk .rsTimelineView .rsHorizontalHeaderTable .rsDateHeader {
  color: inherit; }

html .RadScheduler_Silk .rsModalWrapper .rsModalBgTopLeft,
html .RadScheduler_Silk .rsModalWrapper .rsModalBgTopRight,
html .RadScheduler_Silk .rsModalWrapper .rsModalBgBottomLeft,
html .RadScheduler_Silk .rsModalWrapper .rsModalBgBottomRight {
  display: none; }
html .RadScheduler_Silk .rsModalWrapper .rsModalOuter,
html .RadScheduler_Silk .rsModalWrapper .rsModalOuterTitle {
  margin: 0;
  padding: 0;
  border: 0; }
html .RadScheduler_Silk .rsModalWrapper .rsModalInner {
  padding: 20px;
  position: relative; }
html .RadScheduler_Silk .rsModalWrapper .rsModalTitle {
  margin: -20px -20px 20px;
  padding: 5px 10px;
  position: static; }
html .RadScheduler_Silk .rsModalWrapper .rsModalWindowClose {
  margin: 0;
  width: 20px;
  height: 20px;
  background-position: -15px -1915px;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: auto;
  right: 8px; }
html .RadScheduler_Silk .rsModalWrapper .rsModalIcon {
  top: 70px; }
html .RadScheduler_Silk .rsAptEditSizingWrapper {
  box-shadow: 2px 2px 2px rgba(122, 122, 122, 0.75); }
  html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper {
    margin: 0;
    padding: 10px; }
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsAptEditFormOuter,
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsAptEditFormMiddle,
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsAptEditFormMiddle2,
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsAptEditFormInner {
      margin: 0;
      padding: 0; }
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsAptEditTextareaWrapper {
      border-color: #d7d7d7;
      color: #555555;
      background-color: white; }
    html .RadScheduler_Silk .rsAptEditSizingWrapper .rsAptEditFormWrapper .rsEditOptions {
      margin: 10px -5px 0;
      padding: 0; }
html .RadScheduler_Silk .rsAptEditResizeHandle {
  background-position: -20px -2220px; }
html .RadScheduler_Silk .rsAdvancedEdit {
  padding: 0px;
  box-shadow: 2px 2px 2px rgba(122, 122, 122, 0.75); }
  html .RadScheduler_Silk .rsAdvancedEdit .rsAdvTitle {
    height: 40px;
    margin: 0;
    padding: 0; }
    html .RadScheduler_Silk .rsAdvancedEdit .rsAdvTitle .rsAdvInnerTitle {
      margin: 0;
      font-size: 16px; }
    html .RadScheduler_Silk .rsAdvancedEdit .rsAdvTitle .rsAdvEditClose {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      background-image: url('Common/radActionsSprite.png');
      background-position: -15px -1915px;
      position: absolute;
      top: 11px;
      right: 8px;
      left: auto; }
  html .RadScheduler_Silk .rsAdvancedEdit .rsAdvContentWrapper {
    padding: 20px 15px 10px; }
  html .RadScheduler_Silk .rsAdvancedEdit .rsAdvOptionsScroll {
    padding: 0; }
  html .RadScheduler_Silk .rsAdvancedEdit .rsAdvancedSubmitArea {
    margin: 10px 0 0 0;
    padding: 0; }
html .RadScheduler_Silk .rsAdvancedModal .rsModalBgTopLeft,
html .RadScheduler_Silk .rsAdvancedModal .rsModalBgTopRight,
html .RadScheduler_Silk .rsAdvancedModal .rsModalBgBottomLeft,
html .RadScheduler_Silk .rsAdvancedModal .rsModalBgBottomRight {
  display: none; }
html .RadScheduler_Silk .rsAdvOptionsPanel .rsAdvDatePicker {
  margin-right: 10px; }
html .RadScheduler_Silk .rsAdvOptionsPanel .rsAdvDatePicker .riTextBox,
html .RadScheduler_Silk .rsAdvOptionsPanel .rsAdvTimePicker .riTextBox {
  background-image: url('Menu/rmArrows.png');
  background-repeat: no-repeat;
  background-position: right -62px; }
  html .RadScheduler_Silk .rsAdvOptionsPanel .rsAdvDatePicker .riTextBox.riHover,
  html .RadScheduler_Silk .rsAdvOptionsPanel .rsAdvTimePicker .riTextBox.riHover {
    background-position: right -262px; }
html .RadScheduler_Silk .rsDatePickerWrapper > div {
  box-shadow: 5px 3px 3px rgba(122, 122, 122, 0.749); }
html .RadScheduler_Silk .ReminderDialog {
  padding: 0; }
html .RadScheduler_Silk .rsAgendaView {
  color: #444444;
  background-color: #ffffff; }
  html .RadScheduler_Silk .rsAgendaView .rsDateBox small {
    color: #878787;
    text-transform: uppercase; }
html .RadScheduler_Silk .rsAgendaTable th, html .RadScheduler_Silk .rsAgendaTable td {
  border-bottom-color: #e2e2e2;
  border-right-color: #e2e2e2; }
html .RadScheduler_Silk .rsAgendaTable th {
  color: #5f5f5f;
  background-color: #fafafa; }
html .RadScheduler_Silk .rsAgendaTable .rsAgendaRowHovered {
  color: #555555;
  background-color: #bbeaf3; }
html .RadScheduler_Silk .rsAgendaTable .rsAgendaRowSelected {
  color: black;
  background-color: #fff1cc; }
