.RadSplitter_Silk {
  /* Borders */
  /* When ShowContentDuringLoad="false" */
  /* RadSplitBar/RadSlidingPane resize elements */
  /* RadSplitBar/RadSlidingPane resize helper elements */
  /* RadSlidingPane header */
  /* RadSlidingPane header elements */ }
  .RadSplitter_Silk,
  .RadSplitter_Silk .rspPaneTabContainer,
  .RadSplitter_Silk .rspPane,
  .RadSplitter_Silk td.rspResizeBar,
  .RadSplitter_Silk .rspSlideContainerResize,
  .RadSplitter_Silk .rspPaneHorizontal,
  .RadSplitter_Silk .rspResizeBarHorizontal,
  .RadSplitter_Silk .rspSlideContainerResizeHorizontal {
    border-color: #d7d7d7; }
  .RadSplitter_Silk div.rspSlideTitle,
  .RadSplitter_Silk span.rspPaneTabText {
    font: 12px Arial, Helvetica, sans-serif; }
  .RadSplitter_Silk .rspLoading {
    background-image: url('Common/loading.gif'); }
  .RadSplitter_Silk .rspResizeBar,
  .RadSplitter_Silk .rspResizeBarOver,
  .RadSplitter_Silk td.rspSlideContainerResize,
  .RadSplitter_Silk td.rspResizeBar,
  .RadSplitter_Silk .rspResizeBarOver .rspCollapseBarExpand,
  .RadSplitter_Silk .rspResizeBarOver .rspCollapseBarCollapse,
  .RadSplitter_Silk .rspResizeBarOverHorizontal .rspCollapseBarHorizontalExpand,
  .RadSplitter_Silk .rspResizeBarOverHorizontal .rspCollapseBarHorizontalCollapse,
  .RadSplitter_Silk div.rspPaneTabContainer {
    background-color: white; }
  .RadSplitter_Silk .rspSlideContainer td.rspSlideContainerResize {
    padding: 0 2px;
    border-color: #d7d7d7; }
  .RadSplitter_Silk .rspResizeBar .rspCollapseBarSpacer {
    width: 8px !important; }
  .RadSplitter_Silk .rspResizeBarHorizontal .rspCollapseBarSpacer {
    height: 8px !important; }
  .RadSplitter_Silk input.rspCollapseBarExpand,
  .RadSplitter_Silk input.rspCollapseBarCollapse {
    background-color: white;
    background-image: url('Common/radActionsSprite.png');
    height: 26px;
    line-height: 26px;
    width: 6px;
    margin: 2px 0; }
  .RadSplitter_Silk input.rspCollapseBarExpand {
    background-position: -22px -1162px; }
  .RadSplitter_Silk input.rspCollapseBarExpand:hover {
    background-position: -72px -1162px; }
  .RadSplitter_Silk input.rspCollapseBarCollapse {
    background-position: -22px -1112px; }
  .RadSplitter_Silk input.rspCollapseBarCollapse:hover {
    background-position: -72px -1112px; }
  .RadSplitter_Silk td.rspSlideContainerResizeOver,
  .RadSplitter_Silk td.rspResizeBarOver {
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    background-color: #d6d5d4;
    background-position: 0 0;
    border-color: #d7d7d7; }
  .RadSplitter_Silk td.rspResizeBarOverHorizontal,
  .RadSplitter_Silk td.rspSlideContainerResizeOverHorizontal {
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    
    background-color: #d6d5d4;
    background-position: 0 0;
    border-color: #d7d7d7; }
  .RadSplitter_Silk div.rspSlideContent {
    background-color: white;
    color: #767676; }
  .RadSplitter_Silk .rspResizeBarHorizontal,
  .RadSplitter_Silk .rspSlideContainerResizeHorizontal,
  .RadSplitter_Silk .rspResizeBarOverHorizontal,
  .RadSplitter_Silk .rspSlideContainerResizeOverHorizontal {
    background-color: white;
    border-bottom-color: #d7d7d7; }
  .RadSplitter_Silk div.rspHelperBarDrag,
  .RadSplitter_Silk div.rspHelperBarSlideDrag {
    background-image: -webkit-linear-gradient(top, #2292a8 0%, #29a3b9 100%);
    background-image: -moz-linear-gradient(top, #2292a8 0%, #29a3b9 100%);
    background-image: -ms-linear-gradient(top, #2292a8 0%, #29a3b9 100%);
    background-image: -o-linear-gradient(top, #2292a8 0%, #29a3b9 100%);
    background-image: linear-gradient(top, #2292a8 0%, #29a3b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2292a8', endColorstr='#29a3b9',GradientType=0 ); }
  .RadSplitter_Silk input.rspCollapseBarHorizontalExpand,
  .RadSplitter_Silk input.rspCollapseBarHorizontalCollapse {
    width: 26px;
    height: 6px;
    line-height: 26px;
    background-color: white;
    margin: 0 1px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadSplitter_Silk input.rspCollapseBarHorizontalExpand {
    background-position: -12px -1072px; }
  .RadSplitter_Silk input.rspCollapseBarHorizontalExpand:hover {
    background-position: -62px -1072px; }
  .RadSplitter_Silk input.rspCollapseBarHorizontalCollapse {
    background-position: -12px -1022px; }
  .RadSplitter_Silk input.rspCollapseBarHorizontalCollapse:hover {
    background-position: -62px -1022px; }
  .RadSplitter_Silk .rspSlideContainer td.rspSlideContainerResizeHorizontal {
    padding: 2px 0 3px 0; }
  .RadSplitter_Silk .rspPaneTabContainer {
    background-image: url('../Common/Gradients/radGradientLightV50.png');
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -ms-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e3e3e3',GradientType=0 );
    background-position: 0 0; }
  .RadSplitter_Silk .rspPaneTabContainer:hover {
    background-image: url('../Common/Gradients/radGradientLightV50.png');
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #939393 100%);
    background-image: -moz-linear-gradient(top, #d6d6d6 0%, #939393 100%);
    background-image: -ms-linear-gradient(top, #d6d6d6 0%, #939393 100%);
    background-image: -o-linear-gradient(top, #d6d6d6 0%, #939393 100%);
    background-image: linear-gradient(top, #d6d6d6 0%, #939393 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#939393',GradientType=0 );
    background-position: 0 0; }
  .RadSplitter_Silk .rspTabsContainer .rspPaneTabContainerDocked {
    background-color: white !important; }
  .RadSplitter_Silk .rspTabsContainer .rspPaneTabContainerDocked span {
    color: black; }
  .RadSplitter_Silk tr.rspSlideHeader,
  .RadSplitter_Silk td.rspSlideTitleContainer,
  .RadSplitter_Silk td.rspSlideHeaderIconWrapper {
    background-image: -webkit-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, white 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, white 0%, #d6d5d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#d6d5d4',GradientType=0 ); }
  .RadSplitter_Silk .rspSlideHeader table {
    height: 36px; }
  .RadSplitter_Silk .rspSlideHeader .rspSlideTitle {
    color: #5f5f5f;
    margin: 0 5px 0 15px; }
  .RadSplitter_Silk div.rspSlideHeaderDockIcon,
  .RadSplitter_Silk div.rspSlideHeaderUndockIcon,
  .RadSplitter_Silk div.rspSlideHeaderCollapseIcon {
    height: 26px;
    width: 26px;
    border-radius: 45px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadSplitter_Silk div.rspSlideHeaderDockIcon {
    background-position: -12px -1262px; }
  .RadSplitter_Silk div.rspSlideHeaderDockIcon:hover {
    background-position: -62px -1262px; }
  .RadSplitter_Silk div.rspSlideHeaderUndockIcon {
    background-position: -12px -1212px; }
  .RadSplitter_Silk div.rspSlideHeaderUndockIcon:hover {
    background-position: -62px -1212px; }
  .RadSplitter_Silk div.rspSlideHeaderCollapseIcon {
    background-position: -12px -1912px; }
  .RadSplitter_Silk div.rspSlideHeaderCollapseIcon:hover {
    background-position: -62px -1912px; }
  .RadSplitter_Silk .rspPaneTabContainer:hover {
    background-color: white; }
  .RadSplitter_Silk .rspTabsContainer.rspBottom .rspPaneTabText {
    line-height: 21px\9; }
  .RadSplitter_Silk .rspSlideTitleContainer,
  .RadSplitter_Silk .rspSlideHeaderIconWrapper {
    border-bottom: 1px solid #d7d7d7; }

