.RadTile_Silk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  background-color: #2dabc1;
  /* Loading image */ }
  .RadTile_Silk.rtileSelected {
    border-color: #eeba32; }
  .RadTile_Silk.rtileHovered {
    border-color: #007c92; }
  .RadTile_Silk.rtileSelected.rtileHovered {
    border-color: rgba(238, 186, 50, 0.5); }
  .RadTile_Silk.rtileSelected .rtileSelectedIcon {
    background-image: url('Tile/rtileSprite.png');
    _background-image: url('Tile/rtileSpriteIE6.png'); }
  .RadTile_Silk div.rtileBadgeIcon {
    background-image: url('../Common/Tile/rtileBadgeIconsDark.png');
    _background-image: url('../Common/TileList/rtileBadgeIconsDarkIE6.png'); }
  html .RadTile_Silk.RadTile h6.rtileTitle {
    color: white; }
  .RadTile_Silk .rtilePeekContent {
    background-color: #2dabc1; }
  .RadTile_Silk.rtileLoading,
  .RadTile_Silk .rtileLoading {
    background-image: url('Common/loading_small.gif'); }

