.RadTreeList_Silk,
.rtlCEdit div.RadTreeList_Silk {
  border-color: #d9d9d9;
  background: white;
  color: #333333; }

.RadTreeList_Silk .rtlAdd,
.RadTreeList_Silk .rtlEdit,
.RadTreeList_Silk .rtlUpdate,
.RadTreeList_Silk .rtlCancel,
.RadTreeList_Silk .rtlDel {
  background-image: url('Common/radActionsSprite.png');
  width: 23px;
  height: 23px; }
.RadTreeList_Silk .rtlCancel {
  background-position: -12px -2812px; }
  .RadTreeList_Silk .rtlCancel:hover, .RadTreeList_Silk .rtlCancel:active {
    background-position: -62px -2812px; }
.RadTreeList_Silk .rtlUpdate {
  background-position: -12px -2612px; }
  .RadTreeList_Silk .rtlUpdate:hover, .RadTreeList_Silk .rtlUpdate:active {
    background-position: -62px -2612px; }
.RadTreeList_Silk .rtlAdd,
.RadTreeList_Silk .rtlHeader .rtlAdd {
  background-position: -12px -3012px; }
  .RadTreeList_Silk .rtlAdd:hover, .RadTreeList_Silk .rtlAdd:active,
  .RadTreeList_Silk .rtlHeader .rtlAdd:hover,
  .RadTreeList_Silk .rtlHeader .rtlAdd:active {
    background-position: -62px -3012px; }
.RadTreeList_Silk .rtlRefresh {
  background-position: -12px -1312px; }
  .RadTreeList_Silk .rtlRefresh:hover, .RadTreeList_Silk .rtlRefresh:active {
    background-position: -62px -1312px; }
.RadTreeList_Silk .rtlEdit {
  background-position: -12px -3112px; }
  .RadTreeList_Silk .rtlEdit:hover, .RadTreeList_Silk .rtlEdit:active {
    background-position: -62px -3112px; }
.RadTreeList_Silk .rtlDel {
  background-position: -12px -3312px; }
  .RadTreeList_Silk .rtlDel:hover, .RadTreeList_Silk .rtlDel:active {
    background-position: -62px -3312px; }
.RadTreeList_Silk .rtlTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px; }

.TreeListToolTip_Silk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px; }

.RadTreeList_Silk table.rtlHBorders .rtlR > td,
.RadTreeList_Silk table.rtlHBorders .rtlA > td,
.RadTreeList_Silk table.rtlHBorders .rtlREdit > td,
.RadTreeList_Silk table.rtlHBorders .rtlRFooter > td,
.RadTreeList_Silk table .rtlHeader th {
  padding: 7px 10px; }
.RadTreeList_Silk .RadTreeList .rtlPagerCell {
  padding: 7px 0; }
.RadTreeList_Silk .rtlHeader {
  background: #e6e6e6;
  color: #878787;
  border-color: #e6e6e6;
  text-transform: uppercase;
  font-size: 9px; }
  .RadTreeList_Silk .rtlHeader a {
    color: #878787; }
.RadTreeList_Silk .rtlVBorders .rtlHeader th {
  border-width: 0; }
.RadTreeList_Silk .rtlScroller {
  border-color: #d9d9d9; }
.RadTreeList_Silk .rtlRFooter {
  background-color: #555555; }

.rtlCEdit .RadTreeList_Silk {
  border-right: 1px solid;
  border-top: 1px solid; }

.RadTreeList_Silk .rtlR td,
.RadTreeList_Silk .rtlA td,
.RadTreeList_Silk .rtlREdit td,
.RadTreeList_Silk .rtlRFooter td,
.RadTreeList_Silk .rtlEditForm {
  border-color: #e3e3e3; }
.RadTreeList_Silk .rtlVBorders .rtlR td,
.RadTreeList_Silk .rtlVBorders .rtlA td,
.RadTreeList_Silk .rtlVBorders .rtlREdit td,
.RadTreeList_Silk .rtlVBorders .rtlRFooter td {
  border-left-width: 0; }
.RadTreeList_Silk .rtlR a,
.RadTreeList_Silk .rtlA a,
.RadTreeList_Silk .rtlREdit a,
.RadTreeList_Silk .rtlEditForm a {
  color: black; }
.RadTreeList_Silk .rtlRSel {
  color: #333333;
  background: #fff1cc; }
.RadTreeList_Silk .rtlRActive {
  background: #fffae8;
  color: #333333; }
.RadTreeList_Silk .rtlVBorders td.rtlL,
.RadTreeList_Silk .rtlLines td.rtlL {
  background-color: white; }
.RadTreeList_Silk .rtlDrag,
.RadTreeList_Silk .rtlExpand,
.RadTreeList_Silk .rtlCollapse,
.RadTreeList_Silk .rtlSortAsc,
.RadTreeList_Silk .rtlSortDesc {
  background-image: url('Common/radActionsSprite.png'); }
.RadTreeList_Silk .rtlExpand,
.RadTreeList_Silk .rtlCollapse {
  width: 17px;
  height: 19px;
  margin: 0 0 0 16px;
  background-color: white; }
.RadTreeList_Silk .rtlExpand {
  background-position: -16.5px -166.5px; }
.RadTreeList_Silk .rtlCollapse {
  background-position: -66.5px -65.5px; }
.RadTreeList_Silk .rtlSortAsc {
  background-position: -17.5px -18px;
  height: 14px; }
.RadTreeList_Silk .rtlSortDesc {
  background-position: -17.5px -68px;
  height: 14px; }
.RadTreeList_Silk .rtlLines td.rtlL0 {
  background-image: url('TreeList/rtlSingle.gif'); }
.RadTreeList_Silk .rtlLines td.rtlL1 {
  background-image: url('TreeList/rtlTop.gif'); }
.RadTreeList_Silk .rtlLines td.rtlL2 {
  background-image: url('TreeList/rtlMiddle.gif'); }
.RadTreeList_Silk .rtlLines td.rtlL3 {
  background-image: url('TreeList/rtlBottom.gif'); }
html .RadTreeList_Silk table.rtlLines td.rtlL {
  padding: 3px; }

.TreeListReorderTop_Silk,
.TreeListReorderBottom_Silk {
  background-image: url('Common/radActionsSprite.png');
  background-repeat: no-repeat;
  background-position: -20px -70px; }

.TreeListReorderBottom_Silk {
  background-position: -20px -20px; }

.RadTreeList_Silk .rtlDragHandle {
  background-image: url('Grid/rgDrag.gif'); }

.TreeListToolTip_Silk {
  border-color: #828282;
  background: white;
  color: #333333; }

.RadTreeListRTL_Silk .rtlLines td.rtlL1 {
  background-image: url('TreeList/rtlTopRTL.gif'); }
.RadTreeListRTL_Silk .rtlLines td.rtlL2 {
  background-image: url('TreeList/rtlMiddleRTL.gif'); }
.RadTreeListRTL_Silk .rtlLines td.rtlL3 {
  background-image: url('TreeList/rtlBottomRTL.gif'); }

.RadTreeList_Silk .rtlPager {
  background: #e6e6e6;
  color: #555555; }
.RadTreeList_Silk .rtlPagerCell {
  border-width: 0;
  padding: 5px 0 4px; }
.RadTreeList_Silk .rtlPager .rtlWrap,
.RadTreeList_Silk .rtlPager .rtlPagerButton,
.RadTreeList_Silk .rtlPager .riSingle .riTextBox {
  line-height: 29px;
  height: 28px; }
.RadTreeList_Silk .rtlPager .rtlPagerLabel,
.RadTreeList_Silk .rtlPager .RadComboBox {
  vertical-align: middle; }
.RadTreeList_Silk .rtlPager .rtlInfoPart strong {
  color: black; }
.RadTreeList_Silk .rtlPager .rtlPageFirst,
.RadTreeList_Silk .rtlPager .rtlPagePrev,
.RadTreeList_Silk .rtlPager .rtlPageNext,
.RadTreeList_Silk .rtlPager .rtlPageLast {
  background-image: url('Grid/sprite.png');
  width: 30px;
  height: 30px; }
.RadTreeList_Silk .rtlPager .rtlPageFirst {
  background-position: 0 -150px; }
  .RadTreeList_Silk .rtlPager .rtlPageFirst:hover {
    background-position: 0 -350px; }
  .RadTreeList_Silk .rtlPager .rtlPageFirst:active {
    background-position: 0 -550px; }
.RadTreeList_Silk .rtlPager .rtlPagePrev {
  background-position: 0 -200px; }
  .RadTreeList_Silk .rtlPager .rtlPagePrev:hover {
    background-position: 0 -400px; }
  .RadTreeList_Silk .rtlPager .rtlPagePrev:active {
    background-position: 0 -600px; }
.RadTreeList_Silk .rtlPager .rtlPageNext {
  background-position: 0 -250px; }
  .RadTreeList_Silk .rtlPager .rtlPageNext:hover {
    background-position: 0 -450px; }
  .RadTreeList_Silk .rtlPager .rtlPageNext:active {
    background-position: 0 -650px; }
.RadTreeList_Silk .rtlPager .rtlPageLast {
  background-position: 0 -300px; }
  .RadTreeList_Silk .rtlPager .rtlPageLast:hover {
    background-position: 0 -500px; }
  .RadTreeList_Silk .rtlPager .rtlPageLast:active {
    background-position: 0 -700px; }
.RadTreeList_Silk .rtlPager .rtlPagerButton {
  background-image: url('../Common/Gradients/radGradientDarkV20.png');
  _background-image: none;
  background-repeat: repeat-x;
  border-color: #c9c9c9;
  color: #3b3b3b;
  background-color: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
  background-image: -ms-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
  background-image: linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  color: #3b3b3b;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }
.RadTreeList_Silk .rtlPager .rtlNumPart a {
  border-radius: 4px;
  line-height: 28px;
  color: #333333;
  margin-right: 1px;
  margin-top: 1px; }
  .RadTreeList_Silk .rtlPager .rtlNumPart a:hover {
    color: black;
    background-color: #d6d6d6;
    background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #929292 100%);
    background-image: -moz-linear-gradient(top, #d6d6d6 0%, #929292 100%);
    background-image: -ms-linear-gradient(top, #d6d6d6 0%, #929292 100%);
    background-image: -o-linear-gradient(top, #d6d6d6 0%, #929292 100%);
    background-image: linear-gradient(top, #d6d6d6 0%, #929292 100%); }
  .RadTreeList_Silk .rtlPager .rtlNumPart a.rtlCurrentPage {
    background: none repeat scroll 0 0 #cccccc;
    border: 1px solid #f9f9f9;
    box-shadow: 0 0 1px 1px rgba(72, 72, 72, 0.4) inset;
    color: black;
    margin-top: 0; }
