.RadUpload_Silk {
  color: #3b3b3b;
  font: normal 13px/22px Arial, Helvetica, sans-serif;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUpload_Silk .ruFileWrap {
    height: 30px; }
  .RadUpload_Silk .ruUploadProgress {
    padding-right: 1px;
    font-size: 12px; }
  .RadUpload_Silk .ruFileProgressWrap {
    margin: 2px 0 0 -1px;
    border: 1px solid #d7d7d7;
    background: #f3f3f3; }
  .RadUpload_Silk .ruFileProgress {
    margin: 0;
    background-color: #54cbe0; }
  .RadUpload_Silk .ruFakeInput {
    border-color: #d7d7d7;
    color: #555555;
    background-color: white;
    font: normal 13px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUpload_Silk .ruStyled .ruFakeInput {
    padding: 3px 4px;
    height: 20px; }
  .RadUpload_Silk .ruButton {
    margin: 0 0 0 10px;
    padding: 1px 4px 4px;
    height: 28px;
    border: 1px solid;
    border-radius: 3px;
    background: #e3e3e3 url('../Common/Gradients/radGradientDarkV50.png') 0 0 repeat-x;
    _background-image: none;
    border-color: #c9c9c9;
    color: #3b3b3b;
    background-color: #e3e3e3;
    background-image: -webkit-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -ms-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    background-image: linear-gradient(top, #fefefe 0%, #e3e3e3 100%);
    font: normal 13px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUpload_Silk .ruButtonHover {
    border-color: #007d93;
    color: white;
    background: #007d93 url('../Common/Gradients/radGradientDarkV50.png') 0 0 repeat-x;
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -moz-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -ms-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: -o-linear-gradient(top, #00a9c7 0%, #007d93 100%);
    background-image: linear-gradient(top, #00a9c7 0%, #007d93 100%); }
  .RadUpload_Silk .ruRemove {
    height: 21px;
    padding: 0 0 0 20px;
    border: 0;
    color: #0394ae;
    background: none;
    filter: none;
    font-size: 12px; }
    .RadUpload_Silk .ruRemove:hover {
      text-decoration: underline; }
  .RadUpload_Silk .ruCancel {
    padding: 0 0 0 20px;
    border: 0;
    color: #0394ae;
    background: none;
    filter: none;
    font-size: 12px; }
    .RadUpload_Silk .ruCancel:hover {
      text-decoration: underline; }
  .RadUpload_Silk .ruActions .ruButton {
    background-position: 0 0; }
  .RadUpload_Silk .ruDropZone {
    background: #e6e6e6;
    border-color: #cccccc;
    color: #878787;
    font: 10px "Arial", sans-serif;
    text-transform: uppercase; }
    .RadUpload_Silk .ruDropZone span {
      margin-top: -4px; }

.RadUpload_rtl.RadUpload_Silk .ruUploadProgress {
  padding-right: 18px; }
.RadUpload_rtl.RadUpload_Silk .ruRemove {
  padding-right: 20px; }
.RadUpload_rtl.RadUpload_Silk .ruButton {
  margin-right: 10px; }
