/* this is the topmost cell of the dialogs that have RadTabStrip */
.reTopcell {
  background-color: #ffffff; }

/* File Manager dialogs */
.selectedFileName {
  border-top: 1px solid #d7d7d7; }

/* background for the bottom positioned RadTabStrip */
.RadTabStripBottom_Silk {
  background: #ffffff;
  width: 264px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6px !important; }

.reTableWizardSelectAllBtn {
  color: #767676; }

.imagePreviewer {
  overflow: hidden; }

/*Sprite from RFE*/
.RadToolBar_Silk .rtbText {
  background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
  background-repeat: no-repeat; }

/* Editor ImageManager Properties */
#ImagePreviewToolBar.RadToolBar_Silk .rtbText {
  margin-top: 10px; }

#ImagePreviewToolBar.RadToolBar_MetroTouch .icnImageEditor .rtbText {
  padding-left: 10px !important;
  width: 105px;
  text-align: right; }

.RadForm_Silk .FindAndReplaceDialog, .RadForm_Silk .FindAndReplaceDialog .rfdRoundedCorners {
  font: 13px Arial, Helvetica, sans-serif; }

.Silk.reDropDownBody.reAlignmentSelector {
  width: 87px !important;
  height: 116px !important; }

.Silk.reAlignmentSelector table tr td {
  min-width: inherit !important; }

.RadForm_Silk #imageTabStrip {
  padding-bottom: 0 !important; }

.RadForm_Silk .NoMarginDialog .reConfirmCancelButtonsTbl {
  margin: -5px 15px 0 0; }

.RadForm_Silk .rfeUploadContainer {
  height: 300px !important; }

.RadForm_Silk .rfeUploadContainer .RadUpload_Silk {
  margin-top: 10px; }

/* RAD EDITOR DIALOGS REDESIGN */
div.redWrapper {
  padding: 17px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  /* Base overrides */
  /* used when you have two input on the same row */
  /* used when you have an input after tool - colorpicker */
  /* FileBrowserLayout */
  /* FileBrowser Layout End */
  /* Dialog specific */
  /* Image Properties */
  /* Dialog Specific end */
  /* Base Overrides End */ }
  div.redWrapper #propertiesPage, div.redWrapper div#flashMultiPage, div.redWrapper #mediaMultiPage, div.redWrapper iframe#templateIframe, div.redWrapper #silverlightMultiPage, div.redWrapper #mediaMultiPage {
    height: 450px !important; }
  div.redWrapper #DocumentPreviewer {
    height: 530px; }
  div.redWrapper #silverlightMultiPage {
    height: 450px !important; }
  div.redWrapper .redShortRow {
    width: 128px; }
  div.redWrapper .redLabel {
    *margin-top: -7px; }
  div.redWrapper .redSection .redRow .rfdTextInput, div.redWrapper .redSection .redRow textarea {
    width: 217px; }
  div.redWrapper .redSecondLabel {
    width: 95px; }
  div.redWrapper .redSecondLabelAfterTool {
    width: 113px; }
  div.redWrapper .redConstrainWrapper .redConstrainButton {
    top: 9px;
    left: 213px; }
  div.redWrapper .redRow .redConstrainWrapper .rfdTextInput {
    width: 35px; }
  div.redWrapper .reToolWrapper .reTool.reSplitButton {
    width: 48px;
    height: 26px;
    line-height: 26px; }
  div.redWrapper .reToolWrapper .redRow .reTool, div.redWrapper .redRow .reTool {
    width: 26px;
    height: 26px; }
  div.redWrapper .redRow .reTool span, div.redWrapper .reToolWrapper .redRow .reTool span {
    margin: 3px; }
  div.redWrapper .reToolWrapper .reSplitButton.reTool .split_arrow {
    height: 26px;
    margin: 6px 0 0 4px;
    top: -5px; }
  div.redWrapper .reImageDialogCaller .reToolWrapper .reTool {
    width: 26px;
    height: 26px; }
  div.redWrapper a.reDropdown {
    border-radius: 0;
    width: 208px; }
  div.redWrapper a.reDropdown:hover {
    background-color: #bbeaf3; }
  div.redWrapper a.reDropdown:hover:before {
    height: 23px;
    background-position: -12px -64px; }
  div.redWrapper a.reDropdown:hover span {
    color: #555555; }
  div.redWrapper .rfdSelect {
    width: 203px !important; }
  div.redWrapper .redActionButtonsAbsoluteWrapper {
    bottom: 15px; }
  div.redWrapper .redFBDialogContentButton.redActionButtonsAbsoluteWrapper {
    right: 5px;
    bottom: 7px; }
  div.redWrapper .redFBDialogContent {
    width: 420px; }
  div.redWrapper .redFBDialogContent #imageMultiPage {
    height: 465px; }
  div.redWrapper .redDialogSeparator {
    width: 8px;
    height: 580px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #d6d5d4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #d6d5d4 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #d6d5d4 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #d6d5d4 100%);
    background-image: linear-gradient(top, #ffffff 0%, #d6d5d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d5d4',GradientType=0 );
    filter: none;
    background-color: #d6d5d4;
    background-position: 0 0; }
  div.redWrapper #ImageSrc .rfdTextInput {
    width: 186px; }
  div.redWrapper .redSection .redRow .rfdTextInput.redInputTool {
    width: 187px; }
  div.redWrapper.LinkManager .redSection {
    height: 270px; }
  div.redWrapper .redSection {
    border-bottom-color: #d7d7d7; }
  div.redWrapper .reTool {
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%);
    border-color: #c9c9c9; }
  div.redWrapper .reTool:hover {
    border-color: #939393;
    color: #444444;
    background-color: #939393;
    background-image: linear-gradient(#d6d6d6 0%, #939393 100%);
    box-shadow: inset 0 0 1px #ffffff; }
  div.redWrapper .reTool:active, div.redWrapper .reTool:focus {
    border-color: #a9a9a9;
    color: #000000;
    background-color: #dedede;
    background-image: linear-gradient(#c7c7c7 0%, #dedede 100%);
    box-shadow: inset 0 0 1px #ffffff; }
  div.redWrapper .redMsgContainerFBDialogs #propertyValueDescription, div.redWrapper .redMsgContainerFBDialogs #propertyValuePane {
    background-color: #e6e6e6;
    color: #767676; }

/* Styles that should be removed after the redesign is completed */
.reInsertSelectTextboxWrapper {
  width: 115px; }

/* end of styles that should be removed */
/* Right to Left Support */
.RadForm_Silk .redRtl {
  /* to be removed after the redesign */ }
  .RadForm_Silk .redRtl .redWrapper .reTool .split_arrow:hover {
    border-right-color: #939393; }
  .RadForm_Silk .redRtl .reDropdown:hover {
    background-image: url('Editor/ToolbarSprites.gif');
    background-color: #bbeaf3; }
  .RadForm_Silk .redRtl .redWrapper .redConstrainWrapper .redConstrainButton {
    left: 150px; }
  .RadForm_Silk .redRtl .redConstrainWrapper .redDimensionPixels.redRtlFix {
    margin-right: 55px; }
  .RadForm_Silk .redRtl .reDropdown:before {
    right: auto;
    left: 0; }
  .RadForm_Silk .redRtl .reInsertSelectCssClass {
    height: 268px; }
  .RadForm_Silk .redRtl .redConstrainWrapper .redSecondLabel {
    width: 100px; }
  .RadForm_Silk .redRtl .reStyleBuilderSize .reInlineBlock.reMetroTouchFix .riContentWrapper {
    width: 50px !important; }

/* Styles that should be out of the redWrapper */
.RadForm_Silk .rfdSelect .rfdDropDownArrow {
  background-image: url('Common/radActionsSprite.png');
  _background-image: url('Common/radActionsSpriteIE6.png'); }

/* Dialogs Dimensions  */
.redImageProperties.RadForm_Silk body {
  width: 418px;
  height: 460px; }

.redInsertSelectDialog.RadForm_Silk body {
  width: 560px;
  height: 330px; }

.redPasteHtml.RadForm_Silk body {
  width: 510px;
  height: 280px; }

.redImageManager.RadForm_Silk body {
  width: 830px;
  height: 580px; }

.redXhtmlValidator.RadForm_Silk body {
  width: 800px;
  height: 600px; }

.redTrackChangesDialog.RadForm_Silk body {
  width: 750px;
  height: 550px; }

.redImageMapDialog.RadForm_Silk body {
  width: 780px;
  height: 570px; }

.redFlashManager.RadForm_Silk body {
  width: 832px;
  height: 580px; }

.redSilverlightManager.RadForm_Silk body {
  width: 832px;
  height: 580px; }

.redMediaManager.RadForm_Silk body {
  width: 832px;
  height: 580px; }

.redInsertExternalVideo.RadForm_Silk body {
  width: 730px;
  height: 600px; }

.redDocumentManager.RadForm_Silk body {
  width: 832px;
  height: 580px; }

.redTemplateManager.RadForm_Silk body {
  width: 832px;
  height: 580px; }

.redFindAndReplace.RadForm_Silk body {
  width: 398px;
  height: 370px; }

.redTableWizard.RadForm_Silk body {
  width: 790px;
  height: 570px; }

.redLinkManager.RadForm_Silk body {
  width: 400px;
  height: 390px; }

.redPageProperties.RadForm_Silk body {
  width: 420px;
  height: 580px; }

.redAboutDialog.RadForm_Silk body {
  width: 500px;
  height: 320px; }

.redHelp.RadForm_Silk body {
  width: 710px;
  height: 460px; }

.redFormatCodeBlock.RadForm_Silk body {
  width: 740px;
  height: 630px; }

.redCleanPasteHtmlContent.RadForm_Silk body {
  width: 600px;
  height: 320px; }

.redCleanPasteTextContent.RadForm_Silk body {
  width: 510px;
  height: 300px; }

.redStyleBuilder.RadForm_Silk body {
  width: 550px;
  height: 560px; }

.redImageEditor.RadForm_Silk body {
  width: 700px;
  height: 530px; }

.redPasteMarkdown.RadForm_Silk body {
  width: 510px;
  height: 290px; }

/* this a temp fix for the unredisegned dialogs and should be removed after the redesign */
.RadForm_Silk .reDialog.FormatCodeBlock, .RadForm_Silk .reDialog.TableWizard .reTableWizardColumns, .RadForm_Silk .reDialog.TableWizard .reTablePropertiesDimensions, .RadForm_Silk .reDialog.TableWizard .reTablePropertiesCssClass, .RadForm_Silk .reDialog.TableWizard .reCellPropertiesPreview, .RadForm_Silk .reDialog.TableWizard .reCellProperties, .RadForm_Silk .reDialog.TableWizard .reTableWizardAccessible, .RadForm_Silk .reDialog.ImageMapEditor, .RadForm_Silk .reDialog.PageProperties {
  margin: 20px 5px 5px\9; }

.RadForm_Silk .reInsertSelectDialogTable .reInsertSelectItemsWrapper, .RadForm_Silk .reInsertSelectDialogTable .reInsertSelectCssClass {
  margin: 10px 5px 5px\9; }

.RadForm_Silk .reControlCell .rfdCheckboxChecked .rfdToggleImage, .RadForm_Silk .reControlCell .rfdCheckboxUnchecked .rfdToggleImage, .RadForm_Silk .reControlCell .rfdRadioChecked .rfdToggleImage, .RadForm_Silk .reControlCell .rfdRadioUnchecked .rfdToggleImage {
  top: 7px\9; }
