.RadAutoCompleteBox_Office2010Silver {
  color: #3b3b3b;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadAutoCompleteBox_Office2010Silver .racTokenList {
    border-color: #9aa0a6;
    color: #3b3b3b;
    background-color: white; }
  .RadAutoCompleteBox_Office2010Silver .racDisabled {
    border-color: #9babc2;
    color: #a4abb2;
    background-color: white; }
  .RadAutoCompleteBox_Office2010Silver .racToken {
    border-radius: 3px;
    background-image: url('../Office2010Silver/Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #a4abb2;
    color: #3b3b3b;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3 0%, #dbdde1 100%); }
  .RadAutoCompleteBox_Office2010Silver .racTokenHovered {
    border-color: #f3d64a;
    color: black;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab 0%, #fae185 50%, #fcf5d9 100%); }
  .RadAutoCompleteBox_Office2010Silver .racTokenSelected {
    border-color: #c28b31;
    color: black;
    background-color: #ffef7c;
    background-image: linear-gradient(#ffe272 0%, #ffd86b 50%, #ffef7c 100%); }
  .RadAutoCompleteBox_Office2010Silver .racDisabled .racToken {
    border-color: #a4abb2;
    color: #a4abb2;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3 0%, #dbdde1 100%); }
  .RadAutoCompleteBox_Office2010Silver .racRemoveTokenLink {
    *background-image: url('../Office2010Silver/Common/radActionsSprite.png');
    *background-position: -4px -1344px; }
  .RadAutoCompleteBox_Office2010Silver .racInput {
    color: #3b3b3b;
    font: inherit;
    line-height: inherit; }
  .RadAutoCompleteBox_Office2010Silver .racEmptyMessage {
    color: #a4abb2;
    font-style: italic; }
  .RadAutoCompleteBox_Office2010Silver .racLoadingIcon {
    background-image: url('../Office2010Silver/Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Office2010Silver {
  border-color: #9aa0a6;
  color: #3b3b3b;
  background: white;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.33333em; }
  .RadAutoCompleteBoxPopup_Office2010Silver .racHeader,
  .RadAutoCompleteBoxPopup_Office2010Silver .racFooter {
    color: #3b3b3b;
    background-color: #edeff2; }
  .RadAutoCompleteBoxPopup_Office2010Silver .racHeader {
    border-bottom-color: #9aa0a6; }
  .RadAutoCompleteBoxPopup_Office2010Silver .racFooter {
    border-top-color: #9aa0a6; }
  .RadAutoCompleteBoxPopup_Office2010Silver .racShowAll {
    border-top-color: #9aa0a6;
    color: #3b3b3b;
    background-color: #edeff2; }
  .RadAutoCompleteBoxPopup_Office2010Silver .racItemHovered {
    color: #3b3b3b;
    background-color: #fae185; }
