.RadCalendar_Office2010Silver {
  background: #dbdfe4;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #3b3b3b; }

.RadCalendar_Office2010Silver .rcTitlebar {
  line-height: 1.5;
  padding: 0.3em 0.1em;
  border-color: #a4abb2;
  background: linear-gradient(to bottom, #f2f2f4 0%, #dadde0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f4', endColorstr='#dadde0',GradientType=0 ); }
  .RadCalendar_Office2010Silver .rcTitlebar td {
    padding: 0 0 .167em; }
  .RadCalendar_Office2010Silver .rcTitlebar .rcPrev,
  .RadCalendar_Office2010Silver .rcTitlebar .rcNext,
  .RadCalendar_Office2010Silver .rcTitlebar .rcFastPrev,
  .RadCalendar_Office2010Silver .rcTitlebar .rcFastNext {
    width: 1.4167em;
    height: 1.4167em;
    margin: .083em .167em 0;
    border: 1px solid transparent;
    border-radius: .26em; }
    .RadCalendar_Office2010Silver .rcTitlebar .rcPrev:hover,
    .RadCalendar_Office2010Silver .rcTitlebar .rcNext:hover,
    .RadCalendar_Office2010Silver .rcTitlebar .rcFastPrev:hover,
    .RadCalendar_Office2010Silver .rcTitlebar .rcFastNext:hover {
      border: 1px solid #f3d64a;
      box-shadow: 0 0 1px 1px #fff inset; }
  .RadCalendar_Office2010Silver .rcTitlebar .rcFastPrev {
    margin-left: .333em; }

.RadCalendarMultiView_Office2010Silver .rcTitlebar {
  padding: 0.4em 0.1em; }

.RadCalendar_Office2010Silver .rcMain {
  border-color: #a4abb2; }
.RadCalendar_Office2010Silver .rcHeader, .RadCalendar_Office2010Silver .rcFooter {
  border-color: #688caf; }
.RadCalendar_Office2010Silver .rcWeek th {
  border-top: 1px solid #a4abb2;
  border-bottom: 1px solid #a4abb2;
  padding: .415em .583em .415em .75em;
  background-color: #ccd2d9; }
.RadCalendar_Office2010Silver .rcWeek .rcViewSel {
  width: 1em;
  padding: 0 .583em 0 .75em;
  background: #ccd2d9; }
.RadCalendar_Office2010Silver .rcRow a, .RadCalendar_Office2010Silver .rcRow span {
  color: #3b3b3b;
  padding: .3em 0.55em;
  border: 1px solid transparent;
  border-radius: .2em;
  line-height: 1.6; }
.RadCalendar_Office2010Silver .rcRow th {
  width: 1em;
  padding: 0 .583em 0 .75em;
  background: #ccd2d9; }
.RadCalendar_Office2010Silver .rcRow td {
  border: 0 none; }
.RadCalendar_Office2010Silver .rcRow .rcToday a {
  border-color: #c95c05; }
.RadCalendar_Office2010Silver .rcRow .rcSelected a {
  background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffef7c',GradientType=0 );
  border-color: #c28b31; }
.RadCalendar_Office2010Silver .rcRow .rcHover a {
  background-image: linear-gradient(to bottom, #fceaab 0%, #fae187 38%, #fae187 56%, #fbe594 69%, #fdf3ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceaab', endColorstr='#fdf3ce',GradientType=0 );
  border-color: #f3d64a;
  box-shadow: 0 0 1px 1px #fff inset; }
.RadCalendar_Office2010Silver .rcMain .rcWeekend a {
  color: #444; }

.RadCalendar_Office2010Silver .rcMain .rcOtherMonth a, .RadCalendar_Office2010Silver .rcMain .rcOutOfRange span {
  color: #bfbfbf; }

.RadCalendar_Office2010Silver .rcRow .rcHover, .RadCalendar_Office2010Silver .rcRow .rcSelected {
  color: #000; }
  .RadCalendar_Office2010Silver .rcRow .rcHover a, .RadCalendar_Office2010Silver .rcRow .rcSelected a {
    color: #000; }

.RadCalendarMultiView_Office2010Silver .rcTitlebar {
  background-image: linear-gradient(to bottom, #f1f2f3 0%, #dadde0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f3', endColorstr='#dadde0',GradientType=0 ); }
  .RadCalendarMultiView_Office2010Silver .rcTitlebar table {
    line-height: 2.25; }
  .RadCalendarMultiView_Office2010Silver .rcTitlebar td {
    padding-bottom: 1px; }
.RadCalendarMultiView_Office2010Silver .rcCalendar {
  border-color: #a4abb2;
  border-top: 0; }
.RadCalendarMultiView_Office2010Silver .rcMainTable .rcTitle {
  border-color: #a4abb2;
  padding: 0 0 .167em;
  background: linear-gradient(to bottom, #f2f2f4 0%, #dadde0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f4', endColorstr='#dadde0',GradientType=0 );
  line-height: 1.833; }

.RadCalendarMonthView_Office2010Silver {
  border-color: #868686;
  background: #fff;
  font: normal 14px "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000; }

.RadCalendarMonthView_Office2010Silver #rcMView_Feb, .RadCalendarMonthView_Office2010Silver #rcMView_Apr, .RadCalendarMonthView_Office2010Silver #rcMView_Jun, .RadCalendarMonthView_Office2010Silver #rcMView_Aug, .RadCalendarMonthView_Office2010Silver #rcMView_Oct, .RadCalendarMonthView_Office2010Silver #rcMView_Dec {
  border-right: 1px solid #9ebfdb; }
.RadCalendarMonthView_Office2010Silver a {
  color: #000; }
.RadCalendarMonthView_Office2010Silver .rcSelected a {
  border-color: #c28b31 #c29a42 #c2a34c;
  background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffef7c',GradientType=0 ); }
.RadCalendarMonthView_Office2010Silver #rcMView_PrevY a, .RadCalendarMonthView_Office2010Silver #rcMView_NextY a {
  overflow: hidden;
  color: #ccc; }
.RadCalendarMonthView_Office2010Silver .rcButtons {
  padding: .417em .583em .25em; }
.RadCalendarMonthView_Office2010Silver input {
  border-color: #a4abb2;
  padding: .083em 0 0;
  background-image: linear-gradient(to bottom, #f1f2f3 0%, #dbdde1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f3', endColorstr='#dbdde1',GradientType=0 );
  color: #3b3b3b; }

.RadCalendarTimeView_Office2010Silver {
  border-color: #9199a4;
  background: #fff;
  font: normal 14px / 1.5 "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendarTimeView_Office2010Silver a {
    color: #000; }
  .RadCalendarTimeView_Office2010Silver th {
    border-bottom: 1px solid #9eb6ce;
    padding: 0 0 .083em;
    background: linear-gradient(to bottom, #f2f2f4 0%, #dadde0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f4', endColorstr='#dadde0',GradientType=0 );
    color: #3b3b3b;
    line-height: 2; }
  .RadCalendarTimeView_Office2010Silver td.rcSelected a {
    border-color: #c28b31 #c29a42 #c2a34c;
    background-image: linear-gradient(to bottom, #ffe272 0%, #ffd86b 39%, #ffd96b 56%, #ffdc6e 67%, #ffef7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe272', endColorstr='#ffef7c',GradientType=0 ); }
  .RadCalendarTimeView_Office2010Silver td.rcHover a {
    border-color: #f7c840;
    background-image: linear-gradient(to bottom, #fceaab 0%, #fae187 35%, #fae187 53%, #fbe594 65%, #fcf5d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceaab', endColorstr='#fcf5d9',GradientType=0 ); }
  .RadCalendarTimeView_Office2010Silver .rcFooter {
    border-color: #688caf; }

.RadPicker_Office2010Silver .rcCalPopup:before,
.RadPicker_Office2010Silver .rcTimePopup:before {
  color: #6f6c6c; }
.RadPicker_Office2010Silver .rcCalPopup:hover:before, .RadPicker_Office2010Silver .rcCalPopup:focus:before, .RadPicker_Office2010Silver .rcCalPopup:active:before,
.RadPicker_Office2010Silver .rcTimePopup:hover:before,
.RadPicker_Office2010Silver .rcTimePopup:focus:before,
.RadPicker_Office2010Silver .rcTimePopup:active:before {
  color: #a57c21; }
