.RadSlider_Office2010Silver {
  /* horizontal slider */
  /* end horizontal slider */
  /* vertical slider */
  /* end vertical slider */
  /* horizontal slider - TrackPosition=Top/Bottom */
  /* vertical slider - TrackPosition=Left/Right */
  /* horizontal slider - TrackPosition=Center */
  /* vertical slider - TrackPosition=Center */ }
  .RadSlider_Office2010Silver .rslTrack {
    border-color: #9aa0a6; }
  .RadSlider_Office2010Silver div.rslTop a.rslDraghandle {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f3', EndColorStr='#dcdfe2')";
    background-image: linear-gradient(#f1f1f3, #dcdfe2);
    border-color: #a4abb2; }
  .RadSlider_Office2010Silver a.rslHandle {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f2f3', EndColorStr='#dbdee1')";
    background-image: linear-gradient(#f1f2f3, #dbdee1);
    border-color: #a4abb2; }
  .RadSlider_Office2010Silver a.rslHandle:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbeaa8', EndColorStr='#fdf1c6')";
    background-image: linear-gradient(#fbeaa8, #fdf1c6);
    border-color: #f3d64a; }
  .RadSlider_Office2010Silver a.rslHandle:before {
    color: #5f6062; }
  .RadSlider_Office2010Silver a.rslHandle:hover:before {
    color: #5f6062; }
  .RadSlider_Office2010Silver .rslHorizontal a.rslDraghandle {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f3', EndColorStr='#dcdfe2')";
    background-image: linear-gradient(#f1f1f3, #dcdfe2);
    border-color: #a4abb2; }
  .RadSlider_Office2010Silver .rslHorizontal a.rslDraghandle:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbe8a2', EndColorStr='#fcecb3')";
    background-image: linear-gradient(#fbe8a2, #fcecb3);
    border-color: #f3d64a; }
  .RadSlider_Office2010Silver .rslHorizontal a.rslDraghandle:focus,
  .RadSlider_Office2010Silver .rslHorizontal a.rslDraghandle:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffe172', EndColorStr='#ffeb79')";
    background-image: linear-gradient(#ffe172, #ffeb79);
    border-color: #c28b31; }
  .RadSlider_Office2010Silver .rslHorizontal .rslTrack {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3b9bf', EndColorStr='#dadde0')";
    background-image: linear-gradient(#b3b9bf, #dadde0);
    border-color: #a4abb2 #a4abb2 #a4abb2; }
  .RadSlider_Office2010Silver .rslHorizontal .rslSelectedregion {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffe37c', EndColorStr='#f9cd4c')";
    background-image: linear-gradient(#ffe37c, #f9cd4c); }
  .RadSlider_Office2010Silver .rslHorizontal .rslItem {
    background-image: url('../Office2010Silver/Slider/ItemHorizontalBgr.gif'); }
  .RadSlider_Office2010Silver .rslVertical .rslTrack {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3b9bf', EndColorStr='#dadde0', GradientType=1)";
    background-image: linear-gradient(to left, #b3b9bf, #dadde0);
    border-color: #a4abb2 #a4abb2 #a4abb2; }
  .RadSlider_Office2010Silver .rslVertical .rslSelectedregion {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffe37c', EndColorStr='#f9cd4c', GradientType=1)";
    background-image: linear-gradient(to left, #ffe37c, #f9cd4c); }
  .RadSlider_Office2010Silver .rslVertical a.rslDraghandle {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f3', EndColorStr='#dcdfe2', GradientType=1)";
    background-image: linear-gradient(to left, #f1f1f3, #dcdfe2);
    border-color: #a4abb2; }
  .RadSlider_Office2010Silver .rslVertical a.rslDraghandle:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbe8a2', EndColorStr='#fcecb3', GradientType=1)";
    background-image: linear-gradient(to left, #fbe8a2, #fcecb3);
    border-color: #f3d64a; }
  .RadSlider_Office2010Silver .rslVertical a.rslDraghandle:focus,
  .RadSlider_Office2010Silver .rslVertical a.rslDraghandle:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffe172', EndColorStr='#ffeb79', GradientType=1)";
    background-image: linear-gradient(to left, #ffe172, #ffeb79);
    border-color: #c28b31; }
  .RadSlider_Office2010Silver .rslVertical .rslItem {
    background-image: url('../Office2010Silver/Slider/ItemVerticalBgr.gif'); }
  .RadSlider_Office2010Silver .rslLeft a.rslDraghandle {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f3', EndColorStr='#dcdfe2', GradientType=1)";
    background-image: linear-gradient(to left, #f1f1f3, #dcdfe2); }
  .RadSlider_Office2010Silver .rslItem,
  .RadSlider_Office2010Silver .rslLargeTick span {
    color: #3b3b3b; }
  .RadSlider_Office2010Silver .rslItemsWrapper .rslItemSelected {
    color: #3b3b3b; }
  .RadSlider_Office2010Silver .rslTop .rslSmallTick,
  .RadSlider_Office2010Silver .rslBottom .rslSmallTick {
    background-image: url('../Office2010Silver/Slider/SmallChangeHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslTop .rslLargeTick,
  .RadSlider_Office2010Silver .rslBottom .rslLargeTick {
    background-image: url('../Office2010Silver/Slider/LargeChangeHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslLeft .rslSmallTick,
  .RadSlider_Office2010Silver .rslRight .rslSmallTick {
    background-image: url('../Office2010Silver/Slider/SmallChangeVertical.gif'); }
  .RadSlider_Office2010Silver .rslLeft .rslLargeTick,
  .RadSlider_Office2010Silver .rslRight .rslLargeTick {
    background-image: url('../Office2010Silver/Slider/LargelChangeVertical.gif'); }
  .RadSlider_Office2010Silver .rslMiddle .rslSmallTick {
    background-image: url('../Office2010Silver/Slider/SmallChangeMiddleHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslLargeTick {
    background-image: url('../Office2010Silver/Slider/LargeChangeMiddleHorizontal.gif'); }
  .RadSlider_Office2010Silver .rslCenter .rslSmallTick {
    background-image: url('../Office2010Silver/Slider/SmallChangeCenterVertical.gif'); }
  .RadSlider_Office2010Silver .rslCenter .rslLargeTick {
    background-image: url('../Office2010Silver/Slider/LargelChangeCenterVertical.gif'); }
