.RadDropDownTree_Glow {
  color: #1c262c;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Glow .rddtInner {
    height: 2.15385em;
    background-image: url('../Glow/Common/radPrimaryGradientButtonSprite.png');
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    background-color: #334147; }
  .RadDropDownTree_Glow .rddtFakeInput {
    height: 1.84615em;
    line-height: 1.84615em; }
  .RadDropDownTree_Glow .rddtEmptyMessage {
    color: #c1c7ca;
    font-style: italic; }
  .RadDropDownTree_Glow .rddtClearButton {
    background-position: -2px -84px; }
  .RadDropDownTree_Glow .rddtIcon {
    width: 1.84615em;
    height: 2em; }
    .RadDropDownTree_Glow .rddtIcon:before {
      content: "\e002";
      line-height: 1.25em; }
  .RadDropDownTree_Glow .rddtHovered {
    border-color: #ce800f;
    color: #1c262c;
    background-color: #d18000;
    background-image: linear-gradient(#ffa800 0%, #d18000 100%); }
    .RadDropDownTree_Glow .rddtHovered .rddtClearButton {
      background-position: -22px -84px; }
      .RadDropDownTree_Glow .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -84px; }
  .RadDropDownTree_Glow .rddtFocused {
    border-color: #ffa915;
    color: black;
    background-color: #ffa915;
    background-image: linear-gradient(#ffa915 0%, #ffa915 100%); }
    .RadDropDownTree_Glow .rddtFocused .rddtClearButton {
      background-position: -42px -84px; }
      .RadDropDownTree_Glow .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -84px; }
  .RadDropDownTree_Glow .rddtDisabled {
    border-color: #394145;
    color: #677277;
    background-color: #1d272d;
    background-image: linear-gradient(#2d363b 0%, #1d272d 100%);
    color: #808c91; }

.rddtPopup_Glow {
  border-color: #1b2327;
  color: #c1c7ca;
  background: #35434b;
  font: normal 13px/22px Arial, Helvetica, sans-serif; }
  .rddtPopup_Glow .rddtHeader,
  .rddtPopup_Glow .rddtFooter {
    color: #c1c7ca;
    background-color: #1c262c; }
  .rddtPopup_Glow .rddtHeader {
    border-bottom-color: #1b2327; }
  .rddtPopup_Glow .rddtFooter {
    border-top-color: #1b2327; }
  .rddtPopup_Glow .rddtFilter {
    border-bottom-color: #d7d7d7;
    color: #c1c7ca;
    background: #1c262c; }
    .rddtPopup_Glow .rddtFilter .rddtFilterInput {
      font: 13px Arial, Helvetica, sans-serif;
      border-color: #8a9297;
      color: white;
      background-color: #29343b; }
    .rddtPopup_Glow .rddtFilter .rddtFilterEmptyMessage {
      color: #c1c7ca;
      font-style: italic; }
  .rddtPopup_Glow .RadTreeView em {
    color: white;
    background-color: #4d5c65; }
