.RadForm_Glow {
  background-color: white;
  /* Change font size */
  /* button styles */
  /* Checkbox and radiobutton */
  /* Webkit provides full support for checkbox and radiobutton */
  /* DropDown Styles */
  /* Skin-specific Scrollbar Settings for WebKit  */
  /* the scrollbar face color */
  /* IE Scrollbars */
  /*GridView, FormView, DetailsView*/
  /* Validation Summary Control and Login Control  */ }
  .RadForm_Glow.RadForm .rfdSkinnedButton, .RadForm_Glow.RadForm .rfdTextInput, .RadForm_Glow.RadForm.rfdLabel label, .RadForm_Glow.RadForm.rfdLabel .rfdAspLabel, .RadForm_Glow.RadForm.rfdTextbox input, .RadForm_Glow.RadForm.rfdTextarea textarea, .RadForm_Glow.RadForm.rfdFieldset fieldset, .RadForm_Glow.RadForm.rfdFieldset legend, .RadForm_Glow.RadForm .rfdSelect, .RadForm_Glow.RadForm.rfdHeading h4, .RadForm_Glow.RadForm.rfdHeading h5, .RadForm_Glow.RadForm.rfdHeading h6, .RadForm_Glow.RadForm .riTextBox, .RadForm_Glow.RadForm .rfdValidationSummaryControl, .RadForm_Glow.RadForm .rfdLoginControl {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2e8eb; }
  .RadForm_Glow.rfdZone {
    background-color: #29343b; }
  .RadForm_Glow.rfdHeading h4, .RadForm_Glow.rfdHeading h5, .RadForm_Glow.rfdHeading h6 {
    border-bottom-color: #d7d7d7; }
  .RadForm_Glow.RadForm.rfdFieldset fieldset {
    border-color: #192227;
    background-color: #1c262c; }
  .RadForm_Glow.RadForm.rfdFieldset legend {
    color: #e2e8eb; }
  .RadForm_Glow.RadForm.rfdLabel label, .RadForm_Glow.RadForm.rfdLabel .rfdAspLabel {
    line-height: 28px; }
  .RadForm_Glow.rfdRadio input[type="radio"] + label, .RadForm_Glow.rfdCheckbox input[type="checkbox"] + label,
  .RadForm_Glow legend > label,
  .RadForm_Glow legend > label {
    line-height: normal; }
  .RadForm_Glow .rfdSkinnedButton {
    padding: 0.25em 0.83333em 0.33333em;
    background-image: url('../Common/Gradients/radGradientDarkV20.png');
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    border-color: black;
    min-height: 2.1538em; }
  .RadForm_Glow .rfdSkinnedButton:hover {
    border-color: black;
    color: #e2e8eb;
    background-color: #2b363d;
    background-image: linear-gradient(#4e5960 0%, #2b363d 100%);
    box-shadow: inset 0 0 1px white; }
  .RadForm_Glow .rfdSkinnedButton:active,
  .RadForm_Glow .rfdClickedButton,
  .RadForm_Glow .rfdFocusedButton {
    border-color: black;
    color: white;
    background-color: #485258;
    background-image: linear-gradient(#485258 0%, #485258 100%);
    box-shadow: inset 0 0 1px white; }
  .RadForm_Glow .rfdSkinnedButton.rfdInputDisabled {
    border-color: #394145;
    color: #677277;
    background-color: #1d272d;
    background-image: linear-gradient(#2d363b 0%, #1d272d 100%); }
  .RadForm_Glow .rfdTextInput {
    padding: 0.33333em 0.41667em 0.41667em;
    min-height: 1.2307em; }
  .RadForm_Glow .rfdTextInput,
  .RadForm_Glow textarea {
    background-color: #29343b;
    color: white;
    border-color: #8a9297; }
  .RadForm_Glow .rfdTextInput:hover,
  .RadForm_Glow textarea:hover {
    background-color: #29343b;
    color: #f89d26;
    border-color: #f89d26; }
  .RadForm_Glow .rfdTextInput:active,
  .RadForm_Glow textarea:active,
  .RadForm_Glow .rfdTextInput:focus,
  .RadForm_Glow textarea:focus {
    background-color: #29343b;
    color: white;
    border-color: #f89d26; }
  .RadForm_Glow .rfdTextInput:disabled,
  .RadForm_Glow textarea:disabled {
    background-color: #29343b;
    color: #677277;
    border-color: #474f53; }
  .RadForm_Glow .rfdCheckboxChecked,
  .RadForm_Glow .rfdCheckboxUnchecked,
  .RadForm_Glow .rfdRadioChecked,
  .RadForm_Glow .rfdRadioUnchecked {
    line-height: normal; }
  .RadForm_Glow .rfdCheckboxChecked .rfdToggleImage,
  .RadForm_Glow .rfdCheckboxUnchecked .rfdToggleImage,
  .RadForm_Glow .rfdRadioChecked .rfdToggleImage,
  .RadForm_Glow .rfdRadioUnchecked .rfdToggleImage {
    background-image: url('../Glow/Common/radFormToggleSprite.png');
    _background-image: url('../Glow/Common/radFormToggleSpriteIE6.png');
    top: 0; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_Glow.rfdRadio input[type="radio"], .RadForm_Glow.rfdCheckbox input[type="checkbox"] {
      background-image: url('../Glow/Common/radFormToggleSprite.png'); } }
  .RadForm_Glow .rfdSelect_Glow {
    padding: 0.33333em 1.66667em 0.41667em 0.41667em;
    background-image: url('../Common/Gradients/radGradientDarkV20.png');
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%);
    border-color: black;
    min-height: 1.2307em; }
  .RadForm_Glow .rfdSelect_Glow:hover {
    background-image: url('../Common/Gradients/radGradientDarkV20.png');
    _background-image: none;
    border-color: black;
    color: #e2e8eb;
    background-color: #2b363d;
    background-image: linear-gradient(#4e5960 0%, #2b363d 100%);
    box-shadow: inset 0 0 1px white; }
  .RadForm_Glow .rfdSelect_Glow:active,
  .RadForm_Glow .rfdSelect_Glow:focus {
    background-image: url('../Common/Gradients/radGradientDarkV20.png');
    _background-image: none;
    border-color: black;
    color: white;
    background-color: #485258;
    background-image: linear-gradient(#485258 0%, #485258 100%);
    box-shadow: inset 0 0 1px white; }
  .RadForm_Glow .rfdSelect_Glow.rfdSelectDisabled,
  .RadForm_Glow .rfdSelect_Glow.rfdSelectDisabled:hover,
  .RadForm_Glow .rfdSelect_Glow.rfdSelectDisabled:active,
  .RadForm_Glow .rfdSelect_Glow.rfdSelectDisabled:focus {
    border-color: #394145;
    color: #677277;
    background-color: #1d272d;
    background-image: linear-gradient(#2d363b 0%, #1d272d 100%);
    box-shadow: none; }
  .RadForm_Glow .rfdDropDownArrow {
    width: 20px;
    height: 26px;
    background-image: url('../Glow/Common/radActionsSprite.png');
    _background-image: url('../Glow/Common/radActionsSpriteIE6.png');
    background-position: -15px -62px; }
  .RadForm_Glow.rfdScrollBars {
    /* scrollbar track background color */
    /* increment / decrement button settings */ }
    .RadForm_Glow.rfdScrollBars body::-webkit-scrollbar,
    .RadForm_Glow.rfdScrollBars body::-webkit-scrollbar-thumb:vertical,
    .RadForm_Glow.rfdScrollBars body::-webkit-scrollbar-thumb:horizontal,
    .RadForm_Glow.rfdScrollBars div::-webkit-scrollbar,
    .RadForm_Glow.rfdScrollBars div::-webkit-scrollbar-thumb:vertical,
    .RadForm_Glow.rfdScrollBars div::-webkit-scrollbar-thumb:horizontal
    form::-webkit-scrollbar,
    .RadForm_Glow.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
    .RadForm_Glow.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
      background-color: #35434b; }
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-track-piece,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-corner {
      background-color: #e6e6e6; }
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
      border-color: #192227;
      background-color: #35434b; }
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_Glow.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-image: url('../Glow/Common/radActionsSprite.png');
      _background-image: url('../Glow/Common/radActionsSpriteIE6.png');
      background-color: #35434b; }
  .RadForm_Glow.rfdScrollBars {
    scrollbar-3dlight-color: #8a9297;
    scrollbar-arrow-color: white;
    scrollbar-base-color: #29343b;
    scrollbar-darkshadow-color: #8a9297;
    scrollbar-face-color: #29343b;
    scrollbar-highlight-color: #29343b;
    scrollbar-shadow-color: #29343b;
    scrollbar-track-color: #29343b; }
  .RadForm_Glow.rfdGrids .rfdTable {
    border: 1px solid #192227;
    background: white;
    color: #1c262c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; }
  .RadForm_Glow.rfdGrids .rfdTable th {
    border-bottom: 1px solid #192227;
    border-left: 1px solid #d7d7d7;
    background-color: #1c262c;
    color: #e2e8eb; }
  .RadForm_Glow.rfdGrids .rfdTable a {
    color: #1c262c; }
  .RadForm_Glow .rfdValidationSummaryControl,
  .RadForm_Glow .rfdLoginControl {
    background-color: #35434b;
    border: 1px solid #192227; }
  .RadForm_Glow a.rfdLoginControl,
  .RadForm_Glow a.rfdLoginControl:active,
  .RadForm_Glow a.rfdLoginControl:visited {
    color: #1c262c; }
  .RadForm_Glow a.rfdLoginControl:hover {
    color: black; }

/* Listbox Styles */
/* Must be out of the SASS Box */
.rfdSelectBox_Glow {
  border-color: #192227;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 2em; }

.rfdSelectBox_Glow li {
  padding: 0.16667em 0.41667em;
  background-color: #242e35;
  color: #c1c7ca; }

.rfdSelectBox_Glow li:hover,
.rfdSelectBox_Glow .rfdSelect_hovered,
.rfdSelectBox.rfdSelectBox_Glow li:hover {
  color: white;
  background-color: #4d5c65; }

.rfdSelectBox_Glow .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_Glow .rfdSelect_selected:hover {
  color: black;
  background-color: #ffa915; }

.rfdSelectBox_Glow .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: #1c262c; }
