.RadListBox_Glow {
  color: #c1c7ca;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.69231em; }
.RadListBox_Glow .rlbButton {
  padding: 0.46154em;
  *padding: 5px;
  color: #e2e8eb;
  border-radius: 0.23077em;
  border-width: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  background-color: #1c262c;
  background-image: url('../Glow/Common/radGradientButtonSprite.png');
  background-image: linear-gradient(#414c53 0%, #1c262c 100%); }
  .RadListBox_Glow .rlbButton:hover {
    background-color: #2b363d;
    background-image: linear-gradient(#4e5960 0%, #2b363d 100%); }
  .RadListBox_Glow .rlbButton:active {
    background-color: #485258;
    background-image: linear-gradient(#485258 0%, #485258 100%); }
  .RadListBox_Glow .rlbButton.rlbDisabled {
    background-color: #1c262c;
    background-image: linear-gradient(#414c53 0%, #1c262c 100%); }
.RadListBox_Glow .rlbButtonAreaRight .rlbButton,
.RadListBox_Glow .rlbButtonAreaLeft .rlbButton {
  margin-bottom: 5px; }
.RadListBox_Glow .rlbButtonAreaTop li,
.RadListBox_Glow .rlbButtonAreaBottom li {
  margin-right: 5px; }
.RadListBox_Glow .rlbBottom .rlbButton {
  margin-top: 5px;
  margin-bottom: 0; }
.RadListBox_Glow .rlbNoButtonText.rlbButton {
  *width: 28px;
  *height: 28px; }
.RadListBox_Glow .rlbGroup {
  border-color: #8a9297;
  background-color: #242e35; }
.RadListBox_Glow .rlbItem {
  line-height: 1.76923em; }
  .RadListBox_Glow .rlbItem:hover, .RadListBox_Glow .rlbItem.rlbHovered {
    background-color: #4d5c65; }
  .RadListBox_Glow .rlbItem.rlbSelected {
    color: black;
    background-color: #ffa915; }
.RadListBox_Glow .rlbHighlight {
  background-color: #4d5c65; }
.RadListBox_Glow .rlbCheckAllItems {
  background-color: #1c262c; }
.RadListBox_Glow .rlbCheckAllItemsCheckBox,
.RadListBox_Glow .rlbCheck {
  margin-top: 0; }
.RadListBox_Glow .rlbTemplateContent {
  border-color: #8a9297;
  background-color: #242e35; }
.RadListBox_Glow .rlbHeader,
.RadListBox_Glow .rlbFooter {
  background-color: #1d262d;
  border-color: #1d262d; }
.RadListBox_Glow .rlbGroup .rlbDropClueAbove {
  border-top-color: #ffa915; }
.RadListBox_Glow .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #ffa915; }
.RadListBox_Glow .rlbGroup .rlbSelected.rlbDropClueAbove {
  border-top-color: #fff; }
.RadListBox_Glow .rlbGroup .rlbSelected.rlbDropClueBelow {
  border-bottom-color: #fff; }

.RadListBox_Glow.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_Glow.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.61538em; }

.RadListBox_Glow.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_Glow.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.61538em; }
