.RadMenu_Glow {
  font: 13px Arial, Helvetica, sans-serif;
  line-height: 2.30769em; }
  .RadMenu_Glow .rmGroup,
  .RadMenu_Glow .rmMultiColumn {
    color: #c1c7ca;
    border: 0;
    background-color: #242e35; }
  .RadMenu_Glow .rmRootGroup {
    color: #fff;
    border-color: #1a2831 #1a2831 #3d4951;
    background-color: #1c262c;
    background-image: linear-gradient(#404c54, #2b373d);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .RadMenu_Glow .rmRootGroup.rmVertical {
      background: #35434b;
      border-bottom: 0; }
  .RadMenu_Glow .rmHorizontal.rmGroup,
  .RadMenu_Glow .rmHorizontal .rmGroup {
    border-left: 1px solid #242e35;
    border-right: 1px solid #242e35; }
  .RadMenu_Glow .rmLink:hover,
  .RadMenu_Glow .rmVertical .rmLink.rmRootLink:hover,
  .RadMenu_Glow .rmSelected > .rmLink,
  .RadMenu_Glow .rmItem.rmFocused > .rmLink,
  .RadMenu_Glow .rmVertical .rmFocused > .rmRootLink.rmLink,
  .RadMenu_Glow .rmExpanded > .rmLink {
    color: #1c262c;
    background: #d18000 url('../Common/Gradients/radGradientLightV50.png') 0 0 repeat-x;
    _background-image: none;
    background-image: -webkit-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -moz-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -ms-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: -o-linear-gradient(top, #ffa800 0%, #d18000 100%);
    background-image: linear-gradient(top, #ffa800 0%, #d18000 100%); }
  .RadMenu_Glow .rmSlide .rmHorizontal li.rmSeparator {
    height: 2.15385em;
    margin: 0.15385em; }
  .RadMenu_Glow .rmScrollWrap .rmVertical > li.rmSeparator,
  .RadMenu_Glow .rmGroup.rmVertical > li.rmSeparator {
    margin: 0.15385em 0.53846em; }
  .RadMenu_Glow .rmIcon {
    line-height: 1.5em; }
  .RadMenu_Glow .rmShadows .rmGroup,
  .RadMenu_Glow .rmShadows .rmContentTemplate {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); }
  .RadMenu_Glow .rmArrow {
    border-color: #151b1e;
    background-color: #2a363c; }
    .RadMenu_Glow .rmArrow:hover {
      background-color: #20282d; }
  .RadMenu_Glow .rmRootGroup .rmItem {
    border-color: #2d3d46; }
  .RadMenu_Glow .rmRootGroup .rmLast {
    border: 0; }
  .RadMenu_Glow .rmRootGroup .rmContent {
    padding: .31em 1.15em .35em; }
  .RadMenu_Glow .rmRootGroup .rmRootLink .rmToggle {
    width: 2em;
    height: 2em;
    margin-right: -1.3em;
    top: 2px; }
  .RadMenu_Glow .rmRootGroup .rmRootLink .rmImage,
  .RadMenu_Glow .rmRootGroup .rmRootLink .rmLeftImage {
    margin-top: 0.5em; }
  .RadMenu_Glow .rmRootGroup.rmHorizontal .rmRootLink {
    padding: .308em 1.15em; }
  .RadMenu_Glow .rmRootGroup.rmHorizontal .rmRootLink:hover {
    padding-top: 0px;
    border-top: .31em solid #ffa915;
    color: #ffba43;
    background: #1e2930 url('../Common/Gradients/radGradientLightV50.png') 0 -20px repeat-x;
    _background-image: none;
    background: linear-gradient(#2f3a41, #1e2930); }
  .RadMenu_Glow .rmRootGroup.rmHorizontal .rmFocused > .rmRootLink {
    box-shadow: inset 0 4px 4px #222; }
  .RadMenu_Glow .rmRootGroup.rmHorizontal .rmDisabled .rmRootLink:hover {
    border-top: 0;
    margin-top: 0;
    padding-top: 0.308em; }
  .RadMenu_Glow .rmRootGroup.rmVertical .rmLink.rmRootLink {
    border-top: 0;
    padding-top: 0.25em;
    margin-top: 0; }
  .RadMenu_Glow .rmRootGroup a.rmRootLink {
    *color: #c1c7ca; }
  .RadMenu_Glow .rmRootGroup .rmSelected > .rmRootLink,
  .RadMenu_Glow .rmRootGroup .rmExpanded > .rmRootLink {
    padding-top: 0;
    color: #ffba43;
    border-top: .31em solid #ffa915;
    background: #1c262c linear-gradient(#1d272d, #242e35); }
  .RadMenu_Glow .rmRootGroup .rmDisabled .rmLink,
  .RadMenu_Glow .rmRootGroup .rmDisabled .rmLink:hover {
    color: #fff;
    background: transparent; }
  .RadMenu_Glow .rmRootGroup .rmSeparator {
    display: block;
    height: 38px;
    margin-left: -1px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #363f45 #3d4951 #242e35 #1a2831; }
  .RadMenu_Glow .rmPopup,
  .RadMenu_Glow .rmGroup {
    padding: 0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .RadMenu_Glow .rmPopup .rmItem,
    .RadMenu_Glow .rmGroup .rmItem {
      height: auto; }
    .RadMenu_Glow .rmPopup.rmVertical .rmFirst > .rmLink,
    .RadMenu_Glow .rmGroup.rmVertical .rmFirst > .rmLink {
      border-radius: 4px 4px 0 0; }
    .RadMenu_Glow .rmPopup.rmVertical .rmLast > .rmLink,
    .RadMenu_Glow .rmGroup.rmVertical .rmLast > .rmLink {
      border-radius: 0 0 4px 4px; }
    .RadMenu_Glow .rmPopup.rmHorizontal .rmFirst > .rmLink,
    .RadMenu_Glow .rmGroup.rmHorizontal .rmFirst > .rmLink {
      border-radius: 4px 0 0 4px; }
    .RadMenu_Glow .rmPopup.rmHorizontal .rmLast > .rmLink,
    .RadMenu_Glow .rmGroup.rmHorizontal .rmLast > .rmLink {
      border-radius: 0 4px 4px 0; }
    .RadMenu_Glow .rmPopup .rmTemplate,
    .RadMenu_Glow .rmGroup .rmTemplate {
      padding: 0; }
      .RadMenu_Glow .rmPopup .rmTemplate .rmContent,
      .RadMenu_Glow .rmGroup .rmTemplate .rmContent {
        padding: .20em 50px .20em 32px; }
    .RadMenu_Glow .rmPopup a.rmLink,
    .RadMenu_Glow .rmPopup span.rmLink,
    .RadMenu_Glow .rmGroup a.rmLink,
    .RadMenu_Glow .rmGroup span.rmLink {
      border-width: 0;
      padding-top: 0;
      padding-bottom: 0; }
    .RadMenu_Glow .rmPopup a.rmLink,
    .RadMenu_Glow .rmGroup a.rmLink {
      *color: #c1c7ca; }
    .RadMenu_Glow .rmPopup .rmLink:hover,
    .RadMenu_Glow .rmPopup .rmFocused > .rmLink,
    .RadMenu_Glow .rmPopup .rmExpanded > .rmLink,
    .RadMenu_Glow .rmGroup .rmLink:hover,
    .RadMenu_Glow .rmGroup .rmFocused > .rmLink,
    .RadMenu_Glow .rmGroup .rmExpanded > .rmLink {
      color: #1c262c;
      background: #d18000 url('../Common/Gradients/radGradientLightV50.png') 0 0 repeat-x;
      _background-image: none;
      background-image: -webkit-linear-gradient(top, #ffa800 0%, #d18000 100%);
      background-image: -moz-linear-gradient(top, #ffa800 0%, #d18000 100%);
      background-image: -ms-linear-gradient(top, #ffa800 0%, #d18000 100%);
      background-image: -o-linear-gradient(top, #ffa800 0%, #d18000 100%);
      background-image: linear-gradient(top, #ffa800 0%, #d18000 100%); }
    .RadMenu_Glow .rmPopup .rmFocused > .rmLink,
    .RadMenu_Glow .rmPopup .rmFocused > .rmLink .rmToggle,
    .RadMenu_Glow .rmGroup .rmFocused > .rmLink,
    .RadMenu_Glow .rmGroup .rmFocused > .rmLink .rmToggle {
      box-shadow: inset 0 0 3px 1px; }
    .RadMenu_Glow .rmPopup .rmSelected > .rmLink,
    .RadMenu_Glow .rmGroup .rmSelected > .rmLink {
      color: black;
      background-color: #ffa915;
      background-image: linear-gradient(#ffa915, #ffa915); }
    .RadMenu_Glow .rmPopup .rmToggle:hover,
    .RadMenu_Glow .rmGroup .rmToggle:hover {
      border-color: #d18000; }
    .RadMenu_Glow .rmPopup .rmExpanded > .rmLink .rmToggle,
    .RadMenu_Glow .rmGroup .rmExpanded > .rmLink .rmToggle {
      color: black;
      background-color: #ffa915;
      background-image: linear-gradient(#ffa915, #ffa915); }
  .RadMenu_Glow .rmSlide .rmVertical,
  .RadMenu_Glow .rmSlide .rmHorizontal,
  .RadMenu_Glow .rmSlide .rmScrollWrap .rmVertical {
    margin-left: 0;
    padding: 0; }
  .RadMenu_Glow .rmSlide .rmHorizontal .rmLink {
    line-height: 2.23077em; }
  .RadMenu_Glow .rmSlide .rmGroup .rmGroup,
  .RadMenu_Glow .rmVertical .rmVertical {
    border-top: 1px solid #232c32; }
  .RadMenu_Glow .rmContentTemplate {
    padding: 2px; }

.RadMenu_Glow_Context.rmRoundedCorners .rmGroup .rmSlide ul.rmGroup {
  padding: 0; }

.RadMenu_Glow_rtl .rmRootGroup .rmSeparator {
  margin: 0 -1px 0 0; }
.RadMenu_Glow_rtl .rmRootGroup .rmRootLink .rmToggle {
  margin-left: -1em;
  margin-right: 0; }
