.RadRibbonBar_Office2010Silver {
  font: 11px "Segoe UI", Arial, sans-serif; }
  .RadRibbonBar_Office2010Silver .rrbContentWrapIn {
    border-color: #a4abb2;
    background-color: #eaedf1;
    background-image: url('RibbonBar/rrbGradients.png'); }

.RadRibbonBar_Office2010Silver a.rrbCollapsedGroup span.rrbButtonMid .rrbButtonIn {
  background-position: 0 -1px; }

.RadRibbonBar_Office2010Silver span.rrbDecoration span.rrbButtonMid .rrbButtonIn {
  background-image: none; }

.RadRibbonBar_Office2010Silver .rrbContentWrapIn {
  background-color: #eaedf1; }

.RadRibbonBar_Office2010Silver .rrbButtonOut,
.RadRibbonBar_Office2010Silver .rrbButtonMid,
.RadRibbonBar_Office2010Silver .rrbButtonIn {
  border-color: transparent; }

.RadRibbonBar_Office2010Silver .rrbDecoration,
.RadRibbonBar_Office2010Silver .rrbDecoration .rrbButtonMid,
.RadRibbonBar_Office2010Silver .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_Office2010Silver .rrbCollapsedGroup .rrbButtonMid {
  background-color: #eaedf1;
  border-color: #a4abb2; }

.RadRibbonBar_Office2010Silver .rrbTabs {
  border-bottom-color: #a4abb2; }
.RadRibbonBar_Office2010Silver .rrbApplicationTab .rrbTabLabel {
  border-color: #a4abb2;
  color: #3b3b3b;
  background-color: #dbdde1; }
.RadRibbonBar_Office2010Silver .rrbHeaderBar {
  border-color: #9aa0a6;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Silver .rrbContextualTab .rrbContextualTabLabel {
  color: #ffffff;
  background-image: url('../Common/RibbonBar/rrbContextualTabSmoothTile.png');
  background-position: left 2px; }
.RadRibbonBar_Office2010Silver .rrbTab .rrbTabLabel {
  color: #3b3b3b;
  border-radius: 5px 5px 0 0; }
.RadRibbonBar_Office2010Silver .rrbHoveredTab .rrbTabLabel {
  border-color: #a4abb2; }
.RadRibbonBar_Office2010Silver .rrbSelectedTab .rrbTabLabel {
  color: #000000;
  border-color: #a4abb2;
  background: #ffffff; }
.RadRibbonBar_Office2010Silver .rrbMenu .rrbMenuLabel {
  color: #3b3b3b;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Silver .rrbToolTip {
  border-color: #a4abb2;
  border-radius: 3px;
  color: #3b3b3b;
  background-color: #e1e5e9;
  background-image: url('../Common/OrgChart/rocItemTileLight.png');
  _background-image: none; }
.RadRibbonBar_Office2010Silver .rrbToggleHandle {
  background-position: -2px -622px; }
.RadRibbonBar_Office2010Silver.rrbMinimized .rrbToggleHandle, .RadRibbonBar_Office2010Silver.rrbExtendedChromeMinimized .rrbToggleHandle {
  background-position: -2px -662px; }
.RadRibbonBar_Office2010Silver .rrbButtonArea {
  background-color: #ffffff;
  background-image: url('RibbonBar/rrbGradients.png'); }
.RadRibbonBar_Office2010Silver .rrbResizeHandle {
  background-position: -5px -885px; }
.RadRibbonBar_Office2010Silver .rrbGroupTitle {
  color: #666d7c;
  background-color: #eaedf1; }
.RadRibbonBar_Office2010Silver .rrbGroupLauncher {
  background-position: -6px -1926px; }
.RadRibbonBar_Office2010Silver .rrbButtonGroupIn {
  border-color: #a4abb2;
  border-radius: 3px;
  background-color: #eaedf1;
  background-image: url('RibbonBar/rrbGradients.png');
  background-position: 0 0; }
.RadRibbonBar_Office2010Silver .rrbButtonGroupHover .rrbButtonGroupIn {
  background-color: #eaedf1; }
.RadRibbonBar_Office2010Silver .rrbCollapsedGroup .rrbGroupToggleIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbCollapsedGroup .rrbGroupIcon {
  border-color: #a4abb2; }

.RadRibbonBar_Office2010Silver .rrbToggleHandle, .RadRibbonBar_Office2010Silver .rrbResizeHandle, .RadRibbonBar_Office2010Silver .rrbGroupLauncher, .RadRibbonBar_Office2010Silver .rrbCollapsedGroup .rrbGroupToggleIcon, .RadRibbonBar_Office2010Silver .rrbButtonOut .rrbIcon, .RadRibbonBar_Office2010Silver .rrbComboBox .rrbIcon,
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbIcon,
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbIcon,
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbIcon, .RadRibbonBar_Office2010Silver .rrbGalleryAction .rrbIcon, .rrbPopup_Office2010Silver .rrbMenuItem .rrbMIToggle .rrbIcon {
  background-image: url('Common/radActionsSprite.png'); }

.RadRibbonBar_Office2010Silver .rrbQatButton, .RadRibbonBar_Office2010Silver .rrbButtonOut, .RadRibbonBar_Office2010Silver .rrbSplitButton:hover .rrbButtonArrow {
  border-color: transparent;
  color: #3b3b3b;
  background-image: url('Common/radGradientButtonSprite.png');
  background-position: 0 1000px;
  _background-image: none;
  background-repeat: repeat-x; }

.RadRibbonBar_Office2010Silver .rrbButtonStripPart, .RadRibbonBar_Office2010Silver .rrbComboBox .rrbActionButton,
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbActionButton, .RadRibbonBar_Office2010Silver .rrbDropDown .rrbDDInner, .RadRibbonBar_Office2010Silver .rrbColorPicker .rrbCPInner, .RadRibbonBar_Office2010Silver .rrbGalleryAction {
  background-image: url('Common/radGradientButtonSprite.png');
  _background-image: none;
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #a4abb2;
  color: #3b3b3b;
  background-color: #dbdde1;
  background-image: -webkit-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
  background-image: -moz-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
  background-image: -ms-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
  background-image: -o-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
  background-image: linear-gradient(top, #f1f2f3 0%, #dbdde1 100%); }

.RadRibbonBar_Office2010Silver .rrbQatButton:hover, .RadRibbonBar_Office2010Silver .rrbButtonOut:hover, .RadRibbonBar_Office2010Silver .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_Office2010Silver .rrbSplitButton .rrbButtonArrow:hover,
.RadRibbonBar_Office2010Silver .rrbLargeButton .rrbSplitButton .rrbButtonTextHover + .rrbButtonArrow, .RadRibbonBar_Office2010Silver .rrbButtonStripPart:hover, .RadRibbonBar_Office2010Silver .rrbComboBox .rrbActionButton:hover,
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbActionButton:hover,
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbActionButton:hover,
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_Office2010Silver .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Office2010Silver .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Office2010Silver .rrbGalleryAction:hover, .RadRibbonBar_Office2010Silver .rrbGalleryItemHovered, .rrbSlide_Office2010Silver .rrbGalleryItemHovered {
  background-position: 0 -1000px\9;
  border-color: #f3d64a;
  color: black;
  background-color: #fcf5d9;
  background-image: -webkit-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -moz-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -ms-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: -o-linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%);
  background-image: linear-gradient(top, #fceaab 0%, #fae185 50%, #fcf5d9 100%); }

.RadRibbonBar_Office2010Silver .rrbQatButton:active, .RadRibbonBar_Office2010Silver .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_Office2010Silver .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_Office2010Silver .rrbButtonOut.rrbToggled, .RadRibbonBar_Office2010Silver .rrbExpanded .rrbSplitButton .rrbButtonArrow,
.RadRibbonBar_Office2010Silver .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Office2010Silver .rrbButtonStripPart:active,
.RadRibbonBar_Office2010Silver .rrbButtonStripPart.rrbButtonClicked,
.RadRibbonBar_Office2010Silver .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_Office2010Silver .rrbComboBox .rrbActionButton:active,
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbActionButton:active,
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbActionButton:active,
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_Office2010Silver .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Office2010Silver .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Office2010Silver .rrbGalleryAction:active, .RadRibbonBar_Office2010Silver .rrbGalleryItemSelected, .rrbSlide_Office2010Silver .rrbGalleryItemSelected {
  background-position: 0 -2000px\9;
  border-color: #c28b31;
  color: black;
  background-color: #ffef7c;
  background-image: -webkit-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -moz-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -ms-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: -o-linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%);
  background-image: linear-gradient(top, #ffe272 0%, #ffd86b 50%, #ffef7c 100%); }

.RadRibbonBar_Office2010Silver .rrbMenu, .RadRibbonBar_Office2010Silver .rrbMenuGroupMid, .rrbDropDownSlide_Office2010Silver .rrbPopup, .rrbSlide_Office2010Silver .rrbPopup, .rrbPopup_Office2010Silver, .rrbPopup_Office2010Silver .rrbPopup {
  border-color: #9aa0a6;
  color: #3b3b3b;
  background-color: white;
  border-color: #a4abb2;
  background-color: #f0f9ff; }

.RadRibbonBar_Office2010Silver .rrbMenu .rrbMenuItem, .RadRibbonBar_Office2010Silver .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_Office2010Silver .rrbMenuItem .rrbMIInner,
.rrbPopup_Office2010Silver .rrbMenuItem .rrbMIToggle {
  color: #3b3b3b;
  background-image: url('Common/radGradientListSprite.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  _background-image: none; }

.RadRibbonBar_Office2010Silver .rrbMenu .rrbMenuItem:hover,
.RadRibbonBar_Office2010Silver .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_Office2010Silver .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_Office2010Silver .rrbMIHovered > .rrbMIInner, .rrbPopup_Office2010Silver .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_Office2010Silver .rrbMIExpanded > .rrbMIInner {
  background-position: 0 -1000px\9;
  border-color: #f3d64a;
  color: #3b3b3b;
  background-color: #fdf6d9;
  background-image: -webkit-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -moz-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -ms-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: -o-linear-gradient(top, #fae185 0%, #fdf6d9 100%);
  background-image: linear-gradient(top, #fae185 0%, #fdf6d9 100%); }

.RadRibbonBar_Office2010Silver .rrbMenuGroupOut .rrbButtonOut.rrbExpanded,
.RadRibbonBar_Office2010Silver .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_Office2010Silver .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  background-position: 0 -2000px\9;
  border-color: #c28b31;
  color: black;
  background-color: #ffef7c;
  background-image: -webkit-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -moz-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -ms-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: -o-linear-gradient(top, #ffd86b 0%, #ffef7c 100%);
  background-image: linear-gradient(top, #ffd86b 0%, #ffef7c 100%); }

.RadRibbonBar_Office2010Silver .rrbButtonOut {
  border-radius: 3px; }
  .RadRibbonBar_Office2010Silver .rrbButtonOut .rrbIcon {
    background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbMenuGroupMid {
  box-shadow: 3px 2px 3px #888; }
.RadRibbonBar_Office2010Silver .rrbSplitButton:hover .rrbButtonArrow {
  border-color: #f3d64a;
  color: black;
  background-color: #fae185; }
.RadRibbonBar_Office2010Silver .rrbButtonStrip,
.RadRibbonBar_Office2010Silver .rrbButtonStrip:hover {
  background: none; }
.RadRibbonBar_Office2010Silver .rrbComboBox .rrbCBInner {
  border-color: #9aa0a6;
  background-color: white; }
.RadRibbonBar_Office2010Silver .rrbComboBox .rrbCBInput {
  color: #3b3b3b; }
.RadRibbonBar_Office2010Silver .rrbComboBox .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2010Silver .rrbDropDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbNTBInner {
  border-color: #9aa0a6;
  background-color: white; }
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbNTBInput {
  color: #3b3b3b; }
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -2px -402px; }
.RadRibbonBar_Office2010Silver .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbActionButton,
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2010Silver .rrbColorPicker .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2010Silver .rrbGallery {
  border-color: #a4abb2;
  background-color: #ffffff; }
.RadRibbonBar_Office2010Silver .rrbGalleryActionUp .rrbIcon {
  background-position: -2px -2px; }
.RadRibbonBar_Office2010Silver .rrbGalleryActionDown .rrbIcon {
  background-position: -2px -22px; }
.RadRibbonBar_Office2010Silver .rrbGalleryActionExpand .rrbIcon {
  background-position: -2px -182px; }
.RadRibbonBar_Office2010Silver .rrbCategoryTitle {
  color: #3b3b3b;
  background-color: #edeff2; }
.RadRibbonBar_Office2010Silver .rrbGalleryItemInner {
  color: #3b3b3b;
  background-color: white; }

.rrbDropDownSlide_Office2010Silver .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbDropDownSlide_Office2010Silver .rrbListItem:hover {
  color: #3b3b3b;
  background-color: #fae185; }

.rrbSlide_Office2010Silver .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbSlide_Office2010Silver .rrbGallery {
  background-color: #ffffff; }
.rrbSlide_Office2010Silver .rrbCategoryTitle {
  color: #3b3b3b;
  background-color: #edeff2; }
.rrbSlide_Office2010Silver .rrbGalleryItemInner {
  color: #3b3b3b;
  background-color: white; }

.rrbPopup_Office2010Silver {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rrbPopup_Office2010Silver .rrbHeaderBar {
    border-color: #a4abb2;
    color: #3b3b3b;
    background-color: #dbdde1;
    background-image: -webkit-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
    background-image: -moz-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
    background-image: -ms-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
    background-image: -o-linear-gradient(top, #f1f2f3 0%, #dbdde1 100%);
    background-image: linear-gradient(top, #f1f2f3 0%, #dbdde1 100%); }
  .rrbPopup_Office2010Silver .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-position: -2px -62px; }
  .rrbPopup_Office2010Silver .rrbDisabled > .rrbMIInner {
    color: #a4abb2;
    background-color: transparent; }
  .rrbPopup_Office2010Silver .rrbHeader {
    border-color: #c5c5c5;
    background: #ebebeb; }
  .rrbPopup_Office2010Silver .rrbAuxiliaryPane {
    background: #eeeeee;
    border-color: #8a8a8a; }
  .rrbPopup_Office2010Silver .rrbFooterPane {
    border-color: #c5c5c5;
    background: #ebebeb; }
