.RadTileList_Office2010Silver {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadTileList_Office2010Silver .rtlistGroupSeparatorVisible {
    background-color: #d1d5d8; }
