.ReminderDialog_Office2010Blue .rsRemList .rsLi:hover {
  color: #384e73;
  background-color: #fae185; }
.ReminderDialog_Office2010Blue .rsRemList .rsLiSelected,
.ReminderDialog_Office2010Blue .rsRemList .rsLiSelected:hover {
  color: #1e395b;
  background-color: #ffd86b; }
.ReminderDialog_Office2010Blue .rsRemSnoozePanel .rsLi:before {
  border-color: white;
  background-color: white;
  box-shadow: 0 0 1px #8e8e8e; }
.ReminderDialog_Office2010Blue .rsRemSnoozePanel .rsLi:hover:before {
  background-color: #8e8e8e; }
.ReminderDialog_Office2010Blue .rsRemSnoozePanel .rsLi:active:before {
  background-color: #515151; }
