.RadDropDownList_BlackMetroTouch {
  color: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_BlackMetroTouch .rddlInner {
    *height: 30px;
    border-color: #4e4e4e;
    color: white;
    background-color: #222222; }
  .RadDropDownList_BlackMetroTouch .rddlFakeInput {
    height: 30px;
    line-height: 30px; }
  .RadDropDownList_BlackMetroTouch .rddlEmptyMessage,
  .RadDropDownList_BlackMetroTouch .rddlDefaultMessage {
    color: #555555;
    font-style: italic; }
  .RadDropDownList_BlackMetroTouch .rddlIcon {
    width: 28px;
    height: 34px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownList_BlackMetroTouch .rddlHovered {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadDropDownList_BlackMetroTouch .rddlHovered .rddlIcon {
      background-position: -11px -58px; }
  .RadDropDownList_BlackMetroTouch .rddlFocused {
    border-color: #0082cc;
    color: white;
    background-color: #0082cc; }
    .RadDropDownList_BlackMetroTouch .rddlFocused .rddlIcon {
      background-position: -11px -58px; }
  .RadDropDownList_BlackMetroTouch .rddlDisabled {
    border-color: #2c2c2c;
    color: #555555;
    background-color: black; }
    .RadDropDownList_BlackMetroTouch .rddlDisabled .rddlIcon {
      background-position: -11px -58px;
      filter: alpha(opacity=50);
      opacity: .5; }

.rddlPopup_BlackMetroTouch {
  border-color: #333333;
  color: white;
  background: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddlPopup_BlackMetroTouch .rddlHeader,
  .rddlPopup_BlackMetroTouch rddlFooter {
    color: white;
    background-color: #202020; }
  .rddlPopup_BlackMetroTouch .rddlHeader {
    border-bottom-color: #333333; }
  .rddlPopup_BlackMetroTouch rddlFooter {
    border-top-color: #333333; }
  .rddlPopup_BlackMetroTouch .rddlItemHovered {
    color: white;
    background-color: #25a0da; }
  .rddlPopup_BlackMetroTouch .rddlItemSelected {
    color: white;
    background-color: #0082cc; }
  .rddlPopup_BlackMetroTouch .rddlItemDisabled {
    color: #555555;
    background-color: transparent; }
  .rddlPopup_BlackMetroTouch .rddlItemLoading {
    color: white;
    background-color: #25a0da; }
