.RadForm_BlackMetroTouch {
  /* CSS class for styling the decoration zone or the <html /> tag of the page */
  /* Decorate scrollbars */
  /* Decorate <h4|5|6 /> */
  /* Decorate <label /> */
  /* Decorate <input type="checkbox" />, <input type="radio" /> */
  /* <fieldset /> and <legend /> */
  /* this selector styles the hover of the side bars of the rounded elements */
  /* this fixes the height for text inputs as they have different height than the other skin */
  /* Decorate <input type="text | password | search | url | tel | email" /> and <textarea /> */
  /* For all browsers except IE6 we are using attribute selectors - single or double */
  /* Decorate <fieldset /> and <legend /> */
  /* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
  /* <select /> */
  /* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
  /* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */
  /* the scrollbar face color */
  /*GridView, FormView, DetailsView*/
  /* Validation Summary Control and Login Control  */ }
  .RadForm_BlackMetroTouch.rfdZone {
    background-color: black;
    color: white; }
  .RadForm_BlackMetroTouch.rfdZone label, .RadForm_BlackMetroTouch.rfdZone .rfdAspLabel {
    color: #000; }
  .RadForm_BlackMetroTouch.rfdScrollBars {
    scrollbar-3dlight-color: #666;
    scrollbar-arrow-color: #666;
    scrollbar-base-color: #666;
    scrollbar-darkshadow-color: #555;
    scrollbar-face-color: #444;
    scrollbar-highlight-color: #555;
    scrollbar-shadow-color: #666;
    scrollbar-track-color: #222; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextbox input[type="text"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input[type="password"], .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea[disabled]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input[disabled][type="text"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input[disabled][type="password"]:hover, .RadForm_BlackMetroTouch.RadForm .rfdCheckboxChecked, .RadForm_BlackMetroTouch.RadForm .rfdInputDisabled.rfdCheckboxChecked:hover, .RadForm_BlackMetroTouch.RadForm .rfdCheckboxUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdInputDisabled.rfdCheckboxUnchecked:hover, .RadForm_BlackMetroTouch.RadForm.rfdLabel label, .RadForm_BlackMetroTouch.RadForm .rfdAspLabel, .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdInputDisabled.rfdRadioUnchecked:hover, .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked:hover, .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked, .RadForm_BlackMetroTouch.RadForm .rfdInputDisabled.rfdRadioChecked:hover, .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked:hover, .RadForm_BlackMetroTouch.RadForm .riTextBox, .RadForm_BlackMetroTouch.RadForm .rfdValidationSummaryControl, .RadForm_BlackMetroTouch.RadForm .rfdLoginControl, .RadForm_BlackMetroTouch.RadForm legend,
  .RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch li,
  .RadForm_BlackMetroTouch .rfdSelectText, .RadForm_BlackMetroTouch.rfdGrids .rfdTable th, .RadForm_BlackMetroTouch.rfdGrids .rfdTable td {
    font-size: 16px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton {
    height: 34px;
    line-height: 34px;
    border: 1px solid #4e4e4e !important;
    background-color: #222222 !important;
    padding-right: 0 !important; }
  .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:hover {
    border: 1px solid #25a0da !important;
    background-color: #25a0da !important; }
  .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:active, .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:focus
  .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton {
    border: 1px solid #0082cc !important;
    background-color: #0082cc; }
  .RadForm_BlackMetroTouch.rfdButton.RadForm a.rfdInputDisabled, .RadForm_BlackMetroTouch.rfdButton.RadForm a.rfdInputDisabled:hover, .RadForm_BlackMetroTouch.rfdButton.RadForm a.rfdInputDisabled:active, .RadForm_BlackMetroTouch.rfdButton.RadForm a.rfdInputDisabled:focus
  .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton.rfdInputDisabled {
    border: 1px solid #4e4e4e !important;
    background-color: #222222 !important; }
  .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:active input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:focus input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:active input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:focus input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:active input.rfdDecorated[type="button"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton.rfdInputDisabled:focus input.rfdDecorated[type="button"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton.rfdInputDisabled input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton.rfdInputDisabled input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton.rfdInputDisabled input.rfdDecorated[type="button"] {
    background-color: #222222 !important;
    background-color: #4e4e4e;
    color: white !important; }
  .RadForm_BlackMetroTouch.rfdButton .rfdSkinnedButton input.rfdDecorated[type="button"], .RadForm_BlackMetroTouch.rfdButton .rfdSkinnedButton input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton .rfdSkinnedButton input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton .rfdSkinnedButton button, .RadForm_BlackMetroTouch.rfdButton a.rfdInputDisabled.rfdSkinnedButton:hover * {
    height: 34px;
    line-height: 34px;
    padding: 0 6px;
    font-size: 16px !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    outline: 0; }
  .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:active input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:focus input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:active input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:focus input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:active input.rfdDecorated[type="button"], .RadForm_BlackMetroTouch.rfdButton a.rfdSkinnedButton:focus input.rfdDecorated[type="button"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton input.rfdDecorated[type="submit"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton input.rfdDecorated[type="reset"], .RadForm_BlackMetroTouch.rfdButton a.rfdClickedButton input.rfdDecorated[type="button"] {
    background-color: #0082cc;
    color: white; }
  .RadForm_BlackMetroTouch.rfdHeading h4, .RadForm_BlackMetroTouch.rfdHeading h5, .RadForm_BlackMetroTouch.rfdHeading h6 {
    font-size: 18px;
    color: white;
    border-bottom: 1px solid transparent; }
  .RadForm_BlackMetroTouch.rfdLabel label, .RadForm_BlackMetroTouch.rfdLabel .rfdAspLabel, .RadForm_BlackMetroTouch.rfdRadio .rfdRadioUnchecked, .RadForm_BlackMetroTouch.rfdRadio .rfdRadioChecked, .RadForm_BlackMetroTouch.rfdCheckbox .rfdCheckboxUnchecked, .RadForm_BlackMetroTouch.rfdCheckbox .rfdCheckboxChecked {
    color: white; }
  .RadForm_BlackMetroTouch .rfdCheckboxUnchecked,
  .RadForm_BlackMetroTouch .rfdCheckboxChecked,
  .RadForm_BlackMetroTouch .rfdInputDisabled.rfdCheckboxUnchecked,
  .RadForm_BlackMetroTouch .rfdInputDisabled.rfdCheckboxChecked,
  .RadForm_BlackMetroTouch .rfdRadioUnchecked,
  .RadForm_BlackMetroTouch .rfdRadioChecked,
  .RadForm_BlackMetroTouch .rfdInputDisabled.rfdRadioUnchecked,
  .RadForm_BlackMetroTouch .rfdInputDisabled.rfdRadioChecked {
    background-image: url('FormDecorator/CheckBoxRadioSprites.png');
    _background-image: url('FormDecorator/CheckBoxRadioSpritesIE6.png');
    height: 22px;
    line-height: 28px !important;
    padding-left: 22px !important; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxUnchecked {
    background-position: 0 0; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxUnchecked:hover {
    background-position: 0 -40px; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxChecked {
    background-position: 0 -80px; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxChecked:hover {
    background-position: 0 -120px; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxUnchecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdCheckboxUnchecked.rfdInputDisabled:hover {
    background-position: 0 -160px; }
  .RadForm_BlackMetroTouch.RadForm .rfdCheckboxChecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdCheckboxChecked.rfdInputDisabled:hover {
    background-position: 0 -200px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked {
    background-position: 0 -320px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked:hover {
    background-position: 0 -360px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked {
    background-position: 0 -400px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked:hover {
    background-position: 0 -440px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRadioUnchecked.rfdInputDisabled:hover {
    background-position: 0 -480px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRadioChecked.rfdInputDisabled:hover {
    background-position: 0 -520px; }
  .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxChecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdInputDisabled.rfdCheckboxUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdInputDisabled.rfdCheckboxChecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioChecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdInputDisabled.rfdRadioUnchecked, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdInputDisabled.rfdRadioChecked {
    padding-right: 22px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdCheckboxUnchecked, .RadForm_BlackMetroTouch.rfdRtl .rfdCheckboxUnchecked,
  .RadForm_BlackMetroTouch .rfdRtl .rfdInputDisabled.rfdCheckboxUnchecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdInputDisabled.rfdCheckboxUnchecked:hover {
    background-position: right 0 !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdCheckboxUnchecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdCheckboxUnchecked:hover {
    background-position: right -40px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdCheckboxChecked, .RadForm_BlackMetroTouch.rfdRtl .rfdCheckboxChecked,
  .RadForm_BlackMetroTouch .rfdRtl .rfdInputDisabled.rfdCheckboxChecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdInputDisabled.rfdCheckboxChecked:hover {
    background-position: right -80px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdCheckboxChecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdCheckboxChecked:hover {
    background-position: right -120px !important; }
  .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxUnchecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxUnchecked.rfdInputDisabled:hover {
    background-position: right -160px !important; }
  .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxChecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdCheckboxChecked.rfdInputDisabled:hover {
    background-position: right -200px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdRadioUnchecked, .RadForm_BlackMetroTouch.rfdRtl .rfdRadioUnchecked,
  .RadForm_BlackMetroTouch .rfdRtl .rfdInputDisabled.rfdRadioUnchecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdInputDisabled.rfdRadioUnchecked:hover {
    background-position: right -320px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdRadioUnchecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdRadioUnchecked:hover {
    background-position: right -360px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdRadioChecked, .RadForm_BlackMetroTouch.rfdRtl .rfdRadioChecked,
  .RadForm_BlackMetroTouch .rfdRtl .rfdInputDisabled.rfdRadioChecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdInputDisabled.rfdRadioChecked:hover {
    background-position: right -400px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdRadioChecked:hover, .RadForm_BlackMetroTouch.rfdRtl .rfdRadioChecked:hover {
    background-position: right -440px !important; }
  .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioUnchecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioUnchecked.rfdInputDisabled:hover {
    background-position: right -480px !important; }
  .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioChecked.rfdInputDisabled, .RadForm_BlackMetroTouch.RadForm .rfdRtl .rfdRadioChecked.rfdInputDisabled:hover {
    background-position: right -520px !important; }
  .RadForm_BlackMetroTouch.rfdFieldset fieldset {
    border: 1px solid #4e4e4e;
    border-radius: 0; }
  .RadForm_BlackMetroTouch.rfdFieldset legend {
    text-transform: uppercase; }
  .RadForm_BlackMetroTouch.rfdFieldset table.rfdRoundedWrapper_fieldset legend, .RadForm_BlackMetroTouch.rfdFieldset fieldset legend,
  .RadForm_BlackMetroTouch fieldset.rfdFieldset legend {
    color: white; }
  .RadForm_BlackMetroTouch table.rfdRoundedWrapper:hover div.rfdRoundedInner {
    background-color: black;
    border-color: #4e4e4e !important; }
  .RadForm_BlackMetroTouch table.rfdRoundedWrapper:hover .rfdRoundedOuter {
    background-color: #25a0da !important; }
  .RadForm_BlackMetroTouch .rfdRoundedInner,
  .RadForm_BlackMetroTouch .rfdRoundedOuter {
    height: 32px !important; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="text"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="password"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="search"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="url"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="tel"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="email"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="text"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="password"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="search"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="url"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="tel"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[disabled][type="email"]:hover {
    border: 1px solid #4e4e4e;
    background-color: black;
    color: white;
    border-radius: 0;
    height: 31px;
    line-height: 31px;
    font-size: 16px; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="text"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="password"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="search"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="url"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="tel"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="email"], .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="text"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="password"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="search"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="url"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="tel"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox .riSingle input.rfdDecorated[disabled][type="email"]:hover {
    height: 36px; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea[disabled]:hover {
    border: 1px solid #4e4e4e;
    background-color: black;
    color: white;
    border-radius: 0;
    font-size: 16px; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="text"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="password"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="search"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="url"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="tel"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="email"]:hover, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea:hover {
    border: 1px solid #25a0da;
    background-color: 1px solid black; }
  .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="text"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="password"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="search"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="url"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="tel"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="email"]:active, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea:active, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="text"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="password"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="search"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="url"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="tel"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextbox input.rfdDecorated[type="email"]:focus, .RadForm_BlackMetroTouch.RadForm.rfdTextarea textarea:focus {
    border: 1px solid #2a2a2a;
    background-color: 1px solid black; }
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch.rfdFieldset fieldset.rfdFieldset legend {
    color: white; }
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset,
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch.rfdFieldset fieldset.rfdFieldset {
    border: 1px solid #4e4e4e; }
  .RadForm_BlackMetroTouch table.rfdRoundedWrapper input,
  .RadForm_BlackMetroTouch table.rfdRoundedWrapper textarea,
  .RadForm_BlackMetroTouch input.rfdInput,
  .RadForm_BlackMetroTouch textarea.rfdTextarea {
    border: 1px solid #4e4e4e;
    background-color: black;
    color: white; }
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch textarea.rfdTextarea,
  .RadForm_BlackMetroTouch .RadFormBlackMetroTouch table.rfdRoundedWrapper textarea {
    overflow: auto; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch .rfdSelectOuter,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover .rfdSelectOuter,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch .rfdSelectArrow span,
  .RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch .rfdSelect_selected,
  .RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch li:hover,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled:hover,
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch,
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch:hover,
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch .rfdSelectOuter,
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch .rfdSelectOuter:hover {
    background-image: url('FormDecorator/ComboSprites.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover {
    background-position: left -72px; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch .rfdSelectOuter,
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch.rfdSelectDisabled:hover .rfdSelectOuter {
    color: white;
    background-position: right -36px;
    height: 36px;
    line-height: 36px;
    min-width: 55px; }
  .RadForm_BlackMetroTouch .rfdSelect_BlackMetroTouch:hover .rfdSelectOuter {
    background-position: right -107px; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch {
    background-position: left -180px !important;
    padding-left: 30px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch .rfdSelectOuter {
    background-position: right -144px !important;
    min-width: 35px; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch:hover {
    background-position: left -251px !important; }
  .RadForm_BlackMetroTouch .rfdRtl .rfdSelect_BlackMetroTouch:hover .rfdSelectOuter {
    background-position: right -216px !important; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_BlackMetroTouch {
      /* checkboxes */ }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"], .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:hover, .RadForm_BlackMetroTouch.rfdRadio input[type="radio"], .RadForm_BlackMetroTouch.rfdRadio input[type="radio"][disabled="disabled"]:hover {
        height: 22px;
        line-height: 22px !important;
        padding-left: 22px !important;
        background-image: url('Common/radFormToggleSprite.png');
        background-repeat: no-repeat; }
      .RadForm_BlackMetroTouch.rfdCheckbox label, .RadForm_BlackMetroTouch.rfdRadio label {
        vertical-align: middle; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"] {
        background-repeat: no-repeat;
        background-position: 0 3px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:hover {
        background-position: -40px 3px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:checked {
        background-position: 0 -37px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"]:hover:checked {
        background-position: -40px -37px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled], .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:hover {
        background-position: 0 -117px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked, .RadForm_BlackMetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked:hover {
        background-position: 0 -157px; }
      .RadForm_BlackMetroTouch.rfdRadio input[type="radio"] {
        background-repeat: no-repeat;
        background-position: -80px 3px; }
      .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:hover {
        background-position: -120px 3px; }
      .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:checked {
        background-position: -80px -37px; }
      .RadForm_BlackMetroTouch.rfdRadio input[type="radio"]:hover:checked {
        background-position: -120px -37px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled], .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:hover {
        background-position: -80px -117px; }
      .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:checked, .RadForm_BlackMetroTouch.rfdCheckbox input[type="radio"][disabled]:checked:hover {
        background-position: -80px -157px; } }
  .RadForm_BlackMetroTouch.rfdScrollBars {
    /* scrollbar track background color */
    /* increment / decrement button settings */
    /* horizontal scroll left button */
    /* horizontal scroll right button */
    /* vertical scroll up button */
    /* vertical scroll down button */ }
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:horizontal,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:horizontal
    form::-webkit-scrollbar,
    .RadForm_BlackMetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
      background-color: #444; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-track-piece,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-corner {
      background-color: #222; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
      border-color: #666; }
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_BlackMetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-image: url('FormDecorator/ScrollArrows.png');
      background-color: #444; }
    .RadForm_BlackMetroTouch.rfdScrollBars.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement {
      background-position: 4px 4px; }
    .RadForm_BlackMetroTouch.rfdScrollBars.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-position: -7px 4px; }
    .RadForm_BlackMetroTouch.rfdScrollBars.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement {
      background-position: 3px -8px; }
    .RadForm_BlackMetroTouch.rfdScrollBars.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment {
      background-position: -9px -8px; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable {
    border: 1px solid #4e4e4e;
    background: black;
    color: white; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable th {
    border-bottom: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    background: black;
    height: 50px; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable a {
    color: #25a0da; }
  .RadForm_BlackMetroTouch.rfdGrids .rfdTable a:hover {
    text-decoration: none; }
  .RadForm_BlackMetroTouch .rfdValidationSummaryControl,
  .RadForm_BlackMetroTouch .rfdLoginControl {
    border-radius: 0;
    background-color: black;
    border: 1px solid #4e4e4e; }
  .RadForm_BlackMetroTouch a.rfdLoginControl,
  .RadForm_BlackMetroTouch a.rfdLoginControl:active,
  .RadForm_BlackMetroTouch a.rfdLoginControl:visited {
    color: white; }
  .RadForm_BlackMetroTouch a.rfdLoginControl:hover {
    color: white; }

/* dropdown settings */
.rfdSelectBox_BlackMetroTouch {
  background-color: black;
  color: white;
  border: 1px solid #4e4e4e;
  border-radius: 0; }

.rfdSelectBox_BlackMetroTouch li {
  height: 36px;
  line-height: 36px;
  padding: 0 8px 0 3px;
  background-image: none !important;
  font-size: 16px; }

.RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch li:hover,
.rfdSelectBox_BlackMetroTouch li:hover,
.rfdSelectBox_BlackMetroTouch .rfdSelect_hovered,
.RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch .rfdSelect_selected:hover,
.rfdSelectBox_BlackMetroTouch .rfdSelect_selected:hover {
  background-color: #25a0da; }

.RadForm_BlackMetroTouch .rfdSelectBox_BlackMetroTouch .rfdSelect_selected,
.rfdSelectBox_BlackMetroTouch .rfdSelect_selected {
  color: white;
  background-color: #0082cc; }

.rfdSelectBox_BlackMetroTouch .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: white; }
