.RadGrid_BlackMetroTouch {
  border: 1px solid #4e4e4e;
  background-color: black;
  /*grouping*/
  /*editing*/
  /*hierarchy*/
  /*command row*/ }
  .RadGrid_BlackMetroTouch, .RadGrid_BlackMetroTouch a, .RadGrid_BlackMetroTouch input {
    color: white; }
  .RadGrid_BlackMetroTouch .rgInput {
    background-color: black;
    border: 1px solid #4e4e4e;
    color: white; }
  .RadGrid_BlackMetroTouch,
  .RadGrid_BlackMetroTouch .rgMasterTable,
  .RadGrid_BlackMetroTouch .rgDetailTable,
  .RadGrid_BlackMetroTouch .rgGroupPanel table,
  .RadGrid_BlackMetroTouch .rgCommandRow table,
  .RadGrid_BlackMetroTouch .rgEditForm table,
  .RadGrid_BlackMetroTouch .rgPager table {
    font-weight: 100;
    font-size: 16px;
    line-height: 34px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadGrid_BlackMetroTouch .rgHeader:first-child,
  .RadGrid_BlackMetroTouch th.rgResizeCol:first-child,
  .RadGrid_BlackMetroTouch .rgFilterRow > td:first-child,
  .RadGrid_BlackMetroTouch .rgRow > td:first-child,
  .RadGrid_BlackMetroTouch .rgAltRow > td:first-child {
    border-left-width: 0;
    padding-left: 8px; }
  .RadGrid_BlackMetroTouch .rgSave,
  .RadGrid_BlackMetroTouch .rgUpdate,
  .RadGrid_BlackMetroTouch .rgCancel,
  .RadGrid_BlackMetroTouch .rgEdit,
  .RadGrid_BlackMetroTouch .rgDel,
  .RadGrid_BlackMetroTouch .rgExpand,
  .RadGrid_BlackMetroTouch .rgCollapse,
  .RadGrid_BlackMetroTouch .rgFilter,
  .RadGrid_BlackMetroTouch .rgAdd,
  .RadGrid_BlackMetroTouch .rgRefresh,
  .RadGrid_BlackMetroTouch .rgSortAsc,
  .RadGrid_BlackMetroTouch .rgSortDesc,
  .RadGrid_BlackMetroTouch .rgUngroup,
  .RadGrid_BlackMetroTouch .rgPagePrev,
  .RadGrid_BlackMetroTouch .rgPageNext,
  .RadGrid_BlackMetroTouch .rgPageFirst,
  .RadGrid_BlackMetroTouch .rgPageLast {
    background-image: url('Common/radActionsSprite.png');
    width: 21px;
    height: 21px; }
  .RadGrid_BlackMetroTouch .rgHeader,
  .RadGrid_BlackMetroTouch th.rgResizeCol,
  .RadGrid_BlackMetroTouch .rgHeaderWrapper,
  .RadGrid_BlackMetroTouch .rgMultiHeaderRow th.rgHeader,
  .RadGrid_BlackMetroTouch .rgMultiHeaderRow th.rgResizeCol {
    border: 0;
    border-bottom: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgHeaderDiv {
    border-right: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgHeaderWrapper {
    border-bottom: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch th.rgSorted {
    background-color: #0082cc; }
  .RadGrid_BlackMetroTouch .rgRow td,
  .RadGrid_BlackMetroTouch .rgAltRow td {
    border: 1px solid black; }
  .RadGrid_BlackMetroTouch .rgFooter td {
    border: 0; }
  .RadGrid_BlackMetroTouch .rgAltRow {
    background: #191919;
    border-color: #191919; }
  .RadGrid_BlackMetroTouch .rgAltRow td {
    border-color: #191919; }
  .RadGrid_BlackMetroTouch .rgMasterTable .rgSelectedCell,
  .RadGrid_BlackMetroTouch .rgSelectedRow {
    color: white;
    background: #25a0da; }
    .RadGrid_BlackMetroTouch .rgMasterTable .rgSelectedCell a,
    .RadGrid_BlackMetroTouch .rgSelectedRow a {
      color: white; }
    .RadGrid_BlackMetroTouch .rgMasterTable .rgSelectedCell td,
    .RadGrid_BlackMetroTouch .rgSelectedRow td {
      border-color: #25a0da; }
  .RadGrid_BlackMetroTouch .rgMasterTable .rgActiveCell,
  .RadGrid_BlackMetroTouch .rgActiveRow td {
    border-color: #25a0da; }
  .RadGrid_BlackMetroTouch .rgHoveredRow {
    background: #383838;
    color: white; }
    .RadGrid_BlackMetroTouch .rgHoveredRow td {
      border-color: #383838; }
    .RadGrid_BlackMetroTouch .rgHoveredRow a {
      color: white; }
  .RadGrid_BlackMetroTouch td.rgSorted {
    background: #191919;
    border-color: #191919;
    color: white; }
  .RadGrid_BlackMetroTouch .rgAltRow .rgSorted {
    background: #2b2b2b;
    border-color: #2b2b2b; }
  .RadGrid_BlackMetroTouch .rgEditRow {
    background: #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgDrag {
    background-image: url('Grid/rgDrag.gif');
    width: 25px;
    height: 25px; }
  .RadGrid_BlackMetroTouch .rgFooter td,
  .RadGrid_BlackMetroTouch .rgFooterWrapper {
    border-top: 1px solid;
    border-color: #999 #e4e4e4; }
  .RadGrid_BlackMetroTouch .rgPager .rgStatus {
    border: solid;
    border-color: #4e4e4e;
    border-width: 1px 0 0 0; }
  .RadGrid_BlackMetroTouch .rgStatus div {
    background-image: url('Common/loading_small.gif');
    width: 40px; }
  .RadGrid_BlackMetroTouch td.rgPagerCell {
    border-top: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgPager > td > table {
    height: 50px; }
  .RadGrid_BlackMetroTouch .rgPager .riTextBox, * + html .RadGrid_BlackMetroTouch .rgPager .riSingle .riTextBox, * + html .RadForm.RadForm_BlackMetroTouch .RadGrid_BlackMetroTouch .rgPager .riSingle input[type='text'].rfdDecorated {
    height: 29px;
    line-height: 29px; }
  .RadGrid_BlackMetroTouch .rgPager .riSingle .riTextBox {
    height: 36px; }
  .RadGrid_BlackMetroTouch .rgInfoPart {
    color: #777; }
  .RadGrid_BlackMetroTouch .rgInfoPart strong {
    color: white; }
  .RadGrid_BlackMetroTouch .rgWrap {
    line-height: 34px; }
  .RadGrid_BlackMetroTouch .rgPagePrev,
  .RadGrid_BlackMetroTouch .rgPageNext,
  .RadGrid_BlackMetroTouch .rgPageFirst,
  .RadGrid_BlackMetroTouch .rgPageLast {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #4e4e4e;
    background-color: #222222; }
    .RadGrid_BlackMetroTouch .rgPagePrev:hover,
    .RadGrid_BlackMetroTouch .rgPageNext:hover,
    .RadGrid_BlackMetroTouch .rgPageFirst:hover,
    .RadGrid_BlackMetroTouch .rgPageLast:hover {
      background-color: #25a0da;
      border-color: #25a0da; }
    .RadGrid_BlackMetroTouch .rgPagePrev:active,
    .RadGrid_BlackMetroTouch .rgPageNext:active,
    .RadGrid_BlackMetroTouch .rgPageFirst:active,
    .RadGrid_BlackMetroTouch .rgPageLast:active {
      border-color: #0082cc;
      background-color: #0082cc; }
  .RadGrid_BlackMetroTouch .rgPageFirst {
    background-position: -11px -711px; }
  .RadGrid_BlackMetroTouch .rgPagePrev {
    background-position: -11px -111px; }
  .RadGrid_BlackMetroTouch .rgPageNext {
    background-position: -11px -161px; }
  .RadGrid_BlackMetroTouch .rgPageLast {
    background-position: -11px -761px; }
  .RadGrid_BlackMetroTouch .rgPager .rgPagerButton {
    border-color: #4e4e4e;
    background: #222222;
    color: white;
    height: 36px;
    font-weight: 100;
    font-size: 16px;
    line-height: 34px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadGrid_BlackMetroTouch .rgNumPart a {
    border: 1px solid black;
    line-height: 28px;
    min-width: 28px;
    padding: 0;
    color: white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center; }
    .RadGrid_BlackMetroTouch .rgNumPart a:hover {
      background-color: #25a0da;
      border-color: #25a0da; }
    .RadGrid_BlackMetroTouch .rgNumPart a.rgCurrentPage, .RadGrid_BlackMetroTouch .rgNumPart a.rgCurrentPage:hover {
      border-color: #0082cc;
      background-color: #0082cc; }
  .RadGrid_BlackMetroTouch .rgNumPart span {
    float: none;
    padding: 0; }
  .RadGrid_BlackMetroTouch .rgPager .riTextBox {
    vertical-align: top; }
  .RadGrid_BlackMetroTouch .rgHeader .rgSortAsc,
  .RadGrid_BlackMetroTouch .rgHeader .rgSortDesc {
    height: 10px;
    float: left;
    margin: 12px 2px 0 0; }
  .RadGrid_BlackMetroTouch .rgHeader .rgSortAsc {
    background-position: -20px -20px; }
  .RadGrid_BlackMetroTouch .rgHeader .rgSortDesc {
    background-position: -20px -70px; }
  .RadGrid_BlackMetroTouch .rgFilterRow td {
    border-bottom: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgFilter {
    width: 36px;
    height: 36px;
    background-position: -8px -4508px;
    border: 1px solid #4e4e4e; }
    .RadGrid_BlackMetroTouch .rgFilter:hover {
      background-color: #222222; }
  .RadGrid_BlackMetroTouch .rgFiltered {
    background-position: -58px -4508px; }
  .RadGrid_BlackMetroTouch .rgFilterActive,
  .RadGrid_BlackMetroTouch .rgFilterActive:hover {
    background-color: #0082cc;
    border-color: #0082cc;
    background-position: -8px -4508px; }
  .RadGrid_BlackMetroTouch .rgFilterBox {
    border-color: #4e4e4e;
    background-color: black;
    font-weight: 100;
    font-size: 16px;
    line-height: 34px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    color: white;
    height: 29px; }
  .RadGrid_BlackMetroTouch .rgFilterRow .riSingle .riTextBox {
    height: 36px;
    vertical-align: top; }
  .RadGrid_BlackMetroTouch .rgGroupPanel {
    border: 0;
    border-bottom: 1px solid #333333;
    padding: 10px;
    height: 34px; }
  .RadGrid_BlackMetroTouch .rgGroupPanel td {
    border: 0;
    padding: 3px 4px; }
  .RadGrid_BlackMetroTouch .rgGroupPanel td td {
    padding: 0;
    color: #25a0da;
    line-height: 1px; }
  * + html .RadGrid_BlackMetroTouch .rgGroupPanel td td {
    line-height: 20px; }
  .RadGrid_BlackMetroTouch .rgGroupPanel .rgSortAsc {
    background-position: -14.5px -14.5px; }
  .RadGrid_BlackMetroTouch .rgGroupPanel .rgSortDesc {
    background-position: -14.5px -64.5px; }
  .RadGrid_BlackMetroTouch .rgUngroup {
    background-position: -14.5px -3364.5px; }
  .RadGrid_BlackMetroTouch .rgGroupItem {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #333333;
    color: white;
    padding: 0 5px 1px 10px; }
  .RadGrid_BlackMetroTouch .rgMasterTable td.rgGroupCol,
  .RadGrid_BlackMetroTouch .rgMasterTable td.rgExpandCol {
    border-color: #222222;
    background-color: #222222; }
  .RadGrid_BlackMetroTouch .rgGroupHeader {
    font-size: 1.1em;
    line-height: 34px;
    color: white; }
    .RadGrid_BlackMetroTouch .rgGroupHeader td {
      padding: 0;
      border-bottom: 1px solid #333333;
      background-color: #222222; }
  .RadGrid_BlackMetroTouch .rgExpand {
    background-position: -12px -168px; }
  .RadGrid_BlackMetroTouch .rgCollapse {
    background-position: -62px -68px; }
  .RadGrid_BlackMetroTouch .rgEditForm {
    border-bottom: 1px solid #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgUpdate {
    background-position: -12px -2612px; }
    .RadGrid_BlackMetroTouch .rgUpdate:active {
      background-position: -62px -2612px; }
  .RadGrid_BlackMetroTouch .rgCancel {
    background-position: -12px -2812px; }
    .RadGrid_BlackMetroTouch .rgCancel:active {
      background-position: -62px -2812px; }
  .RadGrid_BlackMetroTouch .rgDetailTable {
    border-color: #4e4e4e; }
  .RadGrid_BlackMetroTouch .rgCommandRow,
  .RadGrid_BlackMetroTouch .rgCommandRow a {
    text-decoration: none; }
  .RadGrid_BlackMetroTouch .rgCommandCell {
    border: 0;
    border-bottom: 1px solid #4e4e4e;
    padding: 0; }
  .RadGrid_BlackMetroTouch tfoot .rgCommandCell,
  .RadGrid_BlackMetroTouch .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
    border-top: 1px solid #4e4e4e;
    border-bottom: 0; }
  .RadGrid_BlackMetroTouch .rgCommandTable td {
    border: 0;
    padding: 2px 7px; }
  .RadGrid_BlackMetroTouch .rgCommandTable {
    border: 0; }
  .RadGrid_BlackMetroTouch .rgAdd,
  .RadGrid_BlackMetroTouch .rgRefresh {
    vertical-align: middle; }
  .RadGrid_BlackMetroTouch input.rgAdd,
  .RadGrid_BlackMetroTouch input.rgRefresh,
  .RadGrid_BlackMetroTouch .rgSave,
  .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid white;
    margin-right: 3px;
    width: 28px;
    height: 28px; }
    .RadGrid_BlackMetroTouch input.rgAdd:hover, .RadGrid_BlackMetroTouch input.rgAdd:active,
    .RadGrid_BlackMetroTouch input.rgRefresh:hover,
    .RadGrid_BlackMetroTouch input.rgRefresh:active,
    .RadGrid_BlackMetroTouch .rgSave:hover,
    .RadGrid_BlackMetroTouch .rgSave:active,
    .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel:hover,
    .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel:active {
      border: 1px solid #25a0da; }
  .RadGrid_BlackMetroTouch input.rgAdd {
    background-position: -12px -3012px; }
    .RadGrid_BlackMetroTouch input.rgAdd:hover, .RadGrid_BlackMetroTouch input.rgAdd:active {
      background-position: -62px -3012px; }
  .RadGrid_BlackMetroTouch input.rgRefresh {
    background-position: -12px -1312px; }
    .RadGrid_BlackMetroTouch input.rgRefresh:hover, .RadGrid_BlackMetroTouch input.rgRefresh:active {
      background-position: -62px -1312px; }
  .RadGrid_BlackMetroTouch .rgSave {
    background-position: -12px -4962px; }
    .RadGrid_BlackMetroTouch .rgSave:hover, .RadGrid_BlackMetroTouch .rgSave:active {
      background-position: -62px -4962px; }
  .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel {
    background-position: -12px -2812px; }
    .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel:hover, .RadGrid_BlackMetroTouch .rgCommandRow .rgCancel:active {
      background-position: -62px -2812px; }
  .RadGrid_BlackMetroTouch .rgEdit {
    margin-right: 3px;
    background-position: -12px -3112px; }
  .RadGrid_BlackMetroTouch .rgDel {
    margin-right: 3px;
    background-position: -12px -3312px; }
  .RadGrid_BlackMetroTouch .rgExpXLS,
  .RadGrid_BlackMetroTouch .rgExpDOC,
  .RadGrid_BlackMetroTouch .rgExpPDF,
  .RadGrid_BlackMetroTouch .rgExpCSV {
    background-image: url('../Common/Grid/export.gif'); }
  .RadGrid_BlackMetroTouch .rgExpXLS {
    background-position: 0 0; }
  .RadGrid_BlackMetroTouch .rgExpDOC {
    background-position: 0 -50px; }
  .RadGrid_BlackMetroTouch .rgExpPDF {
    background-position: 0 -100px; }
  .RadGrid_BlackMetroTouch .rgExpCSV {
    background-position: 0 -150px; }

.RadMenu_BlackMetroTouch .rgHCMClear,
.RadMenu_BlackMetroTouch .rgHCMFilter {
  border-color: #7e7e7e;
  background: #25a0da;
  color: white;
  font-family: "segoe ui",arial,sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.RadMenu_BlackMetroTouch .rgHCMClear:hover,
.RadMenu_BlackMetroTouch .rgHCMFilter:hover {
  border-color: #c98400;
  background-color: #ffe79c;
  color: #882501; }

.RadMenu_BlackMetroTouch_Context .rgFilterApply,
.RadMenu_BlackMetroTouch_Context .rgFilterCancel {
  border-color: #4e4e4e;
  color: white;
  background-color: #222222;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 36px; }

.RadMenu_BlackMetroTouch_Context .rlbCheck {
  margin-top: 10px; }

div.RadMenu_BlackMetroTouch_Context .rlbGroup {
  border-color: #333333; }

.GridContextMenu_BlackMetroTouch .rmLeftImage {
  background-image: url('../Common/Grid/contextMenu.gif'); }
.GridContextMenu_BlackMetroTouch .rgHCMSortAsc .rmLeftImage {
  background-position: 0 -20px; }
.GridContextMenu_BlackMetroTouch .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -60px; }
.GridContextMenu_BlackMetroTouch .rgHCMUnsort .rmLeftImage {
  background-position: 0 -100px; }
.GridContextMenu_BlackMetroTouch .rgHCMGroup .rmLeftImage {
  background-position: 0 -140px; }
.GridContextMenu_BlackMetroTouch .rgHCMUngroup .rmLeftImage {
  background-position: 0 -180px; }
.GridContextMenu_BlackMetroTouch .rgHCMCols .rmLeftImage {
  background-position: 0 -220px; }
.GridContextMenu_BlackMetroTouch .rgHCMFilter .rmLeftImage {
  background-position: 0 -260px; }
.GridContextMenu_BlackMetroTouch .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -300px; }

.GridReorderTop_BlackMetroTouch,
.GridReorderBottom_BlackMetroTouch {
  width: 1px;
  height: 30px;
  margin: 24px 0 0 -2px;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-color: rgba(255, 255, 255, 0.5);
  background: white !important; }

.GridReorderBottom_BlackMetroTouch {
  margin: -24px 0 0 -2px; }

.GridReorderBottom_BlackMetroTouch:after,
.GridReorderTop_BlackMetroTouch:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin-left: -5px;
  margin-top: -6px;
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #808080;
  border-bottom-width: 0;
  border-color: rgba(255, 255, 255, 0.5); }

.GridReorderBottom_BlackMetroTouch:after {
  border-top-width: 0;
  border-bottom-width: 1px;
  margin-top: 29px; }

/*multirow select*/
.rgCellSelectorArea_BlackMetroTouch,
.GridRowSelector_BlackMetroTouch {
  background: #4c4e54; }

/*row drag n drop*/
.GridItemDropIndicator_BlackMetroTouch {
  border-top: 1px dashed #666; }

/*tooltip*/
.GridToolTip_BlackMetroTouch {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333; }

/*rtl*/
.RadGridRTL_BlackMetroTouch .rgHeader:first-child,
.RadGridRTL_BlackMetroTouch th.rgResizeCol:first-child,
.RadGridRTL_BlackMetroTouch .rgFilterRow > td:first-child,
.RadGridRTL_BlackMetroTouch .rgRow > td:first-child,
.RadGridRTL_BlackMetroTouch .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }
.RadGridRTL_BlackMetroTouch .rgPageFirst {
  background-position: -11px -761px; }
.RadGridRTL_BlackMetroTouch .rgPagePrev {
  background-position: -11px -161px; }
.RadGridRTL_BlackMetroTouch .rgPageNext {
  background-position: -11px -111px; }
.RadGridRTL_BlackMetroTouch .rgPageLast {
  background-position: -11px -711px; }
.RadGridRTL_BlackMetroTouch .rgExpand {
  background-position: -112px -112px; }
