.RadTileList_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px; }
  .RadTileList_BlackMetroTouch .rtlistGroupSeparatorVisible {
    background-color: #13506d; }
