.RadTreeView_BlackMetroTouch {
  color: white;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 32px; }
  .RadTreeView_BlackMetroTouch li {
    line-height: 32px; }
  .RadTreeView_BlackMetroTouch .rtUL {
    color: white; }
  .RadTreeView_BlackMetroTouch .rtUL .rtUL {
    padding-left: 26px; }
  .RadTreeView_BlackMetroTouch .rtIn {
    padding: 0 10px;
    border: 0;
    display: inline-block;
    vertical-align: top; }
  .RadTreeView_BlackMetroTouch a.rtIn {
    *color: white; }
  .RadTreeView_BlackMetroTouch .rtHover .rtIn,
  .RadTreeView_BlackMetroTouch .rtSelected .rtIn {
    padding: 0 10px;
    border: 0; }
  .RadTreeView_BlackMetroTouch .rtHover .rtIn {
    color: white;
    background-color: #25a0da; }
  .RadTreeView_BlackMetroTouch .rtSelected .rtIn {
    color: white;
    background-color: #0082cc; }
  .RadTreeView_BlackMetroTouch .rtDisabled {
    opacity: .5; }
  .RadTreeView_BlackMetroTouch .rtSp {
    height: 32px; }
  .RadTreeView_BlackMetroTouch .rtChecked,
  .RadTreeView_BlackMetroTouch .rtUnchecked,
  .RadTreeView_BlackMetroTouch .rtIndeterminate {
    width: 15px;
    height: 15px;
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_BlackMetroTouch .rtPlus,
  .RadTreeView_BlackMetroTouch .rtMinus {
    margin: 5px 0 0 -22px;
    width: 22px;
    height: 22px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadTreeView_BlackMetroTouch .rtPlus,
  .RadTreeView_BlackMetroTouch .rtPlusHover {
    background-position: -14px -164px; }
  .RadTreeView_BlackMetroTouch .rtMinus,
  .RadTreeView_BlackMetroTouch .rtMinusHover {
    background-position: -64px -64px; }
  .RadTreeView_BlackMetroTouch .rtLines .rtLI,
  .RadTreeView_BlackMetroTouch .rtLines .rtLI .rtUL,
  .RadTreeView_BlackMetroTouch .rtLines .rtTop,
  .RadTreeView_BlackMetroTouch .rtLines .rtLast .rtTop,
  .RadTreeView_BlackMetroTouch .rtLines .rtMid,
  .RadTreeView_BlackMetroTouch .rtLines .rtBot {
    background-image: none; }
  .RadTreeView_BlackMetroTouch .rtTop,
  .RadTreeView_BlackMetroTouch .rtMid,
  .RadTreeView_BlackMetroTouch .rtBot {
    padding: 0 0 0 22px; }

.RadTreeView_BlackMetroTouch_rtl .rtUL .rtUL {
  padding-left: 0;
  padding-right: 26px; }
.RadTreeView_BlackMetroTouch_rtl .rtChecked,
.RadTreeView_BlackMetroTouch_rtl .rtUnchecked,
.RadTreeView_BlackMetroTouch_rtl .rtIndeterminate {
  background-repeat: no-repeat; }
.RadTreeView_BlackMetroTouch_rtl .rtPlus,
.RadTreeView_BlackMetroTouch_rtl .rtMinus {
  margin-left: 0;
  margin-right: -22px; }
.RadTreeView_BlackMetroTouch_rtl .rtPlus,
.RadTreeView_BlackMetroTouch_rtl .rtPlusHover {
  background-position: -14px -114px; }
.RadTreeView_BlackMetroTouch_rtl .rtMinus,
.RadTreeView_BlackMetroTouch_rtl .rtMinusHover {
  background-position: -64px -64px; }
.RadTreeView_BlackMetroTouch_rtl .rtTop,
.RadTreeView_BlackMetroTouch_rtl .rtMid,
.RadTreeView_BlackMetroTouch_rtl .rtBot {
  padding-left: 0;
  padding-right: 22px; }
