.RadSiteMap_Office2007 {
  color: black;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Office2007 .rsmManyLevels .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Office2007 .rsmTwoLevels .rsmLink, .RadSiteMap_Office2007 .rsmThreeLevels .rsmLink, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel1 .rsmLink {
    border-bottom: 0; }
  .RadSiteMap_Office2007 .rsmOneLevel .rsmLink, .RadSiteMap_Office2007 .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2007 .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel2 .rsmLink {
    border: 0;
    border-radius: 3px;
    color: #00156e; }
    .RadSiteMap_Office2007 .rsmOneLevel .rsmLink:hover, .RadSiteMap_Office2007 .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2007 .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #00156e;
      background-position: 0 -1000px; }
  .RadSiteMap_Office2007 .rsmLink,
  .RadSiteMap_Office2007 .rsmTemplate {
    color: #00156e; }
  .RadSiteMap_Office2007 .rsmLink {
    background-image: url('Common/radGradientListSprite.png'); }
  .RadSiteMap_Office2007 .rsmLink:hover {
    color: #000000; }
  .RadSiteMap_Office2007 .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }
