.RadMediaPlayer_Office2010Silver {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #3b3b3b; }
  .RadMediaPlayer_Office2010Silver .rmpToolbar,
  .RadMediaPlayer_Office2010Silver div.rmpToolbar a.rslDraghandle {
    color: #3b3b3b;
    background-image: linear-gradient(to bottom, rgba(241, 242, 244, 0.85) 0%, rgba(218, 221, 224, 0.85) 100%);
    border-color: #a4abb2; }
  .RadMediaPlayer_Office2010Silver div.rmpVolContrBar {
    background-image: linear-gradient(to bottom, rgba(218, 221, 224, 0.85) 0%, rgba(241, 242, 244, 0.85) 100%);
    border-color: #a4abb2; }
  .RadMediaPlayer_Office2010Silver .rmpSolidBgr div.rmpVolContrBar,
  .RadMediaPlayer_Office2010Silver .rmpSolidBgr .rmpToolbar {
    background-image: linear-gradient(to bottom, #eff6fd 0%, #d8e4f2 100%); }
  .RadMediaPlayer_Office2010Silver .rmpToolbar div.rslTrack {
    background: #c2c6cb;
    border: 1px solid #a4abb2; }
  .RadMediaPlayer_Office2010Silver div.rslHorizontal .rslTrack {
    background-image: linear-gradient(to bottom, #b3b9bf 0%, #dee1e3 100%); }
  .RadMediaPlayer_Office2010Silver div.rslVertical .rslTrack {
    width: 4px !important;
    background-image: linear-gradient(to right, #b3b9bf 0%, #dee1e3 100%); }
  .RadMediaPlayer_Office2010Silver .rmpToolbar div.rslSelectedregion {
    background: #fbd55e; }
  .RadMediaPlayer_Office2010Silver div.rslHorizontal .rslSelectedregion {
    background-image: linear-gradient(to bottom, #ffe37c 0%, #f7c840 100%); }
  .RadMediaPlayer_Office2010Silver div.rslVertical .rslSelectedregion {
    width: 4px;
    margin-top: -1px;
    background-image: linear-gradient(to right, #ffe37c 0%, #f7c840 100%); }
  .RadMediaPlayer_Office2010Silver .rmpLoadProgressBar {
    background-color: #a4abb2;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    *filter: alpha("opacity=80"); }
  .RadMediaPlayer_Office2010Silver div.rmpToolbar a.rslDraghandle {
    background-position: 0 0;
    border: 1px solid #a4abb2; }
    .RadMediaPlayer_Office2010Silver div.rmpToolbar a.rslDraghandle:hover, .RadMediaPlayer_Office2010Silver div.rmpToolbar a.rslDraghandle:active {
      background-image: linear-gradient(to bottom, #fcecb2 0%, #ffe175 50%, #fdf5d5 100%);
      background-position: 0 0;
      border-color: #f3d64a;
      box-shadow: 0 0 0 1px #fcf5d9 inset; }
  .RadMediaPlayer_Office2010Silver div.rslHorizontal a.rslDraghandle {
    width: 7px;
    height: 12px;
    margin-top: -4px; }
  .RadMediaPlayer_Office2010Silver div.rslVertical a.rslDraghandle {
    width: 10px;
    height: 7px;
    margin-left: -4px; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylist {
    background: #dbdfe4; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist li a {
      background: #dbdfe4;
      color: #3b3b3b; }
      .RadMediaPlayer_Office2010Silver .rmpPlaylist li a:hover {
        background: #afb5bc; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist li.rmpActive a {
      background: #ebe0b4; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #c5cad0;
      vertical-align: top; }
      .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #a4abb2; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylistVertical,
  .RadMediaPlayer_Office2010Silver .rmpPlaylistVerticalInside {
    border-left: 1px solid #a4abb2;
    border-right: 1px solid #a4abb2; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVertical li,
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVerticalInside li {
      border-top: 1px solid white;
      border-bottom: 1px solid #a4abb2; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Silver .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
      border: 1px solid #a4abb2;
      border-left: 0 none; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
    border-bottom: 1px solid #a4abb2; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylistHorizontal li {
    border-left: 1px solid white;
    border-right: 1px solid #a4abb2; }
    .RadMediaPlayer_Office2010Silver .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Office2010Silver .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #a4abb2;
    border-right: 1px solid #a4abb2; }
  .RadMediaPlayer_Office2010Silver .rmpBanner {
    border: 1px solid #a4abb2; }
    .RadMediaPlayer_Office2010Silver .rmpBanner .rmpActionButton {
      background: #a4abb2; }
  .RadMediaPlayer_Office2010Silver .rmpBigPlayButton,
  .RadMediaPlayer_Office2010Silver .rmpBigPauseButton {
    background: rgba(219, 223, 228, 0.6); }
  .RadMediaPlayer_Office2010Silver .rmpToolTip,
  .RadMediaPlayer_Office2010Silver .rmpBigPlayIcon,
  .RadMediaPlayer_Office2010Silver .rmpBigPauseIcon {
    background-image: url('../Office2010Silver/MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Office2010Silver .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Office2010Silver .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Office2010Silver .rmpToolTip {
    background-position: -123px -241px; }

._Telerik_IE9 .RadMediaPlayer_Office2010Silver div.rslVertical .rslSelectedregion {
  margin-top: 0; }

.RadMediaPlayer_Office2010Silver {
  font-size: 16px; }
  .RadMediaPlayer_Office2010Silver .rmpPlaylist .rmpTitle {
    font-size: 0.75em; }
  .RadMediaPlayer_Office2010Silver .rmpToolbar .rmpActionButton {
    color: #6b6d6f; }
    .RadMediaPlayer_Office2010Silver .rmpToolbar .rmpActionButton:hover,
    .RadMediaPlayer_Office2010Silver .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: #333333; }
  .RadMediaPlayer_Office2010Silver .rmpSocialShareBox {
    background-color: #dbdfe4; }
  .RadMediaPlayer_Office2010Silver .sshLinkItem {
    color: #3b3b3b;
    border-color: #a4abb2;
    color: #3b3b3b;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3 0%, #dbdde1 100%); }
    .RadMediaPlayer_Office2010Silver .sshLinkItem:active, .RadMediaPlayer_Office2010Silver .sshLinkItem:hover {
      color: black; }
