.RadSiteMap_Sunset {
  color: #272722;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Sunset .rsmManyLevels .rsmLink {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #cabaab;
    background-color: #e1dac7; }
  .RadSiteMap_Sunset .rsmTwoLevels .rsmLink, .RadSiteMap_Sunset .rsmThreeLevels .rsmLink, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel1 .rsmLink {
    border: 0;
    color: #ba3d01;
    background-color: transparent; }
    .RadSiteMap_Sunset .rsmTwoLevels .rsmLink:hover, .RadSiteMap_Sunset .rsmThreeLevels .rsmLink:hover, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel1 .rsmLink:hover {
      color: #863d02; }
  .RadSiteMap_Sunset .rsmOneLevel .rsmLink, .RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel2 .rsmLink {
    border: 0;
    border-radius: 3px;
    color: #272722;
    background-color: transparent; }
    .RadSiteMap_Sunset .rsmOneLevel .rsmLink:hover, .RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #333333;
      background-position: 0 -1000px; }
  .RadSiteMap_Sunset .rsmLink,
  .RadSiteMap_Sunset .rsmTemplate {
    color: #272722; }
  .RadSiteMap_Sunset .rsmLink {
    background-image: url('Common/radGradientListSprite.png'); }
  .RadSiteMap_Sunset .rsmLink:hover {
    color: #000000; }
