.RadComboBox_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.875em; }
  .RadComboBox_MetroTouch .rcbInner {
    height: 2.25em;
    padding-right: 2em;
    *height: 30px;
    border-color: #cdcdcd;
    color: black;
    background-color: white; }
  .RadComboBox_MetroTouch .rcbToggleButtonHidden {
    padding-right: 0.3125em;
    padding-left: 0.3125em; }
  .RadComboBox_MetroTouch .rcbInput {
    height: 2em;
    color: black;
    line-height: 2em; }
  .RadComboBox_MetroTouch .rcbEmptyMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadComboBox_MetroTouch .rcbActionButton {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    width: 2em; }
    .RadComboBox_MetroTouch .rcbActionButton .rcbIcon {
      *background-image: url('../MetroTouch/Common/radMetroTouchSprite.png');
      *background-position: -17px -67px; }
    .RadComboBox_MetroTouch .rcbActionButton .rcbIconDown:before {
      content: "\E002";
      line-height: 1.40625em; }
  .RadComboBox_MetroTouch .rcbHovered {
    border-color: #767676;
    color: black;
    background-color: white; }
    .RadComboBox_MetroTouch .rcbHovered .rcbInput {
      color: black; }
    .RadComboBox_MetroTouch .rcbHovered .rcbActionButton {
      border-color: #cdcdcd;
      color: black;
      background-color: #e8e8e8; }
      .RadComboBox_MetroTouch .rcbHovered .rcbActionButton .rcbIcon {
        background-position: -17px -67px; }
  .RadComboBox_MetroTouch .rcbFocused {
    border-color: #25a0da;
    color: black;
    background-color: white; }
    .RadComboBox_MetroTouch .rcbFocused .rcbInput {
      color: black; }
    .RadComboBox_MetroTouch .rcbFocused .rcbActionButton {
      border-color: #25a0da;
      color: white;
      background-color: #25a0da; }
      .RadComboBox_MetroTouch .rcbFocused .rcbActionButton .rcbIcon {
        background-position: -117px -67px; }
  .RadComboBox_MetroTouch .rcbDisabled .rcbInput {
    color: #c5c5c5; }
  .RadComboBox_MetroTouch .rcbDisabled .rcbActionButton {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
    .RadComboBox_MetroTouch .rcbDisabled .rcbActionButton .rcbIcon {
      background-position: -17px -67px; }
  .RadComboBox_MetroTouch .rcbReadOnly {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
    .RadComboBox_MetroTouch .rcbReadOnly .rcbInput {
      color: black; }
  .RadComboBox_MetroTouch .rcbReadOnly.rcbHovered {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
    .RadComboBox_MetroTouch .rcbReadOnly.rcbHovered .rcbInput {
      color: black; }
  .RadComboBox_MetroTouch .rcbReadOnly.rcbFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadComboBox_MetroTouch .rcbReadOnly.rcbFocused .rcbInput {
      color: white; }
  .RadComboBox_MetroTouch .rcbReadOnly.rcbDisabled {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
    .RadComboBox_MetroTouch .rcbReadOnly.rcbDisabled .rcbInput {
      color: #c5c5c5; }

.RadComboBox_MetroTouch_rtl .rcbInner {
  padding-right: 0.3125em;
  padding-left: 2em; }
.RadComboBox_MetroTouch_rtl .rcbToggleButtonHidden {
  padding-right: 0.3125em;
  padding-left: 0.3125em; }

.RadComboBoxDropDown_MetroTouch {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2.125em; }
  .RadComboBoxDropDown_MetroTouch .rcbHeader,
  .RadComboBoxDropDown_MetroTouch .rcbFooter {
    color: black;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_MetroTouch .rcbHeader {
    border-bottom-color: #cdcdcd; }
  .RadComboBoxDropDown_MetroTouch .rcbFooter {
    border-top-color: #cdcdcd; }
  .RadComboBoxDropDown_MetroTouch .rcbHovered {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_MetroTouch .rcbDisabled {
    color: #c5c5c5; }
  .RadComboBoxDropDown_MetroTouch .rcbLoading {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_MetroTouch .rcbItem em,
  .RadComboBoxDropDown_MetroTouch .rcbHovered em {
    color: black;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_MetroTouch .rcbCheckAllItems {
    color: black;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_MetroTouch .rcbCheckAllItemsHovered {
    color: black;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_MetroTouch .rcbMoreResults {
    border-top-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
    .RadComboBoxDropDown_MetroTouch .rcbMoreResults a {
      background-image: url('../MetroTouch/Common/radMetroTouchSprite.png');
      _background-image: url('../MetroTouch/Common/radMetroTouchSprite.png');
      background-position: -17.5px -70.5px; }
  .RadComboBoxDropDown_MetroTouch .rcbSeparator {
    color: #ffffff;
    background: #8a8a8a; }
