.RadDropDownList_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2.125em; }
  .RadDropDownList_MetroTouch .rddlInner {
    height: 2.25em;
    padding-right: 2em;
    *height: 1.875em;
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .RadDropDownList_MetroTouch .rddlFakeInput {
    height: 1.875em;
    line-height: 1.875em; }
  .RadDropDownList_MetroTouch .rddlEmptyMessage,
  .RadDropDownList_MetroTouch .rddlDefaultMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadDropDownList_MetroTouch .rddlIcon {
    width: 1.09375em;
    *width: 28px;
    height: 1.32813em;
    *height: 34px;
    *margin-top: -17px;
    *background-image: url('../MetroTouch/Common/radActionsSprite.png');
    *background-position: -11px -58px;
    line-height: 1.32813em; }
    .RadDropDownList_MetroTouch .rddlIcon:before {
      content: "\e002"; }
  .RadDropDownList_MetroTouch .rddlHovered {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
    .RadDropDownList_MetroTouch .rddlHovered .rddlIcon {
      background-position: -11px -58px; }
      .RadDropDownList_MetroTouch .rddlHovered .rddlIcon:before {
        color: #000; }
  .RadDropDownList_MetroTouch .rddlFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadDropDownList_MetroTouch .rddlFocused .rddlIcon {
      background-position: -111px -58px; }
      .RadDropDownList_MetroTouch .rddlFocused .rddlIcon:before {
        color: #000; }
  .RadDropDownList_MetroTouch .rddlDisabled {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
    .RadDropDownList_MetroTouch .rddlDisabled .rddlIcon {
      background-position: -11px -58px;
      filter: alpha(opacity=50);
      opacity: .5; }

.rddlPopup_MetroTouch {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2.125em; }
  .rddlPopup_MetroTouch .rddlHeader,
  .rddlPopup_MetroTouch rddlFooter {
    color: black;
    background-color: #f9f9f9; }
  .rddlPopup_MetroTouch .rddlHeader {
    border-bottom-color: #cdcdcd; }
  .rddlPopup_MetroTouch rddlFooter {
    border-top-color: #cdcdcd; }
  .rddlPopup_MetroTouch .rddlItemHovered {
    color: black;
    background-color: #e8e8e8; }
  .rddlPopup_MetroTouch .rddlItemSelected {
    color: white;
    background-color: #25a0da; }
  .rddlPopup_MetroTouch .rddlItemDisabled {
    color: #c5c5c5; }
  .rddlPopup_MetroTouch .rddlItemLoading {
    color: black;
    background-color: #e8e8e8; }
