.RadForm_MetroTouch {
  background-color: white;
  font-size: 16px;
  /* Remove rounded corners */
  /* Change font size */
  /* button styles */
  /* Checkbox and radiobutton */
  /* Webkit provides full support for checkbox and radiobutton */
  /* DropDown Styles */
  /* Skin-specific Scrollbar Settings for WebKit  */
  /* the scrollbar face color */
  /* IE Scrollbars */
  /*GridView, FormView, DetailsView*/
  /* Validation Summary Control and Login Control  */ }
  .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdTextInput, .RadForm_MetroTouch.RadForm.rfdRoundedCorners textarea, .RadForm_MetroTouch.RadForm.rfdRoundedCorners fieldset, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSkinnedButton, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox ul, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSelect, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSelectBox li:first-child, .RadForm_MetroTouch.RadForm.rfdRoundedCorners legend, .RadForm_MetroTouch.RadForm.rfdRoundedCorners .rfdSelectBoxDropDown {
    border-radius: 0; }
  .RadForm_MetroTouch.RadForm .rfdSkinnedButton, .RadForm_MetroTouch.RadForm .rfdTextInput, .RadForm_MetroTouch.RadForm.rfdLabel label, .RadForm_MetroTouch.RadForm.rfdLabel .rfdAspLabel, .RadForm_MetroTouch.RadForm.rfdTextbox input, .RadForm_MetroTouch.RadForm.rfdTextarea textarea, .RadForm_MetroTouch.RadForm.rfdFieldset fieldset, .RadForm_MetroTouch.RadForm.rfdFieldset legend, .RadForm_MetroTouch.RadForm .rfdSelect, .RadForm_MetroTouch.RadForm.rfdHeading h4, .RadForm_MetroTouch.RadForm.rfdHeading h5, .RadForm_MetroTouch.RadForm.rfdHeading h6, .RadForm_MetroTouch.RadForm .riTextBox, .RadForm_MetroTouch.RadForm .rfdValidationSummaryControl, .RadForm_MetroTouch.RadForm .rfdLoginControl {
    font-size: 16px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    color: black; }
  .RadForm_MetroTouch.RadForm.rfdHeading h4 {
    font-size: 18px; }
  .RadForm_MetroTouch.RadForm h5 {
    font-size: 17px; }
  .RadForm_MetroTouch.RadForm h6 {
    font-size: 16px; }
  .RadForm_MetroTouch.rfdZone {
    background-color: white; }
  .RadForm_MetroTouch.rfdHeading h4, .RadForm_MetroTouch.rfdHeading h5, .RadForm_MetroTouch.rfdHeading h6 {
    border-bottom-color: #cdcdcd; }
  .RadForm_MetroTouch.RadForm.rfdFieldset fieldset {
    border-color: #cdcdcd;
    background-color: white; }
  .RadForm_MetroTouch.RadForm.rfdLabel label, .RadForm_MetroTouch.RadForm.rfdLabel .rfdAspLabel {
    line-height: 32px; }
  .RadForm_MetroTouch.rfdRadio input[type="radio"] + label, .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"] + label,
  .RadForm_MetroTouch legend > label,
  .RadForm_MetroTouch legend > label {
    line-height: normal; }
  .RadForm_MetroTouch .rfdSkinnedButton {
    padding: 0.25em 0.625em 0.33333em 0.625em;
    background-color: #f9f9f9;
    border-color: #cdcdcd;
    color: black;
    min-height: 2.1875em; }
  .RadForm_MetroTouch .rfdSkinnedButton:hover {
    background-color: #e8e8e8;
    border-color: #cdcdcd;
    color: black; }
  .RadForm_MetroTouch .rfdSkinnedButton:active,
  .RadForm_MetroTouch .rfdClickedButton,
  .RadForm_MetroTouch .rfdFocusedButton {
    background-color: #007acc;
    border-color: #25a0da;
    color: white; }
  .RadForm_MetroTouch .rfdSkinnedButton.rfdInputDisabled {
    background-color: white;
    border-color: #e0e0e0;
    color: #c5c5c5; }
  .RadForm_MetroTouch .rfdTextInput {
    padding: 0.33333em 0.625em; }
  .RadForm_MetroTouch .rfdTextInput,
  .RadForm_MetroTouch textarea {
    background-color: white;
    color: black;
    border-color: #cdcdcd; }
  .RadForm_MetroTouch .rfdTextInput:hover,
  .RadForm_MetroTouch textarea:hover {
    background-color: white;
    color: black;
    border-color: #767676; }
  .RadForm_MetroTouch .rfdTextInput:active,
  .RadForm_MetroTouch textarea:active,
  .RadForm_MetroTouch .rfdTextInput:focus,
  .RadForm_MetroTouch textarea:focus {
    background-color: white;
    color: black;
    border-color: #25a0da; }
  .RadForm_MetroTouch .rfdTextInput:disabled,
  .RadForm_MetroTouch textarea:disabled {
    background-color: white;
    color: #c5c5c5;
    border-color: #e0e0e0; }
  .RadForm_MetroTouch .rfdCheckboxChecked,
  .RadForm_MetroTouch .rfdCheckboxUnchecked,
  .RadForm_MetroTouch .rfdRadioChecked,
  .RadForm_MetroTouch .rfdRadioUnchecked {
    line-height: normal; }
  .RadForm_MetroTouch label.rfdCheckboxChecked .rfdToggleImage,
  .RadForm_MetroTouch label.rfdCheckboxUnchecked .rfdToggleImage,
  .RadForm_MetroTouch label.rfdRadioChecked .rfdToggleImage,
  .RadForm_MetroTouch label.rfdRadioUnchecked .rfdToggleImage {
    background-image: url('../MetroTouch/Common/radFormToggleSprite.png');
    _background-image: url('../MetroTouch/Common/radFormToggleSpriteIE6.png');
    top: 4px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_MetroTouch.rfdRadio input[type="radio"], .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"] {
      background-image: url('../MetroTouch/Common/radFormToggleSprite.png'); }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"] {
      background-repeat: no-repeat;
      background-position: 0 3px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"]:hover {
      background-position: -40px 3px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"]:checked {
      background-position: 0 -37px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"]:hover:checked {
      background-position: -40px -37px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"][disabled], .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"][disabled]:hover {
      background-position: 0 -117px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked, .RadForm_MetroTouch.rfdCheckbox input[type="checkbox"][disabled]:checked:hover {
      background-position: 0 -157px; }
    .RadForm_MetroTouch.rfdRadio input[type="radio"] {
      background-repeat: no-repeat;
      background-position: -80px 3px; }
    .RadForm_MetroTouch.rfdRadio input[type="radio"]:hover {
      background-position: -120px 3px; }
    .RadForm_MetroTouch.rfdRadio input[type="radio"]:checked {
      background-position: -80px -37px; }
    .RadForm_MetroTouch.rfdRadio input[type="radio"]:hover:checked {
      background-position: -120px -37px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="radio"][disabled], .RadForm_MetroTouch.rfdCheckbox input[type="radio"][disabled]:hover {
      background-position: -80px -117px; }
    .RadForm_MetroTouch.rfdCheckbox input[type="radio"][disabled]:checked, .RadForm_MetroTouch.rfdCheckbox input[type="radio"][disabled]:checked:hover {
      background-position: -80px -157px; } }
  .RadForm_MetroTouch .rfdSelect_MetroTouch {
    padding: 0.33333em 1.66667em 0.33333em 0.625em;
    background-color: #f9f9f9;
    border-color: #cdcdcd;
    color: black;
    min-height: 1.4375em; }
  .RadForm_MetroTouch .rfdSelect_MetroTouch:hover {
    border-color: #cdcdcd;
    color: black; }
  .RadForm_MetroTouch .rfdSelect_MetroTouch:active,
  .RadForm_MetroTouch .rfdSelect_MetroTouch:focus {
    border-color: #25a0da;
    color: black; }
  .RadForm_MetroTouch .rfdSelect_MetroTouch.rfdSelectDisabled,
  .RadForm_MetroTouch .rfdSelect_MetroTouch.rfdSelectDisabled:hover,
  .RadForm_MetroTouch .rfdSelect_MetroTouch.rfdSelectDisabled:active,
  .RadForm_MetroTouch .rfdSelect_MetroTouch.rfdSelectDisabled:focus {
    background-color: white;
    border-color: #e0e0e0;
    color: #c5c5c5; }
  .RadForm_MetroTouch .rfdDropDownArrow {
    width: 29px;
    height: 34px;
    background-image: url('../MetroTouch/Common/radActionsSprite.png');
    _background-image: url('../MetroTouch/Common/radActionsSpriteIE6.png');
    background-color: transparent;
    background-position: -10.5px -58px; }
  .RadForm_MetroTouch .rfdSelect_MetroTouch:hover .rfdDropDownArrow {
    background-color: #e8e8e8;
    background-position: -10.5px -58px; }
  .RadForm_MetroTouch .rfdSelect_MetroTouch:active .rfdDropDownArrow {
    background-color: #007acc;
    background-position: -110.5px -58px; }
  .RadForm_MetroTouch.rfdScrollBars {
    /* scrollbar track background color */
    /* increment / decrement button settings */ }
    .RadForm_MetroTouch.rfdScrollBars body::-webkit-scrollbar,
    .RadForm_MetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:vertical,
    .RadForm_MetroTouch.rfdScrollBars body::-webkit-scrollbar-thumb:horizontal,
    .RadForm_MetroTouch.rfdScrollBars div::-webkit-scrollbar,
    .RadForm_MetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:vertical,
    .RadForm_MetroTouch.rfdScrollBars div::-webkit-scrollbar-thumb:horizontal
    form::-webkit-scrollbar,
    .RadForm_MetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
    .RadForm_MetroTouch.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
      background-color: white; }
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-track-piece,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-corner {
      background-color: #e6e6e6; }
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
      border-color: #cdcdcd;
      background-color: white; }
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_MetroTouch.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-image: url('../MetroTouch/Common/radActionsSprite.png');
      _background-image: url('../MetroTouch/Common/radActionsSpriteIE6.png');
      background-color: white; }
  .RadForm_MetroTouch.rfdScrollBars {
    scrollbar-3dlight-color: #1a1a1a;
    scrollbar-arrow-color: #111111;
    scrollbar-base-color: #f5f5f5;
    scrollbar-darkshadow-color: #474747;
    scrollbar-face-color: #393939;
    scrollbar-highlight-color: #474747;
    scrollbar-shadow-color: #1a1a1a;
    scrollbar-track-color: #272727; }
  .RadForm_MetroTouch.rfdGrids .rfdTable {
    border: 1px solid #cdcdcd;
    background: white;
    color: black;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  .RadForm_MetroTouch.rfdGrids .rfdTable th {
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    background-color: #f9f9f9;
    color: #767676; }
  .RadForm_MetroTouch.rfdGrids .rfdTable a {
    color: black; }
  .RadForm_MetroTouch .rfdValidationSummaryControl,
  .RadForm_MetroTouch .rfdLoginControl {
    background-color: white;
    border: 1px solid #cdcdcd; }
  .RadForm_MetroTouch a.rfdLoginControl,
  .RadForm_MetroTouch a.rfdLoginControl:active,
  .RadForm_MetroTouch a.rfdLoginControl:visited {
    color: black; }
  .RadForm_MetroTouch a.rfdLoginControl:hover {
    color: black; }

/* Listbox Styles */
/* Must be out of the SASS Box */
.rfdSelectBox_MetroTouch {
  border-color: #cdcdcd;
  font-size: 16px;
  min-height: 2.125em; }

.rfdSelectBox_MetroTouch li {
  padding: 0.29167em 0.625em;
  color: black;
  background-color: white; }

.rfdSelectBox_MetroTouch li:hover,
.rfdSelectBox_MetroTouch .rfdSelect_hovered,
.rfdSelectBox.rfdSelectBox_MetroTouch li:hover {
  color: black;
  background-color: #e8e8e8; }

.rfdSelectBox_MetroTouch .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_MetroTouch .rfdSelect_selected:hover {
  color: white;
  background-color: #25a0da; }

.rfdSelectBox_MetroTouch .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: black; }
