.RadListBox_MetroTouch {
  width: 300px;
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 2.125em; }
.RadListBox_MetroTouch .rlbButton {
  padding: 5px;
  *padding: 4px;
  color: #767676;
  border-color: #cdcdcd;
  background-color: #f9f9f9; }
  .RadListBox_MetroTouch .rlbButton:hover {
    border-color: #e8e8e8;
    background-color: #e8e8e8; }
  .RadListBox_MetroTouch .rlbButton:active {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
  .RadListBox_MetroTouch .rlbButton.rlbDisabled {
    color: #767676;
    border-color: #e0e0e0;
    background-color: white; }
.RadListBox_MetroTouch .rlbButtonIcon {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin-right: 3px; }
.RadListBox_MetroTouch .rlbButtonText {
  margin-right: 10px; }
.RadListBox_MetroTouch .rlbNoButtonText.rlbButton {
  *width: 36px;
  *height: 36px; }
.RadListBox_MetroTouch .rlbGroup {
  border-color: #cdcdcd;
  background-color: white; }
.RadListBox_MetroTouch .rlbList {
  padding: 0; }
.RadListBox_MetroTouch .rlbItem {
  padding: 0em 0.5em;
  line-height: 2.3125em;
  color: black; }
  .RadListBox_MetroTouch .rlbItem:hover, .RadListBox_MetroTouch .rlbItem.rlbHovered {
    color: black;
    border-color: #e8e8e8;
    background-color: #e8e8e8; }
  .RadListBox_MetroTouch .rlbItem:active, .RadListBox_MetroTouch .rlbItem.rlbSelected {
    color: white;
    border-color: #25a0da;
    background-color: #25a0da; }
  .RadListBox_MetroTouch .rlbItem.rlbDisabled {
    color: black; }
.RadListBox_MetroTouch .rlbHighlight {
  color: black;
  background-color: #e8e8e8; }
.RadListBox_MetroTouch .rlbNoButtonText .rlbButtonIcon {
  margin-right: 0; }
.RadListBox_MetroTouch .rlbCheckAllItems {
  background-color: #f9f9f9;
  padding: 0em 0.5em; }
.RadListBox_MetroTouch .rlbCheckAllItemsCheckBox,
.RadListBox_MetroTouch .rlbCheck {
  margin: 0em 0.4375em 0.1875em 0.1875em; }
.RadListBox_MetroTouch .rlbTemplateContent {
  border-color: #cdcdcd;
  background-color: white; }
.RadListBox_MetroTouch .rlbHeader,
.RadListBox_MetroTouch .rlbFooter {
  border-color: #cdcdcd; }
.RadListBox_MetroTouch .rlbHeader {
  font-weight: 600; }
.RadListBox_MetroTouch .rlbButtonAreaTop,
.RadListBox_MetroTouch .rlbButtonAreaBottom,
.RadListBox_MetroTouch .rlbButtonAreaLeft,
.RadListBox_MetroTouch .rlbButtonAreaRight {
  line-height: 2px; }
.RadListBox_MetroTouch .rlbButtonAreaLeft .rlbButton,
.RadListBox_MetroTouch .rlbButtonAreaRight .rlbButton {
  margin-bottom: 4px; }
.RadListBox_MetroTouch .rlbDropClue {
  width: 0.625em;
  height: 0.625em;
  left: -0.625em;
  margin-top: 0.3125em;
  border-top: 1px solid #000; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadListBox_MetroTouch .rlbDropClue {
      margin-top: -1px; } }
  .RadListBox_MetroTouch .rlbDropClue:before {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: -35%;
    background-color: #000;
    border-radius: 50%; }
.RadListBox_MetroTouch .rlbItem.rlbDropClueAbove {
  border-top-color: #000; }
.RadListBox_MetroTouch .rlbItem.rlbDropClueBelow {
  border-bottom-color: #000; }

.RadListBox_MetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_MetroTouch.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 43px; }

.RadListBox_MetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_MetroTouch.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 43px; }
