.RadSearchBox_MetroTouch {
  color: black;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  width: 13.125em;
  line-height: 2.125em; }
  .RadSearchBox_MetroTouch .rsbInner {
    border-color: #cdcdcd;
    color: black;
    background-color: white; }
    .RadSearchBox_MetroTouch .rsbInner.rsbHovered {
      border-color: #767676;
      color: black;
      background-color: white; }
    .RadSearchBox_MetroTouch .rsbInner.rsbFocused {
      border-color: #25a0da;
      color: black;
      background-color: white; }
    .RadSearchBox_MetroTouch .rsbInner.rsbDisabled {
      border-color: #e0e0e0;
      color: #c5c5c5;
      background-color: white; }
  .RadSearchBox_MetroTouch .rsbInput {
    color: black;
    font-size: inherit;
    *font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
    height: 1.8em; }
    @media \0screen {
      .RadSearchBox_MetroTouch .rsbInput {
        line-height: 2em; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadSearchBox_MetroTouch .rsbInput {
        line-height: 1em; } }
  .RadSearchBox_MetroTouch .rsbEmptyMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadSearchBox_MetroTouch .rsbButton {
    width: 2em;
    height: 2em; }
    .RadSearchBox_MetroTouch .rsbButton:hover {
      border-color: #cdcdcd;
      color: black;
      background-color: #e8e8e8; }
    .RadSearchBox_MetroTouch .rsbButton:active {
      border-color: #25a0da;
      color: white;
      background-color: #25a0da; }
  .RadSearchBox_MetroTouch .rsbButtonSearch {
    width: 2.25em;
    height: 2.25em;
    color: black; }
    .RadSearchBox_MetroTouch .rsbButtonSearch .rsbIcon {
      *background-image: url('../MetroTouch/Common/radActionsSprite.png');
      *background-position: -16px -4716px; }
    .RadSearchBox_MetroTouch .rsbButtonSearch:active .rsbIcon {
      background-position: -116px -4716px; }
  .RadSearchBox_MetroTouch .rsbSCInner {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    height: 2.25em;
    line-height: 1.875em; }
  .RadSearchBox_MetroTouch .rsbSCIcon {
    right: 5px; }
    .RadSearchBox_MetroTouch .rsbSCIcon:before {
      content: "\E002"; }
  .RadSearchBox_MetroTouch .rsbSCHovered {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadSearchBox_MetroTouch .rsbSCFocused {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
    .RadSearchBox_MetroTouch .rsbSCFocused .rsbSCIcon {
      background-position: -117px -1067px; }
  .RadSearchBox_MetroTouch .rsbSCDisabled {
    border-color: #e0e0e0;
    color: #c5c5c5;
    background-color: white; }
  .RadSearchBox_MetroTouch .rsbLoadingIcon {
    background-image: url('../MetroTouch/Common/loading_small.gif'); }

.rsbPopup_MetroTouch {
  border-color: #cdcdcd;
  color: black;
  background: white;
  font: 100 16px/34px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2.125em; }
  .rsbPopup_MetroTouch .rsbHeader,
  .rsbPopup_MetroTouch .rsbFooter {
    color: black;
    background-color: #f9f9f9; }
  .rsbPopup_MetroTouch .rsbHeader {
    border-bottom-color: #cdcdcd; }
  .rsbPopup_MetroTouch .rsbFooter {
    border-top-color: #cdcdcd; }
  .rsbPopup_MetroTouch .rsbShowAll {
    border-top-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9; }
  .rsbPopup_MetroTouch .rsbListItemHovered {
    color: black;
    background-color: #e8e8e8; }
  .rsbPopup_MetroTouch .rsbListItemSelected {
    color: white;
    background-color: #25a0da; }
  .rsbPopup_MetroTouch .rsbListItemDisabled {
    color: #c5c5c5; }
  .rsbPopup_MetroTouch .rsbListItemLoading {
    color: black;
    background-color: #e8e8e8; }
