.RadTreeView_MetroTouch {
  color: black;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2em; }
  .RadTreeView_MetroTouch li {
    line-height: 2em; }
  .RadTreeView_MetroTouch .rtUL {
    color: black; }
  .RadTreeView_MetroTouch .rtUL .rtUL {
    padding-left: 1.625em; }
  .RadTreeView_MetroTouch .rtIn {
    padding: 0em 0.625em;
    border: 0;
    display: inline-block;
    vertical-align: top; }
  .RadTreeView_MetroTouch a.rtIn {
    *color: black; }
  .RadTreeView_MetroTouch .rtHover .rtIn,
  .RadTreeView_MetroTouch .rtSelected .rtIn {
    padding: 0em 0.625em;
    border: 0; }
  .RadTreeView_MetroTouch .rtHover .rtIn {
    color: black;
    background-color: #e8e8e8; }
  .RadTreeView_MetroTouch .rtSelected .rtIn {
    color: white;
    background-color: #25a0da; }
  .RadTreeView_MetroTouch .rtDisabled {
    opacity: .5; }
  .RadTreeView_MetroTouch .rtSp {
    height: 2em; }
  .RadTreeView_MetroTouch .rtChecked,
  .RadTreeView_MetroTouch .rtUnchecked,
  .RadTreeView_MetroTouch .rtIndeterminate {
    width: 15px;
    height: 15px;
    background-image: url('../MetroTouch/Common/radFormToggleSprite.png'); }
  .RadTreeView_MetroTouch .rtPlus,
  .RadTreeView_MetroTouch .rtMinus {
    height: 2em;
    margin-left: -1.7em; }
    .RadTreeView_MetroTouch .rtPlus:before,
    .RadTreeView_MetroTouch .rtMinus:before {
      font-size: 1.8em;
      line-height: 1em;
      border: 0; }
  .RadTreeView_MetroTouch .rtPlus:before {
    content: "\25b8";
    color: black; }
  .RadTreeView_MetroTouch .rtMinus:before {
    content: "\25be";
    color: #25a0da; }
  @media screen\9 {
    .RadTreeView_MetroTouch .rtPlus,
    .RadTreeView_MetroTouch .rtMinus {
      width: 22px;
      height: 22px;
      margin-top: -11px;
      background-image: url('../MetroTouch/Common/radActionsSprite.png');
      background-repeat: no-repeat; }
    .RadTreeView_MetroTouch .rtPlus,
    .RadTreeView_MetroTouch .rtPlusHover {
      background-position: -14px -164px; }
    .RadTreeView_MetroTouch .rtMinus,
    .RadTreeView_MetroTouch .rtMinusHover {
      background-position: -64px -64px; } }
  .RadTreeView_MetroTouch .rtLines .rtLI,
  .RadTreeView_MetroTouch .rtLines .rtLI .rtUL,
  .RadTreeView_MetroTouch .rtLines .rtTop,
  .RadTreeView_MetroTouch .rtLines .rtLast .rtTop,
  .RadTreeView_MetroTouch .rtLines .rtMid,
  .RadTreeView_MetroTouch .rtLines .rtBot {
    background-image: none; }
  .RadTreeView_MetroTouch .rtLines .rtTop:before,
  .RadTreeView_MetroTouch .rtLines .rtMid:before,
  .RadTreeView_MetroTouch .rtLines .rtBot:before,
  .RadTreeView_MetroTouch .rtLines .rtLI:before {
    border: 0; }
  .RadTreeView_MetroTouch .rtTop,
  .RadTreeView_MetroTouch .rtMid,
  .RadTreeView_MetroTouch .rtBot {
    padding: 0em 0em 0em 1.375em; }

.RadTreeView_MetroTouch_rtl .rtUL .rtUL {
  padding-left: 0;
  padding-right: 26px; }
.RadTreeView_MetroTouch_rtl .rtChecked,
.RadTreeView_MetroTouch_rtl .rtUnchecked,
.RadTreeView_MetroTouch_rtl .rtIndeterminate {
  background-repeat: no-repeat; }
.RadTreeView_MetroTouch_rtl .rtPlus,
.RadTreeView_MetroTouch_rtl .rtMinus {
  margin-left: 0;
  margin-right: -22px; }
.RadTreeView_MetroTouch_rtl .rtPlus,
.RadTreeView_MetroTouch_rtl .rtPlusHover {
  background-position: -14px -114px; }
.RadTreeView_MetroTouch_rtl .rtMinus,
.RadTreeView_MetroTouch_rtl .rtMinusHover {
  background-position: -64px -64px; }
.RadTreeView_MetroTouch_rtl .rtTop,
.RadTreeView_MetroTouch_rtl .rtMid,
.RadTreeView_MetroTouch_rtl .rtBot {
  padding-left: 0;
  padding-right: 22px; }
